body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,th,td {   
padding: 0;   
margin: 0;   
}   
body{
	font-family:"宋体", Arial, Vrinda;
	font-size:12px;
	background:#5b6876;
	}
.clear{ clear:both;}
.clearfix { display: inline-block; }
img { border:none;}
a { text-decoration:none; outline:none;}
a:link, a:visited { color:#000;}
a:hover, a:active { color:#900;}
ol, ul{ list-style:none;}
img { font-size:0; line-height:0; border:none;}
.red { color:#C00;}

#box { background:url(images/shanxi/bg_warp.jpg) repeat-x 0 -293px;}
#wrap { width:1002px; margin:0 auto;}


/* 头部 hn_header 开始*/
#hn_header .hn_header_top{height:23px; padding-top:5px;}
#hn_header .hn_header_top * { vertical-align:middle; }
#hn_header .hn_header_top .index{ width:95px; float:left; display:block; line-height:18px;}
#hn_header .hn_header_top .login { height:23px; width:700px; float:right;}
#hn_header .hn_header_top input { font-family:Verdana, "宋体", Arial; font-size:12px; line-height:16px; height:16px; border:1px #CCC solid; width:95px; }
/* 城市切换 */
#hn_header .change_city{position:relative; font-size:12px; float:left; padding-left:20px;}
#hn_header .change_city .name { cursor:pointer; width:110px; height:23px; line-height:18px;}
#hn_header .change_city #place {
	list-style:none;
	position:absolute;
	width:580px;
	z-index:20;
	background:#FFF;
	border:1px #999 solid;
	top: 20px;
	left:-80px; 
	padding:3px 0 10px 20px;
	color:#999;
}
#hn_header .change_city #place li { padding-top:5px; float:left; width:290px; line-height:1.3em; height:40px;}
#hn_header .change_city #place a { text-decoration:none; display:block; float:left; width:40px; padding-top:5px; }
#hn_header .change_city #place a:link, .change_city #place a:visited { color:#C00; }
#hn_header .change_city #place a:hover, .change_city #place a:active{ color:#03C; }
/* 城市切换结束 */

#hn_header .logo { width:246px; height:152px; overflow:hidden; float:left;}
#hn_header .header_js { width:756px; height:152px; float:left; overflow:hidden; background:url(images/shanxi/header_js.jpg) no-repeat;}
#hn_header .header_js .vip {width:180px; height:53px; padding:85px 0 0 550px;}
/* 头部 hn_header 结束*/

/* 导航 nav 开始 */
#nav { height:38px; padding-left:58px;}
#nav li { width:94px; float:left; text-align:center; padding-top:6px;position:relative;}
#nav li a { display:block;  width:90px; height:30px; line-height:30px; color:#FFF; font-size:14px; font-weight:700; }
#nav li p {
	position:absolute;
	width:22px;
	height:7px;
	left: 64px;
	top: 5px;
}
#nav li a:hover, 
#nav li a:active, 
#nav li .act  { color:#C00; background:#FFF; border-top:2px #999 solid; border-left:1px #999 solid;}
/* 导航 nav 结束 */

/* 搜索*/
#search { height:37px; background:url(images/shanxi/bg_warp.jpg) repeat-x 0 -256px; padding-left:20px; overflow:hidden;}
#search * { vertical-align:middle; }
#search .search_choose, #search .search_tiaojian, #search .search_id{float:left; line-height:36px; height:36px; _padding-top:10px;}

#search .search_choose { width:180px; padding-right:10px;}
#search .search_tiaojian { width:560px; }
#search .search_id { width:160px; padding-top:8px;}
#search .search_submit { float:left; padding-top:4px;}
#search #search_btn {width:70px; height:28px; background:url(images/shanxi/manu.gif); border:none; cursor:pointer; }
#search #search_uid { float: left; margin: 10px 10px 0 0 ; }
/* 搜索 结束*/

/* main 主体部分 */
#main { border:6px #fff solid; border-top:none; border-bottom:none; width:990px; background:#FFF; padding-top:2px;}
/* 登录框 */
#loginbar { width:264px; float:left; }
#loginbar .line { height:10px; background:#000; }
#loginbar .line span { display:block; width:18px; height:10px; background:url(images/shanxi/manu.gif) no-repeat 0 -90px; overflow:hidden;}
#loginbar .loginbar_main { border:4px #eaeaea solid; width:256px; height:272px;}

#loginbar .loginbar_main  .login_main { width:211px; height:141px; padding:20px 0 0 45px; line-height:25px; background:url(images/shanxi/bg_warp.jpg) repeat-x 0 -95px; overflow:hidden;}
#loginbar .loginbar_main  .login_main li { padding-bottom:8px; height:26px;} 
#loginbar .loginbar_main  #login_a { height:23px; width:70px; background:url(images/shanxi/manu.gif) no-repeat 0 -100px;  float:left; padding-right:15px; cursor:pointer; border:none; }
#loginbar .loginbar_main  .for { color:#0093ca; text-decoration:underline;}
#loginbar .loginbar_main  .login_user {  width:235px; height:146px; padding:15px 0 0 21px; line-height:20px; background:url(images/shanxi/bg_warp.jpg) repeat-x 0 -95px; overflow:hidden;}
#loginbar .loginbar_main  .login_user li{ padding-top:4px; }
#loginbar .loginbar_main  .login_user li a:link, .login_font li a:visited { color:#900; }
#loginbar .loginbar_main  .login_user li a:hover { color:#666; }

#loginbar .loginbar_main ul { width:256px; height:100px; background:url(images/shanxi/bg_heart.gif) no-repeat 185px 45px; padding-top:11px;}
#loginbar .loginbar_main ul li { color:#917f5a; width:216px; margin:0 auto; height:24px; line-height:24px;}
/*登录框结束*/
/* banner部分 */
#banner { width:720px; height:290px; float:right; }
.banner_right {float:right; }
.caption { height:26px; background:#e3e3e3; line-height:26px; overflow:hidden;}

#newsSlider .container {
	 overflow: hidden;  width: 721px; position: relative; height: 282px;
}
#newsSlider DIV.slides {
	left: 0px; position: absolute; top: 0px
}


#newsSlider ul.slides {
    position: absolute; top: 0px; font-weight:bold; color:#C63; font-size:14px; 
}
#newsSlider ul.slides dd {
    padding:2px 0 0 20px; 
 }


#newsSlider ul.slides dd a {
	font: bold 14px/30px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; color: #2a609f;
}
#newsSlider DIV.slides div {
	width: 721px; position: absolute; top: 0px
}
ul.slides LI {
	width: 721px; position: absolute; top: 0px
}
#newsSlider #loopedSlider {
	clear: both; margin: 0px auto; width: 721px; position: relative
}
#newsSlider {
	clear: both; margin: 0px auto; width: 721px; position: relative
}
#newsSlider {
	border-bottom:#eee 1px solid;
}
#newsSlider ul.pagination {
	position: absolute;
	top: 263px;
	right:5px;
}
#newsSlider ul.pagination li {
	float: left; margin-RIGHT: 5px	
}
#newsSlider ul.pagination li a {
	display: block; background: url(images/imgnews_side_Number.gif) no-repeat 0px 0px; width: 15px; color: #fff; text-align:center;
	text-decoration:none;
	height:15px;
}
#newsSlider ul.pagination LI.active a {
	background-position: 0px 100%; color: #fff; 
}
ul.pagination LI a:hover {
	background-position: 0px 100%; color: #fff; 
	}

/* banner部分结束 */

/* 通栏 */
.ad1{padding:5px 0;}

/* member会员推荐 */
#member{}
#member .member_header { height:60px;}
#member .member_main { background:url(images/shanxi/member_bottom.jpg) 0 bottom no-repeat #e8d9ee; border-bottom:5px #e8d9ee solid;}
#member .member_main .side { width:11px; height:399px; float:left;}
#member .member_main ol { height:415px; width:944px; float:left; padding-left:24px; }
#member .member_main ol li{ width:128px; height:187px; float:left; padding:13px 13px 0px 13px; position:relative;}
#member .member_main ol li img { padding:3px; border:1px #fff solid;}
#member .member_main ol li p { padding:4px 0px; text-align:center;  }
#member .member_main ol li p * {vertical-align:middle;}
#member .member_main ol li p a img { border:none; padding:0;} 
#member .member_main ol li .stars {
	width:77px;
	height:59px;
	background:url(images/jiangsu/star.png) no-repeat;
	position:absolute;
	left: 65px;
	top: 105px;
}
#member .member_main ol li .star {
	width:77px;
	height:59px;
	position:absolute;
	left: 65px;
	top: 105px;
	z-index:80;
}
#member .member_main ol li .star img { border: 0; }
#member .member_main ol li .stars img { border: 0; }
/* member会员推荐结束 */

/* 钻石会员 */
#diamond { width:755px; float:left;}
#diamond .diamond_header { height:37px; background:url(images/shanxi/diamond_bg.gif) repeat-x; padding-left:3px; }
#diamond .diamond_header .diamond_logo{ width:220px; height:37px; background:url(images/shanxi/member_logo.jpg) no-repeat ; float:left;}
#diamond .diamond_header p a{ display:block; width:150px; height:29px; background:url(images/shanxi/member_logo.jpg) no-repeat 0 -60px; float:right; margin:3px 30px 0 0;}
#diamond .diamond_main { width:753px; height:398px; border:1px #9653ae solid; border-top:none;}
#diamond .diamond_main .diamond_member { width:729px; margin:0 auto; height:380px; padding:0px 9px;}
#diamond .diamond_member_border { width:722px; height:357px; border:2px #fff solid; padding:4px 3px 16px; }
.LeftBotton { height:168px; width:19px; background:url(images/shanxi/jiantou.gif) no-repeat; float:left; cursor:pointer;}
.RightBotton { height:168px; width:19px; background:url(images/shanxi/jiantou.gif) no-repeat -19px 0; float:left; cursor:pointer;}
#diamond .diamond_member_border .diamond_member_pepole { padding-top:10px; _padding-bottom:0px;}
#diamond .diamond_member_border .diamond_line { height:10px; background:url(images/shanxi/bg_warp.jpg) repeat-x; margin-top:10px;}
/* 钻石会员结束 */

/* 最新注册会员 */
#newmember { width:230px; float:right;}
#newmember .newmember_header { width:230px; height:36px; background:url(images/shanxi/member_logo.jpg) no-repeat 0 -124px;}
#newmember .newmember_main { width:210px; height:390px; _height:394px; border:1px #9653ae solid; padding:8px 0 0 18px;}
#newmember .newmember_main ol li { padding:10px 0; _padding:9px 0; display:block;}
#newmember .newmember_main .new_photo { float:left; width:86px; float:left;} 
#newmember .newmember_main img { width:72px; height:91px; padding:4px; border:1px #CCC solid;}
#newmember .newmember_main p { width:90px; padding:20px 0 0 10px; float:left;}
#newmember .newmember_main p span { display:block; width:90px; height:24px; background:url(images/shanxi/member_logo.jpg) no-repeat -152px -62px; margin-top:15px;}
/* 最新注册会员 结束 */

/* 成功故事 */
#story { background:#faf9e5; padding:0 5px 5px 5px; position:relative; padding-top:13px;}
#story .story_header { height:35px; background:url(images/shanxi/bg_warp.jpg) repeat-x 0 -18px; border:1px #f7cada solid; border-top:none; border-bottom:none; text-align:right; line-height:35px; overflow:hidden;}
#story .story_logo {
	width:215px;
	height:61px;
	position:absolute;
	left: 15px;
	z-index:100;
	top: 0px;
}
#story .story_main { background:#FFF; padding:25px 0 20px 18px; height:250px;} 
#story .story_main dl { width:215px; padding:0 10px; float:left;}
#story .story_main dt { width:217px; height:153px; position:relative;}
#story .story_main img { width:207px; height:143px; padding:4px; border:1px #999 solid;}
#story .story_main dt a {
	display:block;
	width:34px;
	height:30px;
	
	background:url(images/shanxi/heart.gif) no-repeat;
	
}
#story .story_main dd { padding:5px 0 0 15px;}
#story .story_main dd h3 { font-size:16px; font-weight:bolder; padding:5px 0;}
#story .story_main dd p { width:190px; line-height:1.5em; color:#666;}
/* 成功故事 结束 */


/* main 主体部分结束 */

/* fooer 部分 */
#footer { padding-top:8px; background:#FFF;}
.line1 { height:8px; background:#c63384;}
#footer p { color:#d83c90; text-align:center; padding-top:13px; font-size:12px;}
.p6 a { clear:both; display:block; height:25px; width:512px; background:url(images/image.png) no-repeat -9px -258px; margin:0 auto;}

/*   图片滚动区  */
.diamond_member_pepole .Cont { width:682px; overflow:hidden; float:left; }
.diamond_member_pepole .ScrCont { width:10000000px; }
.diamond_member_pepole .Cont .pic { margin: 0 5px; float:left; text-align:center;  color:#C00; width:127px; background:#fff; overflow:hidden; }
.diamond_member_pepole .Cont .pic img { display:block; margin:0 auto; padding:3px; border:1px #f5d1dc solid; }
.diamond_member_pepole .Cont .pic2 img {border:1px #7bcaff solid; }
.diamond_member_pepole .Cont .pic p { padding:7px 0 0 0px; float:left;}
.diamond_member_pepole .Cont .pic span { display:block; width:20px; height:16px; background:url(images/shanxi/manu.gif) no-repeat -72px -102px; *background:url(images/shanxi/manu.gif) no-repeat -72px -104px;  background:url(images/shanxi/manu.gif) no-repeat -72px -104px\0; float:left; }
.diamond_member_pepole .Cont .pic span img { border: 0; }
.diamond_member_pepole .Cont a:link, #activity_wrap .activity .Cont a:visited { color:#626466; text-decoration:none; }
.diamond_member_pepole .Cont a:hover { color:#f00; text-decoration:underline; }
.diamond_member_pepole #List1, #diamond_member_pepole .activity #List2 { float:left; }
.diamond_member_pepole #List1man, #diamond_member_pepole .activity #List2man { float:left; }
