@charset "utf-8";*{
}
body,img,ul,li,a,dl,dd,p{
	margin:0;
	padding:0;
	border:none;
	list-style:none;
	text-decoration:none;
	font-family:"宋体";
}
.clear{clear:both;width:0px;height:0px;overflow:hidden;line-height:0px;font-size:0px;}
body{background:url("../images201112/bg_bg.png") no-repeat center 0 #FFFFFF;font-size:12px;}
.main{width:962px;margin:0 auto;}
.head{width:962px;margin:0 auto;padding-top:10px;}
.logo{float:left;display:inline;margin-left:55px;padding-top:10px;}
.toplogin{
	float:right;
	color:#666;
	padding-top:4px;
	margin-right:40px;
	height:21px;
	display:inline;
}
.toplogin a{color:#666;}
.toplogin a:hover{
	text-decoration:underline;
	color: #F00;
}
.toptel{
	width:492px;
	height:49px;
	float:left;
	display:inline;
	margin:10px 0 0 90px;
}
.regbox{
	width:964px;
	margin:14px auto 0;
	background-image: url(../images201112/ple.png);
	background-repeat: no-repeat;
}
.reg-box{
	color:#FFF;
	margin-top:65px;
	padding-left:5px;
	float: left;
}
.regbox-s-b{background-position:bottom}
.r-box-l{width:575px;height:376px;float:left}
.r-box-r{
	height:422px;
	width:389px;
	margin-top: 10px;
	margin-left: 80px;
}
.reg-info,.reg-info dl{
	width:326px;
	height:260px;
	float:left;
	margin-top: 12px;
	padding-top: 10px;
}
.reg-info dt,.reg-info dd{float:left;margin-bottom:14px;line-height:20px;height:20px;}
.reg-info dt{font-size:14px;width:100px;text-align:right; color:#003300; font-weight:bold;}
.reg-info dd{width:226px;}
.reg-info dd select{width:65px;height:22px;}
.reg-info-text{border:1px solid #CCCCCC;color:#666666;height:18px;line-height:18px;width:184px;}
.reg-btn-box{height:35px;width:326px;text-align:center;margin:5px auto 0 auto;}
.reg-btn{border:none;cursor:pointer;height:43px;width:200px;background:url(../images201112/reg_btn.png) no-repeat;margin-top:0px;}
.search-bar{
	width:962px;
	height:28px;
	padding-top:12px;
	color:#666;
	/*background-image: url(../images201112/s_icon.png);
	background-repeat: no-repeat;*/
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.search-cts{width:206px;float:left;margin-left:49px;display:inline}
.search-cts input{margin-left:5px;}
.search-cts-list{float:left;width:580px;}
.search-cts-list li{float:left;margin-right:10px;*margin-right:5px;}
.search-cts-list li select{width:60px;}
.search-btn{width:100px;height:27px;border:none;cursor:pointer;margin-top:-5px;background:url(../images201112/s_btn.png) no-repeat;}
.searchid-bar{padding:0px 10px 4px 0;float:left;}
.reg-info-text{border:1px solid #CCCCCC;color:#666666;height:18px;line-height:18px;width:184px;}
.c-reg-box{
	width:962px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #FFF;
}
.c-reg-box-title{
	height:48px;
	padding-bottom:1px;
	background-image: url(../images201112/navabg1.jpg);
}
.c-reg-box-title a{margin-right:15px;display:inline;float:right;/*background:url(../images201112/more.gif) no-repeat;*/width:45px;height:17px;margin-top:10px;}
.c-reg-box-c{width:962px;}
.reg-member-show{
	padding:16px 10px 0;
	width:219px;
	overflow:hidden;
	float:left;
	background-color: #FFF;
}
.reg-member-show dd{
	height:32px;
	font-size:14px;
	font-weight:700;
	text-align:center;
	line-height:32px;
	color:#FF6600
}
.reg-member-show dt img{padding:5px;background:#cfe5ff;}
.reg-member-show dt{height:150px;}
.mmlist{float:left;padding-top:16px;}
.mmlist li{width:177px;float:left;text-align:center;color:#5287e8;margin:0 7px;display:inline;}
.mmlist li a{width:177px;height:196px;display:block;/*background:url(../images201112/img_bg.png) no-repeat;*/}
.mmlist li p{
	height:34px;
	line-height:34px;
	color: #F00;
}
.reg-story{/*background:none repeat scroll 0 0 #FFFFFF;*/
	color:#666666;
	margin:0 auto;
	padding-bottom:10px;
	width:962px;
	/*background-image: url(../images201112/dibg.png);*/
	background-repeat: no-repeat;
	background-position: bottom;
}
.reg-story-right{
	float:left;
	width:631px;
	/*border:1px solid #dbe2ff;
	border-top:8px solid #dbe2ff;*/
	padding-bottom:15px;
	background-color: #FFF;
}
.reg-story .c-reg-box-title{height:38px;padding:10px 0 1px 10px;}
.reg-story-box{width:308px;height:90px;float:left;padding:20px 3px 0;line-height:18px;}
.reg-story-img{width:150px;height:90px;float:left;padding-right:9px;}
.reg-story-box dt{
	font-size:14px;
	color:#009999;
}
.reg-story-box dl{padding-right:8px;}
.reg-story-box dd p{text-indent:24px;}
.reg-story-box dd p a{
	color:#F00;
}
.mm-honor{
	width:315px;
	float:right;
	/*border:1px solid #dbe2ff;
	border-top:8px solid #dbe2ff;*/
	padding-bottom:22px;
	background-color: #FFF;
	height:260px;
}
.mm-honor-list{
	padding:0 5px;
	line-height:10px;
}
.mm-honor-list li{
	padding-top:1px;
}
.mm-honor-list li h4{font-weight:400;font-size:12px;padding-left:15px;background:url(../images201112/li_icon.gif) 3px no-repeat;}
.bottom{height:115px;width:962px;margin:0 auto 10px;}
.bottom-c{width:962px;float:left;height:115px;color:#666;}
#icon{}
