<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="favicon.ico" />
<title>真爱一生网</title>
<style>
*{
	margin:0;
	padding:0;
	}
.img{ margin:0 auto; width:1024px;}
body{ background:#db1812;}
</style>
</head>

<body>
<div class="img"><img src="module/index/templates/default/images2/fj01.jpg" /></div>
<div class="img"><img src="module/index/templates/default/images2/fj02.jpg" /></div>
</body>
</html>
