<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网--会员升级</title>
<link href="module/index/templates/default/css.css" rel="stylesheet" type="text/css" />
{template system/js_css public}

</head>

<body>

{template system/header public}
<div id="govip_content">
	<div class="post">
    	<ul>
		    <!--index.php?n=payment&h=platinum,index.php?n=payment&h=diamond,index.php?n=payment-->
        	<li><a href="platinum.html"><img src="module/index/templates/default/images/space.gif" /></a><img src="module/index/templates/default/images/govip_platinum.jpg" /></li>
            <li><a href="diamond.html"><img src="module/index/templates/default/images/space.gif" /></a><img src="module/index/templates/default/images/govip_diamond.jpg" /></li>
            <li class="nobg"><a href="higher.html"><img src="module/index/templates/default/images/space.gif" /></a><img src="module/index/templates/default/images/govip_advanced.jpg" /></li>
        </ul>
    </div>
   <!--  <div class="icon1"><img src="module/index/templates/default/images/govip_icon0.jpg" /></div>
    <div class="icon2"><img src="module/index/templates/default/images/govip_icon2.jpg" /></div>
    <div class="icon3"><img src="module/index/templates/default/images/govip_icon3.jpg" /></div> -->
</div>
{template system/footer public}
</body>
</html>
