<div class="content-lift">
		<div class="c-lift-content">
		<div class="c-lift-title">
		我的联系情况
		</div>
		<div class="c-lift-content-in">
			<ul class="left-list">
				<li><a href="message.html" class="left-list01" target="_blank">我的邮件</a></li>
				<li><a href="commission.html" class="left-list02" target="_blank">我的委托</a></li>
				<li><a href="leer.html" class="left-list03" target="_blank">我的秋波</a></li>
				<li><a href="gift.html" class="left-list04" target="_blank">我的礼物</a></li>
				<li><a href="liker.html" class="left-list05" target="_blank">我的意中人</a></li>
				<li><a href="browser.html" class="left-list06" target="_blank">我留意过谁</a></li>
				<li><a href="mycomment.html" class="left-list07" target="_blank">我的评价</a></li>
				<li><a href="realinfo.html" class="left-list08" target="_blank">真实身份资料</a></li>
				<li><a href="bind{$user_arr['bind_id']}.html" class="left-list09" target="_blank">爱情绑定</a></li>
				<li><a href="attention.html" class="left-list10" target="_blank">关注会员动态</a></li>
				<li><a href="black.html" class="left-list11" target="_blank">我的黑名单</a></li>
			</ul>
			<div class="c-lift-title">其他功能</div>
			<div class="clear"></div>
			<ul class="left-list">
				<!-- <li><a class="left-list19" target="_blank" href="http://www.zhenaiyisheng.cc/index.php?n=activity&h=activity&group=2">线下相亲活动</a></li>
				<li><a class="left-list20" target="_blank" href="http://www.zhenaiyisheng.cc/index.php?n=activity&h=activity&group=3">电视相亲海选活动</a></li> -->
				<li><a href="lovetest.html" class="left-list12" target="_blank">心理测试</a></li>
				<li><a href="safetyguide.html" class="left-list13" target="_blank">安全证婚指南</a></li>
				<li><a href="advices.html" class="left-list14" target="_blank">投诉建议</a></li>
				<li><a href="index.php?n=payment&h=diamond" class="left-list15" target="_blank">钻石—高级会员服务</a></li>
				<li><a href="cityStar.html" class="left-list16" target="_blank">城市之星</a></li>				
			</ul>
		</div>
		<div class="c-lift-bottom"></div>
		</div><!--c-lift-content-->
		<div class="left-tips">
		    <img src="module/service/templates/default/images/getsave.gif" border="0" usemap="#Map"  />
			<map name="Map" id="Map">
			  <area shape="rect" coords="78,76,136,101" href="advices.html" />
			</map>
			<!-- <div class="left-tips-side"></div>
			<div class="left-tips-center"> 
			
			
		    <dl>
				<dt><img src="module/service/templates/default/images/left-tips-img.gif" />
					<p><a href="index.php?n=about&h=getsave" class="f-ed0a91-a" target="_blank">意见反馈</a></p>
				</dt>
				<dd>拨打<strong>400-678-0405</strong><br />咨询真爱一生网提供的专业征婚服务
				</dd>
				<dd>我们会用<strong>0551</strong>开头电话号码和您保持沟通联系
				</dd>
			</dl>
			</div>
			<div class="left-tips-side" style="background-position:right"></div> -->
		</div>
		
	</div><!--c-lift-content-->