<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>资料设置——真爱一生网</title>
{template system/js_css public}
<script type="text/javascript" src="module/register/templates/public/js/syscode.js?v=1"></script>
<style type="text/css">
@import url("module/material/templates/{$GLOBALS['style_name']}/material.css");
</style>
</head>
<script>
	$(function(){
		$('input[type^=]').focus(function(){
			var id = $(this).attr('id');
			$(this).addClass('public');
			$('#show_'+id).css('display','');
		}).blur(function(){	
			var id = $(this).attr('id');
			$(this).removeClass('public');
			$('#show_'+id).css('display','none');
		});		   
	})
	
	//验证表单
	function checkform(){
		var nickname = $('#nickname').val();	
		var password = $('#password').val();
		var password2 = $('#password2').val();
//		if(!nickname){
//			alert('会员昵称不能为空！');
//			$('#nickname').focus();
//			return false;
//		}
		if(password != password2){
			alert('两次密码输入不一致！');
			return false;
		}
		if(password.length < 6){
			alert('密码长度在6-20之间');
			return false;
		}
		
		return true;
	}
//邮箱验证
$(function(){
	$('#username').blur(function(){
		var username = $('#username').val().replace(/' '/g,'');			  
		var tags = /^([a-z0-9A-Z\._-]{1,})@([a-z0-9A-Z-]{1,})\.([a-z0-9A-Z\.]{1,})$/;
		if(!username || !tags.test(username)){
			alert('邮箱不能为空或格式不正确!');
			$('#username').focus();
		}
					  
	})		   
})


//控制昵称字数
//   $(function(){
//		$('#nickname').keyup(function(){
//			var name = $('#nickname').val();
//			if(name.replace(/\s/g,'').length > 12){
//				alert('昵称长度不能超过12字符');	
//				$('#nickname').val(name.substring(0,12));
//			}	   
//		})		  
//   })

//控制密码输入长度
   $(function(){
   		$('#password').keyup(function(){
			var password = $('#password').val();			   
			if(password.replace(/\s/g,'').length > 20){
				alert('密码长度在6-20之间');
				$('#password').val(password.substring(0,20));
			}
		})
   })
</script>
<body>
<div class="main">
	{template system/header public}
	<div class="content">
	<p class="c-title"><span class="f-000"><a href="index.php?n=service">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;资料设置</span><a href="#"></a></p>
	{template public/material_public_left module}
	<!--=====左边结束===-->
	<div class="content-right">
     <FORM name="memberRegister" action="index.php?n=material&h=password" method="post" onsubmit="return checkform();"/>
		<div class="c-right-content">
			<div class="r-center-tilte">
			<a href="index.php?n=service" class="r-title-black">&lt;&lt;返回我的真爱一生</a>
			<span class="right-title f-ed0a91">资料设置</span>
			</div>
			<div class="r-center-ccontent">
				<h4 style="font-weight:400; margin-top:20px;">&nbsp;<span class="f-aeaeae">&gt;</span>&nbsp;修改注册信息：</h4>	
			<dl class="c-center-data">
				<dt>会员昵称：</dt>
				<dd><p style="width:160px;">
                	<input type="text" id="nickname" name="nickname" value="{$userinfo[nickname]}" class="c-center-data-text" disabled="disabled"/></p>
                	<p id="show_nickname" style="display:none" class="register-clue">一个好的昵称可以表达自我，吸引更的人注意</p>
                </dd>
				<dt>电子邮件：</dt>
				<dd>
                	<p style="width:160px;"><input  id="username" name="username" value="{$userinfo[username]}" type="text"  class="c-center-data-text" />
                  
                    </p>
                      {if $sta['email'] == 'yes'}<span onclick="javascript:$('#username').attr('disabled','');$(this).hide();" class="f-ed0a91" style="cursor:hand">修改</span>{/if}
                    <p id="show_username" style="display:none" class="register-clue">请输入常用的邮箱</p>
                </dd>
				<dt>密&nbsp;&nbsp;&nbsp;&nbsp;码：</dt>
				<dd><p style="width:160px;"><input name="password" id="password" type="password" value="{$password}" class="c-center-data-text" /></p>
                <p id="show_password" style="display:none" class="register-clue">请输入6-20位数字和字母</p>
				</dd>
				<dt>确认密码：</dt>
				<dd><p style="width:160px;"><input name="password2" id="password2" type="password" value="{$password}" class="c-center-data-text" /></p>
				<p id="show_password2" style="display:none" class="register-clue">记得两次密码要输入一致</p>
                </dd>
				<dt>性&nbsp;&nbsp;&nbsp;&nbsp;别：</dt>
				<dd>
					<p><input name="sex" id="sex2" type="radio" value="0" {php echo $userinfo[gender]?'':'checked="checked"'} disabled="disabled" /> 男
						<input name="sex" id="sex1" type="radio" value="1" {php echo $userinfo[gender]?'checked="checked"':''} disabled="disabled" /> 女
					</p>
				</dd>
				<dt>手&nbsp;&nbsp;&nbsp;&nbsp;机：</dt>
				<dd><p style="width:160px;"><input disabled="disabled" id="telphone" name="telphone" type="text" value="$userinfo[telphone]" class="c-center-data-text" /></p>
                <p id="show_telphone" style="display:none" class="register-clue">请输入手机号码</p>
                </dd>
				<dt>出生日期：</dt>
				<dd><p>
						<SCRIPT>
							getYearsSelect('selectSize','year','year','{$userinfo[birthyear]}','0');
                        	document.getElementById('year').disabled = 'disabled';
                        </SCRIPT>年
						<SCRIPT>
							getMonthsSelect('selectSize01','month','month','{$userinfo[birthmonth]}','0');
                        	document.getElementById('month').disabled = 'disabled';
                        </SCRIPT>月
						<SCRIPT>
							getDaysSelect('selectSize011','day','day','{$userinfo[birthday]}','0');
                        	document.getElementById('day').disabled = 'disabled';
                        </SCRIPT>日
					</p>
				</dd>
				<dt>工作地点：</dt>
				<dd>
					<p>
						<SCRIPT>
                        	//getProvinceSelect66('','workprovincereg','workprovincereg','workcitys','{$userinfo[province]}','10100000');
							getProvinceSelect43rds('','workprovincereg','workprovincereg','workcitys','{php echo isset($userinfo[province])?$userinfo[province]:0;}','10100000');
                        	document.getElementById('workprovincereg').disabled='disabled';
                        </SCRIPT>
						<SCRIPT>
                       		//getCitySelect66('','workcitys','workcitys','{$userinfo[city]}','0');
                       		getCitySelect43rds('','workcitys','workcitys','{php echo isset($userinfo[city])?$userinfo[city]:0;}','0');
							document.getElementById('workcitys').disabled='disabled';
                        </SCRIPT> 
					</p>
				</dd>
				<dt>&nbsp;</dt>
				<dd><p>
					<input type="submit" name="accountinfosubmit" class="btn btn-default" value="确认修改" />
				</p>
				</dd>
			</dl>
			
			<div class="clear"></div>
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
        </form>
	</div>
		<div class="clear"></div>
	</div>
	
	<!--content end-->
	{template system/footer public}
</div><!--main end-->
 <SCRIPT>
//document.getElementById('workprovince').setAttribute('disabled','disabled');
//document.getElementById('workcity').setAttribute('disabled ','disabled');
//document.getElementById('workprovince').disabled='disabled';
//document.getElementById('workcity').disabled='disabled';
//$(function(){
	//$('#workprovince').attr('disabled','disabled');	
	//$('#workcity').attr('disabled','disabled');	
//})
</SCRIPT>
</body>
</html>
