<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理相册——上传注意事项——红娘网</title>
{template system/js_css public}
 <script src="module/search/templates/default/js/syscode.js?v=1" type="text/javascript"></script> 
<link href="module/material/templates/{$GLOBALS['style_name']}/material.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
    <!--head-search end-->
	<div class="content">
	<p class="c-title"><span class="f-000">红娘首页&nbsp;&gt;&gt;&nbsp;照片上传注意事项</span><a href="#"></a></p>
	<!--=====左边结束===-->
		<div class="content-title">
		<span class="right-title f-ed0a91">照片上传注意事项</span>
		</div>
		<div class="clear"></div>
		<div class="c-center">
			<div class="ph-box">
				<div class="box-left">
				   <h3>如何选择合适的形象照？</h3>
				   <dl>
					 什么是形象照片？形象照片就是显示在您的我的档案页面上最重要的照片，是您在搜索结果中显示的照片，是您给其它会员的第一印象。所以，一张合适的形象照，可以吸引更多会员注意您，对您感兴趣。下面有一些小方法，可以帮助您从众多的照片中挑选出一张能打动其他人的形象照：
				   </dl>
					<div class="show-left">
					  <div class="show-side"></div>
					   <div class="show-left-box">
						 <div class="left-box-post">
							 <div class="left-box-img"><img src="module/material/templates/default/images/img01.jpg" /></div>	
							 <div class="left-box-img1"></div>
							 <div class="left-box-img2"></div>
							 <div class="left-box-img3"></div>
							 <div class="left-box-img4"></div>
							 <div class="left-box-img5"></div>								
						 </div>						 
					   </div>
					    <div class="clear"></div>
					  <div class="show-side sidebottom"></div>
					</div>
					<h3 style="margin-top: 40px;">以下照片可以作为普通照</h3>
				   <dl>
						  红娘网的高级会员可以无限上传照片，所以您有大把可以展示您不同生活方式和生活态度的机会，下面这些类型的照片都非常不错，能够秀出您多彩的生活： 
				   </dl>
				   <div class="show-left">
					 <div class="show-side"></div>
					   <ul class="show-left-box">
						   <li>
							<img src="module/material/templates/default/images/m-13.jpg">
							<b>特别有趣的照片</b>
							<p>可以是黑白的或者是其它角度
		拍摄的照片。</p>
						   </li>
							<li>
							<img src="module/material/templates/default/images/m-14.jpg">
							<b>显示您个性和时尚的照片</b>
							<p>优雅的、活拨的、风情的、可爱的。</p>
						   </li>
							<li>
							<img src="module/material/templates/default/images/m-15.jpg">
							<b>与朋友或者家人的合影</b>
							<p>孩子？密友家人？与他们的合影照片，让更多人全方位的了解您。</p>
						   </li>
							<li>
							<img src="module/material/templates/default/images/m-16.jpg">
							<b>家居生活照片</b>
							<p>展示您的居住环境、交通工具、家里的特色布置等等，但请注意照片内要有您本人出现</p>
						   </li>
							<li>
							<img src="module/material/templates/default/images/m-17.jpg">
							<b>全身照</b>
							<p>很多人都会想知道约会对象的体形，您也没有必要隐藏哦。</p>
						   </li>
							<li>
							<img src="module/material/templates/default/images/m-18.jpg">
							<b>宠物照片</b>
							<p>小猫小狗，您最亲密的伙伴，让他们和您一起上镜吧！</p>
						   </li>
					   </ul>
					   <div class="clear"></div>
					   <div class="show-side sidebottom"></div>					 
				 </div>
				   <div class="clear"></div>
				   <dl>
					 <dt><b>上传照片格式要求：</b></dt>
					 <dd>照片必须为BMP，JPG，PNG或GIF格式，并且不可小于10K和超过4M。</dd>
				   </dl>
				   <dl>
					 <dt><b>不会上传怎么办：</b></dt>
					 <dd>请通过Email发给我们帮您处理和上传。　　Email地址：<span class="f-ed0a91">kefu@zhenaiyisheng.cc</span>
					 	<p>（邮件主题请注明“上传相片”，并留下id号码和密码）</p>
					 </dd>
				   </dl>
				   <dl>
					 <dt><b>没有数码相机怎么办：</b></dt>
					 <dd>您可以将照片、会员ID以及密码一起邮寄给我们，我们将帮您扫描上传，上传之后，
						 <p>我们会将照片回寄给您。</p>
						 <p>邮寄地址：合肥市龙禾橙真信息技术有限公司 客服部收</p>
						 <p>邮编：230001 </p>
					 </dd>
					 
				   </dl>
				   <dl>
					 <dt><b>上传照片格式要求：</b></dt>
					 <dd>照片必须为BMP，JPG，PNG或GIF格式，并且不可小于10K和超过4M。</dd>
				   </dl>
				 </div>
				 <div class="right-show">
				  <h3>以下照片不可以作为形象照</h3>
				  <ul>
					<li>
						<img src="module/material/templates/default/images/m-7.jpg"> 
						 <b>带太阳眼镜 </b>
					   <p>这样的照片无法看清楚您真实的样子，虽然很帅气，还是设为普通照吧。</p>
				   </li>
				   <li>
						<img src="module/material/templates/default/images/m-8.jpg"> 
						 <b>曝光或背光的照片  </b>
					   <p>背光的照片，照片质量不好，也会看不清楚您的脸，会让人以为您对交友并不在乎。</p>
				   </li>
				   <li>
						<img src="module/material/templates/default/images/m-9.jpg"> 
						 <b>合影照片  </b>
					   <p>合影照片会分散别人对您的注意力，这里是您独自展示 的舞台。</p>
				   </li>
				   <li>
						<img src="module/material/templates/default/images/m-10.jpg"> 
						 <b>模糊不清或照片太小  </b>
					   <p>这样的照片，会员根本看不到您，认真一点，您应该还有其它照片的。</p>
				   </li>
				   <li>
						<img src="module/material/templates/default/images/m-11.jpg"> 
						 <b>侧面照片  </b>
					   <p>侧面的照片，会员不可以看到真实的您，会错过很多机会。</p>
				   </li>
				   <li>
						<img src="module/material/templates/default/images/m-12.jpg"> 
						 <b>红眼照片  </b>
					   <p>即使您非常喜欢这张照片也不要使用，相信我们，这会让人产生恐惧。</p>
				   </li>
				  
				  </ul>
			   </div>
			   <div style="margin-top: 40px;" class="right-show">
					<h3>以下所有照片都不可以</h3>
					<dl>
					  <dt>与本人无关</dt>
					  <dd>明星照片、网上流行的照片、海报、剧照等。 </dd>
					</dl>
					<dl>
					  <dt>裸露太多或者有性暗示</dt>
					  <dd>我们建议还是不要上传一些过于裸露的照片，这会人感觉不太好。 </dd>
					</dl>
					<dl>
					  <dt>写有联系方式的</dt>
					  <dd>留有电话、qq、msn、email地址等联系方式的照片，审核时是不会被通过的。 </dd>
					</dl>
					<dl>
					  <dt>写有网站网址的照片</dt>
					  <dd>从其它网站下载或者拷贝过来的照片，上面写有网站地址的，不可以上传。 </dd>
					</dl>
					<dl>
					  <dt>有不良举止的</dt>
					  <dd>动作不雅、有侮辱性和攻击性的照片都不能审核通过。 </dd>
					</dl>
					<dl>
					  <dt>不完整的照片</dt>
					  <dd>照片显示不完整，只有身体的某个部位的，也不能被审核通过。 </dd>
					</dl>
					<dl>
					  <dt>倒置或横置的</dt>
					  <dd>这样的照片您最好先处理完成之后，再上传到网上。 </dd>
					</dl>
					<dl>
					  <dt>上传证件照片</dt>
					  <dd>身份证件照片不可以上传到影集里，因为您的隐私可能会泄露。</dd>
					</dl>
					<dl>
					  <dt>含有政治色彩或表达政治观点的 </dt>
					  <dd>这样的照片是不适合放在交友网站上的，所以不要上传有关政治的照片。</dd>
					</dl>
				  </div>
				 <div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="content-bottom">
		</div><!--c-center end-->
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
