{if $vals == 1}

    <dt>何为“内心独白”？</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在真爱一生网，每个会员都有一段文字介绍，这段自我介绍就是内心独白。在网上，由于还没有见到彼此，第一印象的建立除了生活照和形象照之外，就是内心独白了。一个人的独白是否真诚、感人、个性、幽默……将在很大程度上决定其是否能收到多少异性的信件。据统计，会员主动联系一个人，往往就是因为其独白中的一句话打动了自己。希望每位会员朋友都是发自内心、真诚真实地介绍自己的情况。</dd>

{elseif $vals == 2}

    <dt>内心独白撰写技巧 </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内心独白，最忌讳的就是为幸福设置了高高的门槛，如：无经济基础者请绕行，缺乏足够自信者请绕行，这样的话语都是很伤人自尊的，也会给别人一种傲慢尖刻的感觉，即使对方条件很好，往往也不愿意联系这样挑剔尖刻的人。</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然真爱一生网要求内心独白最少不能少于20字，但20字怎么能够把一个人描述清楚，所以希望大家多花一点时间，就像上学时作文一样。 很多人可能觉得内心独白很难写，不知道该如何下手。其实可以在独白中畅谈一下自己的人生经历、学习工作经历、对爱情的看法，对自我的评价，对另一半的期待与梦想，甚至您的人生观与价值观，也可以在这里去体现。</dd>   
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相信每个人都会有很多精彩难忘的故事，每个人都会有自己独特的风采，只要您能够多一点耐心，多一点认真，去生动的描摹自己。要知道，意中人对您的了解，最初的印象就是来自于您对自己的描述。并不需要华丽的辞藻，只需要平实的语言，和一颗真诚的心。</dd>

{elseif $vals == 3}

    <dt>如何修改、补充内心独白？ </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内心独白，有的文风隽永，有的幽默诙谐，有的内敛诚恳，是展现您个人内在魅力的很好方式。如果注册时填写的内心独白不是很满意，可以在注册后修改补充。</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;进入“我的真爱一生”后，在<font color="#C5277D"><b>“完善征婚档案”</b></font>下拉导航栏中选择“选择完善资料”，点击“立即完善资料”选项即可。修改完毕后，点击<font color="#C5277D"><b>保存修改</b></font>，客服人员会在24小时内进行审核，通过审核的内心独白内容会更新到您的个人资料主页。</dd>

{elseif $vals == 4}

    <dt>哪些独白撰写后无法通过客服审核？ </dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内心独白在撰写后，会经过客服进行审核，为保证交友环境的严肃和纯净，以下独白将不能被审核通过：</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1） 包含电话、MSN、QQ等联系方式。（为保证会员信息不被不怀好意之人利用，不能在独白中带有任何联系方式）</dd>  
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2） 直接或间接包含广告类、推销类等商业促销内容。</dd>    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3） 包含“火星文”等非常用且不容易翻译字体。</dd>   
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4） 包含“涉及政治”、“涉及色情”、“涉及暴力与血腥”、“涉及诈骗”等不以严肃、健康   
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;婚恋交友为目的的内容。</dd>  
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5） 包含对网站或其他会员进行言语上的、辱骂、攻击等内容。</dd>

{elseif $vals == 5}
    <dt>真爱一生网的真情内心告白</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp 虽然我们是都是一个平凡的人，但是请相信每个人都有一个不平凡的故事
    当我们一个人孤单的时候，总会想起那些封存在记忆里美好的事和人，心里涌起无言的感慨，渴望而又内心无言的倾诉……
    父母和家一个是人生的向导，另一个是避风的港湾，我们要用一生呵护他们!
    在真爱一生网这个大家族里面，真心祝福您能够找到您的另一半，伴随着您开着旅途人生号，畅游心中的世界！
    </dd>
{elseif $vals == 6}

    <dt>女会员内心独白样例</dt> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp <font color="#177DAE">当您用鼠标点击了我写的这篇独白，这段独白希望对您来说不是一扫而过的，因为我是用心去写的，</font>所以也希望您能小小的尊重我一下，也用心把这段独白看完，以下是我对另一半择偶的要求，如合适的话，希望的大门为您打开，若不合适，那请止步，同时也祝您早日遇到合适的另一半……</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、	从我们出生的那天，学会说话的那一刻，想必启蒙老师都是自己的父母，父母对我的影响很大，在我们每年生日Happy的时候，也是母亲的母难日，如您是一位不懂得尊重长辈的人，麻烦请您绕行；</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、	我觉得两个人生活在一起信任很重要，彼此都会有各自朋友的圈子，我不是管家的女人，希望您也不是管家，很多事情我不会去干涉您，但希望您不要把我对您信任、放任当成一种放纵，当您有应酬时我不会一分钟一个电话催您回家，出去和朋友们吃喝玩乐时希望您也能玩的高兴，既然彼此在一起了，或许承诺不算什么，但希望我们都能为彼此负责，我尊重了您，并不要任何什么回报，只是希望您能忠于家庭，不要到了晚上和我玩失踪就行了；</dd>
	<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、	有责任心。男人一定要有责任心，自己做的事要敢于自己承担，无论是公事还是私事。那种一有事就往别人身上推的男人，不但卑鄙而且可耻。</dd>  
    <dd><font color="#177DAE">小结一下：</font>有些朋友看到我的照片，都感觉我比较会玩，希望您不要用我的外表来否定任何事情，受父母影响，我骨子里有很多东西还是比较传统的，低调不爱张扬的我需要一个可靠的您，而不是万能的您；命运负责洗牌，但玩牌的是我们自己。牛年之际顺祝每位朋友牛气冲天，牛年大发，牛年走牛运；非诚勿扰，谢谢……！</dd>

{elseif $vals == 7}

    <dt>男会员内心独白样例</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">我</font>是安徽安庆人，在北京工作，本人经济基础不好不差，如果您也是这样，我们可以过一个小资生活，如果您经济一般，我们可以过一个小康生活，如果您一无所有，但是有颗善良的心，我们可以过一个小民生活。如果您是个有慧根的人，我们可以互生大智慧，如果您是个小聪明的人，我们可以笑说此生情，如果您是个平凡但是有爱心的人，我们就牵手相持，行走人生，至少我们拥有第欧根尼的阳光。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱才是真谛，它可超脱六道众生。平凡才是相着，它能跨越生死三界。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;善是最自然的魅力，它照耀十方佛国，慧是最明亮的阳光，它遍布一真法界。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;缘是所有的因果，它决定您我。正如见面那第一眸就悄然而来的心觉。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广如华藏，高有须弥，何人依岸，为我横笛。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;千江随笔：找一个智慧的人吧，到生活平淡了，您才知道智慧的光辉是多么的美妙。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印度谚语：找一个爱说话的人吧，到您老了，您才知道爱说话是一件多么好的事情。</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">最好您有照片，不是说在乎容貌，而是：每个人都有自己喜欢的类型。</font>所以您千万不要说长相不重要而不愿意发照片的话。您最好在165以下，因为我不算高。您最好是不要体重太轻，因为我怕人家说我虐待媳妇儿，您最好有点修养，因为我希望我身边的女人是受人尊重的。您如果有诗意就更好了，我才能写出您喜欢的东西，您如果有深睿的思想那就完美了，这样才能明白我的世界。其实，不要那么多，相识自然有因果。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不求您如秦罗敷，但得有心田螺女。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可以这样求吗：相遇如许仙过桥，相知似文君听琴，相守比尾生抱柱。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以有涯此生续上世姻缘，以无相才情博今生知己。共您竹间风、樽中酒、水边床。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我觉得：一个人的名字，心如其名。一个人的照片，相由心生。</dd> 
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;江湖不小，天下有雪。</dd>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我站在高山上，向下望去，一片灯火。</dd>

{elseif $vals == 8}
    <dt>60后内心独白样例</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">我</font>63年出生，离异，事业单位工作，有一子，与我一起生活。婚姻这种事的确讲求缘分的，说得再多，感情还是要建立在两个人相互了解和相互欣赏的基础上。因为我相信没有无缘无故的爱，标准也没有好与不好，只有适与不适合。虽然有过一次短暂的婚姻，但这使我对它有了更深的感悟和更多的理性思考。之所以通过网上这种交友方式是因为我从事的工作环境的因素，使我接触面很窄，认识的人太少，而我觉得感情不是等待，而是应该更多的去争取，我相信出生于新时代的您是不会更多的在意那些世俗的偏见。 我是一个性格随和的人，希望人生的伴侣是成熟、稳重有责任心，有情有义，和我一样是把家庭放在第一位的人。如果您有诚意请联系我！</dd>
    <dt>70后内心独白样例</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">大家先看本人的条件：</font></dd>
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：男 年龄：32岁 身高：171厘米 学历：本本</dd>
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;民族：汉族 所在地区：宁波宁海职业：建造师、监理工程师 婚姻状况：未婚 公司类型：私营企业 </dd>
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年薪： ******元 征友地区：不限地区 居住情况：住单位房 购车情况：暂未购车 毕业学校：未填</dd>  　　
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在我们领到那张约束两个人自由的所谓的结婚证之前，我有权选择一个更为合适的女青年作为我未来的老婆。如果相爱甘愿为您做到以下几点：</dd>　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、作为您的老公，不轻视未来老婆您的言行；</dd> 　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、作为您的老公，不再跟以前的那些mm再有来往；</dd>  　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、作为您的老公，不会弄那些什么也不穿的mm恶心的画挂在卧室（更不会藏mm小图片在枕头底下）；</dd>　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、作为您的老公，不搞一些不三不四的所谓的哥们来家里喝酒；</dd>  　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、作为您的老公，不跟您顶嘴，您说一就是一，我不说二（即使我是对的），因为俺认为家不是讲理的地方；</dd>   　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、作为您的老公，我一定勤快，衣服我洗，饭我做，地板我擦，总之所有家务我都包了看仔细了哦，我的这些规定都是一时想起来的，难免有不足之处，可能还有许多不周全的地方，比方说，工资一定要上交这么最重要的一条我差点忘了，在这里特别注明。</dd>    　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还有，还有好多呢，等我想起来了再写给您，咱们未来的家是个民主家庭，有事好商量，比方说今天的地我要是不想擦，会向您申请明天擦行否，得到大人您同意后方可执行，但有一点请您放心，早上的饭不会等到晚上再做的，这点我绝对向您保证。</dd>    　　
    　　<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后，也就是最重要的一条，既然跟我结婚了，一辈子也不许离婚哦！</dd>　   
    <dt>80后内心独白样例</dt>
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">Wo，８5年12月26日的浪漫女孩，</font>不是特別美，但是很可愛。工作还算稳定，父母都是工薪阶层。</dd> 
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我需要的是平等的欣赏和相互的信任，因此寻找的另一半是—— </dd>
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他理智明白，平和宽容，善良而有原则；</dd> 
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他有明确的事业目标，有勤劳勇敢的品行；</dd> 
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他洋溢着生活的热情，却不会被热情所左右；</dd> 
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他喜欢安宁的生活，却善于发掘生活的乐趣；</dd> 
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当然，最重要的，他也正在寻找和他生活理念一致的另一半。                     
        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 梦想着能与这样的他携手，把将来的生活经营成这样子：我们可以共同从事一项事业，也可以每天各忙各的事情，一闲下来，我们会挂念对方，致电问候一句，柔软的话语让我们充满力量，感到任何困难都能解决；
        我希望做个老公背后的持家女人，为他营造一个温馨的港湾，没有争吵，充满爱意和尊重；</dd> 
        <dd><font color="#177DAE">不诚者勿扰，我希望尽早结婚生子……不管今后老公如何，我都将风雨同舟，一路相伴。</font></dd>
    <dt>90后内心独白样例</dt>
    	<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">90后的人生应该是飞扬洒脱而又尊贵光荣，平凡有价值的。　我，</font>北京人，满族，正白旗，刚刚法律本科毕业兼修心理学，现在一家京城法律事务所工作。我爱策马扬鞭，云游四方，博览群书，结识贤良。家庭背景一般，为人平和勤劳善良， 我对人文历史比较感兴趣，喜欢拉二胡，同时掌握世界最新潮流咨询，E时代数码小先锋。对我而言爱情是魔术师，能把冷冰冰的房子变成暖融融的家。爱情是圣诞老人，总会带给我们意想不到的礼物。爱情是明星，常常有盲目的追星族追得天昏地暗，神魂颠倒。爱情是法官，判处一方终身监禁的同时，另一方顺理成章成了看守。爱情是政客，总需要一些谎言来自卫，并维持应有的体面和尊严。</dd>
    
{elseif $vals == 9}

    <dt>真诚型内心独白样例</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">我是一个</font>平凡的人，个子小巧，性格积极乐观。<font color="#177DAE">喜欢</font>读书和听音乐，看韩剧。没有风花雪月只求实实在在。<font color="#177DAE">希望能遇到一个</font>能一起分享幸福和悲伤的人；当遇到挫折时可以互相支持和鼓励的人。小巧的我虽然平凡却对未来充满很多梦想，希望可以和自己的爱人一起实现。</dd>  
    <dt>幽默型内心独白样例</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">我的爱情格言：</font>什么样的男人，就找什么样的女人；婚姻千万不能随意。自爱才能赢得自尊；爱情也是一种态度。不找好的，只找对的；不找完美的，只找独特的。优秀的人在一起不一定快乐，适合的人在一起最幸福！</dd>  
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#177DAE">自我介绍：</font>本人出身农村，从小吃苦耐劳，练就了不怕苦不怕累的性格；父母恩爱，家庭和谐，培养了我良好的处事心态；军校毕业，思想过硬，作风优良；自诩眼光独具，能力还行，办事利索，考虑周全；心地善良，尊老爱幼；勤快心细，厨艺不错；爱好广泛，崇尚自然，对生活充满激情；向往的生活是让自己所爱的人过得比我幸福！</dd>    
    <dd><font color="#177DAE">友情提示：</font>我不是有钱人（如果人品可以卖钱的话，那我还算一个特有钱的人）</dd>

{elseif $vals == 10}
    <dt>通用型内心独白样例</dt>
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●一个细微动作，一个飘忽眼神，抑或是一个转身的距离，相爱的人应该有着缘分的默契，找一个爱我懂我的人，生活也会因默契而和谐。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●也许我很平凡，但是我绝不缺乏生活的热情和生命的梦想，也许我会孤单，但是我会一路找寻您的踪迹。遇见您，将是我生命中最绚烂的时刻。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●有时候望着地平线的方向，我在想，自己一路走来，明天又将去向哪里呢。快乐过也失落过，一个人旅途太漫长，如果您愿意，我希望能拉着您的手，一起奔跑，一起去寻找我们的幸福</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●这个世界上，总有一个人在等您，总有一个人会给您安心的幸福，总有一个人会陪您到老，这个人，要珍惜，要感恩。您是我要找的幸福吗？</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●是我没有遇见缘分，还是没有遇见您，无论外面的世界如何纷繁复杂，只想和您过一种简单的生活，相濡以沫，白头到老。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●一个人走得久了，会累，有个人，陪您在冬日的午后晒太阳，为您递上一杯热气腾腾的绿茶，和心爱的人慢慢变老，还有什么比这更幸福呢？</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●来到这里是个偶然，遇见您也许也是偶然，但是，过去的已然过去，未来的还没有到来，我们都不知道下一颗巧克力的味道，无数个偶然或许就是生活送给我们最美的礼物，您的偶然出现或许就是我生命中最美的必然。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●遇到您之前，幸福对我来说无论怎样都是单薄。期待牵着您的手，一直向前走去。我相信，幸福就跟在我们身后。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●对整个世界来说，您是一个人，而对一个人来说，您就是整个世界。我会在这里等着您的到来，期待我们的爱情开花结果，期待把我们的小窝布置得浪漫温馨，一回到家就有幸福的感觉。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●如果让我在这里遇见您，会不会是个奇迹呢，曾经无数次幻想过未来另一半的样子，朦胧而亲切，找寻至今，我才相信，爱情终究是缘分，茫茫人海两个人的相识相爱，本身就是一种巧合，您会是我的那个巧合吗？</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●家应该像冰冷冬天里的一杯热茶，让您在疲惫的时候感到温暖，家应该像黑夜里鹅黄的灯光，让您知道心的那头始终有份期盼，两个人在一起，搜集一点一滴的幸福。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●我一直在这里，没有离开，我一直在等待，等着那个和我终生相伴相爱一生的您的出现。因缘而聚，我始终这样认为，所以觉得佳缘真的很好，美丽的缘分，也许就是给我的最美丽的暗示吧。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●在遇到梦中人之前，上天也许会安排我们先遇到别的人；在我们终于遇见心仪的人时，便应当心存感激。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●遇见您我便变得很低很低，一直低到尘埃里去，但我的心是欢喜的。并且在那里开出一朵花来。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●人生不止，寂寞不已。寂寞人生爱无休，寂寞是爱永远的主题。我和我的影子独处，它说它有悄悄话想跟我说，它说它很想念您。原来，我和我的影子，都在想您。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●您当我是个风筝，要不把我放了，要不然收好带回家，别用一条看不见的情思拴着我，让我心伤。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●如果爱上，就不要轻易放过机会。莽撞，可能使您后悔一阵子；怯懦，却可能使您后悔一辈子。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●躲在某一时间，想念一段时光的掌纹；躲在某一地点，想念一个站在来路也站在去路的、让我牵挂的人。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●我想抽签一个人，看到他就和他说，就是您了，我不想在寻觅，感情不是交易，要反反复复的选来选去，可没有这样的人和我呼应，如果您用爱来和呼应，我什么都有愿意为您。</dd>
    
    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●感谢那些浏览我的资料的人，感谢那些关注我的人，感谢那些给我带来爱情希望的人，在真爱一生网，在寻找缘分的旅途上，我走得并不孤单。而最应该感谢的，就是您，我未来的所爱，我相信您一定在这里，在一个我还不曾到达的角落，在一个我们的目光不曾交汇的地方。</dd>
{/if}