<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>非诚勿扰报名——真爱一生网</title>
{template system/js_css public}
<link href="module/payment/templates/default/payment.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
	{template system/header public}
	<div class="content">
		<p class="c-title"><span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;非诚勿扰</span></p>
			<div class="fcwr-banner"><img src="module/payment/templates/default/images/fcwr-banner.jpg"/></div>
			<div class="content-title" style=" width:982px; border-left:none">
				<span class="right-title">非诚勿扰介绍</span>
			</div><!--content-title end-->
			<div class="c-center"style=" width:980px;">
				<div class="fcwr-box" style="position:relative">
					<p><img src="module/payment/templates/default/images/enrol-note.gif" /></p>
					<dl class="goto-enrol-box">
						<dt><a href="index.php?n=payment&h=ifyouaretheone_reg" class="goto-enrol"></a></dt>
					</dl>
					<dl class="enrol-text">
						<dt>报名条件：</dt>
						<dd class="mun01">单身、男22岁以上、女20岁以上。</dd>
						<dd class="mun02">愿意在电视节目上展现个人风采；愿意将自己独特的世界观、人生观、恋爱观、行为特点与别人分享；</dd>
						<dd class="mun03">个人出身，学历，经历、情感经历、或才艺等任一方面与众不同</dd>
						<dd class="mun04">可根据节目录制要求安排个人时间；</dd>
						<dd class="mun05">报名者需在真爱一生网上传照片等其他相关信息，否则会失去优先面试权。</dd>
						<dt>报名方法：	登记报名资料、填写个人文字（特征、专长、经历）、丰富者优先；</dt>
					</dl>
				</div>
				<h4>备注</h4>
				<div class="fcwr-box">
					<dl>
						<dt>1.真爱一生网作为节目报名渠道，不对报名及参加节目的结果做出承诺；</dt>
						<dt>2.节目录制细节将由江苏卫视与入选会员沟通；</dt>
						<dt>3.报名人士所提供的所有资料和数据必须保证真实可信;</dt>
					</dl>
				</div>
				<h4>节目介绍</h4>
				<div class="fcwr-box">
					<p style="text-indent:28px;">《非诚勿扰》是江苏卫视一档适应现代生活节奏的大型婚恋交友节目，为广大单身男女提供公开的婚恋交友平台，精良的节目制作和全新的婚恋交友模式得到观众和网友广泛关注。</p>
					<p style="text-indent:28px;">新节目的互动形式将完全突破过去传统的交友方式，完全体现新时代男女的婚恋观。节目中有24位单身女生以亮灯和灭灯方式来决定报名男嘉宾的去留，经过“爱之初体验”“爱之再判断”“爱之终决选”“男生权利”等规则来决定男女嘉宾的速配成功。</p>
				</div>
			</div><!--c-center end-->
			<div class="content-bottom"style=" width:982px;">			
			</div>
			<!--content-bottom end-->
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
