<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>升级铂金会员——真爱一生网</title>
{template system/js_css public}
<link type="text/css" href="module/payment/templates/default/payment.css" rel="stylesheet" />
</head>

<body>
<div class="d">
{if $GLOBALS['MooUid']}
	<div class="logined">
		您的用户名是：{php echo $GLOBALS['MooUserName']?MooCutstr($GLOBALS['MooUserName'],16):$user_arr['nickname'];}
	   &nbsp;&nbsp; 您的ID是：{$GLOBALS['MooUid']}&nbsp;&nbsp;
		最新邮件(<a href="index.php?n=service&h=message">{php echo $GLOBALS['new_email_num']}) <a href="service.html">进入我的红娘&gt;&gt;</a> <a href="index.php?n=index&h=logout">安全退出</a>
	</div>{/if}
</div>
<div class="main">
	<div class="content">
		<div class="pt_banner">
			<div class="pt_logo"></div>
			<div><a href="index.php?n=payment&h=channel_platinum" class="manu_one"></a></div>
		</div>
		<div class="pt_main">
			<div class="main_header">
				<div class="main_header_left"></div>
				<div class="main_header_right"></div>
			</div>
			<div class="main_con">
				<ol class="pt_mem">
					<li class="rings"></li>
					<li class="mem_title"></li>
				</ol>   
				<div class="clear"></div> 
				<div class="mem_font">
					<p>您是否仍在苦苦寻觅那个他/她？</p>
					<p>不要再被动的等待了！想要有缘人主动来到您的身边吗？铂金会员是真爱一生网与众多电视媒体合力打造，具有众多优先推荐权，包括优先</p>
					<p>参与录制电视相亲节目，享受三对一至尊真爱一生服务的高端会员。无需被动等待，独特的身份标识，让您从3000多万用户中脱颖而出！</p>
			  </div>
				<ol class="pt_func">
					<li class="rings"></li>
					<li class="func_title"></li>
				</ol>
				<div class="clear"></div> 
				<div class="func_font">铂金会员尊享四大专利（四大专利十分用心、为您的爱情加10分）</div>
				<div class="clear"></div>
				<ol class="ol">
					<li><img src="module/payment/templates/default/images/platinum/a_03.gif" /></li>
					<li><img src="module/payment/templates/default/images/platinum/a_05.gif" /></li>
					<li><img src="module/payment/templates/default/images/platinum/a_06.gif" /></li>
					<li><img src="module/payment/templates/default/images/platinum/a_07.gif" /></li>
					<li><img src="module/payment/templates/default/images/platinum/a_08.gif" /></li>
				</ol>
				<div><a href="index.php?n=payment&h=channel_platinum" class="manu_two"></a></div>
			</div>
		</div>
	</div>
   
</div>
 <div style="height: 100px;text-align: center;padding-top: 20px;border-top:1px solid #999;margin-top:5px;">
	<div class="g">品牌：8年专业婚恋服务&nbsp; 专业：庞大的资深红娘队伍&nbsp; 真实：诚信会员验证体系&nbsp; </div>
	<div class="g">Copyright 2006-2014 真爱一生网.All Right Reserved.<a  href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备14002819号</a> </div>
	<div class="g">客服热线：400-8787-920 （周一至周日：9：00-21：00）客服信箱：kefu@zhenaiyisheng.cc</div>
</div>
</body>
</html>
