<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>升级钻石会员——真爱一生网</title>
        {template system/js_css public}
        <link href="module/payment/templates/default/payment.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="d">
            {if $GLOBALS['MooUid']}
            <div class="logined">
                您的用户名是：{php echo $GLOBALS['MooUserName']?MooCutstr($GLOBALS['MooUserName'],16):$user_arr['nickname'];}
                &nbsp;&nbsp; 您的ID是：{$GLOBALS['MooUid']}&nbsp;&nbsp;
                最新邮件(<a href="index.php?n=service&h=message">{php echo $GLOBALS['new_email_num']}) <a href="service.html">进入我的红娘&gt;&gt;</a> <a href="index.php?n=index&h=logout">安全退出</a>
            </div>{/if}
        </div>
        <div class="main">

            <div id="vip_content">


                <div id="vip_ad"><img src="module/payment/templates/default/images/vip_ad.jpg" /><div class="into"><a href="index.php?n=payment&h=channel_diamond"><img src="module/payment/templates/default/images/{php echo ($s_cid=='20') ? 'goon' : 'vip_button';}.jpg" /></a></div></div>
                <div id="category">
                    <div class="post">
                        <h2><img src="module/payment/templates/default/images/vip_recommend.jpg" /></h2>
                        <div class="entry recommend">
                            您是否仍在苦苦寻觅那个他/她？不要再被动的等待了！想要有缘人主动来到您的身边吗？
                            立即升级为钻石会员，让您从3000多万用户中脱颖而出！
                        </div>
                    </div>
                    <div class="post">
                        <h2><img src="module/payment/templates/default/images/vip_service.jpg" /></h2>
                        <div class="entry service">
                            <dl>
                                <dt>一、视频介绍和才艺展示</dt>
                                <dd>
                                    你是否还停留在以貌取人、单纯依赖文字性资料的误区？想要让那个他（她）了解更加真实生动的你吗？马上加入视频介绍和才艺展示吧！
                                    让你一步到位的找到心心相印、心灵默契的人。视频介绍和才艺展示的三大好处。
                                    <ul>
                                        <li>第一，展示真实自我风采！</li>
                                        <li>第二，吸引更多关注，提升交友几率！</li>
                                        <li>第三，多层面立体化的沟通方式，快速增进了解！即开通此服务</li>
                                    </ul>
                                </dd>
                                <dt>二、从星座生肖看爱情运势</dt>
                                <dd>每个人的星座生肖中都隐藏着爱情玄机！这里有专业的婚恋专家针对您的星座生肖进行解说，分析什么样的异性与你相匹配，同时让异性更
                                    深入的了解你的真性情。令你散发诱惑性哦！你也可以说出你的恋爱史，让异性从你曾经的爱情故事中，感受你的真诚，用这颗清澈透明的求爱
                                    之心感动对方!</dd>
                                <dt>三、亲友团助阵</dt>
                                <dd>想让你的亲朋好友为你加油助阵吗？通过亲友团对你的评价，异性可以对你的生活圈子有充分的了解，让你更加形象生动！从而激起靠近你
                                    的欲望喔!</dd>
                                <dt>四、打造最佳约会</dt>
                                <dd>工作很忙？不喜欢单一的约会项目？让真爱一生来帮您分忧吧！高级专属真爱一生会根据你的时间和喜欢的约会项目，为你打造属于你的最佳约会，
                                    高效的网上寻爱服务，让你轻轻松松找到心仪之人！</dd>
                                <dt>五、显要的位置排名</dt>
                                <dd>想要异性第一眼看到你吗？钻石会员不仅搜索排名靠前,并且个人资料可以排在所在省市的首页，在异性会员的搜索结果中优先显示。</dd>
                                <dt>六、独享尊贵标识</dt>
                                <dd>个人资料带有“钻石”闪光标识，突出尊贵身份，从众多普通会员中脱颖而出！</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="post">
                        <h2><img src="module/payment/templates/default/images/vip_function.jpg" /></h2>
                        <div class="entry function">
                            <img src="module/payment/templates/default/images/vip_function_img.jpg" />
                        </div>
                    </div>
                    <div class="post">
                        <h2><img src="module/payment/templates/default/images/vip_contrast.jpg" /></h2>
                        <div class="entry contrast">
                            <div class="title"><img src="module/payment/templates/default/images/vip_contrast_title.jpg" /></div>
                            <table width="828" cellspacing="0">
                                <tr>
                                    <td class="style1">
                                        <p><span>特色视频功能--展现真实生动的个人和才艺</span></p>
                                        <p>可以通过视频介绍自己，展现你的多才多艺。</p>
                                        <a target="_blank" href="index.php?n=myaccount&h=vhelp"><img src="module/payment/templates/default/images/vip_contrast_ask.jpg" /></a>
                                    </td>
                                    <td class="style2"><p>无视频功能</p></td>
                                    <td class="style3"><p>普通会员基本寻爱功能</p></td>
                                </tr>
                                <tr>
                                    <td class="style1">
                                        <p><span>婚恋专家点评星座生肖--更好的分析适合你的异性特征</span></p>
                                        <p>专家通过对星座生肖的点评，了解什么样的异性与己匹配，让符合特
                                            征的异性主动来到你身边。</p>
                                    </td>
                                    <td class="style2"><p>无此功能</p></td>
                                    <td class="style3"><p>无视频功能</p></td>
                                </tr>
                                <tr>
                                    <td class="style1">
                                        <p><span>随心沟通--联络更自由</span></p>
                                        <p>3000多万会员想与谁联络就与谁联络。主动把握自己的爱情！</p>
                                    </td>
                                    <td class="style2"><p>可以与部分普通会员、VIP会员沟通</p></td>
                                    <td class="style3"><p>只能与部分高级会员和VIP沟通，被动等待爱情</p></td>
                                </tr>
                                <tr>
                                    <td class="style1">
                                        <p><span>显眼位置排名--脱颖而出</span></p>
                                        <p>钻石会员不仅搜索排名靠前,并且个人资料可以排在所在省市的首页，
                                            在异性会员的搜索结果中优先显示。</p>
                                    </td>
                                    <td class="style2"><p>无显要位置排名</p></td>
                                    <td class="style3"><p>无显要位置排名</p></td>
                                </tr>
                                <tr>
                                    <td class="style1">
                                        <p><span>VIP钻石特殊标识--身份更尊贵</span></p>
                                        <p>VIP闪光标识受到异性会员更诚意关注，关注率与收信率大大提升，
                                            爱情的脚步快速临近！</p>
                                    </td>
                                    <td class="style2"><p>有特殊标识</p></td>
                                    <td class="style3"><p>有特殊标识</p></td>
                                </tr>
                                <tr>
                                    <td class="style4" colspan="3">
                                        <p><span>基础功能--身份更尊贵</span></p>
                                        <p>创建个人档案，心理测试与心灵匹配，搜索意中人，浏览用户资料，和意中人打招呼，发送接收秋波和鲜花，向真爱一生发起委托。</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <a href="index.php?n=payment&h=channel_diamond" class="into"><img src="module/payment/templates/default/images/{php echo ($s_cid=='20') ? 'goon' : 'vip_button';}.jpg" /></a>
                </div>
            </div>
           
        </div><!--main end-->
		
		 <div style="height: 100px;text-align: center;padding-top: 20px;border-top:1px solid #999;margin-top:5px;">
			<div class="g">品牌：8年专业婚恋服务&nbsp; 专业：庞大的资深红娘队伍&nbsp; 真实：诚信会员验证体系&nbsp; </div>
			<div class="g">Copyright 2006-2014 真爱一生网.All Right Reserved.<a  href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备14002819号</a> </div>
			<div class="g">客服热线：400-8787-920 （周一至周日：9：00-21：00）客服信箱：kefu@zhenaiyisheng.cc</div>
		</div>
    </body>
</html>
