<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>预览个人资料——真爱一生网</title>
<link rel="shortcut icon" href="public/default/images/favicon.ico" type="image/x-icon"/>
<link href="module/space/templates/china/space.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding-top:30px">
	<div class="center">
		<div class="head">
			<a href="http://www.zhenaiyisheng.cc/" class="logobox"></a>
			<a href="#" class="getknow"></a>
			<div class="toptel"></div>
			<div class="topmsg"><span style="margin-left:6px">欢迎您</span> <span class="f-e3da00">简道</span>，您的ID是<span class="f-e3da00">2195981</span> <a href="#">最新邮件</a>(<span class="f-e3da00">0</span>) <a href="#">修改密码</a> <a href="#">安全退出</a></div>
			<div class="topmsg2" style="display:none;"><span style="margin-left:10px">欢迎您</span> <span class="f-ed0a91">简道</span> ，您的ID是 <span class="f-ed0a91">2195981</span> <a href="#" class="f-000-a">最新邮件</a>（<span class="f-ed0a91">0</span>） <a href="#" class="f-000-a">修改密码</a> <a href="#" class="f-000-a">安全退出</a></div>
			<div class="topnav">
				<p class="nav-side nav-left"></p>
			<div class="nav-center">
				<ul>
					<li><a href="#">我的真爱一生</a></li>
					<li><a href="#">真爱一生寻友</a></li>
					<li><a href="#">资料设置</a></li>
					<li><a href="#">爱情测试</a></li>
					<li><a href="#">诚信认证</a></li>
					<li><a href="#">E见钟情</a></li>
					<li><a href="#">视频认证</a></li>
				</ul>
				<a href="#" class="hmenber"></a>
				<a href="#" class="dmenber"></a>
			</div>
			<p class="nav-side nav-right"></p>	
			</div>
			<div class="clear"></div>
		</div><!--head end-->
		<div class="searchbar">
			<div class="search-cts">
					<label for="a3"><input name="" type="radio" value="" id="a3"/>按条件搜索</label>
					<label for="a4"><input name="" type="radio" value="" id="a4"/>按ID号搜索</label>
					<!--label里的ID值要与里面input的ID值一致-->
				</div>
				<!--按条件搜索-->
				<ul class="search-cts-list">
					<li>我要找:
						<select name="">
						<option>男士</option>
					</select></li>
					<li>年龄:
						<select name="">
						<option>22</option>
					</select>
					至<select name="">
						<option>45</option>
					</select></li>
					<li>地区:
						<select name="" class="w65">
						<option>安徽</option>
					</select>
					<select name="" class="w65">
						<option>合肥</option>
					</select></li>
					<li><input name="" type="checkbox" value="" />有照片</li>
				</ul>
				<!--按ID号搜索-->
                <input style="display:none" name="" type="text" class="reg-info-text" />
				<input name="" type="button" class="search-btn" value=" " />
		</div><!--searchbar end-->
		<div class="content" style="width:982px">
			<p class="c-title"><span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;预览个人资料</span><a class="fright" href="index.php?n=invite">邀请好友</a></p>
			<div class="c-left">
				<div class="c-left-box">
					<div class="lefttitle">简道的个人主页</div>
					<div class="leftbox-in">
						<div class="left-photos">
							<a class="citystar" title="城市之星" target="_blank" href="index.php?n=payment&amp;h=city_star_intro"><img src="module/space/templates/default/images/citystar.gif"></a>
							<div class="pic-show">				
								<div class="in-pic">
									<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif"></a></p>
								</div>
							</div>
							<div class="photo-box">
								<div class="photo-last">
								<a href="#" class="fleft"><img src="module/space/templates/default/images/last.gif" /></a>
								</div>
								<div class="photo-show">
									<div class="fleft">
									<div class="photo-show-in">
										<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
									</div>
									</div>
									<div class="fleft">
									<div class="photo-show-in">
										<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
									</div>
									</div>
									<div class="fleft">
									<div class="photo-show-in">
										<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
									</div>
									</div>
								</div>
								<div class="photo-next">
								<a href="#" class="fleft"><img src="module/space/templates/default/images/next.gif" /></a>
								</div>
							</div>
								<div class="clear"></div>
								<div class="set-photos">
								<p><a href="#" class="f-000-a">查看相册</a>&nbsp;(7张)</p>
								<p><a href="#" class="f-d37e1a-a">管理相册</a></p>
								</div>
								<p style="color:#d37e1a" class="left-match"><a href="#"><span class="icon">您与她的匹配指数：</span><span class="big-f">78</span>分</a></p>
						</div>
						<div class="clear"></div>
							<a href="#" class="go-know"></a>
							<ul class="leftnav">				
								<li><a href="#" class="left-list01"><span>&gt;&gt;</span>送秋波</a></li>
								<li><a href="#" class="left-list02"><span>&gt;&gt;</span>发邮件</a></li>
								<li><a href="#" class="left-list03"><span>&gt;&gt;</span>送鲜花</a></li>
								<li><a href="#" class="left-list04"><span>&gt;&gt;</span>加为意中人</a></li>
								<li><a href="#" class="left-list05"><span>&gt;&gt;</span>在线聊天</a></li>
								<li><a href="#" class="left-list06"><span>&gt;&gt;</span>对TA评价</a></li>
								<li><a href="#" class="left-list07"><span>&gt;&gt;</span>索取真实身份资料</a></li>
								<li><a href="#" class="left-list08"><span>&gt;&gt;</span>委托真爱一生绑定TA</a></li>
								<li><a href="#" class="left-list09"><span>&gt;&gt;</span>举报该会员</a></li>
							</ul>
					</div>
					<div class="leftbottom">
					</div>
				</div><!--c-left-box end-->
				<div class="c-left-box" style="margin-top:10px;">
					<div class="lefttitle">我可能喜欢的人</div>
					<div class="leftbox-in">
						<dl class="left-likes">
							<dt>
								<div class="left-likes-img">
									<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
								</div>
							</dt>
							<dd style="margin-top:19px"><a href="#">ぺ冭殇伈゛</a></dd>
							<dd>22岁</dd>
							<dd>未婚</dd>
							<dd>学历:大专</dd>
							<dd>1001-2000元</dd>
						</dl>
						<dl class="left-likes">
							<dt>
								<div class="left-likes-img">
									<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
								</div>
							</dt>
							<dd style="margin-top:19px"><a href="#">ぺ冭殇伈゛</a></dd>
							<dd>22岁</dd>
							<dd>未婚</dd>
							<dd>学历:大专</dd>
							<dd>1001-2000元</dd>
						</dl>
						<dl class="left-likes">
							<dt>
								<div class="left-likes-img">
									<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
								</div>
							</dt>
							<dd style="margin-top:19px"><a href="#">ぺ冭殇伈゛</a></dd>
							<dd>22岁</dd>
							<dd>未婚</dd>
							<dd>学历:大专</dd>
							<dd>1001-2000元</dd>
						</dl>
						<dl class="left-likes">
							<dt>
								<div class="left-likes-img">
									<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
								</div>
							</dt>
							<dd style="margin-top:19px"><a href="#">ぺ冭殇伈゛</a></dd>
							<dd>22岁</dd>
							<dd>未婚</dd>
							<dd>学历:大专</dd>
							<dd>1001-2000元</dd>
						</dl>
						<dl class="left-likes">
							<dt>
								<div class="left-likes-img">
									<p><a href="#"><img src="module/space/templates/default/images/service_nopic_man.gif" width="50" height="26" /></a></p>
								</div>
							</dt>
							<dd style="margin-top:19px"><a href="#">ぺ冭殇伈゛</a></dd>
							<dd>22岁</dd>
							<dd>未婚</dd>
							<dd>学历:大专</dd>
							<dd>1001-2000元</dd>
						</dl>
						<div class="clear"></div>
						<a href="#" class="left-more">查看更多&nbsp;&gt;&gt;</a>									
					</div>
					<div class="leftbottom">
					</div>
				</div><!--c-left-box end-->
			</div><!--c-left end-->
			<div class="c-right">
				<div class="c-rightbox" style="margin:0;">
					<div class="right-title2"><span class="r-title"></span></div>
					<div class="rightbox-in" style="padding-bottom:0px; padding-top:0px">
                    <div class="rightbox-in-left"></div>
                    <div class="rightbox-in-center">
                    
                    <div style="margin:10px 0 0 10px">
                    <div class="c-right-title"></div>
                    <a class="xg" href="#">我的资料设置&gt;&gt;</a>
                    </div>
						<dl class="right-data">
							<dt>						
								<div class="fright"><strong class="fleft">诚信度：</strong>
								<img src="module/space/templates/default/images/star01.gif" />
								<img src="module/space/templates/default/images/star01.gif" />
								<img src="module/space/templates/default/images/star01.gif" />
								<img src="module/space/templates/default/images/star01.gif" />
								<img src="module/space/templates/default/images/star02.gif" />
								<img src="module/space/templates/default/images/star01.gif" />
								</div>
								<div style="font-size:14px"><span>简道</span>&nbsp;（ID：8186861）</div>
								</dt>
							<dd>
								<div style="color:#000" class="f-ed0a91">今天活跃过</div>
							</dd>
							<dd>19岁，居住在广西来宾的女士，寻找一位年龄在20-25岁男士。 </dd>
							<dd>
								<ul class="right-cer">
									<li class="cer-phone-no"><a href="#">未通过号码验证</a></li>
									<li class="cer-card-no"><a href="#">未通过身份通认证</a></li>
									<li class="cer-email-yes">已通过邮箱认证</li>
									<li class="cer-video-yes">已进行视频认证</li>
								</ul>
							</dd>
							<dd><span>已认证证件：</span>暂未验证任何证件 </dd>
							<dd><span class="fleft">资料完整度:</span>
								<div class="all-data">
									<p style="width:70%"></p>
								</div>
								<span style="color:#333" class="fleft f-ed0a91">&nbsp;70%</span>
							</dd>
						</dl>
                        </div>
                        <div class="rightbox-in-right"></div>                        
						<div class="clear"></div>
					</div>
                    <div class="rightbox-in-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
                    <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                    <div class="rt-left"></div>
                    <div class="rt-center">我的基本资料</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                    <div class="clear"></div>
						<ul class="dtable">
							<li>性&nbsp;&nbsp;&nbsp;&nbsp;别： 女士</li>
							<li>年&nbsp;&nbsp;&nbsp;&nbsp;龄： 21岁</li>
							<li>宗教信仰： 保密</li>
							<li>身&nbsp;&nbsp;&nbsp;&nbsp;高： 保密</li>
							<li>体&nbsp;&nbsp;&nbsp;&nbsp;重： 保密</li>
							<li>学&nbsp;&nbsp;&nbsp;&nbsp;历： 大专</li>
							<li>民&nbsp;&nbsp;&nbsp;&nbsp;族： 汉族</li>
							<li>所在地区： 安徽合肥</li>
							<li>户口地区： 保密</li>
							<li>职&nbsp;&nbsp;&nbsp;&nbsp;业： 学生</li>
							<li>婚姻状况： 未婚</li>
							<li>生&nbsp;&nbsp;&nbsp;&nbsp;肖： 马</li>
							<li>公司类型： 事业单位</li>
							<li>是否有孩子： 保密</li>
							<li>星&nbsp;&nbsp;&nbsp;&nbsp;座： 天秤座(09.23-10.22)</li>
							<li>居住情况： 保密</li>
							<li>月&nbsp;&nbsp;&nbsp;&nbsp;薪： 保密</li>
							<li>血&nbsp;&nbsp;&nbsp;&nbsp;型： B型</li>
							<li>购车情况： 未购</li>
							<li>兄弟姐妹： 独生子女</li>
							<li>绑定情况： 未绑定</li>
						</ul>
							<p>语言能力： 汉语普通话</p>  
						<div class="clear"></div>
					</div>
                    <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
                         <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">我心中的理想对象</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                     <div class="clear"></div>
						<ul class="dtable">
							<li>年&nbsp;&nbsp;&nbsp;&nbsp;龄： 20~22岁 </li>
							<li>身&nbsp;&nbsp;&nbsp;&nbsp;高： 162~170厘米 </li>
							<li>体&nbsp;&nbsp;&nbsp;&nbsp;重： 不限</li>
							<li>体&nbsp;&nbsp;&nbsp;&nbsp;型： 不限</li>
							<li>是否有照片： 有</li>
							<li>征友地区： 不限</li>
							<li>教育程度：</li>
							<li>职&nbsp;&nbsp;&nbsp;&nbsp;业： 不限</li>
							<li>月&nbsp;&nbsp;&nbsp;&nbsp;薪： 不限</li>
							<li>工&nbsp;作&nbsp;地： 安徽合肥</li>
							<li>是否抽烟： 不限</li>
							<li>婚姻状况： 未婚</li>
							<li>是否有孩子： 没有</li>
							<li>是否要孩子： 不限</li>
						</ul>
						<div class="clear"></div>                       
					</div>
                    <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
                    <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">我的生活方式</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                    <div class="clear"></div>
						<ul style="margin-top:10px" class="dtable">
							<li>是否吸烟： 不吸烟 </li>
							<li>是否饮酒： 不喝酒 </li>
						</ul>	
							<p>喜欢的美食： 川菜 火锅 烧烤 家常菜 健康食品 零食 北方菜 面食 甜食 自助餐 能填饱肚子就好 其他</p>
							<p>喜欢的地方： 都市 小镇 游乐场 购物中心 我家/我的房间 海滨 图书馆/书店 展览馆 古迹 公园 咖啡厅/酒吧 动物园 夜市赶集 各种俱乐部 其他</p>
                         		
						<div class="clear"></div>
					</div>
                    <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
                         <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">我的兴趣爱好</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                    <div class="clear"></div>
						<p style="margin-top:15px;">喜欢的运动： 足球 篮球 健身/跑步 钓鱼 羽毛球</p>
						<p>喜欢的活动： 电脑/网络 品茗 看电影/电视 烹调 摄影/艺术创作 下棋/打牌 观光旅游</p>				
						<p>喜欢的音乐： 中文流行音乐 民族音乐</p>
						<p>喜欢的影视： 文艺爱情 动作武侠 限制级电影 艺术电影 肥皂剧</p>
						<div class="clear"></div>
					</div>
                     <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
                         <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">我的内心独白</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                    <div class="clear"></div>
						<p class="my-heart">喜欢的运动： 足球 篮球 健身/跑步 钓鱼 羽毛球</p>
						<div class="clear"></div>
					</div>
                    <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
                         <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">我的视频</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                    <div class="clear"></div>
						<div class="photo-box-show">
							<div class="photo-img-box">
								<a href="#" class="paly-video"></a>
								<img src="module/space/templates/default/images/img.gif" width="133" height="91" />
							</div>
						</div>
						<dl class="textmsg">
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd><a href="#" class="f-a8133d-a">怎样上传视频</a></dd>
						</dl>
						<div class="clear"></div>
					</div>
                    <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
						<div class="rightbox-in">
                         <div style="margin:0px 0 0 10px">
                    <div class="c-right-title3" style="margin-left:12px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">我的录音</div>
                    <div class="rt-right"></div>
                    </div>
                    <a class="xg2" href="#">修改</a>
                    </div>
                    <div class="clear"></div>
							<div class="mysound-box-show">
							<a href="#"></a>
						</div>
						<dl class="textmsg">
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd>录音展现了啰嗦款到即发螺丝钉棵解放</dd>
							<dd><a href="#" class="f-a8133d-a">怎样上传录音</a></dd>
						</dl>
						<div class="clear"></div>
					</div>
                    <div class="rightbox-in2-bottom"></div>
				</div>
				<div class="c-rightbox">
					<div class="right-title"></div>
					<div class="rightbox-in">
					  <div class="c-right-title3" style="margin-left:22px; display:inline">
                     <div class="rt-left"></div>
                    <div class="rt-center">您还可以：</div>
                    <div class="rt-right"></div>
                    </div>
						<ul class="leftnav bottom-nav" style=" padding:0 10px; width:700px; margin-bottom:0;">				
							<li><a href="#" class="left-list01"><span>&gt;&gt;</span>送秋波</a></li>
							<li><a href="#" class="left-list02"><span>&gt;&gt;</span>发邮件</a></li>
							<li><a href="#" class="left-list03"><span>&gt;&gt;</span>送鲜花</a></li>
							<li><a href="#" class="left-list04"><span>&gt;&gt;</span>加为意中人</a></li>
							<li><a href="#" class="left-list05"><span>&gt;&gt;</span>在线聊天</a></li>
							<li><a href="#" class="left-list06"><span>&gt;&gt;</span>对TA评价</a></li>
							<li><a href="#" class="left-list07"><span>&gt;&gt;</span>索取真实身份资料</a></li>
							<li><a href="#" class="left-list08"><span>&gt;&gt;</span>委托真爱一生绑定TA</a></li>
						</ul>
					<div class="clear"></div>
					</div>
				 	<div class="rightbox-in2-bottom"></div>
				</div>
				<div class="bottom-getit">
					<a  href="index.php?n=service&h=commission&t=sendcontact&sendid={$user['uid']}" class="getknow" {if $userid == $uid}onclick='return false'{/if}  style=" margin:0 0 0 270px;"></a>
				</div>
				<div class="r-c-bottom-banner">
					<a href="http://66vv.com/lc.php?vvid=10020" target="_blank"><img src="module/space/templates/default/images/ad.gif" /></a>
				</div>
			</div><!--c-right end-->
			<div class="clear"></div>
		</div><!--content end-->
		<div class="foot">
			<div class="foot-nav">
			<ul>
				<li><a href="#">关于我们</a>|</li>
				<li><a href="#">媒体关注</a>|</li>
				<li><a href="#">联系我们</a>|</li>
				<li><a href="#">合作伙伴</a>|</li>
				<li><a href="#">意见反馈</a>|</li>
				<li><a href="#">成功故事</a>|</li>
				<li><a href="#">汇款信息</a></li>
			</ul>
			</div>
			<p><div class="foottel"></div></p>
			<p>Copyright 2005-2010 版权所有：真爱一生网 闽ICP备09064513号</p>
			<p>真爱一生网备用域名： <a href="#">www.hongniangw.com</a> | <a href="#">www.hongniangwang.com</a></p>
		</div><!--foot end-->
	</div><!--center end-->
</body>
</html>
