<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网——志愿者活动</title>
<script src="public/system/js/sys.js?v=1" type="text/javascript"></script>
 <script type="text/javascript">
 function userdetail(number,arrayobj) {
	var arrname = arrayobj;
		for(i=0;i<arrayobj.length;i++) {
			var valueArray  = arrayobj[i].split(",");
			if(valueArray[0] == number) {
			if(valueArray[0] == '0' && valueArray[1] != '男士') {
				document.write("不限");
			} else {
				document.write(valueArray[1]);
			}
		}
	}
}
 </script>
<style type="text/css">
*{ padding:0; margin:0; }
ol,ul{ list-style:none; }
span { color:#F06; }
body { background:url(module/cooperation/templates/default/images/bg.gif) repeat-x #fcf2f7; font-size:12px; font-family:"宋体", Arial, Vrinda;}
.box { width:800px; margin:0 auto; background:url(module/cooperation/templates/default/images/header.jpg) no-repeat #FFF;}
.table { padding:480px 0 20px 200px;}
.manu { text-align:center; width:600px; padding-bottom:100px;}
.footer{color:#666; text-align:center; padding:20px 0;}
</style>
</head>
<body>
<div class="box">

    <form action="index.php?n=cooperation&h=register" method="post" name="form1"  onSubmit="return checkForm();">
	<div class="table">
    {if empty($cooperation)}
        {if empty($userid)}
       <h2>报名志愿者必须是真爱一生网的注册会员，请您先 <a href="index.php?n=login">登录</a> 或 <a href="index.php?n=register">免费注册</a> 成为会员。</h2>
        {else}
        <dl>
        <dd> <span> <i>*</i> 注册邮箱： </span> <em>{$user_arr[username]}</em> </dd>
        <dd> <span> <i>*</i> 昵称： </span> <em>{$user_arr[nickname]}</em> </dd>
        <dd> <span> <i>*</i> 所在地区： </span> <em><script>userdetail({$user_arr[province]},provice);userdetail({$user_arr[city]},city);</script></em> </dd>
        </dl>
        {/if}
    {/if}
	<table cellpadding="0" cellspacing="0" border="0">
        {if !empty($cooperation)}
    	<tr>
        	<td align="right"><span>*</span> 选择合作类型：</td>
        	<td><select name="cooperation" style="width:160px;" id="cooperation">
            {loop $cooperation_config $key $val}
            {if !empty($key)}
            <option value='{$key}'>{$val}</option>
            {/if}
            {/loop}
            </select></td>
        </tr>
        {else}
        <input type="hidden" value="0" name="cooperation">
		
        {/if}
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right"><span>*</span> 联系人：</td>
        	<td><input name="contact" type="text" style="width:160px;"  id="contact" {$disabled} /></td>
        </tr>
		<input type="hidden" value="{php echo isset($active)?$active:'';}" name="active">
		<input type="hidden" value="{php if (isset($user_arr['sid'])) echo $user_arr['sid'];}" name="sid">
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right"><span>*</span> 联系电话：</td>
        	<td><input name="phone" id="phone" type="text" style="width:160px;" {$disabled}/></td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
        {if !empty($cooperation) || empty($userid)}
    	<tr>
        	<td align="right"><span>*</span> 所在地区：</td>
        	<td><script>getProvinceSelect43rds('','province','province','city','','10100000');</script>&nbsp;
            	<script>getCitySelect43rds('','city','city','','');</script>
             </td>
        </tr>
        {else}
        <input type="hidden" value="{$user_arr[province]}" name="province" id="province">
        <input type="hidden" value="{$user_arr[city]}" name="city" id="city">
        {/if}
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right">其他联系方式</td>
        	<td>（为了便于联系，您也可以留下其他联系方式）</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right">E-mail:</td>
        	<td><input name="mail" type="text" style="width:160px;" id="mail" {$disabled} value="{php if(isset($user_arr[username])) echo $user_arr['username'];}"/></td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right">MSN:</td>
        	<td><input name="msn" type="text" style="width:160px;" id="msn" {$disabled} /></td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right">QQ:</td>
        	<td><input name="qq" type="text" style="width:160px;" id="qq" {$disabled}/></td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
    	<tr>
        	<td align="right">留言：</td>
        	<td>（请提供活动方案、个人介绍等）</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td></td>
        	<td><textarea name="message" cols="" rows="" style="width:300px; height:140px;" id="message" {$disabled}></textarea></td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
        <tr>
        	<td align="right"><span>*</span>验证码：</td>
        	<td valign="top"><input name="seccode" type="text" style="width:60px;" id="seccode" {$disabled}/><img src="index.php?n=cooperation&h=seccode" onClick="javascript:this.src='index.php?n=cooperation&h=seccode&update=' + Math.random();" />[请输入左边图片中的数字]</td>
        </tr>
        <tr>
        	<td>&nbsp;</td>
        </tr>
        <tr>	
        	<td></td>
        	<td width="300" style="line-height:24px;"><span>加入我们，您的人生不会再索然无味，让我们一起做这份天底下最美丽的事业，做天下最幸福的真爱一生！</span></td>
        </tr>
    </table>
    </div>
    <div class="manu"><input name="submit" type="submit"  value="" style="width:71px; height:20px; background:url(module/cooperation/templates/default/images/tijiao.gif) no-repeat; border:none; cursor:pointer;" {$disabled} /></div>
    </form>
</div>
<div  class="footer"><span>Copyright 2005-2011</span> 版权所有：真爱一生网 闽ICP备09064513号</div>
 <script src="public/system/js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
function trim (str, charlist) {
    var whitespace, l = 0,
        i = 0;
    str += '';
    if (!charlist) {
        whitespace = " \n\r\t\f\x0b\xa0\u2000\u2001\u2002\u2003\u2004\u2005\u2006\u2007\u2008\u2009\u200a\u200b\u2028\u2029\u3000";
    } else {
        charlist += '';
        whitespace = charlist.replace(/([\[\]\(\)\.\?\/\*\{\}\+\$\^\:])/g, '$1');
    }
    l = str.length;
    for (i = 0; i < l; i++) {
        if (whitespace.indexOf(str.charAt(i)) === 0) {
            str = str.substring(i);
            break;
        }
    }
    l = str.length;
    for (i = l - 1; i >= 0; i--) {
        if (whitespace.indexOf(str.charAt(i)) === 0) {
            str = str.substring(0, i + 1);
            break;
        }
    }
    return str;
}
function empty (mixed_var) {
    var key;
    if (mixed_var === "" || mixed_var === 0 || mixed_var === "0" || mixed_var === null || mixed_var === false || typeof mixed_var === 'undefined') {
        return true;
    }
    if (typeof mixed_var == 'object') {
        for (key in mixed_var) {
            return false;
        }
        return true;
    }
    return false;
}
function checkForm(){
    var contact=trim($("#contact").val());
    var phone=trim($("#phone").val());
    var province=trim($("#province").val());
    var city=trim($("#city").val());
    var mail=trim($("#mail").val());
    var msn=trim($("#msn").val());
    var qq=trim($("#qq").val());
    var msg=trim($("#msg").val());
    var seccode=trim($("#seccode").val());
    if(empty(contact)){
        alert('请填写联系人信息!');
        return false;
    }
    if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone)) || empty(phone)){
        alert('手机号码格式输入不正确');
        return false;
    }
    if(!empty(mail)){
        if(!(/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(mail))){
            alert('电子邮件的格式不正确');
            return false;
        }
    }
    if(!empty(msn)){
        if(!(/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(msn))){
            alert('msn的格式不正确');
            return false;
        }
    }
    if(!(province == '10101201' || province =='10102000' || province =='10103000' || province =='10101002' || province =='10104000' || province =='10105000' || province =='10132000' || province =='10133000' || province =='10134000')){   
            if(province == '0' || empty(province) || city=='0'||empty(city)){
                alert('您忘记选择地区这项了!');
                return false;
            }
    }
    if(!empty(qq)){
        if(qq.match(/[1-9][0-9]{4,}/)==null){
            alert('QQ的格式不正确');
            return false;
        }
    }
    if(empty(seccode)){
        alert('请填写验证码');
        return false;
    }
        return true;
 }
{if empty($cooperation) && empty($userid)}
  $(function(){
      $("#province").attr("disabled","disabled");
      $("#city").attr("disabled","disabled");
  });
{/if}
</script>
</body>
</html>
