
<script type="text/javascript" src="public/system/js/jquery-1.8.3.min.js"></script>
<!--{if $GLOBALS['MooUid'] && MooGetGPC('h','string')!='return'&&MooGetGPC('h','string')!='pay'&& MooGetGPC('h','string') != 'picflash' &&  MooGetGPC('h','string') != 'makepic' &&MooGetGPC('h','string') != 'history' && MooGetGPC('h','string') != 'chat'}-->
<script type="text/javascript" src="public/system/js/jquery.floatDiv.js"></script>
<script type="text/javascript" src="public/system/js/rightbottom.js"></script>
<script type="text/javascript" src="public/system/js/jquery.cookie.js"></script>
<!--{/if}-->
<script src="public/system/js/sys3.js"></script>
<script type="text/javascript" src="public/system/js/fancybox/jquery.fancybox-1.2.5.pack.js"></script>
<script type="text/javascript">
$(function(){
	$("a.zoom").fancybox();
});
</script>
<script src="module/space/templates/public/js/preview_pic_new.js" type="text/javascript"></script>
<script type="text/javascript">
	var tab_index = 0;
	var obj_a = {};
	var tab_time;
	var is_lock = 0;
	$(function(){
		$("input[name=search_type][value=1]").attr("checked","checked");
		$("input[name=search_type]").click(function(){
			if(this.value == 1){
				$("#search_more").css("display","");
				$("#search_uid").css("display","none");
			}
			if(this.value == 2){
				$("#search_uid").css("display","");
				$("#search_more").css("display","none");
			}
			
		})
		
		$("#members_list li").hover(function(){
			$(this).addClass("i-m-img-show-hover");
		},function(){
			$(this).removeClass("i-m-img-show-hover");
		});
		$("#members_new li").hover(function(){
			$(this).addClass("get-register-hover");
		},function(){
			$(this).removeClass("get-register-hover");
		});
		

		$("#tab_img a").click(function(){
			tab_click(this.id.split('_')[1]);
		}).mousemove(function(){
			tab_click(this.id.split('_')[1]);
			tab_run(0);
		}).mouseout(function(){
			tab_run(1);
		});
		tab_run(1);
		obj_a =$("#img_tab_box a");
		$("#img_tab_box").mouseover(function(){
			tab_run(0);
		}).mouseout(function(){
			tab_run(1);
		});
	})
	function tab_click(n){
		if(is_lock) return;
		is_lock = 1;
		$("#tab_img a").removeClass("over");
		$("#tab_"+n).addClass("over");
		for( var i=0; i<5; i++ ){
			if( i!=n ){
				obj_a.eq(i).hide();
			}
		}
		obj_a.eq(n).fadeIn("slow" , function(){is_lock = 0;});
		
	}
	function tab_run( t ){
		if( t ){
			if(tab_time)clearInterval( tab_time );
			tab_time = setInterval(function(){
				tab_index = tab_index < 4 ? tab_index + 1 : 0;
				tab_click( tab_index )
			},4000);
		}else{
			clearInterval( tab_time );
		}
	}

$(function(){
	$("a").click(function(event){    
		event.stopPropagation();
	})
})
</script>
<script type="text/javascript">

function checkquicksearch(){
	var age1 = document.getElementById("age1").value;
	var age2 = document.getElementById("age2").value;
	if( age1 == 0 && age2 == 0) {
	alert("请选择年龄");
	document.getElementById("age1").focus();
	return false;
	}
	if(age1!=null && age1!='' && age1==0 && age2!=null && age2!='' && age2!=0) {
	alert("请选择年龄下限");
	document.getElementById("age1").focus();
	return false;
	}
	if(age1!=null && age1!='' && age1!=0 && age2!=null && age2!='' && age2==0) {
	alert("请选择年龄上限");
	document.getElementById("age2").focus();
	return false;
	}
	if(age1!=null && age1!='' && age1!=0 && age2!=null && age2!='' && age2!=0 && age1>age2) {
	alert("您选择的年龄范围不正确，请重新选择");
	document.getElementById("age1").focus();
	return false;
	}
	return;
}

</script>
<script type="text/javascript">
  function userdetail(number,arrayobj) {
  	var arrname = arrayobj;
  	for(i=0;i<arrayobj.length;i++) {
		var valueArray  = arrayobj[i].split(",");
		if(valueArray[0] == number) {
			if(valueArray[0] == '0' && valueArray[1] != '男士') {
				document.write("不限");
				//return '不限';
			} else {
				document.write(valueArray[1]);
			}

		}
  	}
  }
</script>
<script type="text/javascript"> 
//控制图片显示 
function showpic(tt){
	var  show_pic_1 = tt.getAttribute('src');
	var  show_big_pic = tt.getAttribute('flag');
	var  thumbpic = document.getElementsByName('thumbpic');
	for(i=0;i<thumbpic.length;i++){
		thumbpic[i].className = 'tt';
	}
	tt.className = 'tt1';
	show_pic_1 = show_pic_1.replace("41_57", "171_244");
	document.getElementById('show_big_pic').setAttribute('href',show_big_pic);
	document.getElementById('show_pic_1').setAttribute('src',show_pic_1);
}
</script>

<script language="javascript"> 

window.onload=function(){
	var uid={$userid};
	if(typeof(uid)== "undefined" || uid == 0){
		$('#myModal .modal-header button').remove();
		openLogin();
	}
};
//上一页
function prevPhoto(){
	var setpage = parseInt($('#setpage').attr('value'));
	var count = {php echo count($user_pic);};
	var num = 3; //显示3个图片分
	//if(setpage > 0){
		//$('#setpage').attr('value',setpage-1);
	//}
	var currentpage = setpage - 1; //当前页
	if(currentpage >= 0){
		$('#setpage').attr('value',setpage-1);
		for(i=0;i<count;i++){
			$('#ab'+i).css('display','none');
		}
		//当前的页显示的图片
		var pic_min = currentpage * num;
		var pic_max = num + (currentpage * num);
		for(k=pic_min;k<pic_max;k++){
			if(k < count) { //如果已经没有图片了不再操作了
				$('#ab'+k).css('display','');
			}
		}
		$('#img_last').attr('src','module/space/templates/default/images/last.gif');
		if(currentpage == 0){
			$('#img_last').attr('src','module/space/templates/default/images/last-none.gif');
		}
		$('#img_next').attr('src','module/space/templates/default/images/next.gif');
	}else{
		$('#img_last').attr('src','module/space/templates/default/images/last-none.gif');
		$('#img_next').attr('src','module/space/templates/default/images/next.gif');	
	}
}
//下一页
function nextPhoto(){
	var setpage = parseInt($('#setpage').attr('value'));
	var count = {php echo count($user_pic);};
	var num = 3; //显示3个图片分
	var page = Math.ceil(count/3); 
	var currentpage = setpage + 1; //当前页
	if(currentpage <= page-1){
		$('#setpage').attr('value',setpage+1);
		for(i=0;i<count;i++){
			$('#ab'+i).css('display','none');
		}
		//当前的页显示的图片
		var pic_min = currentpage * num;
		var pic_max = num + (currentpage * num); 
		for(k=pic_min;k<pic_max;k++){
			if(k < count) { //如果已经没有图片了不再操作了
				$('#ab'+k).css('display','');
			}
		}
		$('#img_last').attr('src','module/space/templates/default/images/last.gif');
		$('#img_next').attr('src','module/space/templates/default/images/next.gif');
		if(currentpage == page-1){
			$('#img_next').attr('src','module/space/templates/default/images/next-none.gif');
		}
	}else{
		$('#img_last').attr('src','module/space/templates/default/images/last.gif');
		$('#img_next').attr('src','module/space/templates/default/images/next-none.gif');	
	}
}
</script> 

<script type="text/javascript">
//鼠标滑上去有图片提示
this.imagePreview = function(){
	var xOffset=100;
	var yOffset=30;
	//$('a.preview').hover(function(e){
	$("a.preview").hover(function(e){
		var url=this.href;
		$('body').append("<p id='preview'><img src='"+url+"' id='showImg'></p>");
		var image=new Image();
		image.src=this.href;
		var width_img = image.width;
	    var height_img = image.height;
	    w = width_img;
	    h = height_img;
		if(width_img > 600) {
		   w = 600;
		   h = height_img * 600 / width_img;
		}else if(height_img > 480){
		   h = 480;
		   w = width_img * 480 / height_img;
		}
		$('#showImg').css('width',w).css('height',h);
		var e = e ? e : window.event;
		if(e.pageX){
			x1=e.pageX;
			y1=e.pageY;
		}else{
			x1=e.clientX;
			y1=e.clientY;
		}
		$('#preview').css('left',(x1+yOffset)+'px')
		.css('top',(y1-xOffset)+'px')
		.fadeIn('fast'); 
	},
	function(){
		$('#preview').remove();	
	});	
	
	$('a.preview').mousemove(function(e){
		var e = e ? e : window.event;
		if(e.pageX){
			x2 = e.pageX;
			y2 = e.pageY;
		}else{
			x2 = e.clientX;
			y2 = e.clientY;
		} 
		$('#preview')
		.css('top',(y2-xOffset)+'px')
		.css('left',(x2+yOffset)+'px');
	}) 
}


$(document).ready(function(){
	imagePreview();
});

</script>