<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网-活动专题页</title>
<link type="text/css" href="css.css" rel="stylesheet" />

</head>

<body>
<div id="box">
	<div><img src="images/a.jpg" /></div>
    
<!-- 线下活动专题 开始 -->
	<div style="position:relative; ">
    	<img src="images/xianxia.gif" />
    	<div class="ing"><img src="images/ing.gif" /></div> 
	</div>
    <div class="qixi">
    	<div class="tv_l"></div>
    	<div class="tv_m">
        
        <!-- 8月12日 添加 -->
        	<dl>
                <div class="number">
                	<div style="background:#ffe5eb; border-bottom:1px #999 dashed; "><b>已报名<span>130</span>人</b></div>
                    <div style="background:#ffe5eb; border-bottom:1px #f583b0 solid;">仅剩<span>47</span>天</div>
                    <div style="padding:5px 0; height:22px;"><a href="#"><img src="images/manu.gif" /></a></div>
                    <div><a href="#">[详细]</a></div>
                </div>            	
            	<div class="title"><img src="images/look.gif" /></div>
            	<dt><a href="#"><img src="images/eye.jpg" /></a></dt>
                <dd>
                	<p><b>时间：</b><span>待定（活动前电话确认或短信通知）</span></p>
                    <p><b>地点：</b>待定（报名后提前一天短信通知）</p>
                    <p><b>活动简介：</b>本次活动的目的就是为单身男女搭建互相认识和了解的平台，在轻松自在的氛围中</p>
					<p>让他们彼此认识，进而相知相恋到相守，从而成功牵线。</p>
                </dd>
                <div>
                	<div></div>
                </div>
            </dl>
        <!-- 8月12日添加结束 -->
        
        	<dl>
                <div class="number">
                	<div style="background:#ffe5eb; border-bottom:1px #999 dashed; "><b>已报名<span>130</span>人</b></div>
                    <div style="background:#ffe5eb; border-bottom:1px #f583b0 solid;">仅剩<span>47</span>天</div>
                    <div style="padding:5px 0; height:22px;"><a href="#"><img src="images/manu.gif" /></a></div>
                    <div><a href="#">[详细]</a></div>
                </div>            	
            	<div class="title"><img src="images/biaobai.gif" /></div>
            	<dt><a href="#"><img src="images/biaobai.jpg" /></a></dt>
                <dd>
                	<p><b>时间：</b><span>待定（活动前电话确认或短信通知）</span></p>
                    <p><b>地点：</b>待定（报名后提前一天短信通知）</p>
                    <p><b>活动简介：</b>本次活动的目的就是为单身男女搭建互相认识和了解的平台，在轻松自在的氛围中</p>
					<p>让他们彼此认识，进而相知相恋到相守，从而成功牵线。</p>
                </dd>
                <div>
                	<div></div>
                </div>
            </dl>
        	<dl>
                <div class="number">
                	<div style="background:#ffe5eb; border-bottom:1px #999 dashed; "><b>已报名<span>130</span>人</b></div>
                    <div style="background:#ffe5eb; border-bottom:1px #f583b0 solid;">仅剩<span>47</span>天</div>
                    <div style="padding:5px 0; height:22px;"><a href="#"><img src="images/manu.gif" /></a></div>
                    <div><a href="#">[详细]</a></div>
                </div>  
            	<div class="title"><img src="images/qixi.gif" /></div>
            	<dt><a href="#"><img src="images/qx.jpg" /></a></dt>
                <dd>
                	<p><b>时间：</b><span>待定（活动前电话确认或短信通知）</span></p>
                    <p><b>地点：</b>合肥（报名后提前一天短信通知）</p>
                    <p><b>活动简介：</b>七夕鹊桥见，情谊两绵绵。本次活动的目的就是为单身男女搭建互相认识</p>
					<p>和了解的平台，在轻松自在的氛围中让他们彼此相识，进而相知相恋到相守，从而成</p>
					<p>功牵线。</p>
                </dd>
                <div>
                	<div></div>
                </div>
            </dl>
        </div>
    	<div class="tv_r"></div>
        <div class="clear"></div>
    </div>
	<div><img src="images/bottom.gif" /></div>
<!-- 线下活动专题 结束 -->
    
<!-- 电视节目活动 开始 -->
	<div class="huodong">
    	<div><a class="more_one" href="#"></a></div>
    </div>
    <div class="clear"></div>
	<div class="tv">
    	<div class="tv_l"></div>
        <div class="tv_m">
        	<dl>
                <div class="number">
                	<div style="background:#ffe5eb; border-bottom:1px #999 dashed; "><b>已报名<span>130</span>人</b></div>
                    <div style="background:#ffe5eb; border-bottom:1px #f583b0 solid;">仅剩<span>47</span>天</div>
                    <div style="padding:5px 0; height:22px;"><a href="#"><img src="images/manu.gif" /></a></div>
                    <div><a href="#">[详细]</a></div>
                </div>            	
                <div class="title"><img src="images/ahtv.gif" /></div>
            	<dt><a href="#"><img src="images/zr.jpg" /></a></dt>
                <dd>
                	<p><b>时间：</b><span>待定（活动前电话确认或短信通知）</span></p>
                    <p><b>地点：</b>合肥（报名后提前一天短信通知）</p>
                    <p><b>活动简介：</b>2010年以后，安徽卫视品牌战略更加突出与鲜明，安徽卫视继续高举”剧</p>
					<p>行天下，爱传万家”的品牌大旗笑傲传媒江湖，《周日我最大》全新改版升级,与红</p>
					<p>娘网强强联手，全力出击，期待您的参与...</p>
                </dd>

            </dl>
        	<dl>
                <div class="number">
                	<div style="background:#ffe5eb; border-bottom:1px #999 dashed; "><b>已报名<span>130</span>人</b></div>
                    <div style="background:#ffe5eb; border-bottom:1px #f583b0 solid;">仅剩<span>47</span>天</div>
                    <div style="padding:5px 0; height:22px;"><a href="#"><img src="images/manu.gif" /></a></div>
                    <div><a href="#">[详细]</a></div>
                </div>            	
                <div class="title"><img src="images/lntv.gif" /></div>
            	<dt><a href="#"><img src="images/xf.jpg" /></a></dt>
                <dd>
                	<p><b>时间：</b><span>待定（活动前电话确认或短信通知）</span></p>
                    <p><b>地点：</b>待定（报名后提前一天短信通知）</p>
                    <p><b>活动简介：</b>2011，辽宁卫视全新形态交友互动王牌主持刘仪伟、宫昊强强联手，联新</p>
					<p>颖，更刺激，更有趣的方式成全您的爱情！每期节目现场将有36位充满个性的靓丽单</p>
					<p>身女嘉宾来到现场，选择他们心仪的男生。男生女生快....</p>
                </dd>
            </dl>
        	<dl style="padding-bottom:0;">
                <div class="number">
                	<div style="background:#ffe5eb; border-bottom:1px #999 dashed; "><b>已报名<span>130</span>人</b></div>
                    <div style="background:#ffe5eb; border-bottom:1px #f583b0 solid;">仅剩<span>47</span>天</div>
                    <div style="padding:5px 0; height:22px;"><a href="#"><img src="images/manu.gif" /></a></div>
                    <div><a href="#">[详细]</a></div>
                </div>            	
            	<div class="title"><img src="images/hbtv.gif" /></div>
            	<dt><a href="#"><img src="images/xq.jpg" /></a></dt>
                <dd>
                	<p><b>时间：</b><span>待定（活动前电话确认或短信通知）</span></p>
                    <p><b>地点：</b>待定（报名后提前一天短信通知）</p>
                    <p><b>活动简介：</b>2011，湖北卫视全新形态交友互动节目《相亲齐上阵》！通过更新颖，更</p>
					<p>刺激，更有趣的方式成全您的爱情！每期节目现场将有节目中12位单身女生和12位家</p>
					<p>长联袂亮相，选择他们心仪的男生。男生女生快来报名吧……</p>
                </dd>
            </dl>
        </div>
        <div class="tv_r"></div>
    </div>  
	<div><img src="images/shang_b.gif" /></div>
<!-- 电视节目活动 结束-->
    <div class="clear"></div>
    <div><img src="images/h.jpg" /></div>
    <ol>
    	<li><img src="images/l_b.jpg" /></li>
    	<li><img src="images/maer.jpg" /></li>
    	<li class="font_two">
        	<div>去马尔代夫让爱情升华</div>
        	<p>曾经的我总是充满憧憬，喃喃念叨：“我要和他（她）去马尔代夫度蜜月，那里椰林树荫，水清幼沙，蓝天白云，是位于印度洋上失落的天堂……”。今天，来到真爱一生网这里，我不仅寻找到了唯一的他（她）更是有机会去那失落天堂尽情的享受二人的世界。</p>
            <p><a href="#">[详细]</a></p>
        </li>
    </ol>
    <div class="clear"><img src="images/k.jpg" /></div>
    <ol>
    	<li><img src="images/l_b.jpg" /></li>
    	<li><img src="images/500w.jpg" /></li>
    	<li class="font_two">
        	<div>500万约会基金先期理赔计划</div>
        	<p>网络婚恋服务因为其选择面大，沟通更为便捷、快速、自由以及更节省时间、金钱等优势，越来越多的受到单身族们的欢迎，更多的单身男女也开始选择网络婚恋服务这个平台来寻觅自己的情缘。</p>
            <p>在网络婚恋服务业中，真爱一生网以其严肃、正规、专业和极高的牵线成功率在业内的知名度更是越来越高！真爱一生网有着严格的身份认证机制和....</p>
            <p><a href="#">[详细]</a></p>
        </li>
    </ol>
    <div class="clear"></div>
    <div><img src="images/j.jpg" /></div>
    <div id="footer">
        <p><a href="#">关注我们</a> | <a href="#">媒体关注</a> |<a href="#"> 联系我们</a> |<a href="#"> 合作伙伴</a> | <a href="#">意见反馈</a> | <a href="#">成功故事</a>| <a href="#">汇款信息</a> | <a href="#">其他信息</a></p>
        <p></p>
        <div style="text-align:center; "><img src="images/footer.jpg" /></div>
        <p>Copyright 2005-2010 版权所有：真爱一生网 闽ICP备09064513号</p>
        <p>真爱一生网备用域名：www.hongniangw.com | www.hongniangwang.com</p>
        <div style="height:20px;"></div>
    </div>

</div>
</body>
</html>
