<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>真爱一生休闲吧——真爱一生网</title>
    {template system/js_css public}
    <link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">

    <link type="text/css" rel="stylesheet" href="module/lovestation/templates/default/basic.css">
    <link type="text/css" rel="stylesheet" href="module/lovestation/templates/default/help.css">
</head>

 <body>
 {template system/header public}
 <!--头部结束-->
 <div class="wrap bc w980">
     <div class="head pr">
         <a href="###" class="link pa"></a>
     </div>
     <div class="main">
         {loop $data $k $v}
         <div class='content pr{php if($k!=0) echo " mt15"}'>
             <p class="title tl fb f14 pl10">{php echo ++$k;}.会员：{php echo empty($v['nickname'])?$v['username']:$v['nickname'];}</p>
             <p class="mt15 ml30 question"><span class="help">求助：</span>{$v['question']}</p>
             <p class="pa expert fb">真爱一生专家意见：</p>
            <ul class ="suggest ml100 mt20">
                <li>{$v['answer']}</li>
            </ul>
         </div>
             {/loop}

     </div>
     <div><img src="module/lovestation/templates/default/images/footer.gif" /></div>
 </div>
      {template system/footer public}


 </body>
</html>
