<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="module/lovestation/templates/default/lovestation.css?v=1" type="text/css" />
<title>真爱一生网 - 爱情驿站</title>
{template system/js_css public}

</head>
<body>
{template system/header public}
<div class="content">
    <div>
       <img src="module/lovestation/templates/default/images/lovestation_nav.jpg" alt="爱情驿站" width="982" height="1950" border="0" usemap="#Map"  />
        <map name="Map" id="Map">
          <area shape="rect" coords="749,638,937,675" href="index.php?n=lovestation&h=crazyfan" />
          <area shape="rect" coords="682,1453,916,1498" href="index.php?n=lovestation&h=carfaq" />
          <area shape="rect" coords="756,1071,936,1107" href="index.php?n=lovestation&h=lovecar" />
          <area shape="rect" coords="318,1772,520,1813" href="index.php?n=lovestation&h=carrelaxbar" />
        </map>
    </div>

	
	{template system/footer public} 
	<!--
    <div class="lovefooter">
        <div class="lovenav">
            <ul>
                <li><a href="index.php?n=about&h=us">关于我们</a><span></span></li>
                <li><a href="index.php?n=about&h=contact">联系我们</a><span></span></li>
                <li> <a href="index.php?n=about&h=links">合作伙伴</a><span></span></li>
                <li><a href="index.php?n=about&h=getsave">意见反馈</a><span></span></li>
                <li><a href="index.php?n=story">成功故事</a><span></span></li>
                <li><a href="index.php?n=payment&h=channel_diamond">汇款信息</a><span></span></li>
                <li><a href="index.php?n=payment&h=payDetail">支付细则</a> <span></span> </li>
                <li>其他信息</a><span></span></li>
                <li><a href="index.php?n=payment&h=introduce">服务介绍</a></li>
            </ul>
           
        </div>
        <div class="lovefoo">
          
        </div>
        <p>Copyright 2005-2012 版权所有：真爱一生网 <a target="_blank" href="http://www.miitbeian.gov.cn">皖ICP备12008609号-1</a></p>
    </div>
	-->
</div>
</body>
</html>
