<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网 - 奥运酬宾活动</title>
{template system/js_css public}
<style type="text/css">

</style>
</head>

<body>
{template system/header public}<!--head-search end-->

<div style="width:982px; height:auto;margin:0 auto;">
    
	<img src="module/activity/templates/default/images/chinaglod/bigglod.jpg" width="982" height="1906" border="0" usemap="#Map" />
	
	<map name="Map" id="Map">
	   <area shape="rect" coords="392,1765,592,1805" href="index.php?n=index&h=govip" />
	</map>
    
</div>
{template system/footer public}<!--foot end-->
</body>
</html>
