<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>穿越情人节-遇见幸福-遇见爱</title>
{template system/js_css public}
<style type="text/css">

</style>
</head>

<body>
{template system/header public}<!--head-search end-->
<div style="width:982px;height:1520px;margin:0 auto;">
    <div style="background:url(module/activity/templates/default/images/valentine/top.jpg) no-repeat; width:982px; height:488px;"></div>
    <div style="background:url(module/activity/templates/default/images/valentine/border-top.jpg) no-repeat; width:982; height:45px;"></div>
    <div style="width:982px;">
    	<div style="background:url(module/activity/templates/default/images/valentine/border-left.jpg) no-repeat; width:45px; height:987px;float:left;"></div>
        <div style="width:891px; height:987px;float:left;">
        	<div style="width:891px; height:935px;background: url(module/activity/templates/default/images/valentine/content.jpg) no-repeat;">
            </div>
            <div style="width:201px; height:45px; margin:-83px auto 38px">
            	<a href="index.php?n=index&h=govip" target="_blank"><img src="module/activity/templates/default/images/valentine/anniu.png" width="201" height="45"></a>
            </div>
            <div style="float:none;"></div>
        	<div style="background:url(module/activity/templates/default/images/valentine/border-bottom.jpg) no-repeat; width:891px; height:52px;"></div>
            </div>
        <div style="background:url(module/activity/templates/default/images/valentine/border-right.jpg) no-repeat; width:46px; height:987px;float:left;"></div>
    </div>
</div>
{template system/footer public}<!--foot end-->
</body>
</html>
