<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美丽女人节-想爱就爱</title>
{template system/js_css public}
<link href="module/activity/templates/default/women.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}<!--head-search end-->
<div id="box">
<div id="box_bg"></div>
<div id="content">
	<div id="left_bg"></div>
    <div class="center">
    	<div class="activity">
         <h2>时间：2012年3月3日0点——2012年3月8日24点</h2>
         <p>&nbsp;&nbsp;&nbsp;&nbsp;快乐三八妇女节，三月是春暖花开，寻找真情的黄金时期。在三八妇女节这样特殊的节日里，为了让单身女人早日找到人生幸福，让男人知道如何关爱女人，真爱一生网7651.com特意举办了一场 “美丽女人节，想爱就爱”神秘大礼包回馈活动。</p>
        </div>
        <div class="condition">
        	<p></p>
<div class="activity height">
             <span>2012年3月3日0点——2012年3月8日24点期间，升级的VIP会员，均可参加活动。参与者除了可以享受活动期间的一
切礼品外，同时还有可能被选中参加3月8号当天的抽奖活动。</span>
            </div>
            <div class="awards">
            	<p></p>
            	<div class="awards_conter">
                <img src="module/activity/templates/default/images/awards_title1.gif" width="378" height="51" />
               <dl>
               <img src="module/activity/templates/default/images/font.gif" width="683" height="136" />
               <dt>针对活动期间升级的男士可获得一次与真爱一生网情感专家进行咨询如何更好的呵护自己的另一半。</dt>
               </dl>
                 <img src="module/activity/templates/default/images/awards_title2.gif" width="379" height="52" />
                 <dl>
                   <img src="module/activity/templates/default/images/title1.gif" width="200" height="19" />
                   <dd>A、活动期间升级的VIP会员。</dd>
                   <dd>B、年龄必须在22岁以上。</dd>
                   <dd>C、已经有选中的对象。满足以上条件者，公司将会从中抽取部分会员来参加抽奖活动<span>（会员或者会员家属只要是3月8号生日都可以直接参加抽奖）</span></dd>
                 
                 </dl>
                 <dl>
                   <img src="module/activity/templates/default/images/title2.gif" width="120" height="20" />
                   <dd><div class="color">一等奖：</div>在服务期间内寻找到人生伴侣，真爱一生网免费帮其策划并主持订婚仪式或结婚仪式。</dd>
                   <dd><div class="color">二等奖：</div>真爱一生网金牌2对1服务（资深高级真爱一生和爱情顾问）。</dd>
                   <dd><div class="color">三等奖：</div>在服务期间，由真爱一生网的真爱一生牵线并成功确定恋爱关系后，免费赠送两人第一次异地旅游往返车票。</dd>
                   <dd><div class="color">四等奖：</div>真爱一生网提供话费充值卡一张，帮助会员电话传情。</dd>
                   <dd><div class="color">五等奖：</div>真爱一生网特意定做的生日蛋糕一份！</dd>
                   <dd><div class="color">六等奖：</div>男会员可获得真爱一生网特意定制的真情告白鲜花一束并附真情告白秘诀一份。</dd>
                 </dl>
                 <div class="copyright">合肥市红之娘网络信息科技有限公司保留本次活动的最终解释</div>
              </div>
                
            
            </div>
        	
        </div>
        
  <div class="button"> <form id="form1" name="form1" method="post" action="index.php?n=index&h=govip">
            <input type="submit" name="button" id="button" value="" />
          </form></div>
      
 </div> 
   
    <div id="right_bg"></div>
   <div class="clear"></div> 
    
</div>

</div>
{template system/footer public}<!--foot end-->
</body>
</html>
