<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网-—爱在旅途三日游旅游活动</title>
<link href="module/activity/templates/default/new_css.css?v=1" rel="stylesheet" type="text/css" />
{template system/js_css public}
 
<script LANGUAGE="Javascript" src="module/activity/templates/public/js/jquery.jplayer.min.js"></script>
<SCRIPT language="JavaScript" type="text/javascript">
var two=1;
var sex=1;
			function changeboxDiv(o)
			{
				if(o == 2){
					sex = 0;
				}else{
					sex = 1;
				}
				
				for(var i=1;i<=2;i++)
				{
					if(o==i)
						{
							document.getElementById("class"+i).style.background="url(module/activity/templates/default/images/activity_new/sidebar_h2_thisclass.jpg) no-repeat";
							document.getElementById("class"+i).style.color="#de016b";
							document.getElementById("cont"+i).style.display="";
						}
					else
						{
							document.getElementById("class"+i).style.background="url(module/activity/templates/default/images/activity_new/sidebar_h2_otherclass.jpg) no-repeat";
							document.getElementById("class"+i).style.color="#2b73c7";
							document.getElementById("cont"+i).style.display="none";
						}
				}
			two=o;
			}


			
	function page(pg){
	
    if(sex=='1'){
        var total=$("#nv_total").val();
		var np=$("#now").html();
    }else{
        var total=$("#nan_total").val();
		var np=$("#now").html();
    }
	
   if(pg=='up'){
       if(np==1){
           np=1;
        }else{
        	np=parseInt(np)-1;
		}
	
    }
	
    if(pg=='next'){
        if(np==total){
           np=total;
        }else{
           np=parseInt(np)+1;
		}
    }
	
   $.get('ajax.php',{n:"activity",h:"page",sex:sex,page:np,channel:'12'},function(data){
  		
        if(sex=='1'){
            $("#cont1").html(data);
			$("#now").html(np);
        }else{
            $("#cont2").html(data);
			$("#now").html(np);
        }
       
   });
}		
$(document).ready(function(){
	$("#jquery_jplayer_2").jPlayer({
		ready: function () {
			$(this).jPlayer("setMedia", {
				mp3: "module/activity/templates/public/js/gaobai.mp3"
			}).jPlayer("play");
		},
		
		swfPath: "module/activity/templates/public/js",
		supplied: "mp3"
	});
	
});	
 </SCRIPT>
	
</head>

<body>
<div id="jquery_jplayer_1"></div> 

<div id="activity_wrap">
	{template system/header public}
	<div id="activity_content">
    	<div class="category">
        	<div class="post post_sign">
            	<div class="round_l_t"><img src="module/activity/templates/default/images/activity_new/round_l_t_bg.jpg" /></div>
                <div class="round_r_t"><img src="module/activity/templates/default/images/activity_new/round_r_t_bg.jpg" /></div>
                <div class="round_l_b"><img src="module/activity/templates/default/images/activity_new/round_l_b_bg.jpg" /></div>
                <div class="round_r_b"><img src="module/activity/templates/default/images/activity_new/round_r_b_bg.jpg" /></div>
            	<div class="sign_cont clearfix">
                	<h2>{$activity[0]['title']}</h2>
                    <div class="sign">
                    	<div class="sign_btn"><a href="index.php?n=activity&h=register&channel=12"><img src="module/activity/templates/default/images/activity_new/sign_btn.jpg" /></a></div>
                        <p class="times">{$last_time}</p>
                        <p class="number">已经有<span>{$num_all}</span>名会员报名参加</p>
                        <ul class="boyandgirl clearfix">
                        	<li>
                            	<img src="module/activity/templates/default/images/activity_new/boy.jpg" />
                                <span>{$qixi_regest_count[0]}</span>男士
                            </li>
                            <li>
                            	<img src="module/activity/templates/default/images/activity_new/girl.jpg" />
                                <span>{$qixi_regest_count[1]}</span>女士
                            </li>
                        </ul>
                        <ul class="logo clearfix">
                        	<li><img src="module/activity/templates/default/images/activity_new/activity_logo1.jpg" /></li>
                            <li><img src="module/activity/templates/default/images/activity_new/fu.jpg" /></li>
                            <li class="other_sign"><a href="http://7651.com/index.php?n=activity&h=activity"><img src="module/activity/templates/default/images/activity_new/other_sign_btn.jpg" /></a></li>
                        </ul>
                    </div>
                    <div class="gallery">
                    	<img src="module/activity/templates/default/images/activity_new/road_1.jpg" />
                        <ul>
                        	<li class="line">
                            	<dl>
                                	<dt>提示：</dt>
                                    <dd><span>活动时间：</span>2011年09月02日-04日</dd>
									
                                    <dd><span>活动地点：</span>{$last_place}</dd>
                                </dl>
                            </li>
                            <li>
                            	<dl>
                                	<dt>要求：</dt>
                                    <dd><span>特别要求：</span>男士22-38岁，女士秀自我，邀约身边的朋友
漫时光一起幸福告别单身！</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post activity_infor">
            	<div class="entry">
                	<h2>活动详情</h2>
                    <ul class="infor">
                    	<li>活动主办： 真爱一生网<span>（www.zhenaiyisheng.cc）</span></li>
                        <li>主&nbsp;&nbsp;&nbsp;&nbsp;题：<span>爱在旅途三日游旅游活动</span></li>
                        <li>聚会时间：2011年09月02日-04日</li>
                        <li>地&nbsp;&nbsp;&nbsp;&nbsp;点：{$last_place}</li>
                        <li>对&nbsp;&nbsp;&nbsp;&nbsp;象：男士25-38岁，女士22-35岁。</li>
                        <li>费&nbsp;&nbsp;&nbsp;&nbsp;用：468元/位（活动费用，各色饮品）</li>
                        <li>咨询热线：<span>400-678-0405</span></li>
                        <li>报名须知：诚邀都市单身男女参加本次活动。</li>
                        <li>特别要求：<span>男士25-38岁，女士22-35岁！精心打扮，寻找爱的回忆，大胆展示，秀出最真的自我，邀约身边
的朋友，在浪漫时光里一起幸福告别单身！</span></li>
                    </ul>
                </div>
                <div class="entry">
                	<h2>活动规则</h2>
					
                          	
                     
                    <p style="margin-top:69px;">活力四射的篝火晚会：<span>展示真我的最佳舞台，最动情的歌唱给最心动的TA</span></p>
					<p style="margin-top:15px;">激情创意的沙滩比赛：<span>与最心仪的TA共筑对美好未来的畅想</span></p>
					<p style="margin-top:15px;">夏日风情的赶海之约：<span>光着脚丫牵着手在万沙滩涂上收获一个又一个惊喜</span> </p>
					 <p style="margin-top:15px;">温馨浪漫的烛光晚餐：<span>在朦胧的烛光中向最钟意的TA真情告白</span></p>
					<p style="margin-top:15px;"><span>寻找爱的箴言、智趣活动大考验、天幕下的漫步等众多创意活动期待您的参与</span></p>
					 <p style="margin-top:15px;">友 情 小 贴 士：<span>可以带上您的寻爱工具（吉他、音乐素材、小礼物。。。）</span></p>
					<p style="margin-top:15px;"><span>畅游海滨（泳衣、泳镜、托鞋、防晒霜。。。）</span></p>
					<p style="margin-bottom:70px;"></p>


                </div>
                <div class="entry">
                	<h2>活动亮点</h2>
                    <ul class="lightspot">
                    	<li>更浪漫：<span>现场相亲，从相识相约到相知相恋，点点滴滴都将记录下来，爱的誓言都将被众人见证。为您与
TA的缘分，增添更多感动的回忆。</span></li>
                        <li>更真实：<span>从网络走向现实，这样您离幸福又更近了一步，从模糊变成真实。</span></li>
                        <li>更安全：<span>进场的每位会员都必须出示国家颁发的有效身份证件，为活动的安全保驾护航。</span></li>
                        <li>更温馨：<span>网络文字，带来的仅限于冰冷冷的感觉，活动中，您更能体会到TA的热情与温暖。</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="activity_sidebar">
    	<div class="post">
        	<div class="round_l_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_t.jpg" /></div>
            <div class="round_r_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_t.jpg" /></div>
            <div class="round_l_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_b.jpg" /></div>
			<div class="round_r_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_b.jpg" /></div>
        	<h2>已报名
            	<a href="#" id="class2" onMouseMove="changeboxDiv(2)">男生</a>
                <a href="#" id="class1" onMouseMove="changeboxDiv(1)">女生</a> 
				           </h2>
<div id="cont1" class="entry" >
            	<dl class="apply" id="cont1" style="height:285px;">
				  {php $edu_array=array('3'=>'高中及以下','4'=>'大专','5'=>'大学本科','6'=>'硕士','7'=>'博士')}
                	<dt><span class="name">呢称</span><span class="sex">性别</span><span class="age">年龄</span><span class="education">学历</span></dt>
					{loop $woman_qixi_regest  $key $nv}
                    <dd><span class="name"><a href='index.php?n=space&uid={$nv[uid]}' target="_blank">{php echo MooCutstr($nv[nickname], 8,'')}</a></span>
					<span class="sex"><img src="module/activity/templates/default/images/activity_new/girl_icon.jpg" /></span>
					<span class="age">{php echo empty($nv[birthyear])?'保密':(date('Y')-$nv[birthyear]);}</span>
					<span class="education">{php echo empty($edu_array[$nv[education]])?'保密':$edu_array[$nv[education]];}</span></dd>
					{/loop}
                
                </dl>
              
            </div>
            <div id="cont2" class="entry" style="display: none;">
				<dl class="apply" style="height:285px;">
                	<dt><span class="name">呢称</span><span class="sex">性别</span><span class="age">年龄</span><span class="education">学历</span></dt>
					{loop $man_qixi_regest  $key $nv}
                    <dd><span class="name"><a href='index.php?n=space&uid={$nv[uid]}' target="_blank">{php echo MooCutstr($nv[nickname], 8,'')}</a></span><span class="sex"><img src="module/activity/templates/default/images/activity_new/man.jpg" /></span>
					<span class="age">{php echo empty($nv[birthyear])?'保密':(date('Y')-$nv[birthyear]);}</span>
					<span class="education">{php echo empty($edu_array[$nv[education]])?'保密':$edu_array[$nv[education]];}</span></dd>
                   {/loop}
                </dl>
				 
				 	
                	
               
            </div>
			<div class="pagenav">
			<input type="hidden" value="{php echo ($qixi_regest_count[1]%9)?(intval($qixi_regest_count[1]/9)+1):(intval($qixi_regest_count[1]/9))}" id="nv_total">
                            <input type="hidden" value="{php echo ($qixi_regest_count[0]%9)?(intval($qixi_regest_count[0]/9)+1):(intval($qixi_regest_count[0]/9))}" id="nan_total">
			<p><a href="javascript:page('up');">上一页</a><span id="now">1</span><a href="javascript:page('next');">下一页</a></p>
			 </div>
        </div>
        <div class="post clearfix" style="height:160px;">
        	<div class="round_l_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_t.jpg" /></div>
            <div class="round_r_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_t.jpg" /></div>
            <div class="round_l_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_b_nobg.jpg" /></div>
			<div class="round_r_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_b_nobg.jpg" /></div>
        	<h2>近期活动</h2>
            <ul class="news">
				{loop $act_con $k $v}
				<li>{$v[time]} <a href="{$v['href']}">{$v[title]}</a><img src="module/activity/templates/default/images/activity_new/new.jpg" /></li>
				{/loop}
				{loop $act_con_last $k $v}
				<li>{$v[time]} <a href="{$v['href']}">{$v[title]}</a></li>
				{/loop}
            </ul>
        </div>
        <div class="post">
        	<div class="round_l_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_t.jpg" /></div>
            <div class="round_r_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_t.jpg" /></div>
            <div class="round_l_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_b_nobg.jpg" /></div>
			<div class="round_r_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_b_nobg.jpg" /></div>
        	<h2>往期回顾<a href="#" class="more">更多</a></h2>
            
            <ul class="review">
			{loop $act_con2 $k $v}
			<li><a href="{$v['href']}">{$v[title]}</a></li>
			{/loop}
            	
				
            </ul>
        </div>
        <div class="post">
        	<div class="round_l_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_t.jpg" /></div>
            <div class="round_r_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_t.jpg" /></div>
            <div class="round_l_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_b_nobg.jpg" /></div>
			<div class="round_r_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_b_nobg.jpg" /></div>
        	<h2>活动合作</h2>
            <img class="cooperation_img" src="module/activity/templates/default/images/activity_new/sidebar_cooperation.jpg" />
            <ul class="cooperation">
            	<li>希望与真爱一生网合作举办活动<a href="index.php?n=cooperation&h=company&cooptype=1">进入>></a></li>
                <li>希望为活动赞助物品或现金<a href="index.php?n=cooperation&h=company&cooptype=2">进入>></a></li>
                <li>让会员和您企单身员工联谊<a href="index.php?n=cooperation&h=company&cooptype=3">进入>></a></li>
                <li>让我们策划主持您企业活动<a href="index.php?n=cooperation&h=company&cooptype=4">进入>></a></li>
            </ul>
        </div>
        <div class="post">
        	<div class="round_l_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_t.jpg" /></div>
            <div class="round_r_t"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_t.jpg" /></div>
            <div class="round_l_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_l_b_nobg.jpg" /></div>
			<div class="round_r_b"><img src="module/activity/templates/default/images/activity_new/sidebar_round_r_b_nobg.jpg" /></div>
        	<h2>活动志愿者报名</h2>
            <img class="volunteer_img" src="module/activity/templates/default/images/activity_new/sidebar_volunteer.jpg" />
            <dl class="volunteer">
            	<dt>我口齿伶俐思维敏捷有主持经验
想成为志愿者</dt>
                <dd>希望与真爱一生网提供主持服务<a href="index.php?n=cooperation&h=company&cooptype=7">点击进入>></a></dd>
                <dd>希望为活动提供志愿者服务<a href="index.php?n=cooperation&h=personal&a=6">点击进入>></a></dd>
            </dl>
        </div>
    </div>
    <div class="activity">
    	<h2><img src="module/activity/templates/default/images/activity_new/activity.jpg" /></h2>
    	<div class="entry clearfix">
            <div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"><img src="module/activity/templates/default/images/activity_new/activity_img_l_icon.jpg" /></div>
            <div class="Cont" id="ISL_Cont">
                <div class="ScrCont">
                     <div id="List1">
                        <!-- 图片列表 begin -->
                        <div class="pic"><img src="module/activity/templates/default/images/azlt/01.jpg" />
                        </div>
                        <div class="pic"><img src="module/activity/templates/default/images/azlt/02.jpg" />
                        </div>
                        <div class="pic"><img src="module/activity/templates/default/images/azlt/03.jpg" />
                        </div>
                        <div class="pic"><img src="module/activity/templates/default/images/azlt/04.jpg" />
                        </div>
                        <div class="pic"><img src="module/activity/templates/default/images/azlt/05.jpg" />
                        </div>
                        <div class="pic"><img src="module/activity/templates/default/images/azlt/06.jpg" />
                        </div>
						<div class="pic"><img src="module/activity/templates/default/images/azlt/07.jpg" />
                        </div>
						<div class="pic"><img src="module/activity/templates/default/images/azlt/08.jpg" />
                        </div>
                        <!-- 图片列表 end -->
                    </div>
                    <div id="List2"></div>
                   </div> 
            </div>
            <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"><img src="module/activity/templates/default/images/activity_new/activity_img_r_icon.jpg" /></div>
    	</div>
        <div><img src="module/activity/templates/default/images/activity_new/friend_bottom.jpg" /></div>
	</div>
<script language="javascript" type="text/javascript">
<!--//--><![CDATA[//><!--
//图片滚动列表 mengjia 070816
var Speed = 0.01; //速度(毫秒)
var Space = 5; //每次移动(px)
var PageWidth = 234; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();
function GetObj(objName){if(document.getElementById){return eval('document.getElementById("'+objName+'")')}else{return eval('document.all.'+objName)}}
function AutoPlay(){ //自动滚动
 clearInterval(AutoPlayObj);
 AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',5000); //间隔时间
}
function ISL_GoUp(){ //上翻开始
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp(){ //上翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0){
  Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}
function ISL_ScrUp(){ //上翻动作
 if(GetObj('ISL_Cont').scrollLeft <= 0){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth}
 GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
 clearInterval(MoveTimeObj);
 if(MoveLock) return;
 clearInterval(AutoPlayObj);
 MoveLock = true;
 ISL_ScrDown();
 MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
 clearInterval(MoveTimeObj);
 if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 ){
  Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
  CompScr();
 }else{
  MoveLock = false;
 }
 AutoPlay();
}
function ISL_ScrDown(){ //下翻动作
 if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
 GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr(){
 var num;
 if(Comp == 0){MoveLock = false;return;}
 if(Comp < 0){ //上翻
  if(Comp < -Space){
   Comp += Space;
   num = Space;
  }else{
   num = -Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft -= num;
  setTimeout('CompScr()',Speed);
 }else{ //下翻
  if(Comp > Space){
   Comp -= Space;
   num = Space;
  }else{
   num = Comp;
   Comp = 0;
  }
  GetObj('ISL_Cont').scrollLeft += num;
  setTimeout('CompScr()',Speed);
 }
}
//--><!]]>
</script>

    <div class="friend_link clearfix">
    	<h2><img src="module/activity/templates/default/images/activity_new/friend_link.jpg" /></h2>
        <div class="entry clearfix">
        	<ul>
            	<li><a href="http://www.sina.com.cn/"><img src="module/activity/templates/default/images/activity_new/friend_icon1.jpg" /></a></li>
                <li><a href="http://www.sohu.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon2.jpg" /></a></li>
                <li><a href="http://www.baidu.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon3.jpg" /></a></li>
                <li><a href="http://www.qq.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon4.jpg" /></a></li>
                <li><a href="http://www.k666.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon5.jpg" /></a></li>
                <li><a href="http://www.163.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon6.jpg" /></a></li>
                <li><a href="http://www.114la.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon7.jpg" /></a></li>
                <li><a href="http://www.chinaunicom.com.cn/"><img src="module/activity/templates/default/images/activity_new/friend_icon8.jpg" /></a></li>
                <li><a href="index.php?n=payment&h=ifyouaretheone_index"><img src="module/activity/templates/default/images/activity_new/friend_icon9.jpg" /></a></li>
                <li><a href="http://www.ahtv.cn/"><img src="module/activity/templates/default/images/activity_new/friend_icon10.jpg" /></a></li>
                <li><a href="http://www.52hbtv.com/"><img src="module/activity/templates/default/images/activity_new/friend_icon11.jpg" /></a></li>
            </ul>
        </div>
        <div><img src="module/activity/templates/default/images/activity_new/friend_bottom.jpg" /></div>
    </div>
</div>
	{template system/footer public}
</body>
</html>
