<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>浪漫风情双人游</title>
{template system/js_css public}
<style type="text/css">
* {margin:0 auto; padding:0;}
a img{ border:none;}
.box {width:982px;  no-repeat #FFF;}
</style>
</head>

<body>
{template system/header public}<!--head-search end-->
<div class="box">
    <div style="height:530px; background:url(module/activity/templates/default/images/a_01.jpg);"></div>
	<div style="background:url(module/activity/templates/default/images/a_02.jpg); height:374px;"></div>
	<div style="background:url(module/activity/templates/default/images/a_03.jpg); height:497px;"></div>
	<div style="height:309px; background:url(module/activity/templates/default/images/a_04.jpg);"></div>
	
	<a href="index.php?n=payment&h=diamond" target="_blank">
		<div style="height:40px; width:140px;  position:absolute;left:642px;top:1760px;"></div>
	</a>
		
    
</div>
{template system/footer public}<!--foot end-->
</body>
</html>
