<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网 - 端午节</title>
{template system/js_css public}
<style type="text/css">

</style>
</head>

<body>
{template system/header public}<!--head-search end-->

<div style="width:982px; height:auto;margin:0 auto;">
    <!-- <div style="height:1479px; background:url(module/activity/templates/default/images/citystar.jpg) no-repeat;"></div> -->
	
	
	<img src="module/activity/templates/default/images/dragonfestival/main.jpg" width="982" height="2306" border="0" usemap="#Map" />
	
	<map name="Map" id="Map">
	   <area shape="rect" coords="393,2109,593,2148" href="index.php?n=index&h=govip" />
	</map>
    <!-- <div style="height:573px; background:url(module/activity/templates/default/images/Sanniversary_01.jpg) no-repeat;"></div>
	 
    <div style="height:573px; background:url(module/activity/templates/default/images/Sanniversary_01.jpg) no-repeat;"></div>
	<div style="background:url(module/activity/templates/default/images/Sanniversary_02.jpg); height:559px;"></div>
	<div style="background:url(module/activity/templates/default/images/Sanniversary_03.jpg); height:594px;"></div>
	
  
    	<div style="height:444px; background:url(module/activity/templates/default/images/Sanniversary_04.jpg);">
		<img src="module/activity/templates/default/images/Sanniversary_04.jpg" border="0" usemap="#Map"/>
 
    <map name="Map">
        <area shape="rect" coords="387,315,597,371" href="index.php?n=index&h=govip">
    </map> -->
    
</div>
{template system/footer public}<!--foot end-->
</body>
</html>
