<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>春晖巨献，豪情暖心间</title>
{template system/js_css public}
<style type="text/css">

</style>
</head>

<body>
{template system/header public}<!--head-search end-->
<div style="width:982px; height:auto;margin:0 auto;">
    <div style="height:573px; background:url(module/activity/templates/default/images/Sanniversary_01.jpg) no-repeat;"></div>
	<div style="background:url(module/activity/templates/default/images/Sanniversary_02.jpg); height:559px;"></div>
	<div style="background:url(module/activity/templates/default/images/Sanniversary_03.jpg); height:594px;"></div>
	
  
    	<div style="height:444px; background:url(module/activity/templates/default/images/Sanniversary_04.jpg);"><img src="module/activity/templates/default/images/Sanniversary_04.jpg" border="0" usemap="#Map"/>
      <!--  <div style="margin:-152px auto 85px;height:44px;width:202px;">
    <a href="index.php?n=index&h=govip" target="_blank">
        <img src="module/activity/templates/default/images/anniu.gif" height="44px" width="202px">
	</a> -->
 <map name="Map">
        <area shape="rect" coords="387,315,597,371" href="index.php?n=index&h=govip">
      </map>
    
</div>
{template system/footer public}<!--foot end-->
</body>
</html>
