<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网-实名认证</title>
{template system/js_css public}
<link href="module/activity/templates/default/realname.css" type="text/css" rel="stylesheet" />
</head>
<body>
{template system/header public}<!--head-search end-->
<div id="realname">
	<div id="realname_top">
	<p>&nbsp;&nbsp;&nbsp;&nbsp;现如今，实名制已经走入我们平常的生活，火车票实名制、手机实名制、
书号实名制、上网实名制、储蓄实名制、快递实名制、甚至还有实名制论坛、
实名制购物……这些实名制的实施不仅是顺应时代的需求，更是对自我以及
他人权利的保障。<br/>
&nbsp;&nbsp; &nbsp;&nbsp;为了创造一个诚信的交友环境，从而最大限度地保障会员的利益。现在
  真爱一生网推行实名制婚恋，让你做到明明白白的爱。</p>
	</div>
	<div class="realname_new">
	<p style="margin-top:15px; float:left"> 从即日起，新会员注册时，在填写资料同时点击"诚信认证"即可直接进行实名制认证。</p>
      <span></span>
       <a style="margin-top:8px; float:left"><img src="module/activity/templates/default/images/older.gif" width="89" height="20" /></a>  
</div>


  <div class="realname_older"> <p style="margin-top:8px; float:left"> 凡是在本站注册过的会员，可直接在"诚信认证"——"身份认证"直接操作完成。</p>

    <span></span>
    </div>
<div class="rn_promise">
        <p></p>
   	  <div class="promise_cont">
          <p></p>
       	  <h3>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;对个人的隐私信息，如真实姓名、身份证号码，个人详细住址等予以严格保密。只有在得到本人允许的情况下，才会将个人的相关信息向心仪对象透露。</h3>
          <span></span>
      </div><div class="clear"></div>
  <div class="rn-award">
      <p></p>
    <div class="award_cont">
      <p></p>
      <h3 style="margin-left:0;width:760px;">实名认证是对用户资料真实性进行的验证审核，以便建立完善可靠的互联网信用基础。凡是参加“实名认证”的新老会员均可得到：</h3>
      <span></span>
    </div>
    <img src="module/activity/templates/default/images/reward-new.gif" width="982" height="239" /></div>
   <div id="realname_bottom">
     <img src="module/activity/templates/default/images/state.png" width="96" height="25" />
     <p></p>
   </div>
</div>
</div>
{template system/footer public}
</body>
</html>
