<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员注册-兴趣爱好填写——真爱一生网</title>
{template system/js_css public}

<link href="module/safetyguide/templates/{$GLOBALS['style_name']}/safetyguide.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main"><!--top end-->
	<div class="content">
		<p class="c-title"><span class="f-000">真爱一生首页&nbsp;&gt;&gt;&nbsp;安全征婚指南</span><a href="#"></a></p>
		<div class="clear"></div>
		<div class="sgbanner"><img src="module/safetyguide/templates/default/images/sgbanner.jpg" /></div>	
			<div class="sgleft fleft">
			<div class="content-title">
				<span class="right-title">行骗举例</span>
			</div><!--content-title end-->
			<div class="c-center">			
				<div class="sgbox" style="margin-top:10px;">
					<ul class="sgnav">
						<li class="nav-l-on"><p class="sgnav01">送花篮</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide2'"><p class="sgnav02">饭托酒托</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide3'"><p class="sgnav03">骗取信物</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide4'"><p class="sgnav04">骗取路费</p></li>
						<li class="nav-r" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide5'"><p class="sgnav05">假借贷</p></li>
					</ul>
					<div class="clear"></div>
					<div class="sgbox-center">
						<h4><a href="index.php?n=safetyguide" class="f-ed0a91-a">返回征婚指南首页</a>行骗案例：送花篮</h4>
						<dl>
							<dd>该类行骗者多以中年男性并且事业有成的面貌出现，也有少数的女性骗子。这些人往往会声称自己刚刚经历过感情的波折，或者年龄已大，家里催逼结婚等。总之让人觉得他们有合理的借口急于同您确立关系，骗取您的信任。</dd>
							<dd>这些人会非常频繁地与您保持联系，可能一天发几次短信，打几次电话。很快会以很亲密的称呼来拉近彼此的距离。最后甚至是找人假扮其父母给您打电话，确认婚事，进一步让您入局。然后往往以父亲生日、公司开业、店面开张为由，要送些礼金花篮之类的东西，骗取钱财，价值从几千到上万不等。</dd>
						</dl>
						<h4>安全交往注意事项</h4>
						<dl>
							<dt>1. 遵循循序渐进的交往原则，不要相信天上会掉馅饼</dt>
							<dd>请充分利用您的直觉和判断掌握好交往的节奏，如果刚结识1、2天，或者连面都没有见过，对方就声称和您确立了恋爱关系，请您特别要提高警惕。</dd>
							<dt>2. 不要付出财物，也不要贪图对方的财物</dt>
							<dd>通常这种行骗者会用电话频繁地和会员保持联系，但会以各种各样的理由拒绝见面约会。对于这种只见其声，不见其人，而且经常做出甜美结婚承诺的交往对象，一旦其提出和金钱有关的要求，请您特别要提高警惕。</dd>
							<dd>正常的交往不是建立在金钱往来的基础上，正常的交往对象也不会动辄向您索要价值上万的礼物。</dd>
						</dl>
					</div>
					<div class="sgbox-bottom"></div>
					<div class="clear"></div>
				</div>				
				<div class="clear"></div>
			</div><!--c-center-data end-->
			<div class="content-bottom">			
			</div><!--content-bottom end-->
			</div><!--sgleft end-->
			<div class="sgright fright">
				<div class="sgright-side"></div>
				<div class="sgright-c">
					<div class="sgright-title">投诉和举报</div>
					<p>如果您在真爱一生网发现骗子，请及时向我们投诉，我们会依照处罚办法及时予以处理。对于违法情节严重、骗取金额较大的情形，建议您提交公安机关处理。</p>
					<dl>
						<dt>在线投拆</dt>
						<dd>请去投诉对象的个人资料页，点击页面右下方的“举报该会员”并填写投诉理由。</dd>
					</dl>
					<dl>
						<dt>电话投诉</dt>
						<dd>400-8787-920（免长途）<br />（周一至周日：9:00-21:00）</dd>
					</dl>
				</div>
				<div class="sgright-side bottom"></div>
			</div>
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
