<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安全征婚指南——真爱一生网</title>
{template system/js_css public}

<link href="module/safetyguide/templates/{$GLOBALS['style_name']}/safetyguide.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}<!--top end-->
	
	<div class="content">
		<p class="c-title"><span class="f-000">真爱一生首页&nbsp;&gt;&gt;&nbsp;安全征婚指南</span><a href="#"></a></p>
		<div class="clear"></div>
		<div class="sgbanner"><img src="module/safetyguide/templates/default/images/sgbanner.jpg" /></div>	
			<div class="sgleft fleft">
			<div class="content-title">
				<span class="right-title">行骗举例</span>
			</div><!--content-title end-->
			<div class="c-center">			
				<div class="sgbox" style="margin-top:10px;">
					<ul class="sgnav">
						<li class="nav-l" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide1'"><p class="sgnav01">送花篮</p></li>
						<li class="nav-c-on"><p class="sgnav02">饭托酒托</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide3'"><p class="sgnav03">骗取信物</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide4'"><p class="sgnav04">骗取路费</p></li>
						<li class="nav-r" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide5'"><p class="sgnav05">假借贷</p></li>
					</ul>
					<div class="clear"></div>
					<div class="sgbox-center">
						<h4><a href="index.php?n=safetyguide" class="f-ed0a91-a">返回征婚指南首页</a>行骗案例：饭托酒托</h4>
						<dl>
							<dd>这种骗术发生在双方见面约会阶段，是比较容易预防和识破的骗术，其常见表现为：</dd>
							<dd>·此类诈骗者无论男女，都具有不错的相貌条件。</dd>
							<dd>·会主动邀约您或者十分愿意与您见面</dd>
							<dd>·会约您到不熟悉的消费场地见面。高明一点的会约您在一个比较常见的公共场所碰头，然后以散步等方式 “偶然” 或“不经意”的请您去路边的一家消费场所坐坐。</dd>
							<dd>·到消费场所后，异常积极的点食物或饮料。会故意模糊由谁买单的问题甚至暗示由您买单。</dd>
							<dd>·消费结束后，您收到的帐单将异常昂贵</dd>
						</dl>
						<h4>安全交往注意事项</h4>
						<dl>
							<dt>1. 核对对方资料</dt>
							<dd>见面之前可以用google或者百度搜索对方的资料，看看是否有问题。先搜索qq号和手机号，骗子往往会使用同样的联系方式行骗，在网络上会留下诈骗的案底；再核对对方提供的个人信息是否真实，例如工作单位。除了网络搜索，您还可以委托朋友帮您打听，或者自己亲自去对方提过的场所验证。</dd>
							<dt>2. 选择公共约会场所</dt>
							<dd>第一次约会一定要选择自己熟悉的约会地点或者公共场所，比如麦当劳星巴克之类彼此熟知的地点，并且在去之前记得通知自己的家人和朋友。切忌不要去对方指定的陌生的约会地点，如果对方坚持要您去，您可以拒绝。男士要警惕酒托饭托，女士要警惕一夜情</dd>
							<dt>3.不要为面子支付不必要的账单</dt>
							<dd>如果您不小心跟随对方进入了您不熟悉的消费场所，请核查清楚每一项消费的报价，建议一开始跟对方声明AA制，不要盲目为对方支付帐单，哪怕对方提出了明确的请求。在这个时候一定不要为了面子支付不必要的帐单，骗子利用的就是您的这种心理。</dd>
							<dt>4.保持警觉意识</dt>
							<dd>在约会过程中，如果遇到令自己担心的事，应立即离开现场。记得随身携带手机，必要时向家人或者警方求助，不用觉得这样做会对对方不礼貌。</dd>
						</dl>
					</div>
					<div class="sgbox-bottom"></div>
					<div class="clear"></div>
				</div>				
				<div class="clear"></div>
			</div><!--c-center-data end-->
			<div class="content-bottom">			
			</div><!--content-bottom end-->
			</div><!--sgleft end-->
			<div class="sgright fright">
				<div class="sgright-side"></div>
				<div class="sgright-c">
					<div class="sgright-title">投诉和举报</div>
					<p>如果您在真爱一生网发现骗子，请及时向我们投诉，我们会依照处罚办法及时予以处理。对于违法情节严重、骗取金额较大的情形，建议您提交公安机关处理。</p>
					<dl>
						<dt>在线投拆</dt>
						<dd>请去投诉对象的个人资料页，点击页面右下方的“举报该会员”并填写投诉理由。</dd>
					</dl>
					<dl>
						<dt>电话投诉</dt>
						<dd>400-8787-920（免长途）<br />（周一至周日：9:00-21:00）</dd>
					</dl>
				</div>
				<div class="sgright-side bottom"></div>
			</div>
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
