<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安全征婚指南——真爱一生网</title>
{template system/js_css public}

<link href="module/safetyguide/templates/{$GLOBALS['style_name']}/safetyguide.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main"><!--top end-->
	<div class="content">
		<p class="c-title"><span class="f-000">真爱一生首页&nbsp;&gt;&gt;&nbsp;安全征婚指南</span><a href="#"></a></p>
		<div class="clear"></div>
		<div class="sgbanner"><img src="module/safetyguide/templates/default/images/sgbanner.jpg" /></div>	
			<div class="sgleft fleft">
			<div class="content-title">
				<span class="right-title">行骗举例</span>
			</div><!--content-title end-->
			<div class="c-center">			
				<div class="sgbox" style="margin-top:10px;">
					<ul class="sgnav">
						<li class="nav-l" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide1'"><p class="sgnav01">送花篮</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide2'"><p class="sgnav02">饭托酒托</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide3'"><p class="sgnav03">骗取信物</p></li>
						<li class="nav-c" onclick="javascript:location.href='index.php?n=safetyguide&h=safetyguide4'"><p class="sgnav04">骗取路费</p></li>
						<li class="nav-r-on"><p class="sgnav05">见面约会</p></li>
					</ul>
					<div class="clear"></div>
					<div class="sgbox-center">
						<h4><a href="index.php?n=safetyguide" class="f-ed0a91-a">返回征婚指南首页</a>行骗案例：见面约会</h4>
						<dl>
							<dd>行骗案例：行骗者会用相亲为借口，与会员见面。通过聊天与会员取得信任。然后骗子会想法设法的让会员对自己毫无戒备之心。在约会过程中，乘着会员接电话，去洗手间，点单，付钱等机会。取得对方钱财和贵重物品后，骗子会立刻逃离现场。</dd>
							
						</dl>
						<h4>安全交往注意事项</h4>
						<dl>
							<dt>1. 注意约会见面时，贵重物品随身携带。</dt>
							<dd>在约会见面时，如果对方是陌生人，一定要将自己的贵重物品（例如：钱包，手机，首饰等）随身携带，以免丢失。</dd>
							<dd>信任本应该是人与人之间交往往最基本的原则。可是在初次与陌生人约会见面时，还是要注意个人的贵重财物，以免丢失。在寻找爱情的同时，也要对自己财物的安全负责。</dd>
							
						</dl>
					</div>
					<div class="sgbox-bottom"></div>
					<div class="clear"></div>
				</div>				
				<div class="clear"></div>
			</div><!--c-center-data end-->
			<div class="content-bottom">			
			</div><!--content-bottom end-->
			</div><!--sgleft end-->
			<div class="sgright fright">
				<div class="sgright-side"></div>
				<div class="sgright-c">
					<div class="sgright-title">投诉和举报</div>
					<p>如果您在真爱一生网发现骗子，请及时向我们投诉，我们会依照处罚办法及时予以处理。对于违法情节严重、骗取金额较大的情形，建议您提交公安机关处理。</p>
					<dl>
						<dt>在线投拆</dt>
						<dd>请去投诉对象的个人资料页，点击页面右下方的“举报该会员”并填写投诉理由。</dd>
					</dl>
					<dl>
						<dt>电话投诉</dt>
						<dd>400-8787-920（免长途）<br />（周一至周日：9:00-21:00）</dd>
					</dl>
				</div>
				<div class="sgright-side bottom"></div>
			</div>
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
