<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
	.lboxcenter dl.lbox06 {
    background-position: 0 -500px;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>安全征婚指南——真爱一生网</title>
{template system/js_css public}

<link href="module/safetyguide/templates/{$GLOBALS['style_name']}/safetyguide.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}<!--top end-->
	<div class="content">
		<p class="c-title"><span class="f-000">真爱一生首页&nbsp;&gt;&gt;&nbsp;安全征婚指南</span><a href="#"></a></p>
		<div class="clear"></div>
		<div class="sgbanner"><img src="module/safetyguide/templates/default/images/sgbanner.jpg" /></div>	
			<div class="sgleft fleft">
			<div class="content-title">
				<span class="right-title">行骗举例</span>
			</div><!--content-title end-->
			<div class="c-center">
				<div class="lbox">
					<div class="lboxside"></div>
					<div class="lboxcenter">
						<dl>
							<dt>送花篮</dt>
							<dd><a href="index.php?n=safetyguide&h=safetyguide1" class="f-ed0a91-a">详细资料 &gt;&gt;</a></dd>
						</dl>
					</div>
					<div class="lboxside bottom"></div>
				</div><!--lbox end-->
				<div class="lbox">
					<div class="lboxside"></div>
					<div class="lboxcenter">
						<dl class="lbox02">
							<dt>饭托酒托</dt>
							<dd><a href="index.php?n=safetyguide&h=safetyguide2" class="f-ed0a91-a">详细资料 &gt;&gt;</a></dd>
						</dl>
					</div>
					<div class="lboxside bottom"></div>
				</div><!--lbox end-->
				<div class="lbox">
					<div class="lboxside"></div>
					<div class="lboxcenter">
						<dl class="lbox03">
							<dt>骗取信物</dt>
							<dd><a href="index.php?n=safetyguide&h=safetyguide3" class="f-ed0a91-a">详细资料 &gt;&gt;</a></dd>
						</dl>
					</div>
					<div class="lboxside bottom"></div>
				</div><!--lbox end-->
				
				<div class="lbox">
					<div class="lboxside"></div>
					<div class="lboxcenter">
						<dl  class="lbox04">
							<dt>骗取路费</dt>
							<dd><a href="index.php?n=safetyguide&h=safetyguide4" class="f-ed0a91-a">详细资料 &gt;&gt;</a></dd>
						</dl>
					</div>
					<div class="lboxside bottom"></div>
				</div>
				<!--lbox end-->
				
				
				
				
				<div class="lbox">
					<div class="lboxside"></div>
					<div class="lboxcenter">
						<dl  class="lbox05">
							<dt>假借贷</dt>
							<dd><a href="index.php?n=safetyguide&h=safetyguide5" class="f-ed0a91-a">详细资料 &gt;&gt;</a></dd>
						</dl>
					</div>
					<div class="lboxside bottom"></div>			
				</div>	
				
				<div class="lbox">
					<div class="lboxside"></div>
					<div class="lboxcenter">
						<dl class="lbox06">
							<dt>见面约会</dt>
							<dd>
								<a class="f-ed0a91-a" href="index.php?n=safetyguide&h=safetyguide6" >详细资料 &gt;&gt;</a>
							</dd>
						</dl>
					</div>
					<div class="lboxside bottom"></div>
				</div>
				<!--lbox end-->
				
				<div class="clear"></div>
			</div><!--c-center-data end-->
			</div><!--content-bottom end-->
			</div><!--sgleft end-->
			<div class="sgright fright">
				<div class="sgright-side"></div>
				<div class="sgright-c">
					<div class="sgright-title">投诉和举报</div>
					<p>如果您在真爱一生网发现骗子，请及时向我们投诉，我们会依照处罚办法及时予以处理。对于违法情节严重、骗取金额较大的情形，建议您提交公安机关处理。</p>
					<dl>
						<dt>在线投拆</dt>
						<dd>请去投诉对象的个人资料页，点击页面右下方的“举报该会员”并填写投诉理由。</dd>
					</dl>
					<dl>
						<dt>电话投诉</dt>
						<dd>400-8787-920（免长途）<br />（周一至周日：9:00-21:00）</dd>
					</dl>
				</div>
				<div class="sgright-side bottom"></div>
			</div>
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
