<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们——真爱一生网</title>
{template system/js_css public}
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">
<link href="module/about/templates/{$GLOBALS['style_name']}/about.css" rel="stylesheet" type="text/css" />
</style>
<script >
 /*
    function act(){
        var args={};
	    var query=location.search.substring(1);
	    var p=query.split("&");
		
		for (var i=0;i<p.length;i++){
		   var pos=p[i].indexOf("=");
		   if (pos==-1) continue;
		   var name=p[i].substring(0,pos);
		   var value=p[i].substring(pos+1);
		   args[name]=value;
		   alert(name);
		}
		
		//return args;
	 }
 // alert(args);
 */
 
 //location.search="?page=2";
</script>
</head>
<body>

{template system/header public}
<!--头部结束-->
<div class="clear"></div>
<div class="content">
		<div class="c-title">
			<span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;关于我们</span>
			<div class="loaction_right">
				<a href="index.php?n=invite" target="_blank">邀请好友</a>
			</div>
		</div>
			<div class="content-title">
			</div><!--content-title end-->
			<div class="c-center">
			<!--左边开始-->
			{template public/about_left module}
			<!--左边结束-->	
			<!--右边开始-->	
			<div class="about-right">
				<dl class="about-right-text">
					<dt style="padding-top:0px;">真爱一生网简介</dt>
					<dd style="margin-bottom:15px;" >合肥爱缘海网络科技有限公司旗下的运营网站 </dd>
					
					<dd class="about-content">
						<p>当前, 越来越多的单身族选择了婚介,它已成为一种时尚。它以选择面广,可选度高的特点赢得了单身族的青睐婚介服务中心以年轻化,知识化,多元化,个性化,专业化为优势,充分展示单身族个性风采,使婚姻美满幸福。</p>
						<p>在科技和经济飞速发展的今天，人们对时间的需求愈加迫切，使许多的单身朋友由于忙于工作和学习，均无暇顾及个人的婚姻大事，繁忙之余感到孤独和寂寞，即会浮现寻找伴侣建立温馨家园的渴求和遐想…</p>
						<p>真爱一生网通过先进的互联网技术和体贴客户的服务帮助寻觅理想伴侣的朋友找到属于自己的情缘，并且在真爱一生网的社区内自由地交流和沟通。</p>
						<p>每一位网友可以通过查询功能方便的浏览注册登记会员的资料，包括照片、个人情况和理想对象的介绍。网友还可以通过新加入会员查询、用户名查询、地区查询、婚恋情况查询和收入查询以及不同条件设置的高级搜索功能方便地查找到自己心仪的对象。</p>
						<p>如果您要在真爱一生网公布自己的信息，您只需申请注册会员，即可向成千上万的会员发布征婚启事和爱情宣言，我们建议您上传您满意的私人照片，并且详细地填写您的个人信息，这样会使您的征婚成功率大大提高。</p>
						<p>同时，为了保证网站服务的质量，并且保障广大会员的利益，我们特别增设了会员投诉区，如果您发现有任何其他会员不真实或者欺骗的现象，您可以在此投诉，我们会相应地降低该会员的信誉等级，直至最终取消该会员的资格。这也是真爱一生网对广大会员的信誉承诺。</p>
						<p>请相信我们会竭尽全力不辞辛劳为您排忧解难牵线搭桥请相信我们是您忠实而可信赖的朋友。</p>
						
					</dd>
					<dt>使命与宗旨</dt>
					<dd class="about-content">
						<p>真爱一生网zhenaiyisheng.cc致力于向广大恋爱年龄的朋友提供优质的婚恋服务，通过广阔的互联网平台和技术帮助您在茫茫人海中寻觅到与您共度今生的另一半。在真爱一生网的价值观中，互联网为中国的年青一代在交友恋爱中提供了无限广阔的空间，甚至推动人们恋爱行为的改变，与传统的择偶方式相比，通过互联网择偶具有无与伦比的优势。</p>
						<p>※ 选择面极大的拓宽，通过互联网择偶使您在数以千万计的会员中间，寻觅情缘，跨越了时间和地域的限制。</p>
						<p>※ 沟通更为便捷、自由，互联网的即时通讯、电子邮件等沟通方式使您不必奔波于婚介所之间，同时在正式见面之前的网上交流也利于增进彼此的了解。</p>
						<p>※ 更节省您钱包和时间，与几百元甚至上千元的婚介服务相比，网上择偶使您在面对更多选择机会的同时，费用更为合理，也更节省您的时间。</p>
					</dd>
					<dt>团队</dt>
					<dd class="about-content">
						<p>真爱一生网是由早期进入互联网行业，至今仍然对互联网充满激情，矢志不渝的年轻团队创建。创业团队曾在国内著名的门户网站、互联网接入设备公司、专业财经网站、旅游网站和招聘网站任职，从事战略制定及实施、运营管理、投资分析、市场及销售、产品及技术开发以及投资者关系等多方面工作，积累了大量宝贵的经验，为真爱一生网的发展奠定了坚实的基础。</p>
						<p>我们愿与用户和伙伴共同成长，如有任何意见、建议或合作意向，欢迎发邮件至kefu@zhenaiyisheng.cc。 </p>
					
					</dd>
					
					
				</dl>
			</div>
			<!-- <a href="javascript:act();" >open link</a> -->
			<!-- <a href="#top">top</a> -->
			<!--右边结束-->	
			<div class="clear"></div>
		</div><!--c-center end-->
			<div class="content-bottom">			
			</div>
			<!--content-bottom end-->
		<div class="clear"></div>
{template system/footer public}
	</div><!--content end-->

</body>
</html>
