<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生荣誉——真爱一生网</title>
{template system/js_css public}
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">
<link rel="Shortcut Icon" href="public/default/images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="public/default/images/favicon.ico" type="image/x-icon">
<style type="text/css">
@import url("module/about/templates/{$GLOBALS['style_name']}/about.css?v=1.0");
</style>
</head>
<body>
<div class="clear"></div>
{template system/header public}
 <!--头部结束-->
<div class="content">
		<div class="c-title">
		<span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;真爱一生荣誉</span>
		<div class="loaction_right">
			<a href="index.php?n=invite" target="_blank">邀请好友</a>
		</div>
		</div>
			<div class="content-title">
			</div><!--content-title end-->
			<div class="c-center">
			<!--左边开始-->
			 {template public/about_left module}
			<!--左边结束-->	
			<!--右边开始-->	
			<div class="about-right">
				<div class="honnrtop">
				<img src="module/about/templates/default/images/honner_title.gif" style="position:relative;margin-left:-16px; margin-top:-9px; float:left"/>
					<dl class="i-honor-content" style="margin-left:0">
						<dt><a href="index.php?n=about&amp;h=glorycontent&amp;page=9" target="_blank"><img src="module/index/templates/default/images/medel-img01.gif" /></a></dt>
						<dd><a href="index.php?n=about&amp;h=glorycontent&amp;page=9" target="_blank">·真爱一生网2010年上半年度华东地区"诚信婚恋网站"</a></dd>
					</dl>
					<dl class="i-honor-content">
						<dt style="padding-top:28px;"><a href="index.php?n=about&amp;h=glorycontent&amp;page=6" target="_blank"><img src="module/index/templates/default/images/medel-img02.gif" /></a></dt>
						<dd><a href="index.php?n=about&amp;h=glorycontent&amp;page=6" target="_blank">·真爱一生网荣获2009年度安徽人受欢迎婚恋网站</a></dd>
					</dl>
					<dl class="i-honor-content">
						<dt><a href="index.php?n=about&amp;h=glorycontent&amp;page=5" target="_blank"><img src="module/index/templates/default/images/medel-img03.gif" /></a></dt>
						<dd><a href="index.php?n=about&amp;h=glorycontent&amp;page=5" target="_blank">·真爱一生网荣获2009年度中国交友与交流协会友谊推进奖</a></dd>
					</dl>	
					<div class="clear"></div>				
				</div><!--honnrtop end-->
				<dl class="clinic-honor">
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=9">·真爱一生网2010年上半年度华东地区“诚信婚恋网站”</a></dt>
					<dd>——2010年上半年度华东地婚恋网站评选结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=8">·真爱一生网荣获2010年度安徽人受欢迎婚恋网站</a></dt>
					<dd>——2010年“皖南互联网联盟”安徽人最喜欢的网站交友类网站调查结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=7">·真爱一生网荣获2009年度中国交友与交流协会友谊推进奖</a></dt>
					<dd>——2009年度中国交友与交流协会 “交友与征婚类”网站20佳评选结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=6">·真爱一生网获2009获安徽受尊敬的互联网企业名单称号</a></dt>
					<dd>——2009《安徽互联网月刊》最受尊敬的安徽互联网企业名单评选结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=5">·真爱一生网获2009年度中国姻缘协会受关注网站</a></dt>
					<dd>——中国姻缘协会“牛年您最喜欢的婚恋平台”调查评选结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=4">·真爱一生网入选2009年度中国用户放心婚介单位—互联网婚介单位名单</a></dt>
					<dd>——中国婚介发展行业协会《2009用户放心婚介企业品牌》调查结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=3">·真爱一生网荣获 2009中国友谊协会“用户满意的婚恋网站”的奖项</a></dt>
					<dd>——中国友谊协会《2009“中国”友推荐婚恋网排行榜》评选结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=2">·中国婚恋网站-真爱一生网荣获“2009年度婚恋交友类最佳市场占有率”</a></dt>
					<dd>——互联网周刊《2009年中国商业网站排行榜》评选结果</dd>
					<dt><a href="index.php?n=about&amp;h=glorycontent&page=1">·真爱一生网荣获“中国信誉服务受公众满意首选征婚网站”</a></dt>
					<dd>——中国新闻社《2009年中国最具竞争力品牌企业》大型调查结果</dd>
				</dl>
			</div>
			<!--右边结束-->	
			<div class="clear"></div>
		</div><!--c-center end-->
			<div class="content-bottom">			
			</div>
			<!--content-bottom end-->
		<div class="clear"></div>
	{template system/footer public}
	</div><!--content end-->
 <div class="clear"></div>
</body>
</html>
