<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>诚聘英才——真爱一生网</title>
{template system/js_css public}
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">
<link href="module/about/templates/{$GLOBALS['style_name']}/about.css" type="text/css" rel="stylesheet" />
</style>
</head>
<body>
<div class="clear"></div>
{template system/header public}
<!--头部结束-->
<div class="content">
		<div class="c-center">

			{template public/about_left module}

			<div class="about-right">
				<ol>
					<h2 style="font-size:14px;">一、产品类</h2>
					<li>
					<strong style="font-size:12px;">（一）、产品经理：</strong>

					<p><font>工作职责：</font></p>
					<p>1、负责真爱一生网站相关的产品的规划和设计；</p>
					<p>2、负责真爱一生网产品相关的数据分析，设计新的付费产品体系并产生营收；</p>
					<p>3、了解真爱一生网用户的使用习惯，分析竞争对手的产品，不断提出优化改进意见。</p>
					<p><font>任职要求：</font></p>
					<p>1、有3年以上互联网相关工作经验；</p>
					<p>2、具有设计和运营网站成功经历；</p>
					<p>3、对数据敏感，善于从数据中总结产品的问题并持续关注改进；</p>
					<p>4、有良好的沟通表达能力和文字表达能力；</p>
					<p>5、有婚恋交友相关收费产品设计或运营经验者优先。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>

					</li>
					<li>
					<strong style="font-size:12px;">（二）、产品经理（APP）</strong>

					<p><font>工作职责：</font></p>
					<p>1、负责为真爱一生网构思设计相关应用并接入人人，腾讯，新浪等开放平台；</p>
					<p>2、持续优化已经设计的应用，使得更多的人使用真爱一生网，应用并转化为真爱一生网用户。</p>
					<p><font>任职要求：</font></p>
					<p>1、学历大专或以上；</p>
					<p>2、非常熟悉并热衷于使用各类SNS和微博，了解各个开放平台上最新最热的应用并且乐于深入体验它们；</p>
					<p>3、善于思考和创新，能够理解并找出热门应用传播起来的内在逻辑并立刻加以借鉴到自己的产品上；</p>
					<p>4、有3年以上互联网产品从业经历；</p>
					<p>5、有在SNS等开放平台或者独立第三方APP开发公司任职产品经验者优先。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<h2 style="font-size:14px;">二、技术类</h2>
					<li>
					<strong style="font-size:12px;">（一）、软件测试工程师</strong>

					<p><font>工作职责：</font></p>
					<p>1、编写测试计划、规划详细的测试方案、编写测试用例；</p>
					<p>2、执行测试工作、提交测试报告。完整的记录测试结果，编写完整的测试报告等相关的技术文档；</p>
					<p>3、对测试中发现的问题进行详细分析和准确定位，与开发人员讨论缺陷解决方案；</p>
					<p>4、提出对产品的进一步改进的建议，并评估改进方案是否合理；对测试结果进行总结与统计分析，对测试进行跟踪，并提出反馈意见；</p>
					<p>5、为相关部门提供相应技术支持，确保软件质量指标。</p>
					<p><font>任职要求：</font></p>
					<p>1、熟悉SQL语言；</p>
					<p>2、性格开朗、积极向上；</p>
					<p>3、熟悉软件测试流程，逻辑思维强。</p>
					<p>备注：优秀应届毕业生亦可。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<li>
					<strong style="font-size:12px;">（二）、android开发工程师</strong>

					<p><font>工作职责：</font></p>
					<p>1、负责网站安卓客户端的开发。</p>
					<p><font>任职要求：</font></p>
					<p>1、计算机、软件工程等相关专业专科2年以上工作经验，本科及以上学历1年以上工作经验；</p>
					<p>2、具备系统底层公共模块的单元测试及自我优化技能；</p>
					<p>3、对平台具有整体具有全局观，具有较强的沟通和实施能力；</p>
					<p>4、熟悉软件工程及标准测试方法与流程；</p>
					<p>5、具有1年以上Android应用开发经验，熟练掌握Android应用开发的库与框架，能独立进行各种应用程序开发和移植；</p>
					<p>6、熟悉基于eclipse、IDE下的android移动应用开发；</p>
					<p>7、具备移动端GPS定位、导航开发经验者，优先考虑；</p>
					<p>8、本岗位有行业应用开发经验，尤其是电力行业业务开发者优先考虑；</p>
					<p>9、有良好的团队精神、敬业精神和沟通协调能力，乐于接受挑战，能承受较大的工作压力；</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					
					<li>
					<strong style="font-size:12px;">（三）、IOS开发工程师</strong>
					<p><font>工作职责：</font></p>
					<p>1、负责网站iphone客户端的开发。</p>
					<p><font>任职要求：</font></p>
				    <p>1、1年以上iPhone sdk开发经验；</p>
				    <p>2、良好的英语能力，可以通过书面交流；</p>
				    <p>3、精通Objective-C开发语言，熟悉XCode开发环境，同时熟悉其它手机开发平台如Symbian、BlackBerry和Andriod者优先；</p>
				    <p>4、熟悉iPhone GUI编程和界面设计模式，注重细节；</p>
				    <p>5、工作认真负责，有良好的沟通能力，同时能够分清主次，在承担多项工作时可以安排好优先次序；</p>
				    <p>6、熟悉常用算法和数据结构，具备独立思考并解决问题的能力，熟悉OpenGL优先优先；</p>
					<p>7、负责手机上的网站客户端软件开发；</p>
					<p>8、负责对手机软件系列产品进行维护和持续升级；</p>
					<p>9、日常责任包括手机软件系统设计、开发、单元测试、维护以及编写文档。    </p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<h2 style="font-size:14px;">三、市场类</h2>
					<li>
					<strong style="font-size:12px;">（一）、活动经理</strong>

					<p><font>工作职责：</font></p>
					<p>1、负责真爱一生网合肥及周边区域的线下相亲活动的策划与执行工作；</p>
					<p>2、积极开拓市场，充分整合内外资源，提高真爱一生网品牌占有率；</p>
					<p>3、负责活动流程、效果的优化，并持续改进；</p>
					<p>4、负责市场活动相关分析报告；</p>
					<p>5、团队管理。</p>
					<p><font>任职要求：</font></p>
					<p>1、准确为客户提供其活动的策划与执行形式和创意；</p>
					<p>2、能够独立带领团队完成各项工作任务；</p>
					<p>3、编写专业性活动策划、运营方案；</p>
					<p>4、管理、培训活动组成员，对活动项目执行效果负责；</p>
					<p>5、3年以上活动组织策划执行经验和带队经验，领导、沟通能力强；</p>
					<p>6、具有亲和力，高度的敬业精神；较强的时间观念和服务意识；</p>
					<p>7、有客户资源或媒体资源者优先。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<li>
					<strong style="font-size:12px;">（二）、商务专员</strong>

					<p><font>工作职责：</font></p>
					<p>1、能积极开拓新市场，新商家，维护老客户；</p>
					<p>2、通过有规律的持续拜访及维护良好的客情关系及有效的客户渗透达成合作目标；</p>
					<p>3、与商家沟通并达成合作目的，根据行业需求，制定个性化的方案；</p>
					<p>4、能够独立完成商户谈判、合同签署、后期维护。</p>
					<p><font>任职要求：</font></p>
					<p>1、26岁以上，男女不限，大专及以上学历；</p>
					<p>2、思维敏捷，性格开朗，具有良好的沟通、协调能力，语言文字表达能力强，普通话标准；</p>
					<p>3、优秀的外联与公关能力，具备解决突发事件的能力；</p>
					<p>4、工作热情主动，富有创新意识，具有极强的团队协作意识和服务意识； </p>
					<p>5、具有知名公关公司、名企市场品牌推广相关工作经验者优先考虑。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<h2 style="font-size:14px;">四、销售类（红娘客服）</h2>
					<li>
					<strong style="font-size:12px;">（一）、电话销售</strong>

					<p><font>工作职责：</font></p>
					<p>1、以电话回访的形式，核实会员的基本信息资料，了解会员的择偶标准，介绍公司服务进而帮助会员进行VIP升级服务。</p>
					<p><font>任职要求：</font></p>
					<p>1、热爱销售行业</p>
					<p>2、沟通能力、语言表达能力较强；</p>
					<p>3、亲和力较强、有良好的服务意识；</p>
					<p>4、有目标、有规划、有强烈的责任感和进取心。</p>
					</li>

					<li>
					<strong style="font-size:12px;">（二）、高级红娘</strong>

					<p><font>工作职责：</font></p>
					<p>1、针对VIP会员，在服务期内，以做媒的方式为会员牵线搭桥，安排双方会员见面；</p>
					<p>2、接受会员的心理咨询，提供情感方面的指导。</p>
					<p><font>任职要求：</font></p>
					<p>1、已婚已育优先；</p>
					<p>2、年龄25-40周岁；</p>
					<p>3、大专以上学历，优秀者学历可放宽；</p>
					<p>4、具备基本计算机操作，热爱网络婚恋行业及话题；</p>
					<p>5、良好的倾听，表达能力；</p>
					<p>6、亲和力佳，有良好的服务意识；</p>
					<p>7、团结，乐观，热情，积极。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<li>
					<strong style="font-size:12px;">（三）高端红娘</strong>

					<p><font>工作职责：</font></p>
					<p>1、负责为高级会员提供专业的婚恋咨询服务；</p>
					<p>2、在服务期间根据高级会员的需求，帮助其寻觅合适对象，从中牵线搭桥；</p>
					<p>3、挖掘高级会员需求，不断提高服务质量；</p>
					<p>4、负责会员资料的收集和整理工作。</p>
					<p><font>任职要求：</font></p>
					<p>1、大专以上学历，25周岁以上，已婚已育优先；</p>
					<p>2、性格开朗，热情，乐于助人，热爱婚恋行业；</p>
					<p>3、优秀的表达能力，具备高EQ，具备丰富的社会阅历 ；</p>
					<p>4、形象气质佳，举止修养良好；</p>
					<p>5、能承受一定的工作压力。</p>
					<p><strong>薪资福利待遇：</strong></p>
					<p>1、丰厚的底薪加奖金；</p>
					<p>2、带薪培训；</p>
					<p>3、六天工作制，单休，享受国家法定节假日及带薪年假；</p>
					<p>4、舒适的工作环境，快乐的工作氛围；</p>
					<p>5、结交成功人士，与优秀的同事一起工作。</p>
					<p>备注：简历请附带近照</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<h2 style="font-size:14px;">五、人事行政财务</h2>
					<li>
					<strong style="font-size:12px;">（一）、前台文员</strong>

					<p><font>工作职责：</font></p>
					<p>1、负责公司电话总机的接线，访客迎送等前台接待工作；</p>
					<p>2、负责收发公司往来信函、传真、订水、包裹的安排及与快递公司的联系；</p>
					<p>3、及时更新和管理员工通讯地址和电话号码等联系信息；</p>
					<p>4、协助人事行政部处理相关工作事务。</p>
					<p><font>任职要求：</font></p>
					<p>1、形象好，声音甜美，具有一定亲和力、沟通能力，普通话标准，口齿清晰，谈吐文雅，服务意识超前；</p>
					<p>2、熟悉前台工作流程，熟练使用各种办公自动化设备；</p>
					<p>3、熟练使用相关办公软件；热爱本职工作，工作热情、积极、细致、耐心，具有良好的沟通能力、协调能力，较强适应能力，性格开朗，相貌端正，待人热诚；大专以上学历，一年以上相关工作经验。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>
					<li>
					<strong style="font-size:12px;">（二）、人事专员</strong>

					<p><font>工作职责：</font></p>
					<p>1、选择并且维护招聘渠道，并拓展新的招聘渠道，发布招聘广告、参加各种招聘会；</p>
					<p>2、组织、安排面试，并且进行人力资源初试；</p>
					<p>3、参与绩效考核日常数据的收集及员工绩效考核的核算；</p>
					<p>4、领导交办的其他事情。</p>
					<p><font>任职要求：</font></p>
					<p>1、21-26岁，男女不限，大专以上学历，性格开朗活泼，应变能力强，沟通能力强；</p>
					<p>2、半年以上人事工作经验，熟悉掌握六大模块其中的一个模块。无工作经验的,需人力资源、行政管理、会计等相关专业毕业；</p>
					<p>3、具备强烈的责任感，事业心，优秀的沟通能力，耐心、细心，以及严谨的逻辑思维能力</p>
					<p>4、熟练使用办公软件；熟悉人力资源系统以及了解劳动合同法及相关人事政策法规的优先考虑</p>
					<p>5、文字编辑能力较强，了解绩效考核管理的优先考虑。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>

					<li>
					<strong style="font-size:12px;">（三）、会计</strong>

					<p><font>工作职责：</font></p>
					<p>1、审批财务收支,审阅财务专题报告和会计报表,对重大的财务收支计划、经济合同进行会签;</p>
					<p>2、编制预算和执行预算,参与拟订资金筹措和使用方案,确保资金的有效使用;</p>
					<p>3、审查公司对外提供的会计资料;</p>
					<p>4、负责审核公司本部和各下属单位上报的会计报表和集团公司会计报表,编制财务综合分析报告和专题分析报告,为公司领导决策提供可靠的依据;</p>
					<p>5、制订公司内部财务、会计制度和工作程序,经批准后组织实施并监督执行;</p>
					<p>6、组织编制与实现公司的财务收支计划、信贷计划与成本费用计划。</p>
					<p><font>任职要求：</font></p>
					<p>1、年龄24-30岁，男女不限，大专以上学历。</p>
					<p>2、2年以上会计工作经验，了解基础会计知识，有会计证，熟练操作Excel处理。</p>
					<p>3、工作认真踏实，稳重，接受力强，合肥本地户口优先考虑。</p>
					<p>工作地点：合肥</p>
					<p>请将简历发送至：hr@zhenaiyisheng.cc</p>
					</li>


				</ol>
			</div>
			<div class="clear"></div>
		</div><!--c-center end-->
		<div class="clear"></div>
	{template system/footer public}
	</div><!--content end-->

</body>
</html>
