<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>服务详情——真爱一生网</title>
{template system/js_css public}
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">
<link href="module/about/templates/{$GLOBALS['style_name']}/about.css" type="text/css" rel="stylesheet" />
</style>
</head>
<body>
<div class="clear"></div>
{template system/header public}
<!--头部结束-->
<div class="content">
		<div class="c-center">
		<!--左边开始-->
		{template public/about_left module}
		<!--左边结束-->	
		<!--右边开始-->	
		<div class="about-right">
			<dl class="about-right-text">
				<dt style="padding-top:0px;">1：你们网站和其他网站有什么区别呢？</dt>
				<dd>真爱一生网是一家正规专业的婚恋服务网站。与绝大多数交友类网站不同的是，我们通过手机认证、红娘人工回访和身份认证等形式，对会员进行甄别，在高诚意的会员之间进行牵线匹配介绍，所以有效避免了常见的婚托、酒托等诈骗行为，提高了婚恋的成功率。</dd>
				
				
				
				<dt>2：通过你们的服务一定能找到对象吗？</dt>
				<dd>婚恋是双方的事情，经过双方前期的沟通了解、中期的约会见面、后期的尝试相处，才能最终走到一起。真爱一生网的红娘大部分是具有多年婚恋经验的资深红娘，并通过会员成功率考核等方式提高红娘的专业知识学习，确保红娘的责任心，为客户提供专业高效的婚恋服务。但是，即便是自己的父母亲人帮自己介绍的也未必会最终走到一起，承诺一定会找到对象的一定是骗子。</dd>

				
				
				
				<dt>3：那我为什么还要在你们网站上找呢？</dt>
				<dd>随着互联网的兴起，网络征婚已渐渐成为一种潮流和趋势。与传统婚介相比，网络征婚具有受众面广、选择灵活性高、红娘专业服务到位等优势，可以帮助更多的朋友通过多方选择，最终确定自己的婚恋人选。另外，传统的相亲、婚介等，是先见面后沟通，第一印象非常重要，很多人会因为第一眼缘不够完美失去了继续交流的机会；而网络征婚是双方先沟通了解，相对熟悉后再安排约会见面，避免了初次见面的尴尬，和以貌取人。</dd>
                
				<dt>4：升级之后，我还需要支付其他的费用吗？</dt>
				<dd>真爱一生网根据您的需求，提供三个月和六个月的服务，一次性收取后，不会再收取任何费用。</dd>
				
				<dt>5：我能不能先见面再交钱？</dt>
				<dd>真爱一生网也是需要资金来维持运作的。虽然我们相信绝大多数的会员都是有诚信的，但是也无法排除个别会员恶意拖欠服务费用，为了避免变成讨债公司，我们是先收取服务费用再提供专业的服务的。</dd>
				
				
				<dt>6：我看上了一个女孩子，只想为她升级，其他的都不需要考虑了。</dt>
				<dd>从婚恋的角度来说，第一眼的印象固然重要但不是绝对的，我们也不可能因为一张相片、一份资料而决定自己的终身大事。事实上，我们有很多的会员，确实在沟通后发现彼此不合适、之后在红娘的帮助下重新找到了自己的幸福。真爱一生网之所以提供的服务是周期性的，也是为了尽量保证会员的成功率的。</dd>
				
				<dt>7：为什么我给你们去电话，有时候打不通呢？</dt>
				<dd>不要拨打红娘给您去电的号码，任何事情请拨打客服热线400-8787-920；不要在下班时间拨打电话，红娘上班时间是9:00-21:00；偶尔占线或者无人接听时，请稍等几分钟再拨打，可能红娘正在接听其他的来电。</dd>
				
				<dt>8：在网上看到一些负面的信息...</dt>
				<dd>作为一个服务的机构，真爱一生网确实没有做到让100%的会员满意，这是我们需要继续努力的地方；作为一个运营的企业，没有去尝试公关，让最真实的一面大胆呈现在客户面前，是我们的骄傲；作为市场竞争的参与者，我们理解某些竞争对手的想法，所以会用更好的服务和口碑，来赢得会员的认可和信赖。</dd>
				
				<dt>9：会员的真实性</dt>
				<dd>没有任何一家网站可以保证会员全部都是真实的。真爱一生网目前是通过手机认证、红娘人工回访和身份认证进行甄别，尽最大的可能将不诚信的会员剔除掉，升级收费本身也是一个有效的过滤方式。一旦确认会员在婚恋中存在欺诈行为，真爱一生网会主动偿付被骗会员的损失，同时通过法律途径追索欺诈者，严惩害群之马！</dd>
				
				
				<dt>10：有一种说法，交钱之后就没有服务了</dt>
				<dd>服务永远是真爱一生网首要原则。且不说网站不可能为了某一个人的服务费用就溜之大吉，没有良好的服务和口碑，网站也是无法正常运营下去的。</dd>
				
				<dt>11：服务到期了还没有找到怎么办？</dt>
				<dd>对于服务到期的vip会员，我们依然会优先匹配优先介绍。毕竟，成功率是真爱一生网生存的基础。</dd>
				
				<dt>12：怎么查询网站的正规性呢？</dt>
				<dd>可以查询工商注册号（所有的正规企业都必须具备的）和icp备案号（所有的正规网站都必须具备的）</dd>
				
				
				<dt>13：收费的价格太高了，可不可以优惠一些？</dt>
				<dd>相对于目前的物价和同行业的收费，真爱一生网一直坚持着最合理的收费标准，和最高效的婚恋服务。目前，仅钻石会员介绍朋友升级，可以享受88折优惠。</dd>
			</dl>
		</div>
		<!--右边结束-->	
		<div class="clear"></div>
	</div><!--c-center end-->
	<div class="clear"></div>
{template system/footer public}
</div><!--content end-->

</body>
</html>
