<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网-情感诊所</title>
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">
<link rel="stylesheet" type="text/css" href="module/about/templates/{$GLOBALS['style_name']}/about.css">
{template system/js_css public}
</head>
<script type="text/javascript">
function check(){
	var type = document.addclinic.type.value;
	var title = document.addclinic.title.value;
	var question = document.addclinic.question.value;
	var ps = "";
	do{
		if(!type){
			ps = "请选择情感问题类别";
			break;
		}
		if(title.replace(/\s/g,"") == ""){
			ps = "请填写标题";
			break;
		}
		if(question.replace(/\s/g,"") == ""){
			ps = "情感问题没有填写";
			break;
		}
	}while(0)
	if(ps){
		alert(ps);
		return false;
	}
	return true;
}
</script>
<body>
{template system/header public}
<!--头部结束-->
 
 <div class="clear"></div>
    <div class="main">
       <div class="loaction">
		<div class="loaction_left">
			<a href="index.php" class="color_7c127c fontSize_12">真爱一生首页</a> >> 
			<a href="index.php?n=about&amp;h=clinic" class="color_7c127c fontSize_12">情感诊所</a>
		</div>
		<div class="loaction_right">
			<a href="index.php?n=about&h=clinic_add" target="_blank">提交情感问题</a> | <a href="index.php?n=invite" target="_blank">复制当前页地址发给好友</a>
		</div>
		
		
	</div>fsdfsdf
       <div class="about">
		 {template public/about_left module}
         <div class="a_text">
         <form action="index.php?n=about&h=clinic_add" method="post" name="addclinic" onsubmit="return check();">
         <table>
         	<tr>
            	<td>情感类别</td>
                <td>
                <select name="type">
                	{loop $arr_clinic_type $k $v}
                	<option value="{$k}">{$v}</option>
                    {/loop}
                </select>
                </td>
            </tr>
            <tr>
            	<td>标题</td>
                <td>
                	<input type="title" name="title" size="50" />
                </td>
            </tr>
            <tr>
            	<td>内容</td>
                <td>
                	<textarea name="question"></textarea>
                </td>
            </tr>
            <tr>
            	<td colspan="2"><input type="submit" value="提 交" /></td>
            </tr>
         </table>
         <input type="hidden" name="postact" value="add" />
         <input type="hidden" name="n" value="about" />
         <input type="hidden" name="h" value="clinic_add" />
         </form>
        </div>
        <div class="clear"></div>
        
      </div>
     
     
    </div>
 <div class="clear"></div>
{template system/footer public}

</body>
</html>

