<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>升级钻石会员——真爱一生网</title>
<link href="public/default/css/global_import.css" rel="stylesheet" type="text/css" />
<link href="module/payment/templates/default/payment.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/js_css public}
<script src="module/search/templates/default/js/syscode.js?v=1" type="text/javascript"></script>
{template system/header public}
<div class="main">
    <div class="content">
		<p class="c-title"><span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;升级钻石会员</span></p>
		<div class="clear"></div>
		<div class="payment">
			<div class="pm-banner">
				<div class="banner-box">
				<p style="margin-top:20px;"><img src="module/payment/templates/default/images/go-see02.gif" /></p>
				<p style="margin-bottom:10px;"><img src="module/payment/templates/default/images/pay-num02.gif" /><a href="index.php?n=payment&h=channel_diamond"><img src="module/payment/templates/default/images/{php echo ($s_cid=='20') ? 'go-on' : 'open';}.gif" /></a></p>
				<p><img src="module/payment/templates/default/images/top-tel.gif" /></p>
				</div>
				<b class="vipicon"><img src="module/payment/templates/default/images/dm-icon.gif" /></b>
				<div class="clear"></div>
			</div><!--pm-banner end-->
			<div class="pm-content">
			<p style="padding:0 25px 10px;"><img src="module/payment/templates/default/images/con-title03.gif" /></p>
			<p class="pm-text">您是否仍在苦苦寻觅那个他/她？不要再被动的等待了！想要有缘人主动来到您的身边吗？</p>
			<p class="pm-text">立即升级为钻石会员，让您从2000多万用户中脱颖而出！</p>
			<h6><img src="module/payment/templates/default/images/con-title04.gif" /></h6>
			<p class="pm-text">钻石会员独享以下特色服务，现在升级，立即享用特权！</p>
			<div class="fu-box">
				<div class="fu-box-b">
					<div class="fu-box-side">
					</div>
					<div class="fu-box-center">
						<dl class="fu-box-text">
							<dt>一、视频介绍和才艺展示</dt>
							<dd>你是否还停留在以貌取人、单纯依赖文字性资料的误区？想要让那个他（她）了解更加真实生动的你吗？马上加入视频介绍和才艺展示吧！让你一步到位的找到心心相印、心灵默契的人。视频介绍和才艺展示的三大好处。<br />
								第一，展示真实自我风采！<br />
								第二，吸引更多关注，提升交友几率！<br />
								第三，多层面立体化的沟通方式，快速增进了解！
							</dd>
						</dl>
					</div>
					<div class="fu-box-side" style="background-position:bottom"></div>
				</div><!--fu-box-b end-->
				<div class="fu-box-b">
					<div class="fu-box-side">
					</div>
					<div class="fu-box-center">
						<dl class="fu-box-text">
							<dt>二、从星座生肖看爱情运势</dt>
							<dd>每个人的星座生肖中都隐藏着爱情玄机！这里有专业的婚恋专家针对您的星座生肖进行解说，分析什么样的异性与你相匹配，同时让异性更深入的了解你的真性情。令你散发诱惑性哦！你也可以说出你的恋爱史，让异性从你曾经的爱情故事中，感受你的真诚，用这颗清澈透明的求爱之心感动对方! 
							</dd>
						</dl>
					</div>
					<div class="fu-box-side" style="background-position:bottom"></div>
				</div><!--fu-box-b end-->
				<div class="fu-box-b">
					<div class="fu-box-side">
					</div>
					<div class="fu-box-center">
						<dl class="fu-box-text">
							<dt>三、亲友团助阵</dt>
							<dd>想让你的亲朋好友为你加油助阵吗？通过亲友团对你的评价，异性可以对你的生活圈子有充分的了解，让你更加形象生动！从而激起靠近你的欲望喔! </dd>
						</dl>
					</div>
					<div class="fu-box-side" style="background-position:bottom"></div>
				</div><!--fu-box-b end-->
				<div class="fu-box-b">
					<div class="fu-box-side">
					</div>
					<div class="fu-box-con">
						<dl class="fu-box-text">
							<dt>四、打造最佳约会</dt>
							<dd>工作很忙？不喜欢单一的约会项目？让真爱一生来帮您分忧吧！高级专属真爱一生会根据你的时间和喜欢的约会项目，为你打造属于你的最佳约会，高效的网上寻爱服务，让你轻轻松松找到心仪之人！</dd>
						</dl>
					</div>
					<div class="fu-box-side" style="background-position:bottom"></div>
				</div><!--fu-box-b end-->
				<div class="fu-box-b">
					<div class="fu-box-side">
					</div>
					<div class="fu-box-con">
					<dl class="fu-box-text">
							<dt>五、显要的位置排名</dt>
							<dd>想要异性第一眼看到你吗？钻石会员不仅搜索排名靠前,并且个人资料可以排在所在省市的首页，在异性会员的搜索结果中优先显示。 </dd>
						</dl>
					</div>
					<div class="fu-box-side" style="background-position:bottom"></div>
				</div><!--fu-box-b end-->
				<div class="fu-box-b">
					<div class="fu-box-side">
					</div>
					<div class="fu-box-con">
					<dl class="fu-box-text">
							<dt>六、独享尊贵标识 </dt>
							<dd>个人资料带有“钻石”闪光标识，突出尊贵身份，从众多普通会员中脱颖而出！</dd>
						</dl>
					</div>
					<div class="fu-box-side" style="background-position:bottom"></div>
				</div><!--fu-box-b end-->
				<div class="clear"></div>
			</div><!--steps end-->
			<h6><img src="module/payment/templates/default/images/con-title-d.gif" /></h6>
			<table width="905" border="0" cellpadding="0" cellspacing="0" class="pm-dm-table">
				<tr class="f-14x">
					<th width="574" height="55" align="center">钻石会员高级寻爱功能</th>
					<th width="137" align="center">高级会员寻爱功能</th>
					<th width="192" align="center">普通会员基本寻爱功能</th>
				</tr>
				<tr>
					<td>
						<dl class="fleft">
							<dt>特色视频功能--展现真实生动的个人和才艺</dt>
							<dd>可以通过视频介绍自己，展现你的多才多艺。</dd>
						</dl>
						<a target="_blank" href="index.php?n=myaccount&h=vhelp" class="go-video">视频疑问</a>
					</td>
					<td align="center">无视频功能</td>
					<td align="center">普通会员基本寻爱功能</td>
				</tr>
				<tr>
					<td>
						<dl>
							<dt>婚恋专家点评星座生肖--更好的分析适合你的异性特征</dt>
							<dd>专家通过对星座生肖的点评，了解什么样的异性与己匹配，让符合特征的异性主动来到你身边。</dd>
						</dl>
					</td>
					<td align="center">无此功能</td>
					<td align="center">无视频功能</td>
				</tr>
				<tr>
					<td>
						<dl>
							<dt>随心沟通--联络更自由</dt>
							<dd>2000多万会员想与谁联络就与谁联络。主动把握自己的爱情！ </dd>
						</dl>
					</td>
					<td align="center">可以与部分普通会员、VIP会员沟通</td>
					<td align="center">只能与部分高级会员和VIP沟通，被动等待爱情</td>
				</tr>
				<tr>
					<td>
						<dl>
							<dt>显眼位置排名--脱颖而出</dt>
							<dd>钻石会员不仅搜索排名靠前,并且个人资料可以排在所在省市的首页，在异性会员的搜索结果中优先显示。 </dd>
						</dl>
					</td>
					<td align="center">无显要位置排名</td>
					<td align="center">无显要位置排名</td>
				</tr>
				<tr>
					<td>
						<dl>
							<dt>VIP钻石特殊标识--身份更尊贵</dt>
							<dd>VIP闪光标识受到异性会员更诚意关注，关注率与收信率大大提升，爱情的脚步快速临近！ 	无特</dd>
						</dl>
					</td>
					<td align="center">无特殊标识</td>
					<td align="center">无特殊标识</td>
				</tr>
				<tr>
					<td colspan="3">
						<dl>
							<dt>基础功能--身份更尊贵</dt>
							<dd>创建个人档案，心理测试与心灵匹配，搜索意中人，浏览用户资料，和意中人打招呼，发送接收秋波和鲜花，向真爱一生发起委托。</dd>
						</dl>
					</td>
					</tr>
			</table>
            <div class="cs-bottom"><a href="index.php?n=payment&h=channel_diamond"><img src="module/payment/templates/default/images/{php echo ($s_cid=='20') ? 'go-on' : 'open';}.gif" /></a>
            </div>
			</div><!--pm-content end-->
		</div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
