<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>浪漫情人节  寻梦水晶鞋--真爱一生网</title>
<link rel="shortcut icon" href="public/default/images/favicon.ico" type="image/x-icon"/>
<link rel="bookmark" href="public/default/images/favicon.ico" type="image/x-icon"/>
<link href="module/payment/templates/default/shoes.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="top">
		<div class="top-box">
			<a href="index.php" class="logobox"></a>
			<p class="top-login"><a href="index.php?n=login" class="f-666" target="_blank">登录</a> | <a href="index.php?n=register" class="f-cb1f75" target="_blank">注册</a></p>
			<p class="top-nav"><a href="index.php">真爱一生首页</a> - <a href="index.php?n=about&h=us">关于我们</a> - <a href="index.php?n=about&h=media">媒体关注</a> - <a href="index.php?n=about&h=contact">联系我们</a> - <a href="index.php?n=about&h=links">合作伙伴</a> - <a href="index.php?n=about&h=getsave">意见反馈</a> - <a href="index.php?n=story">成功故事</a></p>
		</div>
	</div><!--top end-->
	<div class="content">
		<div class="center-box">
			<div class="c-box-l"></div>
				<div class="c-box-c">
				<div class="head-box">
					<a href="#" class="look-btn"></a>
					<div class="head-tips">
						<p class="tips-date" id="days">						
						</p>
						<script type="text/javascript">
							var d=new Date();
							var dt=new Date();
							dt.setFullYear(d.getFullYear(),1,7);
							document.getElementById("days").innerHTML=((dt-d)/3600/24/1000);
						</script>
						<p class="joinnum">已有
						<span>
							{$result}
						</span>
						人参加</p>
						<div class="join-btn-box">
							<a href="index.php?n=payment&h=diamond&countmen=1" class="comeon"></a>
							<a href="index.php?n=payment&h=diamond&countmen=1" class="upmember"></a>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="content-box">
					<div class="c-top">
						<p class="c-msg-p c-top-p">转眼，2010年又将划过，您为您的终生幸福努力了多少？不要再默默等待，新的一年情人节来临前做最后的冲刺，为自己的人生播撒温暖的阳光。倒计时前，种下这颗幸福花，来年牵手赏繁华。爱情是一种缘份，缘分不是天上掉下来的，真爱一生为您寻找并送到您的面前，但同时也可能稍纵即逝，一个转身就是一世。</p>
					</div>
					<div class="c-msg-box">
						<div class="c-title"><span class="act-msg"></span></div>
						<p style="padding:10px 16px;"><strong>在真爱一生网上注册的普通会员，</strong></p>
						<p style="padding:10px 16px;"><img src="module/payment/templates/default/images2/title01.jpg" /></p>
						<p class="c-msg-p">只要您在2011年2月1日-2011年2月7日之间，升级会员，即可享受交600抵1000的活动。即:</p>
						<div class="c-m-tips">
							<p>高级会员&nbsp;&nbsp;原价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元&nbsp;&nbsp;活动时期价格&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元</p>
							<p>钻石会员&nbsp;&nbsp;原价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元&nbsp;&nbsp;活动时期价格&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元</p>
						</div>
						<p class="c-msg-p">如果活动期间您不能一次付升级费用，那么只要您在活动期间预付600元（含）以上，在2月15日-2月28日内补齐费用，一样可以享受我们的活动，即600元抵1000元。</p>
						<p style="padding:10px 16px;"><img src="module/payment/templates/default/images2/title02.jpg" /></p>
						<ul class="c-msg-ul">
							<li><em>1.</em> 年龄数字中含6的会员（凭户口本）</li>
							<li><em>2.</em> 身份证号码中含6的会员（凭身份证）</li>
							<li><em>3.</em> ID号码中含6的会员</li>
							<li style="color:#a25400">即可成为6周年优惠专享嘉宾，专享以下活动（限600名）</li>
							<li><em>1.</em> 享受个人主页的视频制作，真爱一生网的技术人员会根据您的特殊要求为您量身制作。</li>
							<li><em>2.</em> 享受“爱情定制计划”，帮您第一时间找到心上人。</li>
						</ul>
						<div class="c-title"><span class="act-mean"></span></div>
						<div class="c-mean-box">
							<p>真爱一生网创建于2005年2月14日，2011年2月14日是她6岁的生日。真爱一生们相信：时间冲不淡爱情的酒，距离拉不开思念的手。所以，在属于您们的日子里倾情推出普通会员六周年盛典活动，加入此次活动的普通会员可以享受钻石会员个人主页的视频制作和“爱情定制”计划，这个爱情计划是由真爱一生为您倾情配对，第一时间帮您找到心仪的Ta。</p>
							<p>这个世界上，总有一个适合您的人存在。或者远在天涯，或者近在身边，却总是擦肩而过无缘再见，我们的真爱一生透过外表，穿越内心，寻觅最适合您的人。</p>
							<p>有这样一个平台，有这样一支团队，有这样一种服务，在为您创造幸福，您还在等什么？爱情，永远是整个人类世界中最恒久的话题；而媒人，自古就是中国式爱情当中不可或缺的重要角色。真爱一生如同降临在人间的月老，负责把正在努力寻找爱情的单身男女，用一根红线，系在一起。</p>
						</div>
					</div>
					<div class="c-box-bottom"></div>			
				</div>
				</div>
			<div class="c-box-r"></div>
		<div class="clear"></div>
		</div>
		<div class="bottom">
		<p><a href="index.php?n=about&h=us">关于我们</a> | <a href="index.php?n=about&h=media">媒体关注</a> | <a href="index.php?n=about&h=contact">联系我们</a> | <a href="index.php?n=about&h=links">合作伙伴</a> | <a href="index.php?n=about&h=getsave">意见反馈</a> | <a href="index.php?n=story">成功故事</a> | <a href="index.php?n=payment&h=channel">汇款信息</a></p>
		<p>真爱一生网备用域名： <a href="#">www.hongniangw.com</a> | <a href="#">www.hongniangwang.com</a></p>
		<p style="padding:10px 0;"><img src="module/payment/templates/default/images2/bottom_tel.gif" /></p>
		<p>Copyright 2005-2010 版权所有：真爱一生网 <a href="http://www.miibeian.gov.cn" target="_blank">闽ICP备09064513号</a></p>
	</div>
	</div><!--content end-->
</body>
</html>
