<div class="centent-right">
<div class="centent-right-side"></div>
<div class="centent-center">
<p class="centent-right-title">热门标签</p>
<!----------==============-->
<ul class="hot-tag">
<li>
<a href="./index.php?n=search&h=tag&tagname=age&s={$users['gender']}&tagid=1&linktag={php echo base64_encode('情窦初开')}&condition={$condition}&sortway={$sortway}">情窦初开</a>
<a href="./index.php?n=search&h=tag&tagname=age&s={$users['gender']}&tagid=2&linktag={php echo base64_encode('花样年华')}&condition={$condition}&sortway={$sortway}">花样年华</a>
</li>				
<li>
<a href="index.php?n=search&h=tag&tagname=body&s={$users['gender']}&tagid=8&linktag={php echo base64_encode('身材丰满')}&condition={$condition}&sortway={$sortway}">身材丰满</a>
<a href="index.php?n=search&h=tag&tagname=occupation&s={$users['gender']}&tagid=6&linktag={php echo base64_encode('媒介精英')}&condition={$condition}&sortway={$sortway}">媒介精英</a>
</li>
<li>
<a href="./index.php?n=search&h=tag&tagname=salary&s={$users['gender']}&tagid=2&linktag={php echo base64_encode('白领小资')}&condition={$condition}&sortway={$sortway}">白领小资</a>
<a href="./index.php?n=search&h=tag&tagname=salary&s=0&tagid=1&linktag={php echo base64_encode('钻石王老五')}&condition={$condition}&sortway={$sortway}">钻石王老五</a>
</li>
<li>
<a href="index.php?n=search&h=tag&tagname=occupation&s={$users['gender']}&tagid=8&linktag={php echo base64_encode('金融精英')}&condition={$condition}&sortway={$sortway}">金融精英</a>
<a href="index.php?n=search&h=tag&tagname=occupation&s={$users['gender']}&tagid=12&linktag={php echo base64_encode('艺术工作者')}&condition={$condition}&sortway={$sortway}">艺术工作者</a>
</li>
<li>
<a href="index.php?n=search&h=tag&tagname=body&s={$users['gender']}&tagid=11&linktag={php echo base64_encode('皮肤白皙')}&condition={$condition}&sortway={$sortway}">皮肤白皙</a>
<a href="index.php?n=search&h=tag&tagname=occupation&s={$users['gender']}&tagid=2&linktag={php echo base64_encode('职业经理人')}&condition={$condition}&sortway={$sortway}">职业经理人</a>
</li>
</ul>
<ul class="other-tag">
<li><a href="index.php?n=search">点此使用其他的搜索方式&gt;&gt;</a></li>
<li><a href="index.php?n=search&h=tag">点此返回标签搜索页&gt;&gt;</a></li>
</ul>
<!----------==========-->
</div>
<div class="centent-right-side" style="background-position:bottom;"></div>
</div><!--centent-right end-->