<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani02.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>牛（丑牛）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖牛的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">牛守护神：</span>虚空藏菩萨</dt>
						<dt><span class="f-ed0a91">牛开运水晶：</span>黄水晶</dt>
						<dt><span class="f-ed0a91">牛速配：</span>鼠、蛇、鸡</dt>
						<dd>配鼠：热情的鼠为沉默的牛带来欢乐，对牛忠心，相处和睦。</dd>
						<dd>配蛇：蛇非常忠诚待牛，蛇更能依据才能帮助牛开展事业。</dd>
						<dd>配鸡：富有领导欲的牛可使保守的鸡服从，各取所需。</dd>
						<dt><span class="f-ed0a91">牛职场：</span>事业发展得心应手。</dt>
						<dt><span class="f-ed0a91">牛理财：</span>财运稳定，今天总运势高涨。</dt>
						<dt><span class="f-ed0a91">牛性格：</span>责任感强，踏实。</dt>
						<dt><span class="f-ed0a91">导&nbsp;&nbsp;读：</span>牛年出生的人责任感强，勤勉踏实，所以工作中很受上司的赞赏和信赖。即使工作中发生一些困难，他那坚强的耐力也会突破难关而坚持到底。</dt>
					</dl>
					<p>牛年出生的人责任感强，勤勉踏实，所以工作中很受上司的赞赏和信赖。即使工作中发生一些困难，他那坚强的耐力也会突破难关而坚持到底。属牛的人是工作的奴隶，他们是那种努力工作以获得利益和成果的人，但他不肯把自己的与心情坦白地说出来，所以旁人也很难理解他，依属牛者的个性，即使与人发生纠纷也不会将自己的不满说出来，而是让大家心平气和地沟通。</p>
					<p>稳定、勤勉、富于创意、注意实际等都是属牛人的优点，但是一谈到思维方面的特征时，属牛的人就如牛给人的联想般显得厚重、缓慢又极端固执。他最大的缺点是缺乏通融性，不接受朋友的忠告，最后往往变成固执己见、独断专行，属牛的人是个重视传统观念的人，所以必须改掉这些缺点，多体谅别人的心情。</p>
					<p>属牛的人不善明显地表达自己的情感。他信在这方面较为保守，喜欢以安静的间接的方式表达。生肖牛年的男女均诚朴，脚踏实地，几乎没浪漫的气质，因此作为恋爱对象，谈不上有太多的情调。</p>
					<p>属牛的人发起怒来便尤如一只粗暴的蛮牛，使人不敢接近。这种不稳定的性格，有时会把辛辛苦基建立起来的形象破坏掉。他对人的喜、恶分得清楚，绝不会勉强自己和不喜欢的人交往，可是内有想领导别人的欲望，所以对依赖自己的人照顾得相当周到。他是希望投意合的朋友一起行动的类型。</p>
					<p>财运以晚年为佳，事业运也属于能够一一圆满解决的类型，牛年出生的人，一生的运势很明显的属于大器晚成型，而且由于自尊心强，外表虽温和，内心却有强烈的自我表现欲，不适合“默默无闻”的工作。即使进入工薪阶层的世界，只要不操之过急，晚年必能占有一席之地。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
