<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star02.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>金牛座（阳历4月20日-5月20日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=2&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=2">金牛传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=3">金牛男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=4">金牛女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=5">金牛爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=6">金牛速配 &gt;&gt;</a></h6>
					<h4>金牛女人：</h4>
					<h5>金牛女人：</h5>
					<p>如果您决心要娶一个金牛座的女人回家，我会起立向您致敬—您真的是太明智了。</p>
					<p>说得恭维一点，金牛座的女人应该是属于社会中流砥柱型的人物。她们的性情稳定、温和，做起事来踏实而努力。她们几乎不可能会是个爱闹脾气的娇纵大小姐，更不会哭哭啼啼的情绪化。她们实际，而且懂得预算，所以您大可以放心的是，她绝不会是个挥霍无度的少奶奶。还有一点，会让很多男人羡慕的，那就是您的金牛座女人不是个醋坛子，她不会因为您看了哪个女人一眼，或是多说了一句赞美的话就大发脾气。多数时侯，她真的是非常有肚量的。不过，如果您因为如此，而随心所欲，轻易造次的话，后果恐怕就不堪设想啰！</p>
					<p>“忠实”应该算是牛座女子对感情的第一要求。我说过她并不会小气的在意您的一举一动，但是，您可得有个限度，她对于感情的占有欲望极高，千万不要背叛她，对于很多金牛座的女子来说，这可是她们律法中的唯一死刑。您得切记：不要吃定了她的脾气温和、性情稳定！当您真的触怒她的时侯，您会深切的体会到什么叫“雷霆”大火，奉劝您别试为妙。</p>
					<p>其实金牛座的女人不只是对爱情的占有欲很强，对友情也同样有这种倾向。对于她的好朋友，她忠实而慷慨，有时甚至到了溺爱的地步。但是她也会要求她的朋友对她绝对忠诚，否则她就会失望、愤怒，有时侯，她的标准甚至有点盲目。</p>
					<p>好了！既然您知道她对于“忠实”有着绝对的要求，那您也大可放心，她会绝对忠实的对待您啰！您的金牛座女人绝对不会在您遭遇困难的时侯离您而去，她会坚强的陪着您度过难关。在面对痛苦挫折的时侯，金牛座的女人往往勇敢的令人佩服。她们很少看起来就是一副精明干练的样子，但是她们的确有一股坚毅的气质。</p>
					<p>像这样的贤妻良母，您怎么能不花点工夫把她娶回家呢？首先，您必须要记得，实际的金牛座女子，追求的是实实在在的感觉。我不是说她不浪漫，是实上在爱情中的金牛座是既浪漫又性感的。只是您必须要用看得到、听得到、闻得到、触摸得到的实际感观享受，引导出她的浪漫气质才行。</p>
					<p>千万不要一嘴蒜味的去跟她约会，可能的话最好刷个牙保持口气清香。穿一套色调协调的衣服。在金星守护下的金牛座女子，是非常重视美感的。衣料的质感也很重要，她喜欢触感很好的质料。您看大多数金牛座的女人，总是穿著式样简单，但是质感舒适的服装。她们几乎不太可能选择时髦，但看起来廉价的衣服。因此，您自然不必穿得太“哗众取宠”啰！</p>
					<p>有机会的话，不妨带她去听一场音乐会（当然，重摇滚通常不太适合牛座的女人）。邀请她去吃一顿口味道地、气氛优雅的晚餐。饭后，在月光下散散步。您很快就会看见一头温柔浪漫的小母牛了。金牛座的女人都很喜欢大自然，因此，有时侯请她到郊外走走，也是非常好的提议。</p>
					<p>以上所提供的方法，自然是投其所好。但是您们之间交谈的内容却是更重要的。您不必在她面前吹嘘自己的事业日进斗金，前途无量，摆谱耍阔并不是吸引她的方式。她情愿嫁一个殷实、有理想的小商人，也不愿选择一个一掷千金的暴发户。您应该相信，她是有耐性陪着您脚踏实地，为前途奋斗的。还有，您得记得，最好不要在外人面前批评她，这种感觉对她来说有点接近背叛，很容易引起她的愠怒不安。</p>
					<p>金牛座的女人恐怕没有太大的兴趣，陪您聊一些“形而上”的学问，她会对那些对人生有实际帮助的知识此较感兴趣。她不会喜欢浪费时间在“空谈”上面。所以，请不要老是用一些似是而非的话去烦她，不要说她不够“知性”，等您的人生遭遇到问题的时侯，您就会发现，她知道的可多啰！</p>
					<p>如果您硬要说金牛座的女子有什么缺点，那么就只是“动作慢”了。说她动作慢或许并不是很恰当，应该说，半牛座的女人非常坚持她所做事情的步调。绝对的按步就班。而且非常不喜欢别人催促她。比方说，当您向她询问一些事情的结果的时侯，金牛座的她很少会直接把结果告诉您，她会习惯地将事情发生的前因后果，依照步骤慢慢地说给您听。如果您不耐烦，她会很难过，觉得自己不受尊重。</p>
					<p>金牛座的做事方法，对于这个快速的社会，其实是挺有缓冲作用的，只要您懂得尊重她，我保证您周围的朋友都会羡慕您！毕竟，能拥有这样温和又懂得分寸的女人是何其幸运呢！还有，您的银行存款会上涨的很快！“存钱”，可是金牛座女人的看家本领！</p>
					<h5>金牛座的女人与“性”</h5>
					<p>金牛座女人在性爱的表现上是比较保守的。但在金星守护下的她，实际上内心非常渴望浪漫。多数金牛座女子的性欲都很高，但却羞于采取主动。对于对方的表现，总是会全力的配合。她倾向于喜欢比较长时间的调情、性交，持久力相当的好，对于草草了事的性爱不感性趣。金牛座的女子如果愿意大胆的把自已的喜恶、需要让对方知道，对于愉快的性生活是有正面帮助的。</p>
					<h5>金牛座的女子与十二个星座的男人</h5>
					<dl>
						<dd>1　白羊座：您可能会觉得他有一点点“臭屁”。他在工作上的冲劲令您欣赏，但是他的急躁会令您不安。</dd>
						<dd>2　金牛座：这似乎是建立安定幸福家庭的保证，但往往两个太相像的人相处，会有一种“不够劲儿”的感觉。</dd>
						<dd>3　双子座：他总是新鲜有趣，但总是给您一种靠不住的感觉。</dd>
						<dd>4　巨蟹座：温柔的他给您一种“家”的感觉，但您得多体贴他情绪上的起伏。</dd>
						<dd>5　狮子座：您或许会觉得他的爱太过灿烂而无法持久，他做事的方法让您有点担心。</dd>
						<dd>6　处女座：在各方面来说，他都是很让您放心的。只是那点吹毛求疵的习惯，有些叫人吃不消。</dd>
						<dd>7　天秤座：同样在金星守护下的他，有着吸引您的特质，在他面前您会变成爱撒娇的小女孩，这样的改变让您自已有些担心。</dd>
						<dd>8　天蝎座：他那像火又像冰的个性让您有些害怕，但坚毅执着的气质却让您不得不欣赏。通常您会选择先保持距离，以策安全。</dd>
						<dd>9　射手座：您们的个性截然不同，他是令您好奇、惊讶，大不叹吃不消的典型。</dd>
						<dd>10　摩羯座：虽然他实在不怎么有情趣，或许不能给您浪漫的爱情，但却是您心目中理想可靠的伴侣。</dd>
						<dd>11　水瓶座：您觉得他思路太过飘忽，而他或许觉得您太过实际了，不妨学习对方完全不同的气质吧。</dd>
						<dd>12　双鱼座：他总是那么温和，那么善解人意，唯一让您担心的是，他的想法会不会离现实太远了呢？</dd>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
