<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star02.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>金牛座（阳历4月20日-5月20日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=2&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=2">金牛传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=3">金牛男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=4">金牛女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=5">金牛爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=6">金牛速配 &gt;&gt;</a></h6>
					<h4>金牛爱情：</h4>
					<h5>金牛座爱情</h5>
					<p>在您未遇到经济问题前，您都是贪图外表的一族，您多数的情人都不会是您先喜欢的，因为您对喜欢的人只会暗恋。您一生大大小小暗恋的次数简直是天文数字，然而当对方走近您又会害羞起来，所以您的恋爱大多都是从朋友关系建立起来的。而您考虑到对方是否适合自己时，您最先看的：1.)钱，2.)外貌。反应迟钝的您活像一个聋子，示爱时又吞吞吐吐，似是个聋哑人士的您很容易令人对您的第一印象是高傲，谁不知您只是来不设反应…真可悲…您就像是一头牛，很难跟您开始发展爱情，又聋又哑的您还要是个路痴，所以要当您的情人，必先要有超人的耐性，不断重复同一句说话的沟通方法更要时常安抚您小家子的脾气。但，一旦真的开始了恋爱，您却是蛮能信任的情人。</p>
					<h5>金牛座爱情面包的抉择</h5>
					<p>金牛座的您并不像这个星座的名称“金牛”一样，只重视金钱，不重视爱情。</p>
					<p>金牛座的守护星是金星，金星掌管美、浪漫与和谐，而金牛座是土向星座之一，本质上是重视实际的星座。在这两种特质的影响之下，金牛座的您并不像这个星座的名称“金牛”一样，只重视金钱，不重视爱情。</p>
					<p>还记得一些民初军阀戏吧？女主角常常周旋在两种不同类型的男主角之中。一个是军阀子弟，有钱有势；一个是有为的爱国青年，一腔热情却穷困潦倒。剧中的女主角当然是选择爱国青年，选择爱情。</p>
					<p>如果剧中的女主角是金牛座，这两个男主角都会被三振出局，这种推论您一定深表认同。</p>
					<p>所以，爱情与面包的抉择对您来说，并不是一道单选题，而是不同比例的复选题。 </p>
					<p>很多人都会觉得，金牛座不是为恋爱而恋爱，而是为结婚而恋爱。这样的心态让金牛座保有一种谨慎而平衡的心情，在爱的路上显得稳扎稳打。</p>
					<p>选择对象时也是如此，我想，您列入考虑范围的候选人，都是具有不错的浪漫与实际的特质。如果您剔除了不符条件的人选之后，还有不只一个机会，您真是幸运的人。就凭您的感觉挑选吧，我相信您的选择。</p>				
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
