<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
		<!-- 血型头部 -->
		{template public/lovestyle_bty_header module}
		<!-- 血型头部结束 -->
		<!--=====左边开始=====-->
		{template public/lovestyle_left	module}	
		<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-b.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>B&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">B血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">B血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">B血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>B型女配对秘籍</h4>
					<h5>B血型女生配A血型男生</h5>
					<p>彼此的吸引点：这是一对差异很大却容易产生强烈吸引力的组合。A血型男生遇事坚定执着，对于凡事没有主见、容易受环境影响的B血型女生来说，如同遇到了一个主心骨，在他身边可以感受到很强的安全感。且A血型男生有着很强的内敛性，令B血型女生产生好奇心。而常常有着较大心理压力的A血型男性，在温柔随和的B血型女性身边，也会感到平静和放松。</p>
					<p>可能出现的问题：A血型男性喜欢用少说多做的方式来表达爱意，B血型女性却是典型的听觉恋爱动物，如果不能经常性的得到恋人对她和这份爱的肯定，她们会很不安。B血型女性说话做事较为随意、粗枝大叶，也常会令循规蹈矩的A血型男性感到头痛。</p>
					<p>增进感情的方式：A血型男性可以多学习B血型女友轻松随意的生活态度。B血型女性要了解A血型男性表达爱的方式是以行动证明，看到对您实际的好，就会明白他有多爱您。</p>				
					<h5>B血型女生配B血型男生</h5>
					<p>彼此的吸引点： 双方都很感性、随和，彼此相处起来非常舒服。他们能够默契的保持各自的独立性，也不会过多干涉对方。因为B型男和B型女凡事都不会太顶真，有着求同存异、大而化之的个性，所以这是一对几乎不会争吵的情侣。B型女生生气了，B型男生一定会想办法哄她开心；换了B型男生心情不好，B型女生也一定会敏锐的感觉到，及时安抚他的情绪。</p>
					<p>可能出现的问题：B血型男性和B血型女性都是感性的人物，也不具有很强的爱的执着性，对人对己的约束性都不大，所以他们的感情具有较强的不稳定性。虽然感情开始的初期，B血型的男女会比任何血型的男性女性都更善于表现自己的魅力和温柔。但随着时间的推移，当他们感到平淡无趣，就会开始松懈，并难以经受外在新鲜的诱惑。</p>
					<p>增进感情的方式：每一个人都是无穷无尽的宝藏，多发现对方身上您未曾了解的地方，会有许多惊喜。也不要因为彼此的逐渐熟悉而放松对自己的要求，保持在对方眼中最可爱的形象。</p>
					<h5>B血型女生配O血型男生</h5>
					<p>彼此的吸引点：B血型女生会被O血型男生的满满自信所吸引，在她看来，O血型男生是那么能干有主见、有男子汉的气息，有找到依靠的感觉。而O血型男生和B血型女生在一起会很开心，她总是那么崇拜您，温柔的对待您，永远不会和您争论，说什么都会相信，充分满足了O血型男生内在的大男子情结。O型男往往希望成为恋爱关系中的主导者，而女性化程度很高的柔和的B型女也会很愿意配合他。</p>
					<p>可能出现的问题：O血型男性行事具有很强的现实性和逻辑性，B血型女性完全凭感觉行事的个性让他们颇为头痛。O血型男性是一旦有什么看不惯就会毫不客气的直接指出，会让细腻敏感的B血型女性感到很受伤害。</p>
					<p>增进感情的方式：O血型男性即使感到B血型女性有什么不对，也要婉转的提醒，并且让B血型女性感到您是出于对她的关心和好意。内心有点不自信的她们也需要您经常的肯定和赞美。</p>
					<h5>B血型女生配AB血型男生</h5>
					<p>彼此的吸引点：AB型的男生和B血型的女生都是比较被动型的人，所以他们的恋情一般都要酝酿徘徊很久才开始。不过一旦恋爱，他们相处起来会充满情趣，因为双方都是喜欢自由和寻找乐趣的人。AB型的男生有着B血型男性的轻松感性又有A血型男性的细心理性，举止言谈也温柔体贴，对于个性同样柔和的B血型女性来说，会是非常贴心的男友。而亲切又好脾气的B血型女生，在AB型男生看来，也是不可多得的可爱的伴侣。</p>
					<p>可能出现的问题：B血型女生说话是想到什么说什么，比较大大咧咧，也不大注重礼仪，可能会时常伤到敏感的AB型男生的心。AB型男生不开心起来也会有情绪化的问题，对于单纯的B血型女生来说，却总是不明白他为什么变化这么大。</p>
					<p>增进感情的方式：B血型女生看到AB型男生对您的付出，要多给予肯定和表扬，他会很开心。而AB型男生要了解B血型女生天生比较随意不善客套的个性。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
