<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani06.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>蛇（巳蛇）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖蛇的来历传说</h4>
					<p>蛇在十二生肖中排行第六，与十二地支配属“巳”，故一天十二时辰中之“巳时”—上午九点至十一点又称作“蛇时”。</p>
					<p>很久很久以前，蛇和青蛙是朋友，不过蛇那时长有四条腿，青蛙却没有腿，靠肚子蠕动爬行，可是蛇好吃懒做，青蛙十分勤快它不但要捉虫给蛇吃，还帮助人们捕害虫。因此人类当然厌恶蛇，喜欢青蛙了。</p>
					<p>蛇发现人们讨厌他，他开始仇视人，它见人就咬，见畜就吃，弄得人间很不安宁。土地神见状，告到了天宫。玉帝将蛇传上天宫，劝他改恶从善，蛇却口出狂言，决无悔改之意。玉帝大怒，令神兵砍去蛇的四条腿，免得害人，从此，蛇就失去了四条腿，玉帝又见青蛙有功于人，将蛇的四条腿赐给青蛙。</p>
					<p>青蛙有了腿之后，更为勤快了。蛇知错改过，决心重新改造自己，也开始吃害虫并拖着长长的躯体，一声不响地为人类做好事，蛇还跟着龙学治水，蛇死后，也将自己的躯体献给人类，作为药物救治了许多病人。玉帝见蛇知过能改，奋发向上，在策封十二生肖时，让它排在龙的后面，当上了人类的生肖。</p>
					<p>蛇当上生肖以后，当然不主动伤人了，一旦恶念萌发，便将恶念化成一层皮蜕下，以示重新作人。尽管如此，它还是对青蛙拥有它的四条腿怀恨在心，因此，直到今天，蛇还是见青蛙就咬。青蛙自知占了蛇的便宜，于是见了蛇就会吓得发抖，急急忙忙地躲开。</p>
					<p>显然，蛇是靠自己的努力当上生肖的。</p>
					<p>无独有偶，世界几大文明古国中除中国之外的巴比伦、希腊、埃及、印度等国，也有十二属相的民俗，并且毫无例外都有蛇。＜＜圣经＞＞中记载的伊甸园的蛇，敢冒神的禁律，启发人类始祖亚当和夏娃偷食禁果，使人类从此知善恶，有七情六欲。蛇的这种壮举，同偷天火到人间的普罗米修斯　是一样伟大的。著名玛雅库库尔坎神殿，即羽蛇神殿的意思。希腊智慧女神雅典娜的宠幸物正是一条象征智慧和长寿的蛇。宙斯使臣赫尔墨斯手中也总是握着一根象征特权的双蛇杖。至于印度，更是一个充满灵蛇崇拜的国家。其实传说中的炎黄始祖，妇娲这一氏族，正是以蛇图腾崇拜的。这一系列的现象说明，蛇同人类有着极其悠久的不解之缘，中国民族将蛇作为自己的生肖也就毫不足怪了。</p>
					<p>上午9－－－11时（即“巳时”），据说这时候的蛇不会伤人，也不在人行走的路上游荡，多隐藏在草丛中，这样时就属于蛇的了。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
