<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani05.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>龙（辰龙）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属龙血型——破解您的爱情魔咒</h4>
					<h5>属龙A血型</h5>
					<p>属龙A型血人的性格既有活泼好动一面，又有细腻、敏感的一面。 正直无私，对自己、朋友的严格要求；爱憎分明，不善应酬，也不圆滑。</p>
					<p>总是抱着大展宏图的雄心壮志，靠着天生的超强运势和丰富的才华，在政治、经济、文化等方面，雄居显要位置。只要努力和有毅力，特别容易取得大成就。</p>
					<p>此人的内心充满童稚，天真无邪，纯朴爽朗，生性幽默。同时他又是一个复杂的个性组合，既有才华，又有纯朴，既埋头苦干，又牢骚满腹，既快乐，又忧郁，但却是可信赖的人。</p>
					<p>属龙A型血人的爱情属于消极型的，对所爱之人难以启口，往往坐失良机。虽不会遗恨终生，但常常难忘昔日情人，并渐渐地变成一种友情，伴随一生。</p>
					<p>男子具有阳刚之气，魅力十足，深得年轻活泼女人的青睐，但女人很难打动他，因为他对自己曾经恋情很执着。</p>
					<h5>属龙B血型</h5>
					<p>属龙B型血的人是天真的乐天派，富于生命力，喜欢交友，直率，初次与他人见面，只要印象了即欲交友。不善交谈，有时害羞。</p>
					<p>有创造天赋，异想天开，能提出独创建议。个性坚强，从不服输，具有号召和、组织力。天真、幽默而有趣。喜欢回忆，为理想不懈追求。</p>
					<p>为人正直，能高瞻远瞩。业余时间喜欢各种棋艺，乐此不疲。</p>
					<p>属龙B血型的人能吸引异性，个性粗犷、任性、不拘细节，自我意识浓。这此性格颇得异性欢心。</p>
					<p>具有号召力和吸引力，感情上却沉默不知所措，甚至害羞。在恋爱时，快乐而又可爱，但婚后往往任性，爱发脾气，也很容易在爱人的宽容和理解下，又变得快乐、可爱、和平如初。</p>
					<p>男性宜找贤慧、沉稳、有度量、坦率、开朗的女子为妻。</p>
					<p>女性宜找稳重、成熟、乐观、幽默的男子为夫。</p>
					<h5>属龙AB血型</h5>
					<p>属龙AB型的人崇尚纯洁高尚的爱情，对爱情真诚，讨厌玩世不恭、游戏爱情的人。</p>
					<p>在生活中，不断寻求自己的伴侣，一旦发现，会积极追求，并把此事看得很神圣，郑重求婚。非常尊重对方，为爱可以牺牲一切。 责任心很强，处处以家庭利益为重，处处为对方着想，能建立人人羡慕的甜蜜家庭。</p>
					<p>女性宜找沉稳、成熟、老练、圆滑、积极进取的男子为伴；</p>
					<p>男性宜找稳重、沉静、有涵养、坦率、有度量、善解人意的女子为伴。</p>
					<h5>属龙O血型</h5>
					<p>属龙O血型的人自信心很强，自负不服输，争强好胜。正直无私，肯帮助人，宽宏大量，有号召力和组织能力，具有领袖风范，扮演重要角色，在单位里起支柱作用。处世不够圆滑、坦诚，爱自我表现，意志坚强，对决定了的事绝对不动摇。</p>
					<p>一生运势大起大落，但总的合势很强盛，中年以后大多功成名就，位居显要。有时会一意孤行，异想天开的冒险，会遭到重大失败，使自己陷入困境。</p>
					<p>对恋人充满狂热的爱，富于幻想，充满浪漫情调。野性、莽撞、浓烈的爱往往会使文静的女子退避三舍。但经过长时间考验，温柔而有依赖性的女子还是非常喜欢他。 婚后一方面沉溺在小家庭的幸福，另一方面不忘自己的事业。无论男、女都会是事业的强人，很少干家务事，因此宜找性情温和、体恤、细心、忠厚、朴实、善解人意的男（女）子为伴。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
