<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani08.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>羊（未羊）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属羊血型——破解您的爱情魔咒</h4>
					<h5>属羊A血型</h5>
					<p>属羊Ａ血型人性格，是个满怀和平博爱精神的人，对有损别人利益的话和事，不提不做，与人为善，和睦相处，尽量不得罪人，处处为别人着想，处世圆滑，与世无争。喜欢安定和平的生活，做事求稳求安。从不喜欢冒险，在行事之前，必定做好周密详尽的计划，然后按部就班有务不紊地进行，有许多细小的地方也不马虎。耐心和毅力惊人，这是他们事业成功的保证。为人谦和，不喜欢表现自己，从不夸耀自己的成绩，从不邀功。人生目标很现实，不偷懒，不好高骛远，脚踏实地，一切着眼于现实，做好眼前的每一件事，稳扎稳打，一步一步地前进。</p>
					<p>缺点是缺少挑战精神，把自己局限在一狭小的天地里失去了许多好的机遇，不过这种稳健作风，中年以后会带来好运。</p>
					<p>属羊Ａ血型人很传统。严格地区分&quot;朋友&quot;和&quot;恋人&quot;，并分别对待，对朋友以诚相待，决没有非份之念，并保持一定距离。对于恋人，则尽一切力量帮助对方，为了恋人，可以牺牲自己的一切。恋爱时忌妒心很强，表面上很尊重对方，但由心深处，时刻在担心对方有&quot;情感走私&quot;的现象。</p>
					<p>属羊Ａ血型的女子是典型的贤妻良母，她们的温柔贤淑博得男士宠爱，宜找性格刚、善良、正直、幽默、乐观、积极进取的男士为夫。他们的婚姻中是中国典型男耕女织的婚姻。丈夫忙事业、忙工作，而妻子在家忙家务，忙孩子，把一切安排得井井有条。</p>
					<p>而男子则善于计划，性格温和，朴实、敦厚，给人一种安全感，深受性格活泼天真浪漫，事业心强的女子的喜爱，他们的结合，也是完美的结合。</p>
					<h5>属羊B血型</h5>
					<p>属羊Ｂ血型人个性沉默，不好表现自己。在大家兴致勃勃的时候，他会一个人抑郁寡欢。其实他心里并不厌恶这种场面，只是已养成了这种性格。其实他是一个最易激动的人，如遇到不如意的伤心事，总是抑制不住内心的悲伤而落泪，而遇到高兴的事情时，又会心喜若狂，高兴得掉泪。不会控制自己的情感，有时还会大发脾气，使周围人震惊。平时待人不冷不热，亲密的朋友。为人正直、善良，从不说三道四，更不会阿谀奉承或向领导打小报告。不善辞令，平时沉默，在熟悉的朋友面前爱讲话，但句句率真、坦诚。 自我封闭，有自卑心理，马向往外面五彩缤纷的世界，不过大多数时间还是想眼前。理想和现实的矛盾，使得他们的内心很苦恼，自卑心理更加严重，有时干脆如此沉沦下去。一生的机遇被性格所埋没，他们自我封闭，根本没有外界的信息，也无机遇可言。</p>
					<p>属羊Ｂ血型人的爱情很被动，有自己的观点，也有心中的偶像，但按兵不动，不会主动向目标接近，表面上一点反应也没有，正因为如此，心中的&quot;偶像&quot;就不能不被别人抢走。婚后的生活，虽然有些不顺心，但是会努力去适应，感情偶尔会不稳定，不过不会做出越轨的事，随着小孩的出生，才会全身心地投入家庭生活。</p>
					<p>属羊Ｂ血型女子婚前温柔可爱，深得男士宠爱，结婚后大多是贤妻良母，适合的必须是性格幽默，开朗，刚强，有毅力，积极进取有事业心的男子。</p>
					<p>对于属羊Ｂ血型的男子，温顺，朴实，忠厚，活泼，天真，纯洁的女子比较适合他们。性格互补，幸福长久。</p>
					<h5>属羊AB血型</h5>
					<p>属羊ＡＢ血型的人性格内向，沉默。不愿与别人交谈感受，体会，观点，总是一个人闷闷不乐。显得孤独而不合群。平时也给人心事重重的印象。有洁癖，总是把家、周围和自己收拾得一尘不染。平时温和、善良、默默地做事，给周围邻居较好的印象，但发起火来，却如排山倒海，有可能把母亲打得头破血流，把孩子打得鼻青脸肿。以勤俭著称，能节约每一分钱或每一滴水，平时精心计划家庭的经济开支，该买和不买的分得清清楚楚。能在有限收入里把家庭安排得井进有条，且孩子和家人穿戴体面。按自己的生活方式生活，对世俗一切不闻不问，许多好的机遇从身边溜走，而自己全然不知。一生过着平淡宁静的生活。</p>
					<p>属羊AB型血人性格内向，自我封闭，所以择偶范围狭小，被动。早熟，心目中早已为自己未来的白马王子或白雪公主画好了形象，但在生活中是天方夜谈，根本不可能出现，苦苦的等待，等到结婚年龄，还希望渺茫，于是草率结婚。 婚后的生活总是不如意，但是听不到怨天尤人的声音，总是一个人默默地承担这沉重的一切，从早到晚，为家庭，为孩子，还要上班，忙忙碌碌，从没有看到他（她）休息。不过他们已在盘算设计未来的生活。</p>
					<p>属羊AB血型的女子有洁癖，温柔而倔强，因此那些开朗，乐观，幽默机智的男士比较适合她，丈夫的幽默快乐可以给她带来快乐，使她一向沉重的心轻松一点，也可使她得到安慰，总之他们婚姻甜蜜和谐。</p>
					<p>属羊AB血型的男士，温和而固执，因而那些快乐、开朗、活泼、天真的女子比较适合他。她能带给他快乐，她也欣赏他的敦厚、沉稳。她能打开他沉闷的心扉，给他心灵的慰藉，他使她觉得安全、可靠，他们的结合，也是美满的一对。</p>
					<h5>属羊O血型</h5>
					<p>属羊O型血的人性格沉稳，做事谨慎。循规蹈矩，按部就班，从不自作主张。 人际关系平稳，处处设身处世地为他人着想，总是以息事宁人的姿态出现，很少与人争吵，因此现实社会中常常扮演吃亏的角色。个性内向，终日操劳，常常为一些细小的事情苦恼不已，不知所措。尊重长辈，团结同志，在集体中深得人缘。心里愤愤不平，可表面上却装得笑容可掬，很少表明自己内心的想法，其实内心深处很苦闷很压抑。 实事求是，从不相信一步登天，脚踏实地朝自己的目标一步一步地迈进。做事非常慎重，不管别人把事情形容得如何美好，也不轻易上当，受骗。另一方面，由于太谨慎，不相信任何人，所以，也失去多机遇。积极进取，不管是工作、事业方面都刻苦努力，连一些细节都不放过，但是成绩往往并不显著。意志并不坚强，一遇挫折，可能意志消沉束手无策，甚至失去心里平衡，有时能一蹶不振。也想改变自己的生活环境，但是想归想，却永远没有行动。总想些理由为自己开脱，就这要一天一天地混，结果永远也不能实现自己的愿望。</p>
					<p>属羊O型血的人对爱情的体验很精细，为恋人的一点好而乐不可支，又会因为恋人的一点点冷淡而郁郁寡欢，苦于在其他方面都通情达理，唯在这方面显得有点神经，有时会感情用事，对恋人忽冷忽热。不善表达自己的感情，在恋人面前畏畏缩缩，想好的话却说不出来，让人沉得难受，一旦爱上了对方，照顾得无微不至，有时照顾得太过分了，会引起对方的反感，却不知所措。对爱人，可以牺牲自己的一切，工作，学业等在所不惜。不管对方提出多么无理的要求都不计较，忍耐真是惊人。一旦结婚，也对爱人巴心巴肠，一心一意地建筑幸福的小屋。</p>
					<p>属羊O型血的女子温柔恬静，而那些刚强、乐观、开朗、稳重、豪爽的男子比较适合她，刚柔、动静的结合，幸福的生活一定长久。</p>
					<p>属羊O型血的男子，温善而稳重，而那些活泼开朗、乐观、坦率的女子比较适合他，她快乐的情绪中必定影响他，他也欣赏她的豪气和坦率，她欣赏他的稳重，他们也是幸福美满的结合。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
