<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star03.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>双子座（阳历5月21日-6月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=3&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=2">双子传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=3">双子男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=4">双子女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=5">双子爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=6">双子速配 &gt;&gt;</a></h6>
					<h4>双子女人：</h4>
					<h5>双子女人：</h5>
					<p>双子座女人像一个万花筒，一会儿变一个花样，您似乎永远弄不清她真正的形状。有人说一个女人欣赏或吸引的男人，总会有一定的典型。但对于双子座的女子来说可就不一定了。由于她双重，甚至多重的个性，她所欣赏的、吸引的男性，可就是各种类型都有了！</p>
					<p>这么听起来，您的处境好象有点四面楚歌的样子！不过您应该能够了解，其它的男人也跟您一样很难抵抗她的魅力。凭良心说，双子座的女子实在很有趣，她可以像个小男生一样，陪您上山下海的疯狂玩乐；也可以正经八佰的跟您聊天文地理！当然，她更会像个小公主一样跟您花前月下温柔缠绵。她是那么的充满着乐趣和变化！只可惜她您的态度，也是变化多端，难以捉摸。您以乎很难理解，为什么昨天才令她痴迷的优点，今天竟成了被她嗤之以鼻的缺点。先不要伤心，也不要生气！您应该先冷静下来，认真的了解一下这个让您开心又叫好您烦心的小精灵。</p>
					<p>双子座的女子有着丰富无比的想象力，而在现实的生活中，爱情似乎是让她发挥想象力的最佳园地，她几乎可以在每一个爱情故事中，成功的扮演着不同的角色。因此很多人批评双子座的女子把爱情当成游戏。对于一些年纪很轻的双子座女孩来说，游戏的成分多少是有那么一些的，但是请您务必相信，在每一个双子座女子的心里，都有着对于爱情天长地久的渴望。但是她们的多重个性，总是让她在欣赏您某些优点的同时，又在挑剔您可能有的缺点。比方说，她很可能在赞美您的艺术天份的同时，又批抨您太过软弱！这样反复的情绪下，最困扰的人并不是您，而是她自己。因为双子座的女子通常都会独自处理自己的心情，您顶多只会觉得她忽冷忽热而已。</p>
					<p>跟一个双子星的女子相处，唯一避免自己受伤，又能与她相处融洽的方式，就是自己不断的变。多变的生活和气氛会让她生趣盎然，更会保持她对您的热爱。您可以尽情的发挥自己多样的才华，不必担心她会无法适应，双子座的女子不会是个粘人的橡皮糖。不过，不要冷落她太久，寂寞的等待，不是个双子座女子容易忍受的事，否则，她忘记您的速度，肯定会让您心碎。</p>
					<p>双子座女性的善变会随着年龄的成长日趋稳定。尤其是当她答应与您携手共度此生之后，聪明的她，会很理性的要求自己做一个称职的妻子。您应该相信她的反应灵活，适应性绝佳，办事效率极高，扮演妻子的角色是难不倒她的。除非您非要严格地要求她作个传统的家庭主妇。否则您一定会庆幸自己娶了个可爱又多变的娇妻。</p>
					<p>您不会有一个整天板着脸，抱怨家用钱不够的黄脸婆。相反地，当您烦恼钱赚得太少的时侯，她可能会帮您想一大堆赚外快的点子。您可能那天下班回家的时侯，发现她把家里所有的家俱都重新安置的焕然一新。也可能打开门之后发现她一个人沮丧的躲在墙角，渴望您给她一个浪漫的拥抱。当您们邀请朋友到家里作客的时侯，她总会成为一个俐落又大方的女主人，给大家制造愉快的气氛。您不要太限制她的自由，当然她也不会过分的限制您。不要在她兴致冲冲告诉您她的新计划时，表现得漠不关心。她可能今天满脸甜蜜的告诉您，她觉得自己是全世界最幸褔的小女人，明天又忧伤的告诉您，她很担心您们之间爱的感觉已经不再了。这时侯，您需要的是一点幽默感。您不妨跟她说：“真的吗？那真是太糟糕了，您是不是能给我一个机会，让我再追您一次呢？”俏皮而机智的言语，是永远讨双子座女子喜欢的，她本身就是一个极具表达爱情技巧的精灵，若是碰上了一块木头，岂不是太扫兴了吗？</p>
					<p>请您记得，时时牵牢她的手，随着她变化的节奏，您会发现，生活就是一个万花筒，五彩缤纷，刺激有趣。</p>
					<h5>双子座的女人与“性”</h5>
					<p>双子座的女子对性爱的本身有些好奇，由于她活泼多变的个性，她往往可以把性爱的场面烘托出愉快有趣的气氛。机智的言语能让对方觉得快乐而充满自信。然事实上，双子座的女人通常都不是肉欲主导的，她们很难全然的沉浸在肉体的欢愉之中。这一点，对她们本身来说，是一件挺扫兴的事，如何在性爱中摆脱自己冷静的头脑，往往会是她们的困扰。</p>
					<h5>双子座的女子与十二个星座的男人</h5>
					<dl>
						<dd>1　白羊座：他热情让您觉得刺激有趣，而您的甜言蜜语总是让他快乐的沾沾自喜。至于长期相处，您们彼此或许得再培养一点耐性。</dd>
						<dd>2　金牛座：他是稳如泰山，而您却像一阵风，个性上南辕北辙。刚开始的时侯，或许会引起您的好奇。</dd>
						<dd>3　双子座：甚称世界魔术大观，变、变、变，看谁技高一筹，这是刺激有趣的组合。</dd>
						<dd>4　巨蟹座：您的忽冷忽热，可能让他陷人沮丧的深渊。您虽欣赏他种种优点，但这样的爱情会给您沉重的负担。</dd>
						<dd>5　狮子座：您喜欢他恋爱的方式，他欣赏您的机智可爱，您们很快就能亲蜜起来，但真的谈起恋爱，您会有些害怕他国王的霸道作风。</dd>
						<dd>6　处女座：同样在水星守护下的您们，有着原始的引力，尤其他知性的头脑，很容易令您激赏，不过时日一久，您或许会嫌他有唠叨琐碎。</dd>
						<dd>7　天秤座：同属风向的您们，很容易成为彼此了解的朋友，正因如此，谈起恋爱的时侯，反而对对方有一点不放心了。</dd>
						<dd>8　天蝎座：天蝎座强烈的个性原本就不是很吸引您的，因此您们似乎很难拉近彼此的距离。</dd>
						<dd>9　射手座：虽只有着不同的属向，但您们是非常容易互相吸引的，往往成为兴趣相投的爱侣。</dd>
						<dd>10　摩羯座：对您来说，他很像是教官、老师一样的男人，不容易引起您“爱”的感觉。</dd>
						<dd>11　水瓶座：跟他相处您会觉得十分自在，但有时侯又觉得他似乎总是热度不太够。</dd>
						<dd>12　双鱼座：您的性格多变，他的情绪多变，如果您们都能接受方“变”的本质，或许还有可为。</dd>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
