<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani08.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>猴（申猴）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖猴———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>适当撷取流行风，家上您特有的价值观来装扮自己，那么，魅力自然无人可挡，多选择清爽亮丽的流行色彩。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>对于性生活方面的技巧，确实无人能出其右，可以无微不至地观察情人的反应，并且引导异性走入爱欲的漩涡里。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属猴的人，天生喜欢投机取巧，多少有几分恃才傲物，比较会变成花花公子，或骗吃骗喝的多情女郎，在爱慕虚荣的诱惑之下，为了达成目的，会让自己穿商需伪的外衣，但是一被识破就前功尽弃了，所以不可不慎。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>爱情也象事业，财运那样是需要细心经营的，只有付出了才会有回报。属猴的人对待爱情容易有浮躁心理，不能够静静的面对现实情况，对爱情期望值很高。</dt>
						
					</dl>
					<h5>相猴幸福大匹配：</h5>
					<ul>
						<li>一月生的人，有行动能力，女性宜配羊年男性，男性宜配虎年女性。</li>
						<li>二月生的人，乐天派，男性宜配蛇年女性，女性宜配鼠年男性。</li>
						<li>三月生的人，兴趣至上，女性宜配鼠年男性，男性宜配羊年女性。</li>
						<li>四月生的人，积极向上，女性宜配兔年男性，男性宜配牛年女性。</li>
						<li>五月生的人，不满现状，女性宜配蛇年男性，男性宜配马年女性。</li>
						<li>六月生的人，冷热无常，男性宜配羊年女性，女性宜配牛年男性。</li>
						<li>七月生的人，口才好，男性宜配虎年女性，女性宜配马年男性。</li>
						<li>八月生的人，守规矩，女性宜配猪年男性，男性宜配虎年女性。</li>
						<li>九月生的人，缺乏自信，男性宜配马年女性，女性宜配兔年男性。</li>
						<li>十月生的人，活跃好动，女性宜配猪年男性。</li>
						<li>十一月生的人，反感陈规，男性宜配羊年女性，女性宜配虎年男性。</li>
						<li>十二月生的人，喜欢玩乐，女性宜配兔年男性，男性宜配马年女性。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
