<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 血型头部 -->
	{template public/lovestyle_bty_header module}
	<!-- 血型头部结束 -->
	<!--=====左边开始=====-->
	{template public/lovestyle_left	module}	
	<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-o.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>O&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">O血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">O血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">O血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>O型男配对秘籍</h4>
					<h5>O血型男生配A血型女生</h5>
					<p>彼此的吸引点：O血型男生直接、实际、讨厌虚伪，A血型女性真诚、忠实、传统，是O血型男生眼中很合适的恋人人选。虽然在恋爱的开始，面对攻势热烈的O血型男性，A血型女生会显的比较矜持，但O血型男生具有很强的好胜心，越有难度越有兴趣，越矜持的女性越令他感到放心。O血型男性凡事透明公开的坦诚个性，也会令A型女感到十分放心。双方会形成良好的伙伴型恋人关系，注重物质基础对生活的影响，双方恋爱之后，也会共同为将来做周详认真的计划和积极的努力。</p>
					<p>可能出现的问题：虽然A血型女生的矜持可以激发O血型男生热烈的追求，但O血型男生有希望恋情快速发展的倾向，而A血型女生则喜欢反复考验来确定爱情。当O血型男生感到付出许多努力，不能得到想要的结果，现实的他们也会产生放弃的念头。</p>
					<p>增进感情的方式：A血型女生面对O血型男生的热情，也不要过于矜持含蓄，应多给予他鼓励。O血型男生既然喜欢A血型女生，也要尊重她的谨慎个性，耐心的陪伴在她身边，表现出您爱的决心。</p>
					<h5>O血型男生配B血型女生</h5>
					<p>彼此的吸引点：B血型女生会被O血型男生的满满自信所吸引，在她看来，O血型男生是那么能干有主见、有男子汉的气息，有找到依靠的感觉。而O血型男生和B血型女生在一起会很开心，她总是那么崇拜您，温柔的对待您，永远不会和您争论，说什么都会相信，充分满足了O血型男生内在的大男子情结。O型男往往希望成为恋爱关系中的主导者，而女性化程度很高的柔和的B型女也会很愿意配合他。</p>
					<p>可能出现的问题：O血型男性行事具有很强的现实性和逻辑性，B血型女性完全凭感觉行事的个性让他们颇为头痛。O血型男性是一旦有什么看不惯就会毫不客气的直接指出，会让细腻敏感的B血型女性感到很受伤害。</p>
					<p>增进感情的方式：O血型男性即使感到B血型女性有什么不对，也要婉转的提醒，并且让B血型女性感到您是出于对她的关心和好意。内心有点不自信的她们也需要您经常的肯定和赞美。</p>
					<h5>O血型男生配O血型女生</h5>
					<p>彼此的吸引点： O型男和O型女属于一上来就会很谈的来的一对，彼此都有好感的话，感情升温及进展的速度是非常快的。看上去现实的O血型人的内在感情其实是很丰富的，所以当两个O型人风花雪月起来，也是很浪漫的。他们喜欢如胶似漆的呆在一起，只要有可能性，无论去哪里都一起行动。所谓重色轻友、谈了恋爱之后人影都不见的人，估计以O型和O型人恋爱的居多。</p>
					<p>可能出现的问题：O型男是骄傲的，O型女也是骄傲的，但即使是热恋也会遇到双方意见不统一的情况。但又总是谁都会不愿意的妥协、希望对方顺着自己意思走。且O型人都是属于嘴硬心软的个性，心里再爱，说出来的话却总不怎么动听，时间一长就很容易伤彼此的感情。</p>
					<p>增进感情的方式：O血型的恋人双方都要记住爱情中没有胜负，遇到什么问题有异义，男生多谦让一点，女生也温柔一些。</p>
					<h5>O血型男生配AB血型女生</h5>
					<p>彼此的吸引点：这是一对冷与热的吸引力组合。AB血型女生看上去温柔乖巧，却有较强的神秘感，而O血型男生则比较大男子主义，个性冷静平和的AB型女生会令他们有强烈的好感和好奇心，并产生征服欲。O血型男生身上所散发出的强烈自信和坚强意志，可以令AB型女生感到可以依赖。而他对生命的热情和冒险精神，也会让天性小心谨慎的AB型女性感觉非常吸引。</p>
					<p>可能出现的问题：O血型男生主观性较强，也较粗心，而AB型女生说话的方式是旁敲侧击、拐弯抹角式的，所以大部分情况下，他很难察觉到AB型女生内心的真正需要。另外，AB型女生并不喜欢把内心的所有想法告诉他人，而O血型男生表示亲密的方式就是掏心掏肺。两个人一个不断的进，试图挖掘更深层的关系；一个不断的退，躲避太紧密的联系，大家都觉得对方不太明白自己的心意。</p>
					<p>增进感情的方式：</p>
					<p>1、O血型男生要多试着去细心体会AB型女生的需要，但不要尝试完全占据对方的全部思想。</p>
					<p>2、AB型女生可以试试多坦率的和男友说出自己的想法，不用害怕被拒绝或争论。多表示出您的爱，会让他感觉很踏实。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
