<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star03.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>双子座（阳历5月21日-6月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=3&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=2">双子传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=3">双子男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=4">双子女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=5">双子爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=6">双子速配 &gt;&gt;</a></h6>
					<h4>双子传说：</h4>
					<h5>传说一</h5>
					<p>丽达王妃生了许多可爱的孩子，其中有两个兄弟，不光是感情特别要好，长相也几乎一模一样，很容易让人以为他们俩是一对双生子。</p>
					<p>其实，在这两兄弟中，哥哥是丽达王妃与天神宙斯所生的儿子，弟弟则是与巴斯达国王所生的，俩人为同母异父的兄弟，而且哥哥的身份是&quot;神&quot;，且有永恒的生命，弟弟则是一般的普通人。</p>
					<p>有一天，希腊遭到了一头巨大的野猪攻击，王子们召集许多的勇士去追杀野猪，当野猪顺利地被解决后，勇士之间却因为互争功劳，而在彼此之间结下了仇恨。</p>
					<p>在一次市集的热闹场合中，两边互看对方不顺眼的勇士不期而遇，当然又免不了一番争吵。在争吵中，有人开始动起武来，于是场面变得一发不可收拾，许多人都在这场打杀中受伤，甚至死亡。很不幸地，两位王子当中的弟弟，也是在这一场混乱之中，被杀身亡。</p>
					<p>一向与这个弟弟特别要好的哥哥，完全无法接受弟弟已经死亡的消息，抱着弟弟的尸首不停的痛哭，希望弟弟可以起死回生，让两人可以一起重享以前手足情深的欢乐日子。</p>
					<p>于是，哥哥回到天上向父亲宙斯请求，希望宙斯可以让弟弟复活。但是宙斯向他表示，弟弟只是个普通的人，本就会死，若是真的要让弟弟复活，就必须把哥哥剩余的生命分给弟弟。</p>
					<p>感情深厚的哥哥，当然是毫不犹豫的马上答应了，从此之后，兄弟俩又可以一起快乐的生活了。</p>
					<h5>传说二</h5>
					<p>传说孪生兄弟卡斯托尔和波吕杜克斯英勇善战，哥哥成为马术专家，弟弟精于射箭、拳击，威名远扬。两人在诸多战争中密切配合，出生入死。一次战斗中，哥哥受伤身亡，弟弟悲痛欲绝，恳求宙斯，要用自己的生命赎回哥哥。宙斯深受感动，将他两人都安置在天空成为双子座，永不分离。冬天的黄昏到夜晚，可以在天顶的位置看到它。</p>
					<h5>传说三</h5>
					<p>在埃及，它的名字称为“孪子星”，是以这星座中最明亮的两颗星卡斯特(castor)和波鲁克斯(hecules)命名的。这两颗星另外还有两组名称，分别为赫尔克里斯(hecules)和阿波罗(apollo)，特里普托勒穆斯(tritolemus)和艾逊(iasaion)。埃及人观念中的孪子座为幼童，而非一般常见的成人形象。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
