<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani05.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>龙（辰龙）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖龙———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>活泼的您经常把甜甜的笑容挂在您的嘴边，相信天真浪漫的本性，足以散发难以抵挡的魅力，如果在洒一些味道较淡的香水，将使异性对您倾倒不已。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>对性爱非常的矜持，乃认为爱是心灵上的结合，而非肉体的享受而已，除非是自己心爱的人热烈要求，否则不要轻易接受以身相许。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属龙的人，胆识够，才气足，慷慨大方，是您在感情上的最佳武器，偏偏伴随而来的易怒，倔强，骄傲，以及不切实际的欲望，坏了美事，您应该心知肚明，要好好改善您的缺点。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>相爱容易相处太难，属龙的人在爱情中常缺乏沟通的技巧，要记住对方与您在一起，可不是来接受您的臭脾气的，不能用爱情的名义来掩盖自己的缺点，要多为对方着想。多些沟通互动。</dt>
						
					</dl>
					<h5>相龙幸福大匹配：</h5>
					<ul>
						<li>一月生的人，是行动派，女性宜配牛年男性，男性宜配牛年女性。</li>
						<li>二月生的人，富推理能力，女性宜配羊年男性，男性宜配鸡年女性。</li>
						<li>三月生的人，自我感强，女性宜配狗年男性，男性宜配羊年女性。</li>
						<li>四月生的人，大方豪放，男性宜配鼠年女性，女性宜配狗年男性。</li>
						<li>五月生的人，开朗亲切，女性宜配蛇年男性，男性宜配狗年女性。</li>
						<li>六月生的人，荣誉感强，女性宜配牛年男性，男性宜配鸡年女性。</li>
						<li>七月生的人，工作勤奋，男性宜配鼠年女性，女性宜配狗年男性。</li>
						<li>八月生的人，头脑灵活，女性宜配兔年男性，男性宜配鸡年女性。</li>
						<li>九月生的人，有经济头脑，女性宜配虎年男性，男性宜配鼠年女性。</li>
						<li>十月生的人，诚实勇敢，男性宜配鼠年女性，女性宜配龙年男性。</li>
						<li>十一月生的人，孤独敏感，女性宜配中年男性，男性宜配牛年女性。</li>
						<li>十二月生的人，坚定不移，女性宜配牛年男性，男性宜配狗年女性。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
