<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star05.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>狮子座（阳历7月23日-8月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=5&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=2">狮子传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=3">狮子男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=4">狮子女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=5">狮子爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=6">狮子速配 &gt;&gt;</a></h6>
					<h4>狮子爱情：</h4>
					<h5>狮子座爱情</h5>
					<p>老掉牙的戏剧情节会令您对对方许下山盟海誓，经常刻意而又“无意”地将戏剧性的情节加入现实生活中。您的爱情，您一定觉得是一套惊天动地泣鬼神的动人世纪之恋吧，好吧好吧，我知道，您喜欢听这些，对嘛……您自己心底里会认定那一些异性是有机会发展，那一些是没有的，然而却很多时对人过份热情，到别人被您的热情吸引住的时候却又大条道理的拒绝人家。在外人看来，您的恋爱好像都是您处于上风吧(尤其女狮，一副唯我独尊的神情)，对方全听您的好不威风，但又有多少人知，其实依赖对方的是您，最害怕失去对方的也是您。堕入爱河的女狮有个僻好，就是很喜欢帮自己的男友打扮…　如果您朋友全身的衣服都是女朋友为他买的，别怀疑，他的女朋友一定是狮子座…简直把男朋友当成barby娃娃…可幸的是狮子的品味尚算不错。女狮最难接受的就是被一个被自己条件差的女性勾走男朋友的心，这对她们来说简直是一种侮辱，足以令开朗的她们走上自暴自弃的道路。</p>
					<h5>狮子座爱情面包的抉择</h5>
					<p>千万别以为尊贵的狮子会为了一箱面包，就轻言放弃爱情。</p>
					<p>对狮子座来说，带着面包香的情人的确颇具吸引力。但是，千万别以为尊贵的狮子会为了一箱面包，就轻言放弃爱情。 </p>
					<p>有些男人每每看到狮子座的女人很懂得花钱，更懂得享受优渥的生活，就想以金钱攻势赢得美人心。其实，想用金钱引诱母狮子，正是犯了大忌。她会认为这是对她的大不敬，是藐视她独立思考的尊严。</p>
					<p>所以，如果您是一只母狮子，当然不会做出一个完全以金钱为考量的抉择。否则。光是朋友们的议论，就令您觉得痛苦不堪了。反而是执着于爱情的机会比较大。</p>
					<p>但是，执着的选择却必须有充分的心理准备。古人言：贫贱夫妻百事哀。电视剧里的大小姐嫁给有理想、有抱负的青年，过不惯苦日子的情节通常是真的；但是有为青年日后果然飞黄腾达，却未必是每个人都有的运气。</p>
					<p>因此，在您相信爱情的同时，也要仔细评估自己对面包的最低需求，还有对方未来赚取面包的潜力。较危险的情况是：您高估对方的潜力，而抱着现在先选爱情、日后面包也有前途，一举两得的理想。这种相处可是需要高度的智能，否则，一不小心就会变成您不断给予压力，而对方却无法达到您的理想。在争执的生活中，爱情也会消失无踪。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
