<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star06.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>处女座（阳历8月23日-9月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=6&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=2">处女传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=3">处女男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=4">处女女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=5">处女爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=6">处女速配 &gt;&gt;</a></h6>
					<h4>处女传说：</h4>
					<h5>传说一</h5>
					<p>人间管理谷物的农业之神、希腊的大地之母狄蜜特，有一个美丽的独生女--泊瑟芬，她是春天的灿烂女神，只要她轻轻踏过的地方，都会开满娇艳欲滴的花朵。有一天她和同伴正在山谷中的一片草地上摘花，突然间，她看到一朵银色的水仙，甜美的利味飘散在空气中，泊瑟芬想：“它比我任何一朵花都漂亮！”美得光彩照人，于是她远离同伴偷偷地走近，伸手正要碰到花儿，突然，地底裂开了一个洞，一辆马车由两匹黑马拉着，冲出地面，原来是阴间之王海地士，他因爱慕“最美的春神”泊瑟芬，设下诡计掳走了她。</p>
					<p>泊瑟芬的呼救声回荡在山谷、海洋之间，当然，也传到了母亲狄蜜特的耳中，狄蜜特非常的悲伤！她抛下了待收割的谷物，飞过千山万水去寻找女儿。</p>
					<p>人间少了大地之母，种子不再发芽，肥沃的土地结不出成串的麦穗，人类都要饿死了，宙斯看到这个情形只好命令冥王放了泊瑟芬，冥王不得不服从宙斯，但暗中却生诡计--临走前给泊瑟芬一颗果子，泊瑟芬怎么知道一旦她吃了这颗果子便无法在人间生活，注定要回到阴暗恶臭的地狱里。</p>
					<p>宙斯没有办法，只好对狄蜜特说：“一年之中，您将只有四分之一的时间可以和泊瑟芬在一起”。从此以后只要大地结满冰霜，寸草不生的时候，人们就知道这是因泊瑟芬又去了地府。处女座象征着春神泊瑟芬的美丽与纯洁，母亲养育的麦穗，也成为她手持之物。即使如此，她再也不是那个无忧无虑嬉戏于草地上的少女，每年春天她虽然会复活，依旧明艳动人，但地狱的恶臭与可怕的气氛却永远随着她。</p>
					<h5>传说二</h5>
					<p>传说雅斯德莱是宙斯与正义女神的女儿，当时世事纷乱，恶行猖獗，众神厌恶这个世界，纷纷远离。但雅斯德莱仍抱着一线希望，四处奔走，但仍无进展。只好遗憾地离开人间，升到天上成为处女星座。</p>
					<p>五六月的傍晚，在南方的天空，您可以看到她仍眷恋地俯视着人间。</p>
					<h5>传说三</h5>
					<p>根据罗马神话，处女座又名阿斯特里亚(astraea)，为天神朱庇特和维纳斯女神的女儿，是正义女神。黄金时代末期，人类触犯了她，于是她大怒之下回到天庭。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
