<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani08.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>羊（未羊）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖羊———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>应穿平易近人的服装，才会有善解人意的魅力，成为异性追求的目标，以米色或白色为主。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>由性爱尝到甜头，往往沉醉其中，无法自拔，这样比较容易让爱侣吃不消，感觉也是从沸腾到冰点，落差很大，令人难以捉摸。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属羊的人，善于利用巧妙的方法，去获得爱人的心，对于战术也是慢慢的推敲，让对方慢慢走进自己的计划之中，也不能说太坏，毕竟要获得一个人的心并不是那么的容易的，所以，失恋的机会可说是少之又少。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>属羊的人对待爱情是很真诚的，也能够有耐心去经营好一份爱情。但是在选择目标的时候，容易产生失误，会发生“羊爱上狼”的现象，而爱上不该爱的人，建议多观察下一个人的内在品质为好。</dt>
						
					</dl>
					<h5>相羊幸福大匹配：</h5>
					<ul>
						<li>一月生的人，易错失良机，女性宜配蛇年男性，男性宜配兔年女性。</li>
						<li>二月生的人，乐天派，女性宜配虎年男性，男性宜配虎年女性。</li>
						<li>三月生的人，沉默寡言，女性宜配马年男性，男性宜配马年女性。</li>
						<li>四月生的人，善于思考，女性宜配龙年男性，男性宜配鸡年女性。</li>
						<li>五月生的人，感觉敏锐，女性宜配猴年男性，男性宜配狗年女性。</li>
						<li>六月生的人，处世圆滑，女性宜配牛年男性，男性宜配鼠年女性。</li>
						<li>七月生的人，诚实努力，女性宜配兔年男性，男性宜配马年女性。</li>
						<li>八月生的人，富于美感，女性宜配鼠年男性，男性宜配龙年女性。</li>
						<li>九月生的人，处世认真，女性宜配牛年男性，男性宜配马年女性。</li>
						<li>十月生的人，沉着冷静，女性宜配虎年男性，男性宜配马年女性。</li>
						<li>十一月生的人，有口才，女性宜配马年男性，男性宜配虎年女性。</li>
						<li>十二月生的人，心地善良，男女婚配不拘。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
