<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 血型头部 -->
	{template public/lovestyle_bty_header module}
	<!-- 血型头部结束 -->
	<!--=====左边开始=====-->
	{template public/lovestyle_left	module}	
	<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-ab.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>AB&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">AB血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">AB血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">AB血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>AB型男配对秘籍</h4>
					<h5>AB血型男生配A血型女生</h5>
					<p>彼此的吸引点：双方有很多共同点，比如细心、含蓄、谨慎等等，因此也是很容易了解彼此的男女组合。A血型女性往往是慢性子，而耐心的AB型男性总是愿意等待她做决定。A血型女生遇到有点阴柔的AB型男生会产生一种母性情怀，她爱照顾人的天性在他身上被激发了。AB血型的男性会很喜欢A血型女性传统温柔的内在美，感觉对方是可信赖和依靠的恋人。</p>
					<p>可能出现的问题：A血型女性在爱中的不吝付出，可能会令AB型男性过分依赖自己。而AB型男性也会觉得A血型女性总是关注于生活中的太多闲杂事物，不会享受人生，没有乐趣。</p>
					<p>增进感情的方式：AB型男生也要多关心和回报A血型女性，放松她容易紧张的神经。而A血型女性也试着多放下一些为他操心的事情，做一个被他保护、让他付出的小女人，感受恋爱的乐趣。</p>
					<h5>AB血型男生配B血型女生</h5>
					<p>彼此的吸引点：AB型的男生和B血型的女生都是比较被动型的人，所以他们的恋情一般都要酝酿徘徊很久才开始。不过一旦恋爱，他们相处起来会充满情趣，因为双方都是喜欢自由和寻找乐趣的人。AB型的男生有着B血型男性的轻松感性又有A血型男性的细心理性，举止言谈也温柔体贴，对于个性同样柔和的B血型女性来说，会是非常贴心的男友。而亲切又好脾气的B血型女生，在AB型男生看来，也是不可多得的可爱的伴侣。</p>
					<p>可能出现的问题：B血型女生说话是想到什么说什么，比较大大咧咧，也不大注重礼仪，可能会时常伤到敏感的AB型男生的心。AB型男生不开心起来也会有情绪化的问题，对于单纯的B血型女生来说，却总是不明白他为什么变化这么大。</p>
					<p>增进感情的方式：B血型女生看到AB型男生对您的付出，要多给予肯定和表扬，他会很开心。而AB型男生要了解B血型女生天生比较随意不善客套的个性。</p>
					<h5>AB血型男生配O血型女生</h5>
					<p>彼此的吸引点：AB型男生像小孩子一样的天真个性，让O血型女生觉得很有趣。他们既有B血型男生的轻松风趣，又有A血型男生的谨慎仔细，且很有绅士风度，对于有点挑剔的O血型女生来说，是难得的可以洞察到她们心思的恋人。并且，好脾气的平和的AB型男生，总是可以安抚疏导O血型女生容易激动的情绪。而O血型女生直来直去的傻大姐脾气，在任何情况下都不会减弱的满满自信，在AB型男生看来也非常有魅力。</p>
					<p>可能出现的问题：O血型女生的气质是热情干脆的，而AB型男生总是不冷不热的恒温型、也有些优柔寡断，令O型女感到难以理解。而O血型女性在恋爱关系中时常希望居于主导者的姿态，爱干涉他人，也令讲究平等关系的AB型男生非常困惑。</p>
					<p>增进感情的方式：O血型女生和AB型男生的恋人组合，尤其要注重时常在一起聊天沟通。对于相反血型的您们来说，多了解对方的想法，学习互补，反而比别人更多提升自己的机会。</p>
					<h5>AB血型男生配AB血型女生</h5>
					<p>彼此的吸引点： AB型男生和AB型女生之间的化学反应属于复分解反应。大家都一样的复杂和神秘，一样情绪化，一样反应快，令人动心的就是那种不用说出来的默契。AB型女生所想要的浪漫，AB型男生总是能够像心电感应一样的明了。双方都共同追求一种精神上的幸福感，对物质看的并不很重，也不会给对方过多的束缚，能保持一种具有弹性的恋人关系、能够长保爱情的新鲜感。</p>
					<p>可能出现的问题：AB型人天生较容易疲倦，所以AB型女生都有较强的依赖性，在恋爱中希望能够被对方照顾和疼爱。而AB型男生同样有着孩子气的天真面，并不是很善于照顾他人和被人依赖。</p>
					<p>增进感情的方式：作为男性，AB血型的男生在这段关系中应扮演更重要的角色，即使您的年龄并不是大她许多，也要以一种宽容和成熟的心态，去保护她、包容她，这样双方的关系更容易快乐的走下去。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
