<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star09.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>射手座（阳历11月22日-12月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=9&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=2">射手传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=3">射手男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=4">射手女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=5">射手爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=6">射手速配 &gt;&gt;</a></h6>
					<h4>射手座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 木星</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 火象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 一支箭</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 乐观幸运的态度、宗教信仰。属于组织型人物。</dt>
						<dt><span class="f-ed0a91">射手座的情人：</span> 幽默、奔放</dt>
						<dt><span class="f-ed0a91">射手座的个性：</span> 射手座的守护星是木星，守护神是宙斯，所以射手座的人乐观、诚实、热情、喜欢挑战，不过很容易浮躁不安，鲁莽行事。他是十二宫星座的冒险家，热爱旅行、喜欢赌博性的活动，为人变化多端，有双重牲格的特质。他们拥有永远年青的秘诀－－－是指心境上，他们喜欢追求学问，紧贴潮流，也有语言天份。而且射手座的二元性格，变化多端，有机会同时做两份完全不性质的工作，他的多才多艺也有可能做一份涉及范围甚广的工作。意志力薄弱也是射手座的一大缺点，缺乏自制能力，如沉迷赌博，后果不堪设想。</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
