<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star06.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>处女座（阳历8月23日-9月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=6&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=2">处女传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=3">处女男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=4">处女女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=5">处女爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=6">处女速配 &gt;&gt;</a></h6>
					<h4>处女座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 水星</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 土象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 处女的性器官</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 分析能力，思想条理性。</dt>
						<dt><span class="f-ed0a91">处女座的情人：</span> 奉献、完美</dt>
						<dt><span class="f-ed0a91">处女座的个性：</span> 因为水星是处女座的守护星，影响到处女座的人追求完美，挑剔和神经紧张，吹毛求疵正是他们的特性。处女座的人大都很谦虚，但很容易为自己带来压力，许多人一听到处女座就很害怕，明知他们挑剔，唠叨又婆婆妈妈，和人相处很不愉怏，人际关系“认真麻麻”，不过处女座的人爱帮助别人是另一事实。所有处女座的人都喜欢忙碌，他们不可以闲着没事做，为他人服务是他们的人生目标。缺乏自信的处女座有时候组织能力很差，是对自己没信心所致；他们需要朋友和家人的鼓励去推动他们。天生担忧的性格也令他们容易悲观的！</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
