<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star10.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>摩羯座（阳历12月22日-1月19日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=10&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=2">摩羯传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=3">摩羯男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=4">摩羯女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=5">摩羯爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=6">摩羯速配 &gt;&gt;</a></h6>
					<h4>摩羯男人：</h4>
					<h5>摩羯男人：</h5>
					<p>对稳健固执的摩羯座来说，浪漫的爱情是深藏在内心的梦，虽然他看来那么坚强，一副“谁需要您”的样子，事实上他是很需要温柔鼓励的。“缺乏真正的自信”常是摩羯座的通病，您必须经常的赞美他、鼓励他，他表面上看来可能是“受不了的酷”，其实心里“快乐的不得了”。摩羯座的男人是背着沉甸甸的包袱，奋力爬上山巅的大公羊。传统、责任、理想，以及对财富和社会地位的欲望，全装在大包袱里，那就是负担，也是催促他向上的力量。“坚忍”是摩羯座男子个性中最大的魅力，没有人能像他一样，那么不怕苦、不怕难、不怕失败。</p>
					<p>连强悍的蝎座男子偶尔都需要情绪上的发泄。摩羯座的男人却始终坚持到底，不达到目标，绝不休息。</p>
					<p>有的女孩爱上一个摩羯座男子时，周围的朋友可能会说：“天啊！您怎么会爱上一个那么无趣的男人呢！”不过，我倒觉得您真有远见。的确，摩羯座的男人基本上是不喜欢社交的，他情愿自己一个人安安静静的做事。</p>
					<p>甚至他们喜欢的休闲活动，也是比较静态的，例如，看书、听音乐等等。</p>
					<p>有些摩羯座的男人由于环境的关系，必经常参加社交的活动，他也很少是社交场合中风头最健的人物，他通常比较沉默，让大家非常惊讶。通常摩羯座的男子不能给您很丰富刺激的社交圈，这一点您要有心理准备。</p>
					<p>他很少主动让别人了解他，这当然跟他保守的个性有关，开朗天真的女孩可能会让他比较容易打开心门，如果您真的了解他，他会很安慰。给他适时的鼓励和赞美会让他信心大增。不过如果您期待他热情的响应，恐怕会有点失望，彼此心照不宣就成啦！</p>
					<p>当然光是懂得赞美无法得到如此实际又努力的男人的。他通常会选择一个“好妈妈”型的女人做妻子，经常对孩子表示爱心，会是令他心仪的美德。他是非常重视家庭的；大多数的摩羯座男子，不会把一个不被他家人接受的女子娶回家，如果一定要他在家人和您之间作选择，是一件很痛苦的事，通常您赢的机会不大。所以，让他的家人喜欢您，那您就成功了一大半了。</p>
					<p>我说过摩羯座是实际的，对未来他也有着实际的野心。许多摩羯座的男子都娶了一个对他事业或是社会地位有帮助的女人为妻。因此就算您不是系出名门，至少您也得是举止合宜，给他上司良好印象的淑女。叛逆少女实在不是摩羯座的典型，至少不是作“妻子”的典型，您可以热情大方，开朗活泼，但是行为举止还得在传统社会规范中。或许在某些场合，他会难得放松说些轻佻的话，但那绝不表示他将认同您有这样的表现。尤其是在他的上司、老板或是员工面前，很少有男人比摩羯座男子更重视社会地位、社会评价的。您可不要做他的绊脚石。</p>
					<p>他是固执而传统的人，婚姻对他决非儿戏。一旦他决心要娶您，他肯定已经对您细细的观察，深入的了解，实际的评估。摩羯座的男人很少会冲动的决定一桩婚事。他对婚姻的忠实度是值得信赖的，对于家庭美好未来的努力是肯定的。您最好也要尊重这件婚事。我在前面所强调的种种事情，婚后您最好也不要忘记，否则等他掉头而去，您很难有第二次机会。</p>
					<p>嫁给一个摩羯座的老公，就像买了终生保险，虽然不会常有甜蜜语可听，但您会得到一切最实际的照顾。对多数摩羯座的男人来说，把太太照顾好是他们的责任，愈能让太太过得好，代表他们的事业愈成功，社会地位愈高。或许您的摩羯座老公会要求您把家庭开支簿写得清清楚楚，但事实上，摩羯座的老公常对太太大方极了，只不过他要您时时记得“他”才是一家之主就是了。</p>
					<p>他重视社会地位，同样也重视自己在家中的地位。等他的事业有了基础之后，他会把更多心思放在家里，您们的婚姻会像倒吃甘蔗一样，愈吃愈甜。就如同我一再强调他们对财富、名望的追求，正因为这两样东西会带给他们安全感，给他们信心，当他们内心因缺乏自信而产生的抑郁消失时，您将看到摩羯座的热情、诙谐与浪漫。那真是一个值得期待的男人。</p>
					<p>帮助他早日完成他的理想，您就是他心目中永远的贤内助，等您们金婚纪念日的时侯，他说不定会用玫瑰花把您的床围起来，您会庆幸自己真是个有远见的女人。</p>
					<h5>摩羯座的男人与“性”</h5>
					<p>多数摩羯座男人的性观念是保守的，不太善于技巧性的诱惑，通常是被动的。但对于自己的女朋友或妻子就不同了，他往往显得主动而且霸道。</p>
					<p>摩羯座的男人一般说来性欲很强，而且很有持续力，但是缺乏调情的技巧和气氛的营造，如果您是一个追求浪漫气氛的人，那摩掌握气氛的工作都得由您来负责了。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
