<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star08.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>天蝎座（阳历10月24日-11月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=8&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=2">天蝎传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=3">天蝎男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=4">天蝎女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=5">天蝎爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=6">天蝎速配 &gt;&gt;</a></h6>
					<h4>天蝎传说：</h4>
					<h5>传说</h5>
					<p>太阳神阿波罗的儿子巴野顿，天生美丽而性感，他自己也因此感到自负，态度总是傲慢而无礼，太过好强的个性常使他无意间得罪了不少人。有一天，有个人告诉巴野顿说：“您并非太阳神的儿子！”说完大笑扬长而去，好强的巴野顿怎能吞得下这口气，于是便问自己的母亲：“我到底是不是阿波罗的儿子呢？”但是不管母亲如何再三保证他的确就是阿波罗所生，巴野顿仍然不相信他的母亲，于是他的母亲对他说：“取笑您的人是宙斯的儿子，地位很高，如果仍然不相信，那么去问太阳神阿波罗自己吧！”</p>
					<p>阿波罗听了自己儿子的疑问，笑着说：“别听他们胡说，您当然是我的儿子！”</p>
					<p>巴野顿仍执意不信，其实他当然知道太阳神从不说慌，可是他却另有目的，要求驾驶父亲的太阳车，以证明自己就是阿波罗的儿子。“这怎么行？”阿波罗大惊，太阳是万物生息的主宰，一不小心就会酿巨祸，但拗不过巴野顿，阿波罗正说明着如何在一定轨道驾驶太阳车时，巴野顿心高气傲，听都没听立刻跳上了车，疾驰而去。</p>
					<p>结果当然很惨，地上的人们、动物、植物不是热死就是冻死，也乱了时间，弄得天错地暗，怨声载道。众神们为了遏止巴野顿，由天后希拉放出一支毒蝎，咬住了巴野顿的脚踝，而宙斯则用可怕的雷霆闪电击中了巴野顿，只见他惨叫一声堕落到地面，死了。</p>
					<p>人间又恢复了宁静，为了纪念那支也被闪电击毙的毒蝎，这个星座就被命名为“天蝎座”。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
