<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani05.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>龙（辰龙）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖龙的来历传说</h4>
					<p>龙在十二生肖中位居第五，与十二地支配属“辰”　一天十二时辰中的“辰时”—上午七时至九时又称“龙时”。</p>
					<p>据说，远古时代的龙是没有角的，那时的龙在地上生活。它想当属相，也想当兽王，取代虎的地位。于是，人间产生了龙虎斗，结果是难分难解。最后，玉帝觉得它们斗得太不像话，下旨叫它们来天宫评理，临行时，龙想到自己虽然高大，却不及老虎威风，怕玉帝小看自己，当不上兽王也排不上属相。这时，龙的小弟蜈蚣出主意：“公鸡有一对漂亮的角，不防借来戴上，这一定会给龙大哥添几分威风。”龙听大喜，便同蜈蚣来找公鸡借角。</p>
					<p>公鸡听说龙要借它的角，死活不肯，龙一见急了，对天发誓道：“如果我不还您的角，回陆地就死。”蜈蚣也在一边担保道。“如果龙大哥不还您的角您一口把我吃掉。”公鸡见蜈蚣作保便把角借给了龙。</p>
					<p>龙和虎到了天宫，玉帝见龙和虎都十分威风，便下令龙虎都作兽王，虎为陆地百兽之王，龙作水中水族之王。虎既然可以当属相，龙也可以成为属相，只不过得在后面一些。于是，龙和虎皆大欢喜，告辞玉帝回到凡间，回来后，龙心里想，如果把角还给公鸡，水族们见我这么丑能服我管呢？于是决定不还公鸡的角，一头扎进水中，再也不上陆地了。 </p>
					<p>公鸡见龙不还角，气得满脸通红，也迁怒于蜈蚣，蜈蚣吓得从此钻进石缝中。今天我们还可以见到，公鸡的脸总是红的、蜈蚣也难得爬出地面，公鸡见到蜈蚣总是一口一个吃掉，并且总是在喊　：“龙哥哥，还我的角！”而龙呢，再也没有到陆地上来了。</p>
					<p>虽然龙是十二生肖中唯一虚构的动物，但中国人对它却是又敬又怕、有一种特殊的感情，龙的地位之高任何动物也无法与之比较，中国人心中，它是一种能呼风唤雨，腾云驾雾的神物。帝王自称自己是真龙天子，中国人更是称自己是龙的传人。人们发挥出无限的想象力，将龙说得神奇而伟大，把各种动物的形象聚于龙一身、有兽的野性、人的悟性、神的灵性，并创造了许多龙的传说，这些传说经过民间的加工和文人的润色后，更加令人神往了。人们敬龙、爱龙的心理更升华为一种崇拜。也许，这也是龙成为生肖的文化因素。</p>
					<p>凌晨7－－9时（“辰时”）。传说这是群龙行雨的时候，龙是神话中的动物，于是辰时属龙。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
