<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 血型头部 -->
	{template public/lovestyle_bty_header module}
	<!-- 血型头部结束 -->
	<!--=====左边开始=====-->
	{template public/lovestyle_left	module}	
	<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-ab.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>AB&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">AB血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">AB血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">AB血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>AB型女配对秘籍</h4>
					<h5>AB血型女生配A血型男生</h5>
					<p>彼此的吸引点：A血型的男性和AB型的女性一旦可以成为恋人，都会非常珍惜对方。A型男很喜欢AB型女性的乖巧柔弱，会令他产生很强的保护欲。忠诚耿直的A血型男性会给予AB型女性所需要的安全感和踏实感，是让她感觉可以信赖的人。AB型女性看问题的方式全面客观，可以帮助A血型男性解开种种钻牛角尖型的烦恼，所以A血型男性在AB型女性身边会有一种特殊的安宁感和平静感。</p>
					<p>可能出现的问题：AB型女性个性中有着忽冷忽热难以捉摸的特点，对于直线性思维的A血型男性来说，常觉得难以理解。而A血型男性非黑即白的强烈执着性，也让注重客观合理的冷静的AB型女性很难接受。</p>
					<p>增进感情的方式：在AB型女性有点情绪化的时候，A血型男性应大大方方的给予她温暖的关心和安慰，而不是不知所措。A血型男性强烈的主见和执着性，也非AB型女性所能改变，不如任其发展。</p>				
					<h5>AB血型女生配B血型男生</h5>
					<p>彼此的吸引点：AB血型的女生性格冷静沉着，热情奔放的B血型男生不小心莽撞的闯入了她们的内心。被动的AB型女生是有浪漫幻想特质的，很难抗拒B血型男生多情暧昧的眼神。容易好奇的B血型的男生会被AB型女生的神秘感和聪慧感深深吸引。AB型女生有着B血型的一面，她在容易了解B型男的内心想法的基础上，又兼具着A型人的细致谨慎，总是可以帮B型男理清思路。因为双方都是随和的人，懂得谦让、也讲究情趣，所以相处起来会满快乐。</p>
					<p>可能出现的问题：相处时间长以后，容易拿不定主意的AB型女生会发现B血型男生也没什么主见，不喜欢承担责任，难以依赖。而AB型女生一旦心情不好时所表现出的距离感和冷漠感，也会令感性的B血型男生很难过。</p>
					<p>增进感情的方式：AB型女生如果和B血型男生谈恋爱，要注意培养自己的独立性。而B血型男生也要学会多去细心照顾和关心AB型女生的方方面面，给予她充分的安全感。</p>
					<h5>AB血型女生配O血型男生</h5>
					<p>彼此的吸引点：这是一对冷与热的吸引力组合。AB血型女生看上去温柔乖巧，却有较强的神秘感，而O血型男生则比较大男子主义，个性冷静平和的AB型女生会令他们有强烈的好感和好奇心，并产生征服欲。O血型男生身上所散发出的强烈自信和坚强意志，可以令AB型女生感到可以依赖。而他对生命的热情和冒险精神，也会让天性小心谨慎的AB型女性感觉非常吸引。</p>
					<p>可能出现的问题：O血型男生主观性较强，也较粗心，而AB型女生说话的方式是旁敲侧击、拐弯抹角式的，所以大部分情况下，他很难察觉到AB型女生内心的真正需要。另外，AB型女生并不喜欢把内心的所有想法告诉他人，而O血型男生表示亲密的方式就是掏心掏肺。两个人一个不断的进，试图挖掘更深层的关系；一个不断的退，躲避太紧密的联系，大家都觉得对方不太明白自己的心意。</p>
					<p>增进感情的方式：</p>
					<p>1、O血型男生要多试着去细心体会AB型女生的需要，但不要尝试完全占据对方的全部思想。</p>
					<p>2、AB型女生可以试试多坦率的和男友说出自己的想法，不用害怕被拒绝或争论。多表示出您的爱，会让他感觉很踏实。</p>
					<h5>AB血型女生配AB血型男生</h5>
					<p>彼此的吸引点： AB型男生和AB型女生之间的化学反应属于复分解反应。大家都一样的复杂和神秘，一样情绪化，一样反应快，令人动心的就是那种不用说出来的默契。AB型女生所想要的浪漫，AB型男生总是能够像心电感应一样的明了。双方都共同追求一种精神上的幸福感，对物质看的并不很重，也不会给对方过多的束缚，能保持一种具有弹性的恋人关系、能够长保爱情的新鲜感。</p>
					<p>可能出现的问题：AB型人天生较容易疲倦，所以AB型女生都有较强的依赖性，在恋爱中希望能够被对方照顾和疼爱。而AB型男生同样有着孩子气的天真面，并不是很善于照顾他人和被人依赖。</p>
					<p>增进感情的方式：作为男性，AB血型的男生在这段关系中应扮演更重要的角色，即使您的年龄并不是大她许多，也要以一种宽容和成熟的心态，去保护她、包容她，这样双方的关系更容易快乐的走下去。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
