<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
		<!-- 血型头部 -->
		{template public/lovestyle_bty_header module}
		<!-- 血型头部结束 -->
		<!--=====左边开始=====-->
		{template public/lovestyle_left	module}	
		<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-a.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>A&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">A血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">A血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">A血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>Ａ型女配对秘籍</h4>
					<h5>A血型女生配A血型男生</h5>
					<p>彼此的吸引点：这是一对初见感觉一般，但会日久生情、慢慢感到彼此欣赏、默契，却又常会错过的男女。因为大家都比较含蓄、谨慎，喜欢暗示多于明示。但即使话语不多，您们也会发现彼此有着非常多的共同点，对爱的理解深刻。A血型的男生和女生对爱情都很执着、认真，一旦双方爱起来，就是负责的、长长久久的恋情，是没有什么外力可以拆散的坚强组合。对于恋爱中的A血型男性和女性来说，总是感觉只有对方才真正懂得自己。</p>
					<p>可能出现的问题： 因为双方都比较敏感细腻，但即使为一些细节的事情过敏、不快，又都喜欢把问题闷在心里，难以沟通和直面解决，久而久之，这些问题会成为彼此关系的隐患和地雷。双方都会压抑自己来满足对方，难以在爱中获得真正的快乐。</p>
					<p>增进感情的方式：在相处中遇到不快就要告诉对方，有什么要求也要大胆说出口，不要太多顾忌、消除猜疑，增加自己对这份爱的信心。</p>				
					<h5>A血型女生配B血型男生</h5>
					<p>彼此的吸引点：A血型女性爱静，B血型男性爱动，是很好的互补组合。A血型女生对人对己的要求都比较高，时常会产生较大的压力感，而B血型男性处世淡泊、个性温柔，可以帮她们释放各种压力。轻松新潮的B型男会给A型女带来许多爱的惊喜和快乐。A血型女性总能跟随善变的B血型男性的主意。A血型女性一旦恋爱之后的奉献和牺牲，也会令B血型男性感到她是难得的人生伴侣。</p>
					<p>可能出现的问题：A血型女性有什么要求或想法喜欢用暗示的方式来表达，而B血型男性又往往粗心，总是体会不到他们的心意。A血型女性喜欢以爱人为中心的个性，容易把B血型男性惯成一个只考虑自己的坏小孩。如果A血型女性感觉自己的付出和忍让难以得到实质的回报，积累到一定程度就会以突然爆发的方式表现出来。</p>
					<p>增进感情的方式：B血型男性应理解A血型女性表达爱的方式，是付出、牺牲、是无微不至的关心。所以您也应给予她相应的实质回报。她们非常注重人的信用，所以不能只是好听的空头承诺哦。</p>
					<h5>A血型女生配O血型男生</h5>
					<p>彼此的吸引点：O血型男生直接、实际、讨厌虚伪，A血型女性真诚、忠实、传统，是O血型男生眼中很合适的恋人人选。虽然在恋爱的开始，面对攻势热烈的O血型男性，A血型女生会显的比较矜持，但O血型男生具有很强的好胜心，越有难度越有兴趣，越矜持的女性越令他感到放心。O血型男性凡事透明公开的坦诚个性，也会令A型女感到十分放心。双方会形成良好的伙伴型恋人关系，注重物质基础对生活的影响，双方恋爱之后，也会共同为将来做周详认真的计划和积极的努力。</p>
					<p>可能出现的问题：虽然A血型女生的矜持可以激发O血型男生热烈的追求，但O血型男生有希望恋情快速发展的倾向，而A血型女生则喜欢反复考验来确定爱情。当O血型男生感到付出许多努力，不能得到想要的结果，现实的他们也会产生放弃的念头。</p>
					<p>增进感情的方式：A血型女生面对O血型男生的热情，也不要过于矜持含蓄，应多给予他鼓励。O血型男生既然喜欢A血型女生，也要尊重她的谨慎个性，耐心的陪伴在她身边，表现出您爱的决心。</p>
					<h5>A血型女生配AB血型男生</h5>
					<p>彼此的吸引点：双方有很多共同点，比如细心、含蓄、谨慎等等，因此也是很容易了解彼此的男女组合。A血型女性往往是慢性子，而耐心的AB型男性总是愿意等待她做决定。A血型女生遇到有点阴柔的AB型男生会产生一种母性情怀，她爱照顾人的天性在他身上被激发了。AB血型的男性会很喜欢A血型女性传统温柔的内在美，感觉对方是可信赖和依靠的恋人。</p>
					<p>可能出现的问题：A血型女性在爱中的不吝付出，可能会令AB型男性过分依赖自己。而AB型男性也会觉得A血型女性总是关注于生活中的太多闲杂事物，不会享受人生，没有乐趣。</p>
					<p>增进感情的方式：AB型男生也要多关心和回报A血型女性，放松她容易紧张的神经。而A血型女性也试着多放下一些为他操心的事情，做一个被他保护、让他付出的小女人，感受恋爱的乐趣。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
