<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani04.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>兔（卯兔）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>肖兔的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">兔守护神：</span>文殊菩萨</dt>
						<dt><span class="f-ed0a91">兔开运水晶：</span>红纹石</dt>
						<dt><span class="f-ed0a91">兔速配：</span>羊、猪、狗</dt>
						<dd>配羊：羊有爱心。兔喜欢照顾所爱的人，相处惬意。</dd>
						<dd>配猪：性格相近，喜欢宁静，彼此吸引，发展感情。</dd>
						<dd>配狗：大家都希望在安详的环境中生活，两者为将来一起努力。</dd>
						<dt><span class="f-ed0a91">兔职场：</span>对工作，必须奉公守法。</dt>
						<dt><span class="f-ed0a91">兔理财：</span>财运一般不要误信外人花招。</dt>
						<dt><span class="f-ed0a91">兔性格：</span>特别温和，文静。</dt>
						<dt><span class="f-ed0a91">导&nbsp;&nbsp;读：</span>肖兔者的性格是最好的性格。属兔的人往往特别温和，文静，谦谦有礼；潇洒，机敏，精细耐心；善良，纯朴，富有责任感。和其它属相比较，人们更喜欢属兔的性格。</dt>
					</dl>
					<p>肖兔者的性格是最好的性格。属兔的人往往特别温和，文静，谦谦有礼；潇洒，机敏，精细耐心；善良，纯朴，富有责任感。和其它属相比较，人们更喜欢属兔的性格。</p>
					<p>在正常的情况下，属兔的人对工作兢兢业业，认真细致，一丝不苟，有高度的责任感和敬业精神。</p>
					<p>在家庭中，属兔的人对子女慈学温和，严格管都，既不放纵，也不偏爱，只希望子女成材，而不要老汉子女回报。</p>
					<p>另一方面，属兔的人对父母的养育之恩铭刻在心，总是觉得寸草难报春辉，只要力所能及，不论大事小事，他们都会尽到孝心。他们一回到家，就会给家里人带来欢乐，使不愉快的事烟消云散。</p>
					<p>因此，如果您的亲人“属兔”，那您一定会分享到一份欢乐。</p>
					<p>在社会交往中，属兔的人对朋友礼尚往来，坦诚相见，言必行，行必果，廖不虚情假意，但是他们对初次认识的人总是保持一定的警惕性，让时间来证明此人是否可以相交；他们最珍重少年时代的朋友，特别是同学中的好友，他们永远珍惜这种纯真的友谊。</p>
					<p>属兔的男士信我表堂堂，潇洒大方；他总是带着温和的微笑，彬彬有礼地待人接物，让您感到诚恳可信，然而柔中有刚；对于麻烦的事，他能处理得有条有理，遇到困难坎坷，他从不灰心气馁，而是坚持不懈地努力，他终会得到转机，获取令人羡慕的成功。</p>
					<p>属兔的俊俏美丽，娴静温柔；她有一颗纯洁的心，总是善意地对待周围的人们；她有一双灵巧的手，无论琴书画，裁剪烹调，她都能操持得遂人心愿；她有一身高雅的气质，让一切庸俗邪恶的行为，都在她面前自惭形秽。她与春风产芊，她与明月同照。</p>
					<p>属兔的人对爱情最忠诚，他们不会轻易地爱上谁，也不会相信好色之徒的花言巧语，但如果感受到真诚的爱，看准了值得爱的人，就会专心一意为心爱的人献上一切。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
