<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star07.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>天秤座（阳历9月23日-10月23日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=7&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=2">天秤传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=3">天秤男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=4">天秤女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=5">天秤爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=6">天秤速配 &gt;&gt;</a></h6>
					<h4>天秤爱情：</h4>
					<h5>天秤座爱情</h5>
					<p>看不出来，平时出名懒散的您，在爱情这方面却很大胆应该是，您在追求异性会以很主动的姿态“出击”。可惜的是，出击一次过后，得不到手便又回复懒散状态……　由于您是讲求平冲，所以出击过一次之后，便认定人家明白您的意思，如果对方有意思的话您便觉得下一次的主动出击应该是轮到对方主动。友情升华到爱情在您身上不大可能发生，另有居心不在此限。您的爱情多为一见钟情，跟对方做朋友也只是缓兵之计，期待有机会大翻身，但可惜的是，很多时您会因等得太久慢慢又显现隋性，爱理不理的令对方很难…真的很难去感受到您的真心。只会是您喜欢的异性才会有机会跟您做朋友，因为您心底里根本是个自恋狂。</p>
					<h5>天秤座爱情面包的抉择</h5>
					<p>天秤座对于自己的情感，常常表现出纵容的态度。</p>
					<p>爱情珍贵，面包重要。在天秤座的认知中，如果两者都具有价值和意义，那么，要天秤座抉择基本上就是一件荒谬的事。</p>
					<p>如果您现在的交往对象中，有的面包又大又厚，可惜浪漫不足；有的情深意重，可是钱途不佳。我想最有可能的状况就是且战且走，听其自然。</p>
					<p>天秤座对于自己的情感，常常表现出纵容的态度。当多余的感情来临时，很难用理性去克制压抑。等到纵容成问题时，却又缺乏快刀斩乱麻的勇气。很多纠缠不清的感情债，就在这种情况下，变得难以收拾。</p>
					<p>就拿您的交往情形来说，您并不刻意回避同时和多个对象交往，当感情慢慢成长时。您也不积极处理这种多头马车的危机。您认为“船到桥头自然直”，结果却陷入更大的困境您觉得对两边都有责任，您不想因选择任何一边而伤害另一边。</p>
					<p>最后，您只有一种选择--让对方来选择您。</p>
					<p>　我诚恳地提醒天秤座的您，拖到最后关头的选择，伤害最为严重。如果您能在问题还没恶化之前，果断地做出判断，就可以减少日后的伤害。爱情、工作、家庭、生活，每一天都可能改变您的一生。请面对现实。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
