<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star10.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>摩羯座（阳历12月22日-1月19日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=10&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=2">摩羯传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=3">摩羯男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=4">摩羯女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=5">摩羯爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=6">摩羯速配 &gt;&gt;</a></h6>
					<h4>摩羯座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 土星</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 土象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 人的膝盖关节</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 严谨的态度，责任感，事业属于领导型人物。</dt>
						<dt><span class="f-ed0a91">摩羯座的情人：</span> 端庄、向上</dt>
						<dt><span class="f-ed0a91">摩羯座的个性： </span>我们常常使用“船头惊鬼，船尾惊贼”去形容摩羯座，究竟摩羯座是否一个忧心仲仲的星座呢？其实摩羯座是十二星座中最有耐心，小心的星座，凡事都脚踏实地，固执可以说是他们最大的特质，无论对事情的看法、态度、一旦坚持己见，不达到目的，他们是不会放手的。同样摩羯座的人，忍耐力，勤奋也是十二星座之最，当然他们亦是最孤独的一个星座。一个典型的摩羯座人士，最重视就是自己的面子，在外表您永远不知道他内心的想法。受到土星的影响，他们天生情绪压抑，总是在心中觉得自己背负着很多的责任，就是因为这样，别人很难了解他心中的想法，他对别人的建议通常没有甚么反应，令到身旁的人很无趣，所以不要妄想去明白他，因此他们是一定要靠自己的的；其实地很没有安全感，不会完全相信别人，凡事三思而行，便成为了“船头惊鬼，船尾惊贼”的情说来！</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
