<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani07.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>马（午马）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>肖马的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">马守护神：</span>大势至菩萨</dt>
						<dt><span class="f-ed0a91">马开运水晶：</span>白水晶</dt>
						<dt><span class="f-ed0a91">马速配：</span>虎、羊、狗</dt>
						<dd>配虎：高贵大方的虎使马愿意为其付出，马也能得到虎真挚的感情。</dd>
						<dd>配羊：易被羊的温柔吸引，羊的依赖使马觉得幸福。</dd>
						<dd>配狗：有才智的狗助马发展事业，马当然不会错过这么一位好伴侣。</dd>
						<dt><span class="f-ed0a91">马职场：</span>事业心强成全自己出人头地。</dt>
						<dt><span class="f-ed0a91">马理财：</span>财运稳中见旺，可投资生意。</dt>
						<dt><span class="f-ed0a91">马性格：</span>不肯服输的性格。</dt>
						<dt><span class="f-ed0a91">导&nbsp;&nbsp;读：</span>生肖属马的人，永远要抢先一步，具有不肯服输的性格，因此凡事要能激励自己积极奋斗。但弱点也不少，如不能持久，较难保守秘密，连恋爱的对象，也容易换。</dt>
					</dl>
					<p>生肖属马的人，永远要抢先一步，具有不肯服输的性格，因此凡事要能激励自己积极奋斗。但弱点也不少，如不能持久，较难保守秘密，连恋爱的对象，也容易换。所以马年出生的朋友，要训练自己的耐性，做事要负责到底，贯彻始终，培养自己保密的习惯，在年轻的时候，就要奠定好自己才能的基础，使自己的事业一直保持进步与发展的趋势。这种人性格乐观而健谈，与他人相处融洽，朋友很多，常能得到朋友的帮助。但也因心直口快的毛病，易得罪朋友而自己还不知道，所以要注意自己的言行举止。财运方面，属马的人容易挣大钱，但喜欢生活奢华，爱摆架子耍派头，所花费的钱财，开支的项目也颇可观，时常财来财去，剩不了什么积蓄。</p>
					<p>属马的人是难以管教的孩童，痛苦之中长大，一到中年他们就变成了了不起的人。属马的无法忍受隐身不显，他们必须表达自己，必须在能表达自己特点的气氛中，自由自在地行动。在家里，花瓶中必须插满他们最喜爱的花，食物必须是他们喜爱的菜肴，属马者很难考虑别人的观点，在他的思想里，他的方式很显然是最佳方式。</p>
					<p>属马的人常常只要情况许可就离家，而且从少年开始就如此。一般人认为，属马的人应该在离家之后尽快建立婚姻关系才好，婚姻所带来的稳定性，有了孩子的责任感可使他免于自毁。但是生而具有反叛性的属马者不会这样想，他们将选择自由和自我奋斗的道路；他们在远离家乡的都市里租下公寓，在此他们可以呼吸最独立自由的空气，没有父母或者亲人来干预他们的私事。不受任何限制是属马者的梦想。有时候梦想远远超过他的能力，当他达到独立自由的状况时，他却无法应付。</p>
					<p>属马的人常将不可能的事，当成轻而易举就能办到的小事。他们能不受什么驾驶训练，而敢于驾驶飞机。或者他们说：“我们下周三到山上去滑雪，从山峰上冲下来！”他们会滑雪吗？“不会，但是学滑雪并不难啊！”</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
