<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani03.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>虎（寅虎）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属虎血型——破解您的爱情魔咒</h4>
					<h5>属虎A血型</h5>
					<p>属虎A型血的人积极和消极的双重性格，在属虎A血型人的身上复杂交错发表现出来。 有时积极进取，乐观开朗，自由奔放，朝气蓬勃，团体中引人注目的核心人物。喜欢帮助别人，深受大家的喜欢，但内为保守、平实。随和和开朗也只是外表，内心里在朋友的亲疏是分明界线的。性格爽朗，但有时却害羞腼腆。</p>
					<p>总之，既有属虎人豪放开朗的性格，又有A型血人自我封闭的性格。 心地善良，为了朋友和亲人，赴汤蹈火，在所不辞。 很害怕别人的批评，当听到别人的批评，有时会苦闷、消沉。 知识、能力、耐力等方面都趣人一等，体育方面容易出成果，在工商界和银行界也能做出令人刮目相看的成绩。</p>
					<p>属虎A型血的人，交际广泛，所以身边的异性朋友支集，他们也不断地更换异性朋友，给人不发的印象，其实这是一种误会，他们把异性朋友都当一般的朋友看待。内心保守，决不会有亲密的举止和非份的要求。 一旦决定了恋爱对象，会死心踏发的爱着对方，结婚后，也是忠心耿耿，从一而终的。</p>
					<p>属虎A型血人最好找有庄重踏实的人作为终生伴侣，因为他们能包容您情绪化的性格，安抚您的消沉。 那种个性稳定，精神十足的女子善于理家，和属虎A血型男子结合，也能过十分舒适的生活。</p>
					<h5>属虎B血型</h5>
					<p>属虎B血型人个性明朗，从不隐藏自己，不悲观，他们会把自己的观点告诉别人，光明磊落，从不做小动作，不要背后搞阴谋诡计。</p>
					<p>B型血人好交朋友，愿与朋友分享苦乐，天真活泼，使周围人毫无戒心地接近他，所以朋友遍天下。 虽然属虎人能力、斗志、行动力各方面都不比别人差，但最大缺点就是缺乏计划，做任何事都毫无计划，缺乏集中力，做事难获成功。 不过很有毅力，即使屡次被骗或遭受挫折，也能马上恢复开朗。</p>
					<p>总这，属虎B型血的人善于社交，善交朋友，但缺乏计划性，有点盲目和听天由命。</p>
					<p>属虎B型血的人个性开朗，周围不乏异性朋友，感情丰富，不会只向一个人倾主，往往会同时爱上两个异性。 不重视结婚形式，认为两人心心相印，比形式上的结婚重要。如果爱上某人，会表现出喜悦之情，而且毫不犹豫地把自己的爱献给对方，不会注意旁人眼光，光明正大地交往。</p>
					<p>处事冷静，对任何事情都慎重处理的属牛人，和精于谋略，工于心计的属兔人以及属蛇人比较适合属虎B型血人。他们的结合，能弥补属虎B血型人无计划和盲目性，能使行动有计划有目的，避免浪费更多精力，又能充分发挥社善于社交的长处，对生活，事业都有促进作用。</p>
					<p>在交朋友方面，应有选择地交往，特别是异性朋友，不要过分亲密，以避免不必要的家庭纠纷，特别是结婚后应多注意影响，把主要的精力放在事业和家庭上，多为对方着想，多承担家庭义务，以身作则，为孩子作一个好榜样，特别是为孩子创造一个好环境。</p>
					<h5>属虎AB血型</h5>
					<p>属虎AB型血的人能凭着自己的直觉判断朋友和敌人，为人不错，喜欢交新朋友，朋友有难，会全力以赴，但不喜欢麻烦别人。 很自信，对别人的错误，会当面严正，也许很会说话，或说得有道理，因此被批评的人心服口服，旁人也有好印象。</p>
					<p>乐观现实，不喜欢杞人忧天，怨天尤人，更不悲厌世，对世界充满信心，对周围的人充满乐趣，即使平平淡淡，也生活得有滋有味，热爱生活，对周围的人充满爱心，那颗善良诚挚的心，会赢得很多朋友。 精力旺盛，但做事往往不够专一，什么事都想尝试一下，又喜欢和专家、名牌竞争，所以失败、挫折是常有的事，好在生性开朗，很快振作，如果专心投入某一事业，只要努力就会有很多的收获。</p>
					<p>属虎AB血型人具有很强的冒险性，爱情方式外露，一旦喜欢上对方，便不顾一切地告诉对方，不管对方的否比自己大，也不管对方是否结婚，甚至不管别人愿不愿意，总是努力地使对方喜欢自己。</p>
					<p>对爱情的方式有采取强制态度，从不考虑后果，经常碰得头破血流，不思茶饭。 在失恋时很沮丧，很消沉，不过很快就会医治好创伤，又有了新的恋爱目标。 中年以后，会渐渐成熟，更有魅力，这时的恋爱技巧也更高明，会冷静地思考，研究对爱人的对策，采取一些别人能接受的手段，逐步加深感情。 大多晚婚，爱情之花虽迟开一些，但仍十分美好诱人，结婚后，婚姻很稳定，不象婚前那样变化无常，会沉溺于小家庭的幸福，而疏远昔日朋友。</p>
					<h5>属虎O血型</h5>
					<p>属虎O型血人性格直率开朗，心地善良纯朴，象孩童般单纯，毫不不掩饰自己。 天生乐观，自我意识强烈，处事态度我行我素，不顾别人想法，有时难免碰壁。情绪不稳定是他们最大的缺点，刚认识的朋友，觉得相见恨晚，但过几天就腻了，很快又转向新朋友，朋友虽多，但不易获得知心朋友。</p>
					<p>有十足的冒险精神，正义感强，为了正义，能奋不顾身地支做，有时缺乏周密考虑，从而导致失败。 荣誉至上，清高，不怕吃亏，有时明知自己会吃亏，仍会继续坚持下去，不在乎旁人的眼光，继续走自己的路。由于清高，会错失很多良机，有时结局不一定好。</p>
					<p>属虎O型血的人喜欢在引人注目的场所，把一朵红玫瑰献给对方。以为这是表达爱情的一种方式，从不管对方喜欢不喜欢。 一心一意追求热恋中的对象，为了恋人，可以放弃事业、工作，甚至不顾父母亲人的坚决反对。这种瞬间即逝的火热，既伤害了对方，又破坏了自己的形象。有时即使结婚，闪电般的爱情之花也很快就凋谢了。 思绪周密，行为谨慎，有坚强毅力的人最适合做O型血人的伴侣，他们的结合，能弥补O血型人的缺点，更好地发挥力量。 只要努力，坚持不懈，好事多磨的爱情也很甜蜜，婚后大多过着比较安稳的生活，有的继续追求浪漫情调，有的则平平淡淡的，有的则忙于事业。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
