<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani01.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>鼠（子鼠）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖鼠的来历传说</h4>
					<p>鼠在十二生肖属于首位，与十二地支中配属，“子”，故一天十二时辰中之“子时”—晚上十至凌晨一点，又称“鼠时”。</p>
					<p>据说，在很早很早以前，生肖这件事归四大天王掌管，当年执事的天王姓什么，那年出生的人就属什么。后来，四大天王回归天宫镇守南天门后，玉皇大帝就决定挑十二动物代表人间生肖，并赐封为神，为体现公平原则，玉帝下令，在规定的日子，人间的动物都可以到天宫应选　，并且以动物们赶到天宫的先后作为排名次的顺序，只取最先赶到的前十二名。</p>
					<p>那时鼠和猫是一对好朋友，他们约定一同到天宫去争取当生肖，并约定到时老鼠来叫猫一同出发。可是，机灵的小老鼠想，人间的许多动物都比自己漂亮，并且还对人类有用，比如，猫念经、兔拜月、狗守屋、龙蛇治水、猴镇山、牛马耕田、猪羊供人食用，自己应当想个法子才能争取到属相。于是，在规定到天宫的那天一早，小老鼠悄悄地起来，也没去叫猫，自个儿偷偷跳上老牛的角中藏起来，韧性最好、最勤奋的牛带自己去上天宫去，老牛果然第一个赶到天宫大门。天亮了，四大天王刚打开大宫门，牛还没有来得及抬蹄，小老鼠从牛角中一跃而下，直奔天宫大殿。尽管玉帝不愿意封这个小小的老鼠为生肖。可是君无戏言，自己定下的规定不能更改，玉帝也只好宣布鼠为生肖之首。 </p>
					<p>猫在家等了半天，不见鼠的影子，只好自己赶去天宫，由于等待老鼠耽误了时间，等猫赶到天宫时，十二生肖的名额已排满，没有猫的份儿了。从此，猫恨透了老鼠，一见到就扑去咬，以泄心中这愤，而老鼠呢，也觉得有些对不起猫朋友，见到猫就逃。直到今天猫和老鼠的还是死对头，人们也觉得老鼠的这生肖之首来得不怎么光明正大，也对老鼠失去了好感，其他动物也疏远了它。</p>
					<p>于是，鼠便离开了人和别的家禽家畜在地下建立了自己的家园，过着独立自主的生活。直至今天，它的子孙也还是生活在地下。这一来反倒免去了和其他动物的纠缠、争斗，所以鼠的家族始终昌顺、繁衍不息。不管怎么说，老鼠毕竟是凭自己的机警和聪明坐上了生肖的第一把交椅。</p>
					<p>晚上11时至第二天1时（即”子时“）。这时候，老鼠胆量最壮，活动最频繁，所以，子时同鼠搭配。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
	<div class="clear"></div>
</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
