<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani12.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>猪（亥猪）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖猪的来历传说</h4>
					<p>猪为六畜之一，中国人与猪的关系非同一般，人们的肉食大部分来自猪。猪的一身是宝，供人采用。作为一个农业国，猪更是与亿万农民有着不解之缘。人们推举十二种动物为生肖，自然会选与自己生活最密切的动物来作代表，猪成为生肖当然也就是顺理成章的事了。</p>
					<p>关于猪当上生肖，民间还有一个传说。</p>
					<p>古时有个员外，家财万贯，良田万顷，只是膝下无子。谁知年近花甲之时，却得了一子。合家欢喜，亲朋共贺，员外更是大张宴席，庆祝后继有人。</p>
					<p>宴庆之时，一位相士来到孩子面前，见这孩子宽额大脸，耳阔有轮，天庭饱满，又白又胖，便断言这孩子必是大福大贵之人。</p>
					<p>这肥胖小子福里生、福里小，自小只知衣来伸手，饭来张口，不习文武，修农事，只是花天酒地，游手好闲，认为命相已定，福贵无比，不必辛苦操劳。哪知这孩子长大成人之后，父母去世，家道衰落，田产典卖，家仆四散。这胖小子仍然继续过着挥金如土的生活，直到最后饿死在房中，这胖小子死后阴魂不散，到阴曹地府的阎王那里告状，说自己天生富贵相，不能如此惨淡而亡，阎王将这阴魂带到天上玉帝面前，请玉帝公断，玉帝召来人间灶神，问及这位一脸富贵相的人怎么会饿死房中，灶神便将这胖小子不思学业、不务农事，坐吃空山，挥霍荒淫的行为一一禀告。玉帝一听大怒，令差官听旨，要胖小子听候发落，玉帝道：“您命相虽好，却懒惰成性，今罚您为猪，去吃粗糠”这段时间恰逢天宫在挑选生肖。这天宫差官把“吃粗糠”听成了“当生肖”。当即把这胖小子带下人间，从此，胖小子成为一头猪，既吃粗糠，又当上了生肖。</p>
					<p>另有一说是猪靠自己的努力当上了生肖，在天宫排生肖那天，玉帝规定了必须在某个时辰到达天宫，取首先到达的十二种动物为生肖，猪自知体笨行走慢，便半夜起床赶去排队当生肖。由于路途遥远，障碍也多，猪拼死拼活才爬到南天门，但排生肖的时辰已过，但猪苦苦央求，其他六畜也为之求情，最后终于感动了天神，把猪放进南天门，当上了最后一名生肖。这样，马、牛、羊、鸡、狗、猪“六畜”都成为人间的生肖。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
