<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani06.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>蛇（巳蛇）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>肖蛇的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">蛇守护神：</span>普贤菩萨</dt>
						<dt><span class="f-ed0a91">蛇开运水晶：</span>紫水晶</dt>
						<dt><span class="f-ed0a91">蛇速配：</span>鼠、牛，鸡</dt>
						<dd>配牛：蛇会被牛坚定的眼神吸引。</dd>
						<dd>配鸡：虽有争执，但感情却是愈吵愈浓，对蛇鸡而言，吵架也是一种沟通方式。</dd>
						<dt><span class="f-ed0a91">蛇职场：</span>事业运旺，商机多。</dt>
						<dt><span class="f-ed0a91">蛇理财：</span>容易出现财来才去的现象。</dt>
						<dt><span class="f-ed0a91">蛇性格：</span>理想主义者的典型。</dt>
						<dt><span class="f-ed0a91">导&nbsp;&nbsp;读：</span>属蛇男性与女性都富有实力，是理想主义者的典型。对别人会心存感激，也会迷恋对方，可是却不会立即展开追求，独占欲非常强烈。</dt>
					</dl>
					<p>属蛇男性与女性都富有实力，是理想主义者的典型。对别人会心存感激，也会迷恋对方，可是却不会立即展开追求，独占欲非常强烈，如果无法彻底了解对方，便会有一股不安的情绪，所以，一定要克制自己的好奇心，并力求情绪稳定。</p>
					<p>生肖属蛇的人，外表淡漠冷静，但其实内心十分热情。在新朋友面前，比较保护自己，但与朋友相交较深后，便会处处关怀对方。做事有计划、有目标、能够循序渐进地达到成功。凡所喜爱的人、事，必努力争取。也善于利用空隙，有捷足先登的本领。上进心强烈，使他们能获得一定的成就，可惜生性颇为吝啬，疑心较大，所以在人缘方面也有时好时坏的情形出现。</p>
					<p>属蛇之人对研究非常热心，无论做任何事都必须经过自己彻底地调查后，才会相信，又因为好奇心很强，所以连旁人的事也想知道。尽管不爱说长道短，制造流言，但也以到处打听别人私事为乐。这种妨碍他人、引人厌恶的行为，建议终止，并把精力放在知识的积累上。</p>
					<p>蛇人表面温和，却是一位专心至志，意志坚定的人。旁人往往认为属蛇人个性爽朗，常易从他们衣兜中掏出钱来。在您仔细观察之后就会发现，他们常无需多大努力就能获得钱财。这也是属蛇人吸引人的魅力，能使他人钱财飞到他的口袋之中。</p>
					<p>懒惰是属蛇者最明显的特性，也是他真正唯一的敌人。他们每天必须与自己斗争很久，才能使自己开始行动，虽然他们心底常有很大的野心，但只有意志仍不成事，属蛇者必须每天与行动之神对抗，跨入现实世界。</p>
					<p>属蛇者对自己的另一半常有很多限制，他们喜欢围在自己所爱的人四周，直到对方被制服于他们的美丽与魔力下为止。</p>
					<p>属蛇者相当奢侈，以不眨一眼地购买名贵的高价品而闻名。但多数时候，属蛇者不愿将钱花在每日的必需品上。</p>
					<p>蛇年出生的人，不论男女，大都讲究衣着，注重仪表，很能吸引异性，但也往往给人一种虚荣的感觉。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
