<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani07.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>马（午马）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属马血型——破解您的爱情魔咒</h4>
					<h5>属马A血型</h5>
					<p>属蛇A血型人以自己滔滔不绝的高谈阔论来吸引异性，的确也有异性被这些浮华所迷惑而深陷进去。但是这时他们又嫌弃别人不单纯，太热情，而有意无意的回避。心中的目标是那些成熟而娴雅的少妇。 与此同时，凡是身边年轻、漂亮的女子他都要去讨好，是一个典型的好色之徒。但不乏正直之士，严肃认真地对待婚姻，变真寻求理想中的伴侣，然后结婚，与爱人相亲相爱。白头到老。 宜找活泼单纯、有魅力、有胆识的男士（或女）为伴。</p>
					<h5>属马B血型</h5>
					<p>属蛇B血型人常常谈笑风生，把自己的体会感受全部原原本本地说出来，受到大家的欢迎。但是情绪不稳，内心好猜忌，且天生喜欢孤独，不愿朋友踏入自己的世界，一生没有真正的朋友，最终没有一个愿意听他谈笑风生的人。有敏锐的决断力，但喜欢单枪匹马地行动，在需要协调时，很难得到他人的理解。 本着&quot;以自己的力量开拓自己的人生&quot;之原则，靠自己独立奋斗，也能过着富裕的生活。 一生平稳，不会有太大的波折、坎坷，但是，以他们的聪颖和才华，如果依靠朋友的话，会取得更大的成就。</p>
					<p>属蛇B血型人虽然生性孤僻，没有知心朋友，喜欢独来独往，但是对自己喜欢的异性会积极追求。 为了得到对方，会不惜一切手段，哪怕是采取卑鄙的手段，从不考虑对方的感受，只按自己的意志行事。</p>
					<p>这种行为有人以为是幽默，并不厌恶，而有的人气得立即离开他。 不轻易放弃自己的目标，会追到天涯海角。也放是诚心打动了对方，但结婚以后生活并不十分协调。 脾气太情绪化，好的时候，可以甜言蜜语，山盟海誓；而心情不佳时，则大发雷霆，兴风作浪，搞得一家人不得安宁。</p>
					<p>属蛇B血型的女子，宜找性格开朗，成熟，有包容力，宽宏大量的男子为夫，他能忍受她的冷漠，她那时阴时晴的性格，男子则宜找性格温和，贤淑，脾气好，有教养的女子为妻，她不但能成为他的好内助，还能助他事业上一臂之力，因为他没有朋友。</p>
					<h5>属马AB血型</h5>
					<p>属蛇AB血型人是讲求效率的合理主义者。对事冷静严肃，思维精密，计划周全，讲求实效，合情合理。 讲究体面，虚荣心极强，在人前总是装出一副老练成熟，冷漠而道貌岸然的样子，把自己的喜怒哀乐都藏起来。对待同事，朋友冷漠并保持距离，不喜欢亲密交往，不喜欢别人进入他的生活圈子。也决不干涉别人的生活，不喜欢帮助别人，而自己有困难，也决不求别人帮忙。</p>
					<p>聪明过人，感觉敏锐，能判断是非，预测自己今后道路中的凶吉，采取果断措施。因此一生不会有大的波折，轻松愉快，平安顺利地度过一生。 做什么都不很努力，但结果都很不错，很会安排时间，也不贪玩乐，因凡事有计划，所以做事都很顺畅，事业和家里的事做完了，常会觉得空虚。</p>
					<p>属蛇AB血型人有成熟潇洒的外表，凭着聪明和美丽，自然能吸引异性，但都委冷漠。 对喜欢的对象，会巧妙的接近，以自己特有的魅力将对方吸引，且表现得相当自然，对方已上钩，还不知道自己&quot;上当&quot;。</p>
					<p>有冷漠的本性，对恋人也是如此。没有刻骨铭心的爱，没有激情。平平淡淡容易使那些感情丰富的恋人感到捻而离去。 宜找那些温柔体贴，和自己一样，有些冷漠的人为伴，双方理解，相敬如宾，又各自保持独立空间，在平平淡淡中慢慢体会，走过平静的人生。</p>
					<p>对爱情没有甜美的憧憬，对爱人也没有甜美的幻想，认为结婚会给生活增添许多麻烦，不如单身汉自由快乐，但由于种种原因，不得不结婚，这也许是他们对爱人很冷漠的原因吧。</p>
					<p>属蛇AB血型的男子，宜找热情、大方、活泼、幽默的女人为伴，女子则宜找热情、坦率、诚实、质朴、积极进取的男士为伴。</p>
					<h5>属马O血型</h5>
					<p>属蛇O血型人为人成熟而圆滑，待人礼貌而周到，但是都不易亲近。机警而猜疑，不信任周围的人和事，不愿表露自己，而将自己的能力隐藏起来，给人一种神秘莫测的感觉。个性坚强，暗自苦苦奋斗，总想出人头地，但是表面上都装出若无其事的样子，常常使人反感。 自尊心和嫉妒心都很强，在任何时候任何情况下都不服输，勇争第一，太辛苦。嫉妒心和虚荣心都十分强，不愿别人超过自己，如果超过，凡里则不痛快，报复心随即产生。对朋友，同事，甚至老同学也不放过，您成就越大，他越恨您，报复起来，不择手段，方法高明，不露痕迹，从而决定了一生孤独。 当然其中也有性格温善的，心地善良，从不伤人。</p>
					<p>属蛇O血型人在爱情方面独占欲很强，一旦爱上了对方，则千方百计总想追求到手，有时甚至不择手段，结婚后，则不许对方有半点闪失。如果有第三者插足，则会恨之入骨，不共戴天，甚至把对方都给杀了。 很执着专情，但太猜疑，有时根本不信任对方，甚至采取跟踪、窃听等手段，给爱人心理上造成伤害，自己心理 也不好受。</p>
					<p>所以属蛇O血型的男子宜找性格温和、贤能、开朗、乐观、顾家的女子为伴，切忌找那种自由奔放、豪放不性格的女子为妻，前者可以温暖他那冷漠的性格，使他家中得到快乐，在事业上也助他一臂之力，而后者，只能使人更加苦恼，更加繁忙，更加痛苦。 女子则宜找个性温和、善良、成熟、沉稳、专一、顾家的男子为夫，他能容忍她的狂妄，她喜欢他的稳重，双方都专一，家庭定能幸福长久。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
