<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani03.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>虎（寅虎）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖虎———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>由于个性开朗又富有行动力，穿运动服牛仔裤就够吸引人了，不要为了凸显或掩饰身材，而穿着奇装异服，而有反效果。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>在谈恋爱的时或婚后，皆能充分表现出如火般的狂列热度，一旦对方有性需求，便会放下一切竭尽所能地配合到底。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属虎的人，心地很仁慈，他们喜欢天真无邪的小孩，这便是他们个性的写照，也喜爱充满温馨气息的生活空间。但一旦投入一件事，或爱上一个人，他们都会使出浑身解数，发挥百分百的力量去追求实践，但有时往往因为太冲动而失去机会。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>爱情是需要时间去陪养的，即使真心的爱着对方，也要在合适的时机场合去表白，让对方能够了解到自己的感情。属虎的人往往对待爱情太过于冲动，缺少去陪养爱情气氛的耐心。</dt>
						
					</dl>
					<h5>相虎幸福大匹配：</h5>
					<ul>
						<li>一月生的人，是行动派，女性宜配牛年男性，男性宜配牛年女性。</li>
						<li>二月生的人，富推理能力，女性宜配羊年男性，男性宜配鸡年女性。</li>
						<li>三月生的人，自我感强，女性宜配狗年男性，男性宜配羊年女性。</li>
						<li>四月生的人，大方豪放，男性宜配鼠年女性，女性宜配狗年男性。</li>
						<li>五月生的人，开朗亲切，女性宜配蛇年男性，男性宜配狗年女性。</li>
						<li>六月生的人，荣誉感强，女性宜配牛年男性，男性宜配鸡年女性。</li>
						<li>七月生的人，工作勤奋，男性宜配鼠年女性，女性宜配狗年男性。</li>
						<li>八月生的人，头脑灵活，女性宜配兔年男性，男性宜配鸡年女性。</li>
						<li>九月生的人，有经济头脑，女性宜配虎年男性，男性宜配鼠年女性。</li>
						<li>十月生的人，诚实勇敢，男性宜配鼠年女性，女性宜配龙年男性。</li>
						<li>十一月生的人，孤独敏感，女性宜配中年男性，男性宜配牛年女性。</li>
						<li>十二月生的人，坚定不移，女性宜配牛年男性，男性宜配狗年女性。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
