<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani08.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>猴（申猴）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属猴血型——破解您的爱情魔咒</h4>
					<h5>属猴A血型</h5>
					<p>属猴A血型人的性格比较内向，稳重，踏实，沉静，固执，反应缓慢，有耐心。 属猴A血型人，精明干练，外柔内刚，处事不慌不忙，不轻易上当，也不搞阴谋诡计。属猴人幽默快乐，语出惊人，走到哪里，把笑声带到哪里，关心他人，总使周围气氛热闹起来，使众人感受到温暖喜悦。 虽嘻笑吵闹，但凡事都有分寸，决不过分和违背道德准则。和朋友在一起时，连串的诙谐笑语，使周围气氛立刻活跃起来。很重朋友情谊，全心全意招待来访的朋友，朋友有难全力帮助，能获和朋友的信赖和支持。</p>
					<p>处处留意生活细节，有些拘泥形式。做事顾虑重重，劳心劳力，慌慌张张，结果抓了芝麻，丢了西瓜。 中年以后走向稳重成熟。依靠朋友的支持和帮助，能逐步走向成功。 机敏，有旺盛的精力，独立经营餐厅茶馆，必定生意兴隆，收入丰厚。对工作认真负责，为人正直无私，以身作则，从事&quot;人类灵魂工程师&quot;的职业也适合。</p>
					<h5>属猴B血型</h5>
					<p>属猴B血型人反应灵敏，善解人意。行动敏捷，干什么事都比别人快速。应变，适应能力强。 擅于待人接物，能理解别人的苦衰。处处设身处地为别人着想。努力帮助需别人帮助的人。</p>
					<p>知识渊博，阅历丰富，但从不炫耀。与人交谈幽默有趣，许多人愿与之交往，从他那里增长知识。但人们无法完全理解他，他常常以玩笑的语气说话，使人感到似是而非。</p>
					<p>具有敏锐的观察力，明察秋毫，能把握时代的脉搏，抓住各种机遇。虽然没有远大期望和野心，但利用机会，自己的日子一天比一天富裕。缺乏耐心有毅力。如果有百折不挠的毅力和耐心，事业会有更大进步，生活也将更美好。</p>
					<h5>属猴AB血型</h5>
					<p>属猴AB血型人能力卓越，具有正确的判断能力和先见之明。办事能力强，无论做什么都能抓住重点，有条不紊把事做好，深受领导和同事好评。逻辑思维和形象思维都很发达，直觉能力也很强，以预测未来。说话机智幽默，能使别人感到愉快，但有时也用挖苦和讽刺的语气使人厌恶。平时开朗活泼，而遇不如意的事则闷闷不乐，烦恼而忧愁。热心帮助别人，并设身处地的为他们提出建议、忠告，以得到朋友的信赖。</p>
					<p>聪颖而精于计算，对个人的利害得失也计算得很清楚，且懂得以愉快的方式解决问题。一生运势平缓渐进，很少遇到波折。 缺乏毅力和耐心，常常在成功的前夜停下来。纪律涣散懒惰。</p>
					<h5>属猴O血型</h5>
					<p>属猴O血型人聪颖机灵，反应快，很有才气，肯学，好奇心强，什么事一学就会，一做就精。知识渊博，关于应酬，很能和别人打成一片，且很快洞悉他人性格并掌握大量信息，为自己所用。快乐而幽默，话题丰富，措辞巧妙，使人陶醉其中，而自己却独自清醒。 在团体中最少在跃的人物之一，却成不了群众的领袖，因为贪玩无责任心，缺乏耐心，平时掉以轻心，什么都不在乎。反应快，能见机行事，当别人举棋不定的时候，已看清利害，或捷足先登，或逃之夭夭。</p>
					<p>生性乐观，即使遇到天大的挫折，也能面不改色心不跳，很快高兴起来。凭着聪明机灵，一生圆满顺利。年轻时生性贪玩，缺乏毅力和耐心，一生错过许多机遇。领悟力强，学习能力强，可惜，太懒惰和贪玩，结果别人迎头赶上并超过，自己却在后面追赶。大器晚成，中年以后，逐渐老练成熟毅力耐心加强，机遇一来，便走向成功。 生活也将更美好。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
