<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star05.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>狮子座（阳历7月23日-8月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=5&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=2">狮子传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=3">狮子男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=4">狮子女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=5">狮子爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=5&tag=6">狮子速配 &gt;&gt;</a></h6>
					<h4>狮子座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 太阳</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 火象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 狮子的尾巴</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 闪耀的、活力十足的能量。</dt>
						<dt><span class="f-ed0a91">狮子座的情人：</span> 骄傲、多情</dt>
						<dt><span class="f-ed0a91">狮子座的个性：</span> 狮子座是由太阳神阿波罗所管理，所以本他身上处处显露阳光、热情、自信、大方都是他的特质。而且天仕的领导才能令他喜欢指挥别人和有强大的组织能力，不过过份自信变成自大，加上固执的性格，反应夸张，有时令人不知如何与他相处。喜欢成为焦点人物的狮子座，都有脆弱之时；因为他们太在乎别人对他的看法，往往因此而不快乐；不肯认输的个性，也是令自己不愉快的泉源。狮子座的女性更加可怜，她们是最怕老、怕寂寞、怕不被别人尊重的星座，为了要打击这些心魔，她们会不惜任何方法去改变它们。</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
