<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star06.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>处女座（阳历8月23日-9月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=6&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=2">处女传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=3">处女男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=4">处女女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=5">处女爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=6">处女速配 &gt;&gt;</a></h6>
					<h4>处女爱情：</h4>
					<h5>处女座爱情</h5>
					<p>在您眼中，您常会觉得自己的恋爱障碍重重，自卑的您很喜欢分析任何的东西，包括您跟情人的感情。您不会是令人一见钟情的那类型，您的爱情多是经过漫长的追求才有机会得手的。太过严谨少不免令对方怀疑您的真诚，劝您还是豁达一点，别要太过斤斤计较。我认识的处女座都有一个共通点，当他们不开心或是要好的朋友不开心，他们第一样想到的东西——酒。这么好酒的他们却永远拥有妙窕的身材，简直是一个谜……</p>
					<h5>处女座爱情面包的抉择</h5>
					<p>很多处女座的人会评估当前的局势，做出一个很有道理的选择。</p>
					<p>在爱情走到婚姻的关口，处女座的选择是理智而且务实的。处女座的人不会选一个自己不喜欢的人，来折磨自己一辈子，但是，会从喜欢的人中，挑选最具价值的一位，走上人生的新阶段。</p>
					<p>很多处女座的人会评估当前的局势，做出一个很有道理的选择。比方说：如果处女座的男生有一位脾气暴躁的父亲，那么最孝顺的那个女孩会得高分。如果处女座的女生一直觉得学历不够好是一大遗憾，那么拥有博士学位的男孩就可能雀屏中选。</p>
					<p>我不反对这种选择的标准，可是我也要提醒您，在当前的局势改变之后，您仍然会无怨无悔吗？比方说那个男生的父亲过世了，孝顺似乎已不重要，他还会那么爱她吗？如果奋斗数年之后，财势地位都有了，女孩也不会为学历而自卑，那位博士会不会变得不值钱？</p>
					<p>我想您应该找到一位能和您共同成长的人，在人生的路上和您相扶持。光是情感的依赖对处女座的您来说，可能是不够的，光是务实的角度也难保长久的幸福。千万不要为了使眼前的问题得到圆满的结果，做了些勉强的决定。在我的朋友之中，就有几对处女座的夫妻正陷入此种困境，希望您不要重蹈覆辙。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
