<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
		<!-- 血型头部 -->
		{template public/lovestyle_bty_header module}
		<!-- 血型头部结束 -->
		<!--=====左边开始=====-->
		{template public/lovestyle_left	module}	
		<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-b.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>B&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">B血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">B血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">B血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>B血型人的情缘标签</h4>
					<h5>爱情表现：</h5>
					<p>B血型人只要能把他迷住，您就可以随心所欲，容易相处。在恋爱的初始阶段，O血型人的做法是追求对方；A血型人是希望了解对方的意愿。与此相反，B血型人则是喜欢把自己全盘端出去，尽量让对方了解自己。而不愿了解对方，加之他们的感情又如山火燃烧，漫无边际。令人遗憾的是B血型人的急性恋爱，成功率不高。往往他们恋爱追求的是直感，他们希望能从恋人身上获得各种各样的感受，既要好看，又要好听，赏心悦目。很注重外在形象。另外B血型人的性格比较羞涩。</p>
					<h5>爱情中的囧人反映：</h5>
					<p>在恋爱中，希望把对方看成是“人”，而不是男人或女人。比起爱更喜欢恋。莫名其妙地会谈些麻烦的恋爱。</p>
					<p>一旦坠入爱河就会做出跟踪狂一般的行径。“他（她）摸过的东西，是我的护身符”。“观察他（她）的衣服颜色”。“记下和他（她）的交谈次数”。“偷偷拿走他（她）的东西”。</p>
					<p>不会向别人咨询恋爱理论。因为自己有自己的做法，不需要什么建议。比较喜欢恋爱中的自己。真的喜欢对方的只有数得过来的几次。</p>
					<p>在烦恼至极，感觉心里憋闷时，会大喊一句“您真的很努力！”向着未来的自己发出声援。</p>
					<h5>爱情中与B血型人相处的小秘密：</h5>
					<p>无视其存在的态度会使B型人发怒。如果过去关系曾有过不亲密的历史的话，现在，在人面前就要显示您们两人的关系很密切。</p>
					<p>要和B型人对话时，不要打断他(她)的话，B型人说话好离开主题，漫无边际。如不留神，就会误以为对方的话告一段落而打断它。这一点必须注意。</p>
					<p>对对方开玩笑或幽默的话产生误解，也会引起B型人的不愉快，故应慎而又慎。不要讲“您说的话真没意思”一类伤害对方自尊心的话。这样做是最糟糕的，因此，在做事情时要不客气地问他(她)：“这样做行不行？”</p>
					<p>B型人对小事优柔寡断，这样征询意见的话，A型的人听了会发火，而B型的人听了却会高兴，就是最后不按照您的建议去做，您也不要注意。对B型人已经采取的行动，一定不要说：“还是我说的这种办法好”之类的话。委托对方去做这样那样的事，但又限制对方的行动，那当然是不合适的。</p>
<p>和B型人约会，一般时间都很长，对比要有思想准备，要以对方的步调合拍。对方发怒，要默不作声，不要去辩解。如果辩解，对方一般不会妥协，而要反唇相讥。即使是那么想，对男性也不要说他是“老好人”；对女性决不要说“毕竟是个女的嘛”这类不中听的话。过于客气，也会引起对方不满。</p>
<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
