<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star01.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>白羊座（阳历3月21日-4月19日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=1&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=1&tag=2">白羊传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=1&tag=3">白羊男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=1&tag=4">白羊女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=1&tag=5">白羊爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=1&tag=6">白羊速配 &gt;&gt;</a></h6>
					<h4>白羊男人：</h4>
					<h5>白羊男人：</h5>
					<p>如果您爱上了一个白羊座的他，那么，在您还没有确定他已经爱上您之前，请不要太过主动对他表示好感。因为对这火星之子来说，世上最有趣的事莫过于“挑战和征服”。要是由您来采取主动攻势，那岂不是太无趣了吗？白羊座的男人不是很难了解的，只要您稍微冷静一点，留心的观察，您不难发现他喜欢女孩什么样打扮，什么样的感觉。您不妨投其所好，让他把眼光不由自主的停留在您身上。让他觉得您对他有些好感，但不要让他太自信的以为您的一切穿着打扮全是为了他，您应该有一点点傲气。</p>
					<p>当然，我也不是要您冷若冰霜（直率的白羊不会喜欢太假仙的女生），您该尽量发挥您的优点。</p>
					<p>很多白羊座男人，都像个喜欢炫耀自己玩具的小男生，希望他身边的女人，美丽、温柔、聪明、可爱、大方，集所有优点于一身。就好象要比赛谁的机器人功能比较多一样。您不必担心自己太能干会把他们吓跑，多数白羊座的男人会以自己的女朋友，或是老婆的成就为傲。他很可能会当着大家的面夸奖您，把您优异的成就告示众人。不要觉得不好意思，您应该觉得高兴才对，这表示他真的重视您，而且开始把您当作自己的人了。在别人面前您可以尽量做一个独立、能干的女强人，在他面前才显露出传统的小女人本色。如果您能在所有人的面前都是“第一名”，只有在他前退居第二的话，那您就是他心目中的完美女性了。</p>
					<p>白羊座心中理想的爱情是有着浓厚童话色彩的，他喜欢感觉自已像个白马王子一样（虽然他或许不怎么样帅）。所以，拜托您也得有个公主的样子（当然您也不见得非要很美）。当您跟他在一起的时侯，请不要唠唠叨叨，不要邋邋遢遢、不要哭哭啼啼、不要泼妇骂街，这些丑态会破坏他童话爱情的美感，难保他不会弃您而去，寻找另一个白雪公主啰！</p>
					<p>很多白羊座的男人会给人一种花心的感觉。他始终在寻找梦中的白雪公主，可是天真的他往往冲动的闯入情网之后，又觉得满心的失望，而每一次爱情的破灭都会造成他很大的伤痛。至于他失恋的原因，一来可能是这个女孩的个性和他距离太远；二来是因为他自己的个性太自我中心，让女人觉得受不了。</p>
					<p>您可能常常会觉得他好自私，一点都不为您着想。其实，他并不是不为您想，而是他根本没有想到，他天生就不是那种心思细密的人。</p>
					<p>他的反击力很强，当您们吵架的时侯，他可能会说一些很让您伤心的话，相信我，他真的不是故意的，那是白羊座的直觉反应，吵架就是要吵赢嘛！他很可能一说出口就后悔了，可是经常很难拉下脸来，衷心的道歉。不要跟他生气，放他一马我保证他心里会很感激，对您加倍的好。</p>
					<p>其实真的要离开一个白羊座的男人也不容易，他总是会在您气得半死，决心要离开他的时侯，做一些很天真、很可爱的事，让您觉得于心不忍。不要跟他冷战，这种招式不是把一个白羊座的男人逼疯，就是把他给逼跑，问题既不能解决，对您也没有什么好处，对不对。</p>
					<p>想要真正得到一个白羊座的男人，在开始的时侯的确要付出许多，除了要具备足以吸引他的优点之外，您还要无怨无尤的接受他的缺点，原谅他的错误。直接又冲动的白羊座，往往会在外面遇到一些挫折，这时侯，您要让他知道您是永远支持他的，永远是跟他一国的，那就很有机会白头偕老了。</p>
					<p>当您真正成为他的妻子，您会相信您所付出的一切是有代价的。白羊座的男人很有责任感，一旦他娶了您，他会把照顾您当作是他终生的职责，他会宠您，他会觉得您过得好他才有面子。他虽不会很细心的体会您的情绪，但是他也不会在家事或金钱上，对您有什么限制和要求。而且除非您执意要离开他，否则白羊座的男人很少会离弃他的妻子。他的个性的确很自私，不过如果他把您包含在他自私范围之内的时侯，那您就真的有褔了。</p>
					<p>我有一位好朋友嫁了一个白羊座的男人，他们刚开始交往的时侯，所有的朋友都反对，因为那个男人实在太花了，女朋友一个接一个的换个不停；就连他们交往的时侯，仍然不断的传出他和别的女生拍拖的消息。</p>
					<p>可是我的朋友却不为所动，她从来不跟他吵闹，也不调查他的行踪。甚至有一次我们在路上碰到他牵着一个女生的手，她还是跟他笑一笑点个头，又跟我们继续逛街了。不过，从这一次之后，我们再也没有听说那个男生的诽闻，没过多久，他们结婚了。他每天按时上下班，努力的工作，他的事业发展的很快，偶尔出去应酬也是很早就回家了，赚的钱多数都交给了老婆。上回遇到那位朋友的时侯，他满脸洋溢着幸褔的光采，我们很好奇，不知道他是用什么方法驯服那只花心的白羊。她说那次在路上遇到他之后，她写了一封信给他，把他的风流韵事一一列出来，表示所有的事情她都心知肚明。然后她告诉他，她认为自己的容忍已经到了极限，如果再有类似的事情发生，她将永远的离开他。这一招才真的猎到了白羊座男子的心。</p>
					<p>所以啰！不要害怕您会把您的白羊男子宠坏了，您对他的爱愈多，包容愈多，他就愈离不开您。偶尔发个小脾气，撒撒娇是可以的，真的跟他生气可就划不来了。白羊座的男人很少是成熟世故的，他的童心一世不改。</p>
					<p>对了，白羊座的他花钱是很大方的，对您当然也是有求必应，您可得替他守着一点。他跟朋友在一起的时侯总是有抢着付帐的毛病，那是他天生喜欢做老大的习惯，恐怕一辈子都很难改。如果能力负担得起，您就由得他去吧！不要在朋友面前让他下不了台哦！记着：永远让他觉得他您最爱的王子，那么就算您已两发斑白，您仍是他之目中的宝贝公主。</p>
					<h5>白羊座的男人与“性”</h5>
					<p>白羊座的男人通常在“性”方面，仍保持了他的自我本位和孩子气，他的性欲通常很强，当他有所要求，而您却拒绝时，他会觉得非常扫兴，甚至于生气。他不会很喜欢调情，希望立刻进入战场。白羊座的男人多半在这一方面很有自信，他始终在等待您的赞美。他的性爱方式是激烈的，或许您会觉得他不够有情调，因为女性总是喜欢事前的调情和事后的枕边细语。为了您们的性生活愉快，建议您不妨让他负责主戏，而前后段调情由您主导。</p>
					<p>您应该试着学习他，去享受“性”，而不只是配合而已。对于白羊座的男人来说，“性”是有趣的，如果您让他觉得索然无味，他很可能在外面寻求满足。不过，这不表示他变心了，他通常不会把“爱情”和“性”混为一谈。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
