<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
		<!-- 血型头部 -->
		{template public/lovestyle_bty_header module}
		<!-- 血型头部结束 -->
		<!--=====左边开始=====-->
		{template public/lovestyle_left	module}	
		<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-a.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>A&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">A血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">A血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">A血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>Ａ型男配对秘籍</h4>
					<h5>A血型男生配A血型女生</h5>
					<p>彼此的吸引点：这是一对初见感觉一般，但会日久生情、慢慢感到彼此欣赏、默契，却又常会错过的男女。因为大家都比较含蓄、谨慎，喜欢暗示多于明示。但即使话语不多，您们也会发现彼此有着非常多的共同点，对爱的理解深刻。A血型的男生和女生对爱情都很执着、认真，一旦双方爱起来，就是负责的、长长久久的恋情，是没有什么外力可以拆散的坚强组合。对于恋爱中的A血型男性和女性来说，总是感觉只有对方才真正懂得自己。</p>
					<p>可能出现的问题： 因为双方都比较敏感细腻，但即使为一些细节的事情过敏、不快，又都喜欢把问题闷在心里，难以沟通和直面解决，久而久之，这些问题会成为彼此关系的隐患和地雷。双方都会压抑自己来满足对方，难以在爱中获得真正的快乐。</p>
					<p>增进感情的方式：在相处中遇到不快就要告诉对方，有什么要求也要大胆说出口，不要太多顾忌、消除猜疑，增加自己对这份爱的信心。</p>
					<h5>A血型男生配B血型女生</h5>
					<p>彼此的吸引点：这是一对差异很大却容易产生强烈吸引力的组合。A血型男生遇事坚定执着，对于凡事没有主见、容易受环境影响的B血型女生来说，如同遇到了一个主心骨，在他身边可以感受到很强的安全感。且A血型男生有着很强的内敛性，令B血型女生产生好奇心。而常常有着较大心理压力的A血型男性，在温柔随和的B血型女性身边，也会感到平静和放松。</p>
					<p>可能出现的问题：A血型男性喜欢用少说多做的方式来表达爱意，B血型女性却是典型的听觉恋爱动物，如果不能经常性的得到恋人对她和这份爱的肯定，她们会很不安。B血型女性说话做事较为随意、粗枝大叶，也常会令循规蹈矩的A血型男性感到头痛。</p>
					<p>增进感情的方式：A血型男性可以多学习B血型女友轻松随意的生活态度。B血型女性要了解A血型男性表达爱的方式是以行动证明，看到对您实际的好，就会明白他有多爱您。</p>
					<h5>A血型男生配O血型女生</h5>
					<p>彼此的吸引点：A血型男性是低调的实力派，有种坚定的自信。O血型女性往往也很识货，她们喜欢的正是这种实力型的男性。A血型男性的深刻思想和学者气质，也会令O血型女性非常欣赏。而O血型女性对爱坦率直接又主动，在喜欢的人面前善于撒娇和发挥女性的魅力，对于有点闷骚型的A型男有很强的杀伤力。会带给腼腆A型男更多爱的勇气。这也是一种很容易促进彼此人生的男女血型组合。</p>
					<p>可能出现的问题：双方都是有着强烈主见和自我的人，会争夺恋爱关系中的主导权，表面上看，A型男似乎以忍让或沉默居了下风，但其实情况是O型女说她的话，A型男走他自己想走的路，连和O型女的辩论都不会有。因为对于A型男来说，希望保持内心的隐秘性，难以配合O型女凡事都要公开化的习惯。</p>
					<p>增进感情的方式：A型男试着多听一下爱人对您的关心和建议。O型女与其管东管西的操心，还不如做个小女人，轻松又开心。</p>
					<h5>A血型男生配AB血型女生</h5>
					<p>彼此的吸引点：A血型的男性和AB型的女性一旦可以成为恋人，都会非常珍惜对方。A型男很喜欢AB型女性的乖巧柔弱，会令他产生很强的保护欲。忠诚耿直的A血型男性会给予AB型女性所需要的安全感和踏实感，是让她感觉可以信赖的人。AB型女性看问题的方式全面客观，可以帮助A血型男性解开种种钻牛角尖型的烦恼，所以A血型男性在AB型女性身边会有一种特殊的安宁感和平静感。</p>
					<p>可能出现的问题：AB型女性个性中有着忽冷忽热难以捉摸的特点，对于直线性思维的A血型男性来说，常觉得难以理解。而A血型男性非黑即白的强烈执着性，也让注重客观合理的冷静的AB型女性很难接受。</p>
					<p>增进感情的方式：在AB型女性有点情绪化的时候，A血型男性应大大方方的给予她温暖的关心和安慰，而不是不知所措。A血型男性强烈的主见和执着性，也非AB型女性所能改变，不如任其发展。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
