<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani03.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>虎（寅虎）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖虎的来历传说</h4>
					<p>虎在十二生肖中位居第三，在十三地支配属“寅”，故一天十二时晨中之 “寅时”－清晨三点至五点又称“虎时”。</p>
					<p>在远古时候，属相中有狮子，没有老虎。由于狮子太凶残，名声不好，玉皇大帝想把狮子除名，但是又必须补进一位镇管山林的动物。这时，玉帝想到殿前的虎卫士。</p>
					<p>天宫的虎卫士从前也只是地上的一种不出名的动物。它从猫师傅那里学得抓、扑、咬、煎、冲、跃、折等十八般武艺后，成为山林中的勇士。凡是与它较量的，不死即伤。从此，老虎雄霸山林。后来，玉帝听说老虎勇猛无比，便下旨传老虎上天。老虎上天之后，同玉帝的卫士较量，赢得胜利。从此，老虎便成了天宫的殿前卫士。</p>
					<p>谁知不久之后，地上的飞禽走兽见无人镇管，开始胡作非为起来。给人间造成了很大灾难，这事惊动了土地神，土地神连忙上报天庭，玉帝便派老虎下凡，老虎要求每胜一次，便给他记一功。玉帝只求人间安宁，当然满口答应老虎的要求。</p>
					<p>来了凡间，老虎了解到狮子、熊、马是当时最厉害的三种动物。它就专门向这三种动物挑战。凭着老虎的勇猛和高超的武艺连接击败了狮子、熊、马。其他恶兽闻风而逃，藏进了无人居住的森林荒野。人间欢声动地，感谢老虎为人世间立了大功。</p>
					<p>回到天上，玉帝因老虎连胜三伏，便在它的前领刻下了三条横线。后来，人间又受到东海龟怪的骚扰，大地一片汪洋。虾兵蟹将作恶人间，老虎又来到凡间，咬死了龟怪。玉帝一高兴，又给老虎记一大功，在额头的三横之中又添了一竖。于是一个醒目的“王”字现在老虎前额。从此，老虎便为百兽之王，总管百兽。时至今天，虎额上也还可见到威风的“王”字。</p>
					<p>狮子的恶名传来天宫后，玉帝便决定除去狮子的属相头衔，补进了兽王虎。从此，虎成为了属相，狮子则被贬到遥远的南方去了。当然，老虎也从玉帝的殿前卫士下凡间，永保下界安宁。今天也还有虎符、虎环、虎雕等除灾免祸的镇邪物。在农村，不少人家也喜欢给孩子戴虎头帽、穿虎头鞋。图个趋吉避邪，吉祥平安。</p>
					<p>凌晨3－5时（即“寅时”）。据古书载。这时候，老虎是最活跃、最凶猛、伤人最多，因为寅时同虎搭配。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
