<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani10.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>鸡（酉鸡）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖鸡———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>对美有极强感受的您，只要穿着朴素，传统的服饰就能够吸引人了，以淡色系为主要搭配。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>往往随着感情的起伏而过着不稳定的性生活，且自尊心很强，对于性爱的追求有点放不开，经常受不了性的诱惑，事后又后悔万分。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属鸡的人，有两种不同的个性，一是勤奋，富吸引力，能带给异性诺大的安全感，另一是自私刻薄，傲慢无礼，幻想多疑的性情让人觉得很不干脆，所以，应该好好发挥前者之优点，不然可是常常会吃闭门羹。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>富于进取的您，做事很努力，对待爱情也很积极。但爱情不等同于工作，不能要求对方也象自己一样，要学会多包容别人。爱上一个人的优点，同时也要能够接纳对方的缺点。</dt>
						
					</dl>
					<h5>相鸡幸福大匹配：</h5>
					<ul>
						<li>一月生的人，具有觉力，男性宜配马年女性，女性宜配狗年男性。</li>
						<li>二月生的人，爱好自由，男性宜配鼠年女性，女性宜配龙年男性。</li>
						<li>三月生的人，具正义感，男性宜配兔年女性，女性宜配龙年男性。</li>
						<li>四月生的人，开朗悠闲，女性宜配羊年男性，男性宜配蛇年女性。</li>
						<li>五月生的人，勤劳踏实，女性宜配蛇年男性，男性宜配狗年女性。</li>
						<li>六月生的人，十分敏感，女性宜配虎年男性，男性宜配兔年女性。</li>
						<li>七月生的人，性格急躁，女性宜配牛年男性，男性宜配马年女性。</li>
						<li>八月生的人，自由放任，女性宜配虎年男性，男性宜配猴年女性。</li>
						<li>九月生的人，作风大胆，男性宜配中年女性，女性宜配猴年男性。</li>
						<li>十月生的人，诚实厚道，女性宜配蛇年男性，男性宜配龙年女性。</li>
						<li>十一月生的人，单纯可爱，女性宜配马年男性，男性宜配龙年女性。</li>
						<li>十二月生的人，具煽动力，女性宜配猪年男性，男性宜配狗年女性。</li>
					</ul></div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
