<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 血型头部 -->
	{template public/lovestyle_bty_header module}
	<!-- 血型头部结束 -->
	<!--=====左边开始=====-->
	{template public/lovestyle_left	module}	
	<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-o.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>O&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">O血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">O血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">O血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>O血型人的情缘标签</h4>
					<h5>爱情表现：</h5>
					<p>一般说来，O血型人的爱情表现方式是直述情怀，直接了当。心情溢于言表。O血型人有着务实的性格。心扉只对朋友敞开。特别讨厌八面玲珑的人。他们与人交往亲密之后喜欢不拘形式。攀肩搭背，身体的接触是他们的必然的交往方式。与O血型人交往亲密无间之后，他们会热情地关怀照料您，爱护您。为了您，他们可以不惜代价。但是在交往过程中他们喜欢互不干涉。有时侯您可能感到好象是全都听命于他。所以有时O血型人被朋友无缘无故地敬而远之就是在这种情况下发生的。</p>
					<h5>爱情中的囧人反映：</h5>
					<p>初恋是美好的回忆。一旦喜欢上对方，就无论如何也做不到“只是远远地观望”。找各种话题打招呼，总是装作无意似的跟在对方身旁。在单相思的过程中，随着对方的一举一动，或喜或忧。</p>
					<p>和恋人约会时很兴奋。不过，渐渐就嫌“很麻烦”。</p>
					<p>年轻的时候，喜欢那种“大众情人”。有很多竞争对手。不过坚信一定是自己取胜。这份自信还真不知道是从哪儿来的。因为能够和异性自如地交谈，总让周围的人误解是在恋爱。“哪有，我们只不过是好朋友，好朋友！”，听起来像在炫耀，实际上真的没在恋爱，于是多少有点儿郁闷。反过来，明明是恋人，看起来却像好朋友。像亲友那样无话不谈的交往方式最舒服了。但又不想浓得化不开。对于“友情以上、恋人未满”的暧昧关系，会感觉很郁闷。到底是朋友还是恋人，喜欢还是讨厌，您给我明确点儿！！！</p>
					<p>有时候会把人折腾得团团转。不是有意的。只是想把对方改造成自己喜欢的样子。您，做这个！然后，做那个！要求越来越多。啊啊，他/ 她发飙了！结果……人家跑掉了。基本上容易一见钟情。曾经纳闷“为什么会迷恋上那家伙”</p>
					<p>喜欢肌肤之亲。看起来很大度，没想到竟是个醋坛子。密切地关注对方的言行。看看有没有什么可疑的蛛丝马迹。一旦感觉“嗯？有情况！”马上变身福尔摩斯。对方背叛自己后，要是痛哭流涕地忏悔，就会原谅。“但是不要以为还会有第二次！”</p>
					<h5>爱情中与O血型人相处的小秘密：</h5>
					<p>在对方面前，不要对其他异性有好感。O型人很讨厌眼前那种八面玲珑的人。不要让人无言以对，特别是男性是绝对不行的。对对方所坚持的意见，不要当场反对。而要放一段，过几天在说。</p>
					<p>以上对下下命令的态度特别容易惹恼对方。不要使对方自始至终都听您一个人讲。对其他血型的人，自然要注意，不要触及对方不如自己的地方，尤其是O型，更绝对不能这样做。两人之间有重要的话，要讲在当面。如果把别人夹在中间进行间接对话或由别人从中转达，就会惹对方怒。</p>
					<p>对爱耍花招的人如果您要以牙还牙，那就大错特错了。指责对方的性格，诸如说他(她)简单、单纯、爱看眼前利益、以我为中心等，对方就会发怒。当对方意识到您对他(她)有这种看法时，更会发怒。在O型面前说别人好，男性的O型不一定信以为真，但如果说O型自己是诗人，很多人会感到很高兴。一般来说，对O型的性格还是不发议论为好。 </p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
