<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	
	<div class="content">
		<p class="c-title"><span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;爱情测试</span></p><!--content-title end-->
			<div class="c-center">
				<div class="lt-i-top">
					<img src="module/lovestyle/templates/default/images/lt-i-top.jpg" />
				</div>
				<div class="lt-i-box">
					<div class="content-title"><span class="right-title">趣味爱情测试</span></div>
					<div class="lt-i-box01">
						<ul class="ul-box1-01">
							<li>·您总是怀疑恋人真的喜欢自己吗？</li>
							<li>·和Ta发生争执了，您会怎么处理？</li>
							<li style="margin-bottom:10px;">·遇到一见如故的Ta，您会怎么表现？</li>
							<li>那就用这道趣味爱情测试大餐来测测您的恋爱类型，</li>
							<li>或者是解析下您的人格特征吧！</li>
							<li>看看哪些因素影响您在爱情中的决策！超准的哦！</li>
						</ul>
						<a href="index.php?n=lovestyle&h=interest" class="go-lt01"></a>
						<ul class="ul-box1-02">
							<li><span class="f-b-d73c90">爱情测试小贴士：</span>测试中途中断，不要担心！</li>
							<li>系统将自动保存您做完的题目，下一次继续测试未完题目。</li>
						</ul>
					</div>
				</div><!--lt-i-box end-->
				
				<div class="lt-i-box">
					<div class="content-title"><span class="right-title">真爱一生爱情测试</span></div>
					<div class="lt-i-box02">
						<ul class="ul-box2-01">
							<li>·Ta的“个性风格”符合您的期许吗？</li>
							<li>·Ta会是您的终身伴侣吗？</li>
							<li>·情爱经历方面，您和Ta看法一致吗？</li>
							<li>·“价值观念”不同会影响您们的幸福感吗？</li>
							<li>·您们的“个性风格”匹配吗？</li>
						</ul>
						<div class="clear"></div>
						<ul class="ul-box2-02">
							<li>这些问题是不是让您对自己的情缘感到很困惑呢？</li>
							<li>那就来对您的情缘匹配度来一个大测试吧！</li>
							<li>量身定制专属您的幸福提案！</li>
						</ul>
						<a href="index.php?n=lovestyle&h=love" class="go-lt02"></a>
					</div>
				</div><!--lt-i-box end-->
				
				<div class="lt-i-box">
					<div class="content-title"><span class="right-title">星座、生肖、血型</span></div>
					<div class="lt-i-box03">
						<ul class="ul-box3-01">
							<li>3重大匹配，一眼相中TA！</li>
							<li>谁和谁最容易一见钟情？谁和谁貌合神离？</li>
							<li>谁与谁最难舍难分？……</li>
							<li>想知道自己和TA的星座、生肖、血型</li>
							<li>会出现在哪一种经典组合里面嘛？</li>
							<li>就让下面的内容满足您的好奇心和为您解答吧！</li>
							<li>让您在真爱一生网中一眼相中那个TA！</li>
						</ul>						
						<ul class="ul-box3-02">
							<li><a href="index.php?n=lovestyle&h=constellate" class="go-lt03"></a>星座解析:</li>
							<li><a href="index.php?n=lovestyle&h=animals" class="go-lt03"></a>生肖解析:</li>
							<li><a href="index.php?n=lovestyle&h=btyanalysis" class="go-lt03"></a>血型解析:</li>
						</ul>
					</div>
				</div><!--lt-i-box end-->
				
			</div><!--c-center-data end-->
			<!--content-bottom end-->
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
    <!--foot end-->
</div><!--main end-->
</body>
</html>
