<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star04.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>巨蟹座（阳历6月22日-7月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=4&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=2">巨蟹传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=3">巨蟹男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=4">巨蟹女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=5">巨蟹爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=6">巨蟹速配 &gt;&gt;</a></h6>
					<h4>巨蟹座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 月亮</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 水象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 蟹的两个钳子</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 深刻的感受力、保护色彩和家庭观属于领导型人物</dt>
						<dt><span class="f-ed0a91">巨蟹座的情人：</span> 体贴、敏感</dt>
						<dt><span class="f-ed0a91">巨蟹座的个性：</span> 一谈到巨蟹座，必然会提及他们爱家的母性本质，不过别忘记充满爱心是巨蟹座的特性；恰似他们标记的蟹一样，有坚硬的外壳，却有柔软的内心，所以巨蟹座的人很懂得保护自己。巨蟹座属水象星座，所以小不不免情绪化，记性很强，对一些不必斤斤计较的事他也会耿耿于怀，不过对他们所爱的人非常体贴及亲切。他们的守护星是月亮，对情绪和消化系统有影响。如果您初认识巨蟹座，会被第一个印象误导您对他的看法；因为他们极为需要保护自己，不会对陌生人开放，但当您进一步认识他，您会知道他实在是大好人。在十二星座中，巨蟹座是最坚持到底的星座，他对朋友和爱人都很忠实及执着，对家庭重视度很高，而且他是最喜欢收集储存东西，对任何事情都不舍不弃，以及他们对美好事物的品味也相当高。</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
