<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
		<!-- 血型头部 -->
		{template public/lovestyle_bty_header module}
		<!-- 血型头部结束 -->
		<!--=====左边开始=====-->
		{template public/lovestyle_left	module}	
		<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-b.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>B&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">B血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">B血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">B血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>B型男配对秘籍</h4>
					<h5>B血型男生配A血型女生</h5>
					<p>彼此的吸引点：A血型女性爱静，B血型男性爱动，是很好的互补组合。A血型女生对人对己的要求都比较高，时常会产生较大的压力感，而B血型男性处世淡泊、个性温柔，可以帮她们释放各种压力。轻松新潮的B型男会给A型女带来许多爱的惊喜和快乐。A血型女性总能跟随善变的B血型男性的主意。A血型女性一旦恋爱之后的奉献和牺牲，也会令B血型男性感到她是难得的人生伴侣。</p>
					<p>可能出现的问题：A血型女性有什么要求或想法喜欢用暗示的方式来表达，而B血型男性又往往粗心，总是体会不到他们的心意。A血型女性喜欢以爱人为中心的个性，容易把B血型男性惯成一个只考虑自己的坏小孩。如果A血型女性感觉自己的付出和忍让难以得到实质的回报，积累到一定程度就会以突然爆发的方式表现出来。</p>
					<p>增进感情的方式：B血型男性应理解A血型女性表达爱的方式，是付出、牺牲、是无微不至的关心。所以您也应给予她相应的实质回报。她们非常注重人的信用，所以不能只是好听的空头承诺哦。</p>
					<h5>B血型男生配B血型女生</h5>
					<p>彼此的吸引点： 双方都很感性、随和，彼此相处起来非常舒服。他们能够默契的保持各自的独立性，也不会过多干涉对方。因为B型男和B型女凡事都不会太顶真，有着求同存异、大而化之的个性，所以这是一对几乎不会争吵的情侣。B型女生生气了，B型男生一定会想办法哄她开心；换了B型男生心情不好，B型女生也一定会敏锐的感觉到，及时安抚他的情绪。</p>
					<p>可能出现的问题：B血型男性和B血型女性都是感性的人物，也不具有很强的爱的执着性，对人对己的约束性都不大，所以他们的感情具有较强的不稳定性。虽然感情开始的初期，B血型的男女会比任何血型的男性女性都更善于表现自己的魅力和温柔。但随着时间的推移，当他们感到平淡无趣，就会开始松懈，并难以经受外在新鲜的诱惑。</p>
					<p>增进感情的方式：每一个人都是无穷无尽的宝藏，多发现对方身上您未曾了解的地方，会有许多惊喜。也不要因为彼此的逐渐熟悉而放松对自己的要求，保持在对方眼中最可爱的形象。</p>
					<h5>B血型男生配O血型女生</h5>
					<p>彼此的吸引点：坦率又自信的O血型女生对B血型男生有很强的吸引力，她做什么事情都很利落、有主见，让B血型男生非常欣赏，也会形成以O型女为主导的恋爱关系。而B血型男生的温柔风趣，让O血型女生卸下外表所有坚强的武装，感觉很放松。基本上，没什么重大事情的话，B血型男生总是会顺着O血型女生的意，她一生气，他马上会甜言蜜语的哄她，再搬个台阶给她下，所以一贯强势的O型女在B型男面前总是觉得很舒畅。爱操心的O血型女生也会敦促本身有点懒惰的B血型男生不断上进，力争上游。</p>
					<p>可能出现的问题：O血型女生很重视礼节、对人对事考虑周到，而B血型男生则不喜欢拘泥于条条框框，当爱情进行到一定程度，遭遇一些现实问题，双方可能会有一些矛盾。另外，在相处一段时间以后，B血型男生会感到来自O血型女生管头管脚的强势压力。O血型女生则觉得B型男总是嘴上答应的很快，却不会真正记得去做什么，而感到生气。</p>
					<p>增进感情的方式：O血型女生要尊重B血型男生天生的自由个性，如果完全把他变的和您自己一样，就不会是那个让您开心让您笑的有趣男友了。</p>
					<h5>B血型男生配AB血型女生</h5>
					<p>彼此的吸引点：AB血型的女生性格冷静沉着，热情奔放的B血型男生不小心莽撞的闯入了她们的内心。被动的AB型女生是有浪漫幻想特质的，很难抗拒B血型男生多情暧昧的眼神。容易好奇的B血型的男生会被AB型女生的神秘感和聪慧感深深吸引。AB型女生有着B血型的一面，她在容易了解B型男的内心想法的基础上，又兼具着A型人的细致谨慎，总是可以帮B型男理清思路。因为双方都是随和的人，懂得谦让、也讲究情趣，所以相处起来会满快乐。</p>
					<p>可能出现的问题：相处时间长以后，容易拿不定主意的AB型女生会发现B血型男生也没什么主见，不喜欢承担责任，难以依赖。而AB型女生一旦心情不好时所表现出的距离感和冷漠感，也会令感性的B血型男生很难过。</p>
					<p>增进感情的方式：AB型女生如果和B血型男生谈恋爱，要注意培养自己的独立性。而B血型男生也要学会多去细心照顾和关心AB型女生的方方面面，给予她充分的安全感。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
