<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star10.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>摩羯座（阳历12月22日-1月19日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=10&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=2">摩羯传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=3">摩羯男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=4">摩羯女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=5">摩羯爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=10&tag=6">摩羯速配 &gt;&gt;</a></h6>
					<h4>摩羯爱情：</h4>
					<h5>摩羯座爱情</h5>
					<p>摩羯座擅长伪装，即使遇上心仪的对象，也会严格控制浪漫的幻想力，以防感情泛滥。他们也很实际，喜欢权威、保障和地位，所以摩羯座的爱情中，常会不自觉的将这些条件考虑进去。爱情和面包对他们，是同样重要的，而且要在确定无误时，才会坦然面对。</p>
					<p>他们相信稳固的婚姻与健全的家庭，是成功的必要条件，也是责任和自我的要求。而他们对自我要求通常很高，所以对别人也是。</p>
					<h5>摩羯座爱情面包的抉择</h5>
					<p>在摩羯座的爱情蓝图中，潜力有时候比现在的实力重要。所以摩羯座的看法实际而且有前瞻性。</p>
					<p>如果只粗浅地了解摩羯座的个性的人，一定会误以为面临爱情与面包的抉择时，摩羯座会选择能照顾现实生活的面包。其实并不是这样，因为摩羯座并不是眼光短视的人，摩羯座非常重视未来。</p>
					<p>在摩羯座的爱情蓝图中，潜力有时候比现在的实力重要。所以摩羯座的看法实际而且有前瞻性。</p>
					<p>摩羯座不会选择纨趶子弟，好吃懒做却不知发展事业；摩羯座也不会选择花容月貌的千金小姐，让她回家和自己的父母不和。摩羯座会把对象放在长久的生活中比对，看看谁具有最佳的潜力，而不是谁现在“条件”最好。</p>
					<p>这实在是很理想的选择方式，不但对于日后的相处打好基础，也非常适合摩羯座稳定的个性。</p>
					<p>我唯一的建议是。不要让您的期望，变成他一辈子的负担。当您看重他的潜力，愿意和他一起为远大的蓝图努力时，您应该以鼓励的态度，代替需求与责备。尤其在碰到挫折与困境时，如您再抱怨他不够努力，或者埋怨自己当初没眼光，恐怕只会让他觉得更挫败，更没有信心完成您们共同的理想。</p>
					<p>对于摩羯座来说，选择一个人就等于是选择一辈子。</p>
					<p>我相信您不会随便下决定，也希望您珍惜您的选择，和他一起努力，共创美好未来。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
