<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star07.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>天秤座（阳历9月23日-10月23日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=7&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=2">天秤传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=3">天秤男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=4">天秤女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=5">天秤爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=7&tag=6">天秤速配 &gt;&gt;</a></h6>
					<h4>天秤座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 金星</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 风象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 天秤</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 审美观、公平的原则 属于领导型人物。</dt>
						<dt><span class="f-ed0a91">天秤座的情人：</span> 优雅、迷人</dt>
						<dt><span class="f-ed0a91">天秤座的个性：</span> 天秤座由金星守护，守护星是维纳斯，影响他们爱好追求和平和谐的感觉；天秤座的人外型优雅、亲切善良、朋友缘极好、喜欢听别人倾诉，沟通力又强，只不过有犹豫不决的最大毛病。他们事事要求平衡，与别人维持深入关系是他的人生目标，他们最容易感到寂寞，许多时心灵上出现空虚；虽然分享是他的人生座右铭，可惜容易流于将自己的一套想法加诸别人身上，正所谓“用自己的尺量度别人的尺度”，天秤座的朋友要小心这点。不喜欢决定，因为他们不懂如何决定，很喜欢逃避现实，犹豫不决，不知所措，不知道下一步可以怎样去做；他们又最怕寂寞，朋友对他们很重要，女性天秤座希望伴侣最好二十四小时陪伴着她！</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
