<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani07.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>马（午马）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖马的来历传说</h4>
					<p>马是十二生肖中，位居第七、与十二地支配“午”，故一天十二晨辰中的“午时”－中午十一点至中午一点又称“马时”。易卦为“乾为马”。</p>
					<p>传说古时的马有双翅，叫天马，它地上会跑，水中能游、天上能飞，是一种极有威力的动物，后来它在玉帝殿前做了一匹御马。天马因玉帝宠爱，渐渐骄横起来，时常胡作非为，一日，天马出天宫，直奔东海要硬闯龙宫。守宫门的神龟及虾兵蟹将一齐阻挡，天马恼羞成怒，飞腿踢死了神龟，此事告到天宫，玉帝便下令削去天马双翅。并压在昆仑山下，300年不许翻身。</p>
					<p>200多年后，人类始姐－－人祖，要从昆仑山经过，天宫御马园的神仙便给天马透了信，并告诉天马如何才能从山下出来，当人祖经过时，天马大喊道：“善良的人祖，快来救我，我愿同您去人世间终生为您效力。”人祖听了，生出同情之心，便依天马所言，砍去了山顶上的桃树，只听一声巨响，天马从昆仑山底一跃而出。</p>
					<p>天马为了答谢人祖救命之恩，同人祖来到人世间，终生终世为人祖效劳。平时耕地拉车、驮物、任劳任愿，在战时，披甲备鞍，征占沙场，同主人出生入死，屡建战功。从此，马和人就成了形影不离的好朋友。当玉帝准备挑选十二种动物生肖时，马成了人类最选先推选的动物之一。玉帝也因马立功赎罪，有助于人而允许马当上了生肖。</p>
					<p>民间的传说固然是虚构的，但事实上马与人类的关系这亲密，是任何家畜所不能比的。自从人类告别渔猎时代，进入农耕社会，马就成了人类最先伺养的动物之一。马以它的那聪明、勇敢、忠诚耐劳的特征，成为人类可靠的朋友，得力的助手，无论是在农耕、狞猎、运输、交通等方面，还是在古今中外的血雨腥风的战场上，马都给人类立下了汗马功劳。无怪古人将马作为“六畜之首”来评价了。在今天，尽管由于科技发达，机械化程度的提高，马作为人类的助手这一作用对削弱，但千百万年来那一幅幅天马行空、老骥伏枥、千金买骨、义马救主的动人图景，那一份祖先遗传下来的恋马之情却永远不会消失。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
