<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani12.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>猪（亥猪）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属猪血型——破解您的爱情魔咒</h4>
					<h5>属猪A血型</h5>
					<p>属猪A血型人最大的特点是憨傻，做事常忽略重要情节，而抓住一些枝叶，有坚强的耐力，百折不挠，不怕重复，直到满意为止。</p>
					<p>心地善良，口齿不够伶俐，甚至有些木讷，圆滑民不够，而且有些固执。为人谦和，责任心强，做事一丝不苟深得好评。对朋友诚心踏实，虽然不是社交高手，却还是有几个知心朋友。一生运势为大器晚成，愈老愈经火。</p>
					<p>虽然内向保守，但细心体贴，处处为对方着想，决不为难他人，虽然老实，表达也不高明，却能抓住对方的心，以自然纯朴的气质打动对方。</p>
					<p>婚后生活幸福美满，令人羡慕，属猪A血型的男子宜找潇洒、温柔、活泼可爱、贤淑的女子为妻，女子则宜找坦率、成熟、坚强、乐观、幽默的男子为夫。</p>
					<h5>属猪B血型</h5>
					<p>属猪B型血人直爽，干脆，胆大有冲劲，洋溢着无限生机和一种野性美。做事豪爽，不拘细节，大大方方，从不怯场，心直口快，说一不二。</p>
					<p>平易近人，从不骄傲，心胸宽广，从不欺侮弱小，也不记恨。对任何事都马虎，从不探究别人的心理，说话率直，也不加考虑，不知不觉表现得土里土气。积极进取，但缺乏精明的谋略。</p>
					<p>对待爱情坦率大胆，付出的感情比谁都多。</p>
					<p>属B型血的男子宜找漂亮、细心、娴静而善解人意的女子为妻。而女子则且找潇洒、精明、成熟老练而宽容害达的男子为夫，他们能互相弥补，互相鼓励。</p>
					<h5>属猪AB血型</h5>
					<p>属猪AB型血人的性格外柔内刚，凡事都有自己的主见，不受别人左右，更不会趋炎附势。为人公正，最反对欺负弱小和骄傲自大，个性比较顽固，凡是讨厌的事和人，都不愿做，不愿见，任何人来相劝都无济于事。</p>
					<p>办事认真，一丝不苟，令人感动，责任心强，常常尽心尽意为大家而努力。得天独厚，天生好机遇，加上坚强的意志，勇敢的精神，踏实的作风，只要抓住了机遇，一定会有所成就。</p>
					<p>属猪AB型血人性格温文尔雅，但在爱情方面笨拙，生硬，所以男子宜找灵巧、机警、乐观、开朗、贤慧的女子为妻，至于女性则宜找精明能干，具有这见卓识的男性为夫。</p>
					<h5>属猪O血型</h5>
					<p>属猪O型血人的性格莽撞，勇往直前，不拘细节，不理会他人议论，我行我素，思相单纯，心地善良，没有猜疑，因此常常受编上当。心胸宽阔，对别人从不计较，理不会报复。</p>
					<p>精力充沛，富于挑战，勇挑重担，喜欢单枪匹马的孤身奋斗，纵使困难重重也不畏惧。有召集人群，组织的才能，也有可能成为精明的领导者，但是必须克服做事情不抓住重点，急躁草率的缺点。</p>
					<p>他们对爱情很直率，一旦爱上对方就会非常直率地表达。</p>
					<p>属猪O型血的人宜找文静、典雅、乐观、大度的女性为妻，女性则宜找精明强干、坦率、积极进取的男性为伴。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
