<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani02.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>牛（丑牛）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属牛血型——破解您的爱情魔咒</h4>
					<h5>属牛A血型</h5>
					<p>属牛A型血的人为人事小心谨慎，做任何事都三思而后行，经过周详的考虑、观察、反复权衡，最后的决策总是滴水不漏，给人踏实、沉稳、忠实可靠的感觉。性格纯正朴实，不丝不苟，严肃认真，从不拖泥带水和马马虎虎。倔强、执拗、做事善始善终，决不半途而废，或见风驶舵，属牛A型血的人非常正直，为正义的事业而奋斗，不怕牺牲自己。乐于做副手的工作，并尽忠尽取，使领导能满意。在情感方面决不马虎，严肃认真，不会一见钟情，更不会水性杨花。绝不游戏人生，对爱情忠贞不渝，女性宜找性格刚毅、乐观、精明、潇洒的男性为伴，属牛A血型的男性，宜找事业心强，能干、精明、豪气的女性为伴。</p>
					<h5>属牛B血型</h5>
					<p>属牛B型血的人是个性特别的的人，想法独特，有些令人难以捉摸，不轻易表露自己的真实内心。性格内向，相当害羞，不关于表达自己的感受、体会，内心很善良、敏感，对自己太缺乏自信、太内向孤僻。不过对事业很执着，孜孜不倦，刻苦努力，中年以后，都能达到所希望的目的。对朋友忠贞不渝 ，常会有长久的友谊。自尊心强，常常掩饰自己的感情，但内心渴望爱情，应坦率地表达自己的看法，这样才能得到美满的爱情，否则只会造成终身遗憾。应选择那些性格开朗、大方乐观、幽默的人作为自己的恋爱对象，特别是避免与自己一样胆小、羞涩，自我封闭的人作伴侣。 </p>
<h5>属牛AB血型</h5>
					<p>属牛AB型血的人个性刚强，有点刚愎自用，性格固执，处事缓慢，灵活应变的能力较差，不过为了目标头破血流也在所不惜。正是这种百折不挠的毅力，使之最终走向成功，大器晚成。性格内向，不善交际，在复杂的人际关系中，显得不知所措，性格地于沉着稳重，为人有些冷漠，但为人正直，无私，不搞阴谋诡计，阿庚奉承或尔虞多诈。属牛AB型血的人选择对象非常慎重，决不草率从事，或听天由命。虽然没有吸引人的外表，但却有纯朴、踏实、正直、诚实的个性。应该开朗一些，不要太过冷漠，学得幽默一些，这样生活自然充满阳光。宜找乐观、开朗、善解人意、贤淑的对象。</p>
					<h5>属牛O血型</h5>
					<p>属牛O型血的人光明磊落，正直善良，平时默默耕耘，无私奉献，但是大多口才木讷，不善交际应酬，更不会说谎，奉承领导。大都很重视友谊，朋友有困难时，会全力帮助，深得友人信赖，但是交际范围狭小。平时性格沉着稳重，做事三思而后行，有条不紊，井然有序，一生大都踏实稳健，靠自己的努力不掘不挠的奋斗，中年以后，成绩显著。属牛中O型血的人性格木讷内向，太不善表达，男性很重感情，稳重体贴，让人有安全感，注重实际，从实际出发，考虑总是周全，一旦结合，一定充满柔情蜜意，而且定会白头偕老。忌找与自己性格接近的人为伴，因共同点太多，很难维持很久，宜找积极快乐的属鼠人为伴。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
