<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani08.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>羊（未羊）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖羊的来历传说</h4>
					<p>羊在十二生肖中居第八位，与十二地支配属“未”，故一天十二时辰的“未时”－午后一点至三点又称“羊时”。易卦以“兑为羊”。在五行中，羊属火，所以为火畜。</p>
					<p>在远古洪慌时代，人间是没有五谷的，人类靠蔬菜和野草为生，严重的营养不良，使人类面黄饥瘦。</p>
					<p>有一天秋天，一只神羊从天宫来到凡间，发现人类面有菜色，神情萎靡。问及原因，才知道人类不种粮食，连什么叫粮食也不知道。神羊善心大发，当即告诉人们下次一定给他们带些粮种来。原来当时只有天宫才种有营养丰富的粮食。吝啬的玉帝不愿把粮食拿给人类分享。神羊回到天宫后，趁半夜守护御田的天神熟睡之际，偷偷溜进御田里，摘下五谷（稻、稷、麦、豆、麻），含在口中，趁天未亮，溜至凡间，人类听说神羊给他们带来了五谷种子，都十分好奇。神羊把种籽交给人类，又吩咐了种植五谷的方法，就悄悄地回到天宫去了。</p>
					<p>人类播下五谷种籽，当年就长出了庄稼。在收获时，人类见到五谷的穗，即似羊头，又像羊尾，收获的粮食又香又甜，收获的麻织成的衣裳又轻又暖。人们在秋收冬藏之后，便举行了盛大的祭祀仪式，以感谢神羊的送种之恩，这类秋收冬藏的农家祭祖仪式至今仍有部分农村在举行。</p>
					<p>盛火的祭羊仪式惊动了玉帝，玉帝又想到了人间出现五谷。立即想到神羊把谷各带给人间。查明情况后，玉帝迁怒神羊，命令天宫宰羊于人间，并要人们吃掉羊肉。</p>
					<p>第二年奇怪的事儿发生了，在神羊行刑的地方，先是长出了青草，后来长出了羊羔，羊从此在人间传宗接代，以吃草为生，把自己的肉、奶无私地贡献给人类，人类则出于对羊舍生取义这种的感谢，每年都举行腊祭，以示纪念。</p>
					<p>当人类听说玉帝要挑十二种动物为人类生肖，并赐为神之后，人们一致推举羊作为这类生肖。尽管玉帝对羊盗谷之事耿耿于怀，但难拗众人意见，只好同意羊当上了生肖。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
