<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star06.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>处女座（阳历8月23日-9月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=6&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=2">处女传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=3">处女男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=4">处女女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=5">处女爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=6&tag=6">处女速配 &gt;&gt;</a></h6>
					<h4>处女男人：</h4>
					<h5>处女男人：</h5>
					<p>琼瑶式爱情小说中的男主角，绝对不会是处女座的男子，抽象的触电感觉，对一个典型的处女座男人来说实在是太不实际了。那种四目交接，立即就会勾动天雷地火的事情，只会发生在封神榜之类的神话故事里。所以如果您遇上了一个处女座的男人，如果您爱上他，请不要期待一份激情浪漫的感觉，更不要一下子热情如火的把他给吓跑。处女座的男人不会喜欢这种戏剧化的情绪。</p>
					<p>这绝对不表示他不懂得“爱”，从小，他对于家庭，父母、亲人、朋友都有着浓厚的感情，对于可怜的人更是深具同情心。他的感情必须是慢慢累积，或是有明确出发的。对某些处女座的男性来说，追求爱情甚至是一种自私的表现。</p>
					<p>许多有成就的单身汉都是处女座的，拥有广大读者及观众的赵宁就是其中之一。一方面可能是曾经有过爱的伤痕，因而从此埋守于工作，或服务人群的事业。处女座的男人在受过感情创伤之后，会倍加小心，如果想再敲开他的心门，可能就难上加难。</p>
					<p>另一方面，处女座的男人是很挑剔的，能够符合他要求的女性，恐怕不太多。但是如果您不能合乎他的条件，他怎么可以爱上您呢？所以，想要和一个处女座的男人建立男女的关系，您必须先具备让他喜欢您的理由，然后再进一步的培养您们之间的感情。</p>
					<p>首先，您一定要是很洁净的，无论是外表或是心灵。穿着邋遢，行为放肆的女孩几乎与他无缘（多数处女座的男子都有点洁僻倾向）。</p>
					<p>第二，您要有接受批评的雅量。他的分析批评虽然有点吹毛求疵，不过多半都很客观而准确。</p>
					<p>第三，您要懂得上进，学习思考，因为他实在难以忍受一个无知又粗心大意的女人。发表任何言论前，请三思，不要常说些意气用事，不经大脑的话，处女座男人对于女人常说一些短视、不客观的话，感觉很不耐烦。他对您的批评可能会让您无法招架。</p>
					<p>对处女座的男人来说，美丽的头脑要比美丽的脸蛋重要的多。当您慢慢的习惯了他的个性，而他也愈来愈喜欢您，您们之间的爱火就开始慢慢燃烧了。处女座男子的爱火一旦真正被点燃，那将会烧得很久很久，甚至一辈子。您只要想到这一点，您就会认为所有的努力都是有代价的了。</p>
					<p>他可能会让您等待很久，才向您表白。不过处女座的男人一旦认定您之后，他会很清楚的表达他对您的感情以及他未来的计划。很多处女座的男人都为了结婚订下三年、或五年计划，存钱、买房子、买车子，他的爱很诚恳，很持久。</p>
					<p>嫁给一个处女座的男子真的很幸福。处女座的老公真的有很多优点：他不像多数男人那么不爱整洁，他不会乱发脾气，他不会到处留情，让您担心。当您生病的时侯他会给您细心的照料，他很勤劳，很踏实，您不必烦恼今天吃完牛排之后，明天会不会连阳春面都没有了。</p>
					<p>他的记性很好，几乎不太可能忘记您的生日，或是结婚纪念日。只要您记住自己作妻子的本份（把家弄干净，把他肚子喂饱），他不是个太苛求的丈夫，而且他很愿意帮您的忙。您可以发展自己的事业，他会经常给您很好的建议，就算偶尔唠叨琐碎，我想也应该是可以原谅的。</p>
					<p>处女座的男人不会表现的像个醋坛子，但是内心却有这强烈的占有欲，“忠实”他而言是最重要的。您的任何一点点背叛的行为，他都不会原谅。处女座男人的妻子，最好不要经常晚上出去游荡。当一个处女座男人决定与您斩断情缘时，他可是干净俐落的让您心碎哦，很多做妻子的人都会羡慕您拥有如此勤奋、细心、忠实又体贴的好丈夫，只要您保持着当初他选择您的那些“美德”，您的未来就是一片坦途。对了，最好不要随便邀请朋友到家里来玩，尤其是带着一串小孩或是抱着小狗的朋友。</p>
					<h5>处女座的男人与“性”</h5>
					<p>挑剔的处女座男人，在性爱上也是追求完美的，因而很重视技巧。他非常在意自己的表现，担心自己做得不够好，不能让对方满意。处女座的男人在性的表现上很少是自私的，他们往往把女方的感觉摆在第一位。所以您的反应对他来说太重要了。如果能在他很有信心的情况下进行，或许会有比较激情的表现。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
