<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star08.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>天蝎座（阳历10月24日-11月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=8&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=2">天蝎传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=3">天蝎男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=4">天蝎女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=5">天蝎爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=6">天蝎速配 &gt;&gt;</a></h6>
					<h4>天蝎座的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">守护星：</span> 冥王星</dt>
						<dt><span class="f-ed0a91">属&nbsp;&nbsp;性：</span> 水象星座</dt>
						<dt><span class="f-ed0a91">符&nbsp;&nbsp;号：</span> 毒蝎的尾巴</dt>
						<dt><span class="f-ed0a91">代&nbsp;&nbsp;表：</span> 性能力、洞察力、死亡属于组织型人物。</dt>
						<dt><span class="f-ed0a91">天蝎座的情人：</span> 性感、深情</dt>
						<dt><span class="f-ed0a91">天蝎座的个性：</span> 冥王星是天蝎座的守护星，他是掌管幽冥世界，所以天蝎座有神秘的特质，令人变得残酷、阴险。天蝎座的人给人一种精力旺盛、热情、善妒、占有欲强的特质。十二星座之中，天蝎座是最性感的，因为它也掌管了生殖器官，性欲强盛，而且影响到他们的精力会无穷无尽地发挥，他们一定要每天都过得非常充实，如没有目标的事，他们难以投入！至于天蝎座的人是记仇的，切忌得罪他，有朝一日必定报仇的；因为冥王星的影响，将狡猾、残酷、的性格加诸他们身上，会不惜方法打击仇人；如果您想做中间人，他可能会迁怒于您，发泄他的怒气。不过天蝎座的人有一个成功的优点，就是他们一旦定了目标，就会不达目标心不死，永不退缩的！</dt>
					</dl>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
