<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star02.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>金牛座（阳历4月20日-5月20日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=2&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=2">金牛传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=3">金牛男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=4">金牛女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=5">金牛爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=2&tag=6">金牛速配 &gt;&gt;</a></h6>
					<h4>金牛传说：</h4>
					<h5>传说一</h5>
					<p>有一天，天神宙斯在人间游荡，经过某个国家时，突然看见这个国家的公主非常美丽，让宙斯不知不觉中看得出了神，回到天上之后，仍然对这位美丽的公主念念不忘。</p>
					<p>而在这个公主所属的国家中，有一座很大很漂亮的牧场，里面有多到数不清的牛群在吃草、嬉戏，公主时常会来到这个牧场与这群可爱的牛群一起玩耍。</p>
					<p>就在一个风和日丽的早上，公主又依往例的出现在牧场，当她正在与牛群玩得不亦乐乎时，突然发现在牛群之中，有一只特别会唱歌的牛，它的歌声非常悦耳动听，有如天籁一般，吸引着公主不自觉的朝他走去。</p>
					<p>公主一看到这只牛，马上无法自拔的就爱上了他。因为他不仅歌声完美，就连外表也一样好的没话说。正当公主慢慢靠在牛的身上与他一起忘情的唱歌时，这只牛突然背起了公主朝着天空飞去。</p>
					<p>经过了很久的飞行，这只牛终于在一个美丽的土地上停了下来，然后摇身一变成为人，向公主表达其爱慕之意。原来这只牛就是天神宙斯的化身，分因为无法抑制服对公主的日夜思念，决定来向公主表白。</p>
					<p>美丽公主于是接受了宙斯的爱，两人一起回到天上生活。而宙斯为纪念那表白的地方，就以公主的名字欧罗芭做为那块土地的名字。那土地正是今天的欧州大陆。金牛座的神话故事，是十二个星座的碓一描绘爱情的故事，打破了一般人认为金牛座缺乏浪漫的错误印象。</p>
					<h5>传说二</h5>
					<p>传说腓尼基的女儿欧罗芭在海边戏水，被风流成性的主神宙斯看见。宙斯化为一头健美的大白牛向她走去。欧罗芭骑在牛背上玩耍，宙斯便带着她到了克里特岛，两人过上幸福快乐的日子。后来那只牛被宙斯放在天上成为金牛座。</p>
					<h5>传说三</h5>
					<p>传说素以风流著称的众神之神宙斯看上欧罗帕(europa,后来化为欧洲)，为了避开天后赫拉的眼目，自己化身为公牛，将欧罗帕驮在背上，以遂其愿。事后宙斯又恢复原形，将自己的化身大牛置于天上成为众星座之一。 </p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
