<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani04.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>兔（卯兔）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖兔的来历传说</h4>
					<p>兔在十二生肖中，排行第四。与十二地支配属“卯”，故一天十二时辰中之“卯”时－清晨五时至七时，又称“兔时”。</p>
					<p>说起兔子当生肖，民间倒是有一段有趣的“兔牛赛跑”的传说呢。</p>
					<p>相传兔子和黄牛是邻居，他俩相处得好，互称兄弟。黄牛以勤劳苦干度日，兔子靠机灵能干为生，日子都过得不错。</p>
					<p>有一天，善于长跑的兔子在黄牛面炫耀道：“我是动物世界中的长跑冠军，谁也跑不过我！”黄牛虚心求教教长跑的绝招，兔子却骄傲地摇摇头说：“长跑冠军得靠先天的素质，学是学不会的。再说，长跑得身轻体便，您这粗壮的身子，恐怕是永远跑不快的。”</p>
					<p>黄牛的心给兔子说得凉了半截，可心里不服气。从此，黄牛开始练长跑，凭着一股坚韧不拔的牛劲，黄牛终于练成一双“铁脚”。尾巴一翘，四蹄如风，几天几夜也不知疲乏。</p>
					<p>到了玉皇大帝排生肖的日子，依照规则，谁先到就让谁当生肖。黄牛与兔子约定，鸡叫头遍就起来，直奔天宫争生肖。</p>
					<p>鸡叫头遍，黄牛起床时，兔子早就一个人跑了。兔子跑了好一阵子，回头一持，不见任何动物的影子。兔子心想，我今天起得最早，跑得又最快就是睡上一觉起来，这生肖的头名也是非我莫属。于是，它在草地上呼呼大睡起来。</p>
					<p>黄牛虽然落后了，但它任坚韧的耐力和平时练就的铁脚，一鼓作气，当兔子还在酣睡的时候，便先跑到了天宫。</p>
					<p>一阵急促的脚步声惊醒了兔子，睁眼一看，原来是老虎一阵风般地跑过去，这下兔子急了，赶紧追赶，可惜慢了一步，始终还是落在了老虎之后。由于牛的双角间还蹲了一只投机取巧的小老鼠，结果兔子只排到了第四位，前三名是鼠、牛、虎。</p>
					<p>兔子虽然当上了生肖，但终穷觉得脸上无光，输给了自己讽刺的老牛，回来以后，把家搬到了土洞中，现在的野兔也还是住在土洞中，不过，兔子是不会吸取教训的。不信，您今天再来一个“牛兔赛跑”或者“龟兔赛跑”，得冠军的肯定不是兔子。</p>
					<p>清晨5－－7时（即“卯时”）这时，太阳还没露出脸面，月亮的光辉还未隐退完全，玉兔是月亮代称，是月宫神话中唯一的动物，这样卯时就同兔搭配。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
