<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani02.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>牛（丑牛）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖牛———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>不需要受流行的影响，只要依您自己的个性与品味，适时流露自然的仪表就可以了。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>对性爱这种事的领悟比较迟钝，生理需求的年纪也比较晚，必须要与所爱的人有进一步的肢体发展，才会有性爱的念头。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属牛的人，大多都对自己很有信心，不妥协，不奉承，甚至偶尔会轻蔑别人的软弱，假使他能稍加放松，由日常生活中，多培养热情与幽默，相信能在感情的世界中拥有属于自己的一片天空。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>爱情需要甜言蜜语，需要轻松愉悦的气氛，快拿出您的热情吧。属牛的人在爱情中对自己有太自信了，总不肯去主动释放自己的爱意，不能主动放下身段，需要多加柔和。</dt>
						
					</dl>
					<h5>相牛幸福大匹配：</h5>
					<p>属牛人；宜配属鼠，蛇，鸡大吉，天作良缘，家声大着振，财盛家宁，。忌配属羊，马，狗次之，吉凶各有甘苦共存，无进取心，内心多忧疑苦惨。</p>
					<ul>
						<li>一月生的人，无拘无束，男性宜配羊年女性，女性宜配蛇年男性。</li>
						<li>二月生的人，多姿多彩，男性宜配龙年女性，女性宜配龙年男性。</li>
						<li>三月生的人，无持久力，男性宜配猴年女性，女性宜配猪年男性。</li>
						<li>四月生的人，办事能力强，男性宜配狗年女性，女性宜配牛年男性。</li>
						<li>五月生的人，思想单纯，男性宜配猴年女性，女性宜配鸡年男性。</li>
						<li>六月生的人，生活实际，女性宜配鸡年男性，男性宜配羊年女性。</li>
						<li>七月生的人，理智稳定，女性宜配鼠年男性，男性宜配虎年女性。</li>
						<li>八月生的人，永不言输，男性宜配牛年女性，女性宜配鼠年男性。</li>
						<li>九月生的人，双重性格，男性宜配虎年女性，女性宜配蛇年男性。</li>
						<li>十月生的人，感情丰富，男性宜配兔年女性，女性宜配狗年男性。</li>
						<li>十一月生的人，老实内向，女性宜配蛇年男性，男性宜配狗年女性。</li>
						<li>十二月生的人，缺乏依赖，男性宜配鸡年女性，女性宜配虎年男性。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
