<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 血型头部 -->
	{template public/lovestyle_bty_header module}
	<!-- 血型头部结束 -->
	<!--=====左边开始=====-->
	{template public/lovestyle_left	module}	
	<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-o.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>O&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">O血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">O血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">O血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>O型女配对秘籍</h4>
					<h5>O血型女生配A血型男生</h5>
					<p>彼此的吸引点：A血型男性是低调的实力派，有种坚定的自信。O血型女性往往也很识货，她们喜欢的正是这种实力型的男性。A血型男性的深刻思想和学者气质，也会令O血型女性非常欣赏。而O血型女性对爱坦率直接又主动，在喜欢的人面前善于撒娇和发挥女性的魅力，对于有点闷骚型的A型男有很强的杀伤力。会带给腼腆A型男更多爱的勇气。这也是一种很容易促进彼此人生的男女血型组合。</p>
					<p>可能出现的问题：双方都是有着强烈主见和自我的人，会争夺恋爱关系中的主导权，表面上看，A型男似乎以忍让或沉默居了下风，但其实情况是O型女说她的话，A型男走他自己想走的路，连和O型女的辩论都不会有。因为对于A型男来说，希望保持内心的隐秘性，难以配合O型女凡事都要公开化的习惯。</p>
					<p>增进感情的方式：A型男试着多听一下爱人对您的关心和建议。O型女与其管东管西的操心，还不如做个小女人，轻松又开心。</p>				
					<h5>O血型女生配B血型男生</h5>
					<p>彼此的吸引点：坦率又自信的O血型女生对B血型男生有很强的吸引力，她做什么事情都很利落、有主见，让B血型男生非常欣赏，也会形成以O型女为主导的恋爱关系。而B血型男生的温柔风趣，让O血型女生卸下外表所有坚强的武装，感觉很放松。基本上，没什么重大事情的话，B血型男生总是会顺着O血型女生的意，她一生气，他马上会甜言蜜语的哄她，再搬个台阶给她下，所以一贯强势的O型女在B型男面前总是觉得很舒畅。爱操心的O血型女生也会敦促本身有点懒惰的B血型男生不断上进，力争上游。</p>
					<p>可能出现的问题：O血型女生很重视礼节、对人对事考虑周到，而B血型男生则不喜欢拘泥于条条框框，当爱情进行到一定程度，遭遇一些现实问题，双方可能会有一些矛盾。另外，在相处一段时间以后，B血型男生会感到来自O血型女生管头管脚的强势压力。O血型女生则觉得B型男总是嘴上答应的很快，却不会真正记得去做什么，而感到生气。</p>
					<p>增进感情的方式：O血型女生要尊重B血型男生天生的自由个性，如果完全把他变的和您自己一样，就不会是那个让您开心让您笑的有趣男友了。</p>
					<h5>O血型女生配O血型男生</h5>
					<p>彼此的吸引点： O型男和O型女属于一上来就会很谈的来的一对，彼此都有好感的话，感情升温及进展的速度是非常快的。看上去现实的O血型人的内在感情其实是很丰富的，所以当两个O型人风花雪月起来，也是很浪漫的。他们喜欢如胶似漆的呆在一起，只要有可能性，无论去哪里都一起行动。所谓重色轻友、谈了恋爱之后人影都不见的人，估计以O型和O型人恋爱的居多。</p>
					<p>可能出现的问题：O型男是骄傲的，O型女也是骄傲的，但即使是热恋也会遇到双方意见不统一的情况。但又总是谁都会不愿意的妥协、希望对方顺着自己意思走。且O型人都是属于嘴硬心软的个性，心里再爱，说出来的话却总不怎么动听，时间一长就很容易伤彼此的感情。</p>
					<p>增进感情的方式：O血型的恋人双方都要记住爱情中没有胜负，遇到什么问题有异义，男生多谦让一点，女生也温柔一些。</p>
					<h5>O血型女生配AB血型男生</h5>
					<p>彼此的吸引点：AB型男生像小孩子一样的天真个性，让O血型女生觉得很有趣。他们既有B血型男生的轻松风趣，又有A血型男生的谨慎仔细，且很有绅士风度，对于有点挑剔的O血型女生来说，是难得的可以洞察到她们心思的恋人。并且，好脾气的平和的AB型男生，总是可以安抚疏导O血型女生容易激动的情绪。而O血型女生直来直去的傻大姐脾气，在任何情况下都不会减弱的满满自信，在AB型男生看来也非常有魅力。</p>
					<p>可能出现的问题：O血型女生的气质是热情干脆的，而AB型男生总是不冷不热的恒温型、也有些优柔寡断，令O型女感到难以理解。而O血型女性在恋爱关系中时常希望居于主导者的姿态，爱干涉他人，也令讲究平等关系的AB型男生非常困惑。</p>
					<p>增进感情的方式：O血型女生和AB型男生的恋人组合，尤其要注重时常在一起聊天沟通。对于相反血型的您们来说，多了解对方的想法，学习互补，反而比别人更多提升自己的机会。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
