<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star12.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>双鱼座（阳历2月19日-3月20日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=12&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=2">双鱼传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=3">双鱼男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=4">双鱼女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=5">双鱼爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=6">双鱼速配 &gt;&gt;</a></h6>
					<h4>双鱼传说：</h4>
					<h5>传说一：</h5>
					<p>美神维纳斯带着心爱的儿子小爱神丘比特，盛装打扮准备去参加一场豪华的宴会。在这个宴会中，所有的与会人土都是天神，称得上是一场“神仙的盛宴”。</p>
					<p>众女神们一个比一个打扮得更为艳丽，谁也不想被其他人给比了下去：至于众男神们，则是人手一支酒杯，三五成群的在高谈阔论。而顽皮的小朋友们，早就已经按奈不住，玩起捉迷藏来了。</p>
					<p>当整个宴会逐渐进入高潮，大家都陶醉于美味的食物，与香浓的醉酒中时，突然来了一位不速之客，破坏了整个宴会的气氛。这个不速之客，有着非常狰狞的外表，以及邪恶的心肠，他出现在宴会上的目的，就是要破坏它，很显然地，他已经达到这个目的了。他伸手把摆设食物的桌子推翻，把盆栽摔向水池中，还用可怕的表情，吓坏了在场的每个与会者。大家开始四处乱窜，原本美好的宴会，竟然变得如此惊慌失措，尖叫声、小孩子的哭声不绝于耳。</p>
					<p>这时候，维纳斯突然发现丘比特不见了，她紧张的到处寻找，也顾不得那位不速之客的存在了，维纳斯找遍了宴会的各个角落，终于在钢琴底下，找到了已经吓得浑身发抖的丘比特，维纳斯赶快将丘比特紧紧地抱在怀中。</p>
					<p>为了防止丘比特再度与她失散，维纳斯于是想了一个方法，用一条绳子将两个人的脚绑在一起，然后再变成两条鱼，如此一来，就成功的逃离了这个可怕的宴会了。</p>
					<h5>传说一：</h5>
					<p>古罗马神话传说中爱与美之神维纳斯和她的儿子小爱神丘比特，一次在河边遭到妖怪的袭击，母子俩赶紧跳入河中，变成两条鱼逃走。大约是怕母子走散的缘故，两条鱼中间有一条带子相连，共同组成了双鱼座。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
