<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-全部类型——真爱一生网</title>
<link href="public/default/css/global_import.css" rel="stylesheet" type="text/css" />
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	<div class="top">
		<a href="#" class="logo" title="真爱一生网www.zhenaiyisheng.cc"></a>
		<a href="#" class="get-know" title="去认识TA"></a>
		<p class="top-tel"></p>
		<p class="top-title">欢迎您 <span class="f-ed0a91">简道</span> ，您的ID是 <span class="f-ed0a91">2195981</span> <a href="#" class="f-000">最新邮件</a>（<span class="f-ed0a91">0</span>） <a href="#" class="f-000">修改密码</a> <a href="#" class="f-000">安全退出</a></p>
		<div class="nav">
			<p class="nav-side nav-left"></p>
			<div class="nav-center">
				<ul>
					<li><a href="#">我的真爱一生</a><b></b></li>
					<li><a href="#">真爱一生寻友</a><b></b></li>
					<li><a href="#">资料设置</a><b></b></li>
					<li><a href="#">爱情测试</a><b></b></li>
					<li><a href="#">诚信认证</a><b></b></li>
					<li><a href="#">E见钟情</a><b></b></li>
					<li><a href="#">视频认证</a><b></b><i><img src="public/default/images/new-icon.gif" /></i></li>
				</ul>
				<p>
				<a href="#" class="hmenber"></a>
				<a href="#" class="dmenber"></a>				
				</p>
			</div>
			<p class="nav-side nav-right"></p>		
		</div><!--nav end-->
		<div class="clear"></div>
	</div><!--top end-->
	<div class="head-search">
		<p class="head-search-side h-s-left"></p>
		<div class="head-search-center">
		<span><input name="" type="radio" value="" />按条件搜索</span><span><input name="" type="radio" value="" />按ID号搜索</span>
		<ul class="for-sines">
											<li>性别：<select name="">
												<option value="">男士</option>
												<option value="">女士</option>
											</select>
											</li>
											<li>年龄：<select name="" style="width:45px">
												<option>18</option>
											</select>
											至<select name="" style="width:45px">
												<option>45</option>
											</select>
											</li>
											<li>地区：
												<select name="">
												<option>安徽</option>
											</select>&nbsp;<select name="">
												<option>合肥</option>
											</select>
											</li>
			<li><input name="" type="checkbox" value="" />&nbsp;有照片
			</li>			
			</ul>
			<input type="button" class="head-search-button" value=" " />
		</div>
		<p class="head-search-side h-s-right"></p>
		<div class="clear"></div>
	</div><!--head-search end-->
	<div class="content">
		<p class="c-title"><span class="f-000">真爱一生首页&nbsp;&gt;&gt;&nbsp;爱情测试&nbsp;&gt;&gt;&nbsp;全部类型</span><a href="#"></a></p>
		<div class="lt-score" style="margin-bottom:10px;">
			<div class="lt-score-top">
				<ul class="top-style">
					<li>您的得分是：<span class="f-ed0a91">59分</span></li>
					<li>您的恋爱类型是：<span class="f-ed0a91">某某某型</span></li>
					<li>您的匹配类型是：<span class="f-ed0a91">某某某型</span></li>
				</ul>
				<a href="#" class="go-again"></a>
			</div><!--lt-score-top end-->			
		</div><!--lt-score end-->
		<div class="c-lift-content">
		<div class="c-lift-title">
		我的联系情况
		</div>
		<div class="c-lift-content-in">
			<ul class="left-list">
				<li><a href="#" class="left-list01 onthis">主动型（60分以下）</a></li>
				<li><a href="#" class="left-list02">洞察型（60分-70分）</a></li>
				<li><a href="#" class="left-list03">领袖型（70分-80分）</a></li>
				<li><a href="#" class="left-list04">冒险型（80分-90分）</a></li>
				<li style="background:none"><a href="#" class="left-list05">科学型（90分-100分）</a></li>
			</ul>			
		</div>
		<div class="c-lift-bottom"></div>
		</div><!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">主动型（60分以下）</span>
			</div>
			<div class="r-center-ccontent">
				<div class="score-center-box">
					<dl>
						<dt class="mun01">
							您的恋爱类型：主动型
							</dt>
						<dd>
							“爱情是付出、是奉献，是蒙着美丽面纱的神秘使者”。您通常是优秀的沟通者和游说者，可以成为成功的领导者和鼓动者。外向的特性使您陶醉于活跃在人群之中，难以忍受独处，独处通常会使您心情抑郁。喜欢给朋友出谋献策，是非常好的情感支持者。虽然通常能演善辩，性情开朗，但对于个人内心深处的真实感受，您通常会守口如瓶，不向他人吐露。创造并维持一段有意义且美好的感情，是您生活中快乐的源泉。不管与同事、朋友、家人或恋人来往，您都很重视发展一段有品质的感情，并且要确保这段感情的长新的发展。
							</dd>
						<dd>在恋爱关系中，您通常非常体贴对方的想法与感受，把对方的需要放在第一位，倾向于把大部分时间花在伴侣身上，通常把伴侣全部纳入自己的生活之中。喜欢与伴侣沟通，用言语表达爱恋和温柔的感觉。在一段恋情开始时，您通常会把对方想象得十全十美，随着感情的不断发展，以及自己对恋人过多的情感投入，您往往会期望对方的无条件付出，如果对方并没有达到自己的期望标准，您通常会以一种令双方不快的方式表达出来。此外，一旦发现恋人把您的存在视为理所当然，您会变得善妒且具占有欲。</dd>
						</dl>
				</div><!--score-center-box end-->
				
				<div class="score-center-box bgc">
					<dl>
						<dt class="mun02">
							您的恋爱状态：
						</dt>
						<dd>
							您倾向于把大部分时间花在伴侣身上，通常把伴侣全部纳入自己的生活之中。喜欢与伴侣沟通，用言语表达爱恋和温柔的感觉。不过，对伴侣过多的情感投入也会让您觉得超出负荷，导致您缺乏精力照顾自己。在一段感情开始时，您往往想当然地认为恋人是十全十美的，虽然您在很多领域有敏锐的洞察力，还是会抱着许多不切实际的理想化观念坠入爱河。随着感情的不断发展，您开始期待对方无条件地付出，如果对方没有达到您的期望标准，往往会以一种令双方不快的方式表达出来。此外，一旦发现恋人把您的存在视为理所当然，您会变得善妒且具占有欲。
						</dd>						
					</dl>
				</div><!--score-center-box end-->
				
				<div class="score-center-box">
					<dl>
						<dt class="mun03">
							您的婚姻类型：激情型
						</dt>
						<dd>
							您在择偶过程中所持观念非常浪漫，渴望一份理想的、浪漫的爱情，比较重视爱情中的激情成分，而对爱情中的承诺则相对有所忽视。在与恋人相处时，您通常比较重视关系中的感性成分，一旦这种激情消退，亲密感减弱，随之而来的后果则可能是您对这段关系的失望与怀疑，甚至导致亲密关系的解体。因此，在择偶过程中，在追求浪漫爱情的同时，您也要注意提醒自己，不可忽视了双方的承诺及现实性问题啊，因为这也是走入婚姻的要素之一。另外，由于一见钟情式的爱情往往具有更多可遇而不可求的性质，因此，在择偶过程中，您不妨适当调整一下自己的择偶观念，稍微多些现实的成分和考虑。
						</dd>						
					</dl>
				</div><!--score-center-box end-->
				
				<div class="score-center-box bgc">
					<dl>
						<dt class="mun04">
							您的人格特征：
						</dt>
						<dd>
							喜欢应酬外界的人和事，关注重心在自我之外的外部世界，通常从与他人的互动中获取能量。倾向于通过对事物间抽象关系及思想火花的把握，以及对未来的幻想和憧憬来体验世界。依据自己的主观感觉做出决定，以人际间的和谐为行为导向。倾向采取有组织、有计划、有规律的生活方式，可以快速地作出决策。
						</dd>
						<dd>
							<strong>责任感：</strong>有较强的责任感，自律性较强，做事稳妥可靠，井井有条，尽心尽职。尽责性较高的个体，往往对婚姻和家庭的责任感也较高，更为关注伴侣的需求，愿意:家庭提供更多的付出和义务，他们也通常善于维持一个幸福稳定的家庭。 </dd>
						<dd>
							<strong>情绪性：</strong>情绪稳定性程度较高，通常遇事沉着冷静，情绪平稳，心态乐观积极，内心坚定有主见。得分高的个体则在婚恋中体验到的幸福感和满意度也较高。 </dd>
						<dd>
							<strong>外向性：</strong>较为外向和活跃，在与人交往中热情健谈，个性爽快，喜欢冒险，勇于奋斗。在这一维度得分较高的个体，由于在人际交往中的活跃和主动，在择偶过程中也表现得更为主动和积极，并且与伴侣之间的交流与沟通相对而言也更为畅通和坦率，从亲密关系中体会到的幸福感和满意度相对而言也较高。 </dd>
						<dd>
							<strong>合群性：</strong>合群性较高，喜欢与人交往，容易与人合作，善解人意，对他人的信任度也较高。在这一维度上得分较高的个体，往往有着更为成功和稳合群性：合群性较高，喜欢与人交往，容易与人合作，善解人意，对他人的信任度也较高。在这一维度上得分较高的个体，往往有着更为成功和稳定的婚姻，从婚恋中获得的满意度和幸福感相对而言也更高。 </dd>						
					</dl>
				</div><!--score-center-box end-->
				
				<div class="score-center-box">
					<dl>
						<dt class="mun05">
							您的匹配类型：洞察型
						</dt>				
						
					</dl>
				</div><!--score-center-box end-->
				<div class="clear" style="height:60px;"></div>
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	<div class="foot">
		<div class="foot-nav">
		<ul>
			<li><a href="#">关于我们</a>|</li>
			<li><a href="#">媒体关注</a>|</li>
			<li><a href="#">联系我们</a>|</li>
			<li><a href="#">合作伙伴</a>|</li>
			<li><a href="#">意见反馈</a>|</li>
			<li><a href="#">成功故事</a>|</li>
			<li><a href="#">汇款信息</a></li>
		</ul>
		</div>
		<p><img src="public/default/images/bottom-tel.gif" /></p>
		<p>Copyright 2005-2010 版权所有：真爱一生网 闽ICP备09064513号</p>
		<p>真爱一生网备用域名： <a href="#" class="f-f00">www.hongniangw.com</a> | <a href="#" class="f-f00">www.hongniangwang.com</a></p>
	</div><!--foot end-->
</div><!--main end-->
</body>
</html>
