<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani10.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>鸡（酉鸡）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖鸡的来历传说</h4>
					<p>鸡在十二生肖中排第十，与十二地支配属“酉”，故一天在十三时辰中的“酉”时－下午五点至七点又称“鸡时”。易卦为“异为鸡”。</p>
					<p>鸡王是一个好强争胜的家伙，成天惹事生非，打架斗殴（这种德性今天都还有残留）。玉帝封生肖的时候，考虑了动物对人类有无功劳，鸡王当然也排不上了。有一天，鸡王看到已封生肖的马受人尊崇，心中十分羡慕，于是上前询问道：“马大哥，您有今天的荣誉，靠的是什么？”马回答道：“我平时耕田运物，战时冲锋陷阵，给人类立下汗马功劳，当然我应该受到爱戴。”马道：“要得到人们的爱戴不难，只要您能发挥自己长处，给人们实实在在地办点事就行了。拿已封生肖的动物来说吧，牛能耕田，狗能守门，猪供人肉食，龙可降雨，您天生金嗓子，说不定对人类有帮助呢。”</p>
					<p>鸡王回到家中，左思右想，终于想到了用自己的金嗓子唤醒沉睡的人们，于是每天拂晓，鸡王就早早起床，亮开嗓子歌唱，把人们从睡梦中唤醒，人们对鸡王的功劳十分感激，决定请玉帝把鸡也做为生肖赐封为神。</p>
					<p>可是当时玉帝封生肖的标准只要走兽，不要飞禽，六畜中的马、牛、羊、狗都有份，唯独没有鸡，这下可急坏了鸡王，它急红了眼，喊破了脖子，可是毫无结果。</p>
					<p>一天晚上，鸡王为这事想不通，翻来覆去睡不着，一缕幽魂直飞天宫，来到玉帝殿前，向玉帝哭诉，自己每天司晨，唤起众生，功劳顺大，却不让入选属相，实在想不通。说完后，泪流不止。玉帝一想，鸡王的功劳实在大，自己规定的挑生肖标准确实有误，于是摘下一朵殿前花戴在鸡王头上，以示嘉奖。</p>
					<p>鸡王醒来后，发现头上真有一朵红花，于是它戴红花去见四大天王，四大天王认出这是玉帝的“御炉红花”，知道玉帝看重鸡王，于是破格让鸡王参与生肖竞争。到了争排生肖的那天，鸡与狗同时起床，相并而进，快到天宫时，鸡怕狗沾了先，就连飞带扑到前面去了。狗急起直追，一直没追上，结果排在鸡之后，从此，狗对鸡再无好感，见到鸡就追，直到今天也余气未消，“狗撵鸡飞”的现象至今可见。而鸡呢，至今还是红脸每天司晨，头上戴着一朵漂亮的大红花。</p>
					<p>下午5－－7时（即“酉时”）。这时候，日落山岗，鸡开始进笼扫窝，夜宿，于是酉时属鸡。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
