<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani03.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>虎（寅虎）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4><strong>虎</strong>肖牛的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">虎守护神：</span>虚空藏菩萨</dt>
						<dt><span class="f-ed0a91">虎开运水晶：</span>虎眼石</dt>
						<dt><span class="f-ed0a91">虎速配：</span>马、狗</dt>
						<dd>配马：马吸引虎的地方在在于它的热情和尊重，两者在互相支持的情况下会非常幸福。</dd>
						<dd>配狗：自负的虎只有在忠贞的狗面前才会表现出温柔的一面，虎又会鼓励狗追求人生目标，彼此体贴，共甘苦。</dd>
						<dt><span class="f-ed0a91">虎职场：</span>要养成虚心好学的习惯。</dt>
						<dt><span class="f-ed0a91">虎理财：</span>财运一般，不作大的投资。</dt>
						<dt><span class="f-ed0a91">虎性格：</span>独立和自尊心强。</dt>
						<dt><span class="f-ed0a91">导&nbsp;&nbsp;读：</span>虎在十二生肖中排行第三，虎年出生的人独立和自尊心都极强，喜欢单独行动，在太合群，喜欢别人服从他，做大哥，是一般人的保护者。但做事急进，鲁莽，所以容易误事，这是他经常失败的原因之一。</dt>
					</dl>
					<p>虎在十二生肖中排行第三，虎年出生的人独立和自尊心都极强，喜欢单独行动，不太合群，喜欢别人服从他，做大哥，是一般人的保护者。但做事急进，鲁莽，所以容易误事，这是他经常失败的原因之一。但是属虎的人是永远不会失败的，遇有挫折、阻力或失败时，他便会当机立断，从头做起，直到成功为止。此外，又喜欢与人争辩，从不认输。若要属虎的人信服另一个是一件非常困难的事，男子性络比较顽固好胜。容易与别人争执；女性比较细心，做每件事情之前都会考虑细致周密，无论在事业上还是生活上，都是丈夫的贤内助。</p>
					<p>属虎者是心急而情绪容易冲动的人，他们的判断有时不一定正确；他们讨厌规则，除非规则是他们定的，您常遇到已经更换过多次职业的属虎人,属虎者往往经常改变。因为他们不喜欢在原处滞留不动或者受外力限制。</p>
					<p>他有强烈的正义感，非常讨厌拐弯抹角，不过，为了日常生活过得顺利、平安，有时必须配合社会上的一些人情世故。不过，依他的个性却无法做到这一点，即使对方是他的上司，只要他认为对方有什么错误，便会理直气壮的提出批评。</p>
					<p>属虎人的眼中，所有流行时髦都是势利心在作怪。但属此者总认为自己是创新的人，制定规范的人，而他的步调总是偏向于超乎时代之前，不喜欢追随现时的潮流。</p>
					<p>属虎人是那种执着地从事事业的人，即使是上刀山、下油锅，也不会令其退却。属虎者深受气躁鲁莽的朋友与伴侣吸引，因而常使自己陷于一群狂人之中而无法抽身。</p>
					<p>属虎人对钱并不特别感兴趣，并非指他们没有钱，而是他们对钱并不很在意，他们喜欢有足够，甚至很多的钱，但不会完全被赚取金钱的心思所蒙蔽的折服。他们总是想，不论他们做什么事，周身都会有足够的钱，直到有一天，钱用完了为止。</p>
					<p>属虎者想要保持诚实，但有时周围的环境逼使他犯些小错。他们无法忍受权威或任何不公平的法律。他们憎恶不公，会拼命地为自己的想法申辩，属虎者天生的权威感，希望自己身居高位，掌握权力。但因好动与喜爱改变的天性，许多飘荡不定的属虎人到五十岁还未找到适合自己的重要职位。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
