<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani02.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>牛（丑牛）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖牛的来历传说</h4>
					<p>牛在十二生肖中居次位，与十二地支配属“丑”，故一天十二时辰中的“丑时”－夜间一点至三点又“牛时”。易卦为“坤为子母牛”。</p>
					<p>古时，牛王是玉帝殿前的差役，时常往返于天宫和大地之间。有一天，农夫托牛给玉帝传个口信，说是人间寸草不生，大地光秃秃的，太难看，请玉帝带点母草籽给人间，把人间打扮得好看些。玉帝听了，觉得有道理，便问殿下众神谁愿去人间撒草种。</p>
					<p>“玉帝，我愿去人间撒草种。”牛王自告奋勇地说。</p>
					<p>“您是个粗心大意的家伙，恐怕不行吧。”玉帝不放心地说。</p>
					<p>“玉帝放心，这点小事我都办不好，甘愿受罚。”牛王坚持要去。</p>
					<p>玉帝同意了牛王的请求，属咐牛王到人间后，走三步撒一把草籽。</p>
					<p>牛王带着草籽，走出天宫，在跨出南天门时，不小心跌了一跤，下人间后，头脑晕乎乎的，误以为玉帝的旨意是走一步撒了三把草籽。于是，大把的草籽撒在了大地。</p>
					<p>第二年，野草丛生，农夫根本无法种庄稼了。</p>
					<p>他们托灶神告诉玉帝，野草太多，庄稼无法生长。玉帝知道坏事了，召来牛王一问才知道粗心的牛王是一步撒三把草籽，把一件好事办坏了。</p>
					<p>“您这粗心的老牛，弄得人间遍地是草，当初您怎么保证的？从今以后，您和您的子子孙孙都只准吃草，帮助农夫除草，同时，子子孙孙都帮助农夫干活儿。”玉帝说完，怒气未消，飞起一脚踢向牛王，牛王一个筋斗从天上落到人间，嘴巴朝下，被摔掉一排上牙。于是，牛从此便一辈子给农夫当苦力，并且从未停止啃青草。直到今天，它的那排上牙也还没有长出来。</p>
					<p>但是，牛是个知过即改的好动物，它任劳任怨，勤恳踏实，拉车犁田从不松套，为农夫做了不少工作，博得人们的好评。在排生肖的时候，人们一至推举他为生肖。如果不是投机的小老鼠藏在牛角上，抢先得了头名，牛王肯定还会当上生肖首领呢。</p>
					<p>牛凭自己对人类的贡献当上了人类的生肖。</p>
					<p>凌晨1－－3时（即“丑时”）。这时候牛吃足了草，“倒嚼”最细、最舒适，所以丑时同牛搭配。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
