<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 血型头部 -->
	{template public/lovestyle_bty_header module}
	<!-- 血型头部结束 -->
	<!--=====左边开始=====-->
	{template public/lovestyle_left	module}	
	<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-ab.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>AB&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">AB血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">AB血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">AB血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>AB血型人的情缘标签</h4>
					<h5>爱情表现：</h5>
					<p>AB血型人特别是女性一旦看中意中人，就会奋不顾身地追求下去。AB血型人中老姑娘比较多。他们喜欢童话般的爱情观。不过AB血型人很少有背叛爱情的。假如实在不堪忍受折磨时，他们也许会以命相许，同归于尽。AB血型人喜欢情信。采取太过于咄咄逼人的态度的话，AB血型人就会萎缩不前，望而却步。他们非常讨厌本能与欲望混淆不清……</p>
					<h5>爱情中的囧人反映：</h5>
					<p>会成为某人与某人的丘比特。啪啪，啪啪。不过就算没有自己帮忙牵线，这两人多半还是会在一起吧。不知道为什么，好像就只有自己一个人在努力。不过，只要这两人能够幸福就好了。在边上虚伪地想着。但是，那不是装腔作势！看起来好像很虚伪，但人家真的是这样想的嘛！您们看错我了！不过，这事没法跟人解释清楚。</p>
					<p>这并非是“命运”的安排。还没有“火花”迸发。从未有过一见钟情的经历。就算有喜欢的人，自己也不肯先迈出第一步。还在犹犹豫豫的时候，半途中突然杀出个程咬金。啊啊啊！居然被抢走了！骂归骂，但就连“扳回一局”的念头也没有。可是喜欢的人被别人追走，还是很难受的。自尊心不允许自己原谅自己！“哪有，我也不是很动心。”死鸭子嘴硬。</p>
					<p>一旦知道某人喜欢自己，那个人就变成彻底的“恐怖分子”。对方越想靠近，自己越想远离。不要过来！想要慢慢地、一步一步地培养出那种</p>
					<h5>爱情中与AB血型人相处的小秘密：</h5>
					<p>不要毫无保留地批评指责对方的性格，因为那样做，会激怒对方。对对方的批评，要心悦诚服地接受。装饰外表之类的事，如被看穿，大都会引起AB血型人的不快。</p>
					<p>即使两人分道扬镳，对对方过去的错误也不要追究，以佯装不知，不予理睬为好。约会谈话，要干脆利落，不要硬性探询对方对自己有无感情、爱情之类的事。</p>
					<p>从某种意义上说，血型的家庭、朋友，是血型本人恋爱的拉绳定界人物，不要擅自同这些人交往。对起仪容和装束不要挑剔、批评。偶尔遇到无道理的斥责，在只限于此的情况下，要心平气和地对待。</p>
					<p>对方，不管他(她)是以假象出现还是以正常心理状态出现，都要以诚相待，如要冷眼以对，无论是男是女，他们都将借机哭叫着发怒。</p>
<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
