<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star09.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>射手座（阳历11月22日-12月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=9&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=2">射手传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=3">射手男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=4">射手女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=5">射手爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=9&tag=6">射手速配 &gt;&gt;</a></h6>
					<h4>射手传说：</h4>
					<h5>射手座传说：</h5>
					<p>在遥远古希腊的大草原中，驰骋着一批半人半兽的族群，这是一个生性凶猛的族群。“半人半兽”代表着理性与非理性、人性与兽性间的矛盾挣扎，这就是“人马族”。</p>
					<p>人马族里唯独的一个例外是奇伦。奇伦虽也是人马族的一员，但生性善良，对待朋友尤以坦率著称，所以奇伦在族里十分受人尊敬，有一天，希腊最伟大的英雄，赫丘力，来拜访他的朋友，这位幼年即用双手扼死巨蛇的超级大力士，一听说人马族也是一个擅长酿酒的民族，想到香醇的佳酿，也不管这酒是人马族的共有财产，便强迫他的朋友偷来给他享用，否则就打死他，所有人都知道，赫丘力是世间最强壮的人，连太阳神阿波罗都得让他三分，迫于无奈，这个人马族人只有照着吩咐的意思办了。</p>
					<p>正当赫丘力沉醉在酒的芬芳甘醇之际，酒的香气早已弥漫了整个部落，所有人马族都厉声斥责赫丘力，赫丘力怒气冲天，拿着他的神弓奋力追杀人马族，人马族们仓皇的逃至最受人尊敬的族人奇伦家中，这时奇伦在家中听见了屋外万蹄奔踏及惊慌的求救声，他连想都没想，开门直奔出去，说时迟那时快，赫丘力拉满弓瞬间射出去，竟然射中了奇伦的心脏，善良无辜的奇伦为朋友牺牲了自己的生命。</p>
					<p>天神宙斯听见了人马的嘶喊，于是他双手托起奇伦的尸体，往天空一掷，奇伦瞬间幻化成数颗闪耀的星星，形体就如人马族，从此为了纪念奇伦，这个星座就称为“射手座”，也叫做“人马座”。 </p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
