<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani04.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>兔（卯兔）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖兔———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>您有着都会男女的气息，以及令人愉悦的谈吐，所以在服饰上，应力求朴素，大方，才会让人有高格调的感觉。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>在性方面都很早熟，而且很有技巧，但是非常重视卧室的气氛，会拒绝没有感情的肉体关系。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属兔的人，人缘奇佳，才华出众，观念很保守但不固执，感情较为忧虑，这与天性的怯懦猜忌心重有很大的关连，必须注意性格中守旧古板的一面，才能使异性对您产生叫强烈的安全感。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>对待爱情，往往忧虑感过多。当爱情来临的时候，总是无法去肯定这场爱情，不容易使对方对自己有信心。而爱情大多数时间得靠信心去维持。建议多些信念给对方。</dt>
						
					</dl>
					<h5>相兔幸福大匹配：</h5>
					<ul>
						<li>一月生的人，无拘无束，男性宜配羊年女性，女性宜配蛇年男性。</li>
						<li>二月生的人，多姿多彩，男性宜配龙年女性，女性宜配龙年男性。</li>
						<li>三月生的人，无持久力，男性宜配猴年女性，女性宜配猪年男性。</li>
						<li>四月生的人，办事能力强，男性宜配狗年女性，女性宜配牛年男性。</li>
						<li>五月生的人，思想单纯，男性宜配猴年女性，女性宜配鸡年男性。</li>
						<li>六月生的人，生活实际，女性宜配鸡年男性，男性宜配羊年女性。</li>
						<li>七月生的人，理智稳定，女性宜配鼠年男性，男性宜配虎年女性。</li>
						<li>八月生的人，永不言输，男性宜配牛年女性，女性宜配鼠年男性。</li>
						<li>九月生的人，双重性格，男性宜配虎年女性，女性宜配蛇年男性。</li>
						<li>十月生的人，感情丰富，男性宜配兔年女性，女性宜配狗年男性。</li>
						<li>十一月生的人，老实内向，女性宜配蛇年男性，男性宜配狗年女性。</li>
						<li>十二月生的人，缺乏依赖，男性宜配鸡年女性，女性宜配虎年男性。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
