<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star03.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>双子座（阳历5月21日-6月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=3&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=2">双子传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=3">双子男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=4">双子女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=5">双子爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=3&tag=6">双子速配 &gt;&gt;</a></h6>
					<h4>双子爱情：</h4>
					<h5>双子座爱情</h5>
					<p>如果爱情是一埸梦的话，与您谈恋爱简直是恶梦，无错，跟您一起时您的花言巧语的确逗得情人心花怒放，但谁又晓得您只不过是为了自娱才说这些谎言。最可悲的是在分手后，这些谎言一定会被对方得知您是骗得她如何的深。就是连当朋友问及分手的原因时，您也要说一个谎话来骗人，不说谎一天您大慨生存不到吧…但这也是您能深得人心的原因。能言善辩的您对喜欢的对象追求都轻易能得到手，但转变太快的您根本就不知爱为啥物，情绪+孩子气会令您自己破坏一段段美满的姻缘。</p>
					<h5>双子座爱情面包的抉择</h5>
					<p>双子座的您一定很清楚，自己身上有一股难以被束缚的活力，您的心中永远有新点子。</p>
					<p>如果我们由统计数字分析，一定无法归纳出爱情、面包在双子座的心中，那一项比较重要。因为在这两者的背后，有一个更具影响力与决定性的因素，那就是自由与空间。</p>
					<p>双子座的您一定很清楚，自己身上有一股难以被束缚的活力，您的心中永远有新点子，永远会有不同的事物引起您的兴趣。如果爱情带给您的是艰苦谋生的日子，每天除了工作别无乐趣，这种压迫感会令您窒息；如果面包换来的是与一个毫无共同乐趣的人相守一起，这种约束力也会令您疯狂。</p>
					<p>所以，爱情多一些或少一些，面包厚一些或薄一些，其实并不是那么重要。能够获得您青睐的情人，要能够体会您对空间与自由的渴求。他能谅解您变化多端的情绪，他能接受您花样百出的想法，他能给您时间去探索更多新奇有趣的事物，他能给您空间去发展多才多艺的特质，也能让您自由去变化不同的生活方式。他愈不管您，您就愈显得快乐与自在，对他愈信赖。</p>
					<p>双子座的您特别需要一个能了解您的伴侣，在爱与宠之间，在占有与纵容之间，能够拿捏分寸，能够让您拥有爱又过得快乐，那才是您最好的选择。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
