<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani12.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>猪（亥猪）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖猪———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>具有服务热忱的您，金色及银色是您的幸运色，但是您最大的魅力还是亲切的笑容，可别吝啬给人善意的微笑才好。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>不是自己所爱的人，根本不会和异性发生性行为，因有强烈的贞操观念，婚后自然是忠贞不二的好丈夫，好妻子。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属猪的人，遇到喜欢的人往往都是一点点地将他的真诚慢慢表现出来，借着自己的善意期待异性的青睐，可惜的是，在现今速食爱情的今天，这种慢工出细活的表现方式，显然注定要失败。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>在流行爱情快餐的时代，猪的爱情观念有点落后了，未能够与时俱进，属猪的人总是让别人慢慢的体会出自己真诚，而在这个爱情快速的年代，遇到合适的对象就得及时追求，该出手时就出手。</dt>
						
					</dl>
					<h5>相猪幸福大匹配：</h5>
					<ul>
						<li>一月生的人，直性子，女性宜配兔年男性，男性宜配蛇年女性。</li>
						<li>二月生的人，过份实惠，男性宜配兔年女性，女性宜配虎年男性</li>
						<li>三月生的人，感情冲动，女性宜配龙年男性，男性宜配虎年女性。</li>
						<li>四月生的人，充满斗志，女性宜配虎年男性，男性宜配蛇年女性。</li>
						<li>五月生的人，依赖性强，男性宜配马年女性，女性宜配牛年男性。</li>
						<li>六月生的人，多愁善感，男性宜配蛇年女性，女性宜配猴年男性。</li>
						<li>七月生的人，生性懒惰，男性宜配羊年女性，女性宜配马年男性。</li>
						<li>八月生的人，斗志旺盛，女性宜配虎年男性，男性宜配羊年女性。</li>
						<li>九月生的人，十分操心，女性宜配鼠年男性，男性宜配羊年女性。</li>
						<li>十月生的人，热情开朗，男性宜配羊年女性，女性宜配虎年男性。</li>
						<li>十一月生的人，不善交际，女性宜配马年男性，男性宜配猴年女性。</li>
						<li>十二月生的人，行动果断，女性宜配虎年男性，男性宜配羊年女性。</li>
					</ul></div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
