<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani04.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>兔（卯兔）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属兔血型——破解您的爱情魔咒</h4>
					<h5>属兔A血型</h5>
					<p>属兔A型血性格平稳、温和，无论做什么事情都保持平衡，不走极端，决不树敌，哪怕有人非礼，也还击得有节，使对方扫兴而去。善于隐藏自己的感情和观点，对不喜欢的人不显露厌恶的表情，对可恶的事避而远之。 处理小心，心事三思而后行，考虑事情细致周全，事业心强，知道前途只有靠自己不懈的努力、顽强的拼搏，幸福不能坐着等的道理。 有艺术天才，憧憬美好的事物，也注意自己的服饰。 目光敏锐，善于察颜观色，能够准确地掌握自己周围人的内心世界。 对人彬彬有礼，常常笑容满面。其实不风气接近，性格中有冷漠、不易亲近的一面。他们与人保持一点距离，也许正因为这点距离的神秘，和所有人关系融洽。 一生平安，家庭和事业都不会有大的风浪波折，不会冒险，也不喜欢冒险。</p>
					<p>属兔A型血人对爱情十分慎重，渴望爱情，但希望双方心灵深处建立协调一致的爱，决不冲动和盲目。</p>
					<p>属兔A型血人男子对心中的恋人慢慢地观察，仔细权衡，然后再计划的行动。但是由于太稳重，太安分守己，对方会觉得他毫无魅力，这时他会很痛苦和悲观，甚至望。有时则会全身心投作，事业上大有进展，而爱情却一无所获。 由于孤独的苦闷，可能在好心人的帮助下，很快与另一女子结婚，但心中始终恋着原来的恋人，表面生活平静，但内心深自动了充满痛苦，由于事业和家庭的现状，也许就这样&quot;平稳&quot;地度过一生。</p>
					<p>属兔A型血的男子应该找那些活泼、清纯、开朗幽默而有情趣的女子为栏，使自己太沉稳、太稳重的生活有一点浪漫的光辉。</p>
					<h5>属兔B血型</h5>
					<p>属兔B型血人具有吸引人的魅力，聪明精细，幽默过人，气质高，态度温和可亲，有众多的同盟者、崇拜者。 人缘极好，是领导选择、同事佩服、朋友喜欢的人。说话题材丰富，又掌握说话技巧，走到哪里，把笑声带到哪里。 具有超群的判断和及时预测未来的能力，良好的感觉能力，把一切看得十分透彻，与任何人说话，都能把握对方的心思，使对方快乐。 把工作安排得井然有序，不管遇到多大的问题，都能迎刃而解，巧妙克服。 但是内心常常觉得空虚，把多余的精力投入艺术的追求和探索，在艺术方面很有天赋，对艺术的理解和感觉比别人深刻，如果从事艺术创作，易出成果，特别是小说、剧本的创作，更易出成果 。</p>
					<p>属兔B血型人的处世圆滑、老练、善于社交，对自己的恋爱对象充满信心，会采取逐渐进攻的方式，对方在毫于防备的情况下，渐渐地成了他的俘虏，再强大的情敌，也要败在他的手下。 向往一种奇妙的婚姻生活，婚后仍然追求浪漫情调，仍然和爱人约会等，希望和爱人永远保持新鲜感，彼此永远互敬互爱，相敬如宾。对于子女，从不溺爱，着重培养他们的自立能力。 温文尔雅，彬彬有礼，中年以后，更具魅力，对于崇拜者，无论条件多么优越，风度多么迷人，他都动心，知道珍惜就是幸福，珍惜已经获得的幸福。永远不会被卷入爱情的纠纷，他污染爱情最有情趣，婚姻也维持得最长久。</p>
					<p>属兔B血型女子宜找性格坦率、开朗、稳重、有修养、有知识的男子为伴。而属兔B血型的男子，则宜找单纯、活泼可爱、聪颖的女子为伴。</p>
					<h5>属兔AB血型</h5>
					<p>属兔AB型血人的个性相当复杂，有时亲切、坦率，有时又忧郁冷漠。 个性有占领孤僻，不喜欢社交场合，常常一个从沉思默想，给人冷漠的感觉，心里常常盘算着一个人作长远浪漫旅行的念头。猜疑心很重。 外不温和细致，但始终与人保持距离。和人交往，到一定的嘎然而止。 人际关系淡泊，没有知心朋友，但也绝不树敌。任何时候都保持平衡的心理，没有激烈的辞和极端的行为，因而周围的人并不讨厌他。</p>
					<p>喜欢大自然，喜欢一个人登山，一个人欣赏，陶醉在大自然的美好之中；有很好的艺术天赋，特别是吟诗绘画天才，如果在这方面发乃，成绩辉煌。表面上给人呆板乏味的感觉，其实内心很充实，兴趣也广泛，是浪漫主义者，只是不愿表现出来而已。</p>
					<p>一生平安，不会有大的波折，一生运势呈缓慢上升趋势。爱情的幸福，但对恋爱对象的选择却非常小心谨慎。 一旦坠入爱河，希望爱情永远美好如初，即使对方非常喜欢，也担心对方随时会变心而抛弃他，全心全意地爱着对方，为了爱情可以牺牲自己的一切，也许专一，对方反而觉得他乏味而不珍惜。</p>
					<p>属兔AB血型的女子宜找乐观、坦率，有艺术修养的男子为伴，在艺术的天地里，共同遨游，生活将变得得更充实美好。</p>
					<p>男士则宜找开朗、大方、热爱大自然、性格温和的女子为伴，性格互补，又有共同的爱好，会幸福美满白头到老。</p>
					<h5>属兔O血型</h5>
					<p>属兔O型血人气质优雅，常常面带微笑。谈话题材丰富，妙趣横生，常常引超轰堂大笑，说话很有分寸，知道哪些话不该说，哪些话该说，很得人缘。外表看似温柔，实则有些神经质，一遇波折和不顺心的事便坐立不安，不思茶饭。</p>
					<p>也许是兔胆小怯弱的一面，但是总的来说，比血型的属兔人更胆大、豪放、果断。 富于同情心，如果朋友和同事有难，会慷慨解囊，救人于水火中，但对家人却反而有些冷漠。 天资聪明，又细心好学，踏实勤奋，生活一天天好起来，但是不管多富裕，也不浪费钱财。</p>
					<p>生活很充实，不断地创造生活情趣，对音乐和文学、美术都非常爱好并有涉猎，虽然浅尝辄止，但其乐无穷。 属兔O血型人潇洒优雅，机智幽默，追随毒害众多。 生性害羞，表达爱的方式不是直接表露，而 巧妙利用机会暗送秋波，使对方心领神会。 一旦坠入爱河，能达到非常狂热的程度。</p>
					<p>属兔O知型的女子宜找个性稳沉，修养极深，风度翩翩的男子为伴，才会认为爱人永远有魅力，引以为豪而安心家中，做贤妻良母。</p>
					<p>属兔O血型的男子，宜找娴静、温柔、沉稳而相貌较好的女子为妻，这样有情趣、有魅力的妻子才能使他心系于家，也想尽到自己做丈夫，做父亲的职责。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
