<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani06.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>蛇（巳蛇）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖蛇———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>都市气息的您，穿着成熟及时髦的服装，异性定被您迷人的外表深深地吸引，可穿卡其色或流行的淡色系为主。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>诱惑异性的能力首屈一指，非常渴望性爱所带来的快乐，但还好大都感情专一，不会见异思迁，喜新厌旧。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属蛇的人，是个多情之恋人，那美丽的双眼总在暗送秋波，所以常常引来桃花不断，那是由于您对任何事务都很敏感，心中自然会散发出异样的热情，而使心仪之人对您产生不信任感。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>富有爱心的您总是能引起异性注意。而对方的一举一动也在您敏感的内心里投下石头。这样的话，很容易使自己在爱情中面临多种选择。从而使对方对您失去信心。</dt>
						
					</dl>
					<h5>相蛇幸福大匹配：</h5>
					<ul>
						<li>一月生的人，努力开拓，女性宜配牛年男性，男性宜配猴年女性。</li>
						<li>二月生的人，忽冷忽热，男性宜配兔年女性，女性宜配虎年男性。</li>
						<li>三月生的人，疑心重，女性宜配蛇年男性，男性宜配兔年女性。</li>
						<li>四月生的人，过份自信，男性宜配牛年女性，女性宜配猴年男性。</li>
						<li>五月生的人，极端自我，男性宜配虎年女性，女性宜配猴年男性。</li>
						<li>六月生的人，行动敏捷，女性宜配蛇年男性，男性宜配虎年女性。</li>
						<li>七月生的人，适应性强，女性宜配鸡年男性，男性宜配虎年女性。</li>
						<li>八月生的人，外向好奇，女性宜配兔年男性，男性则不宜配倔犟女性。</li>
						<li>九月生的人，敢干斗争，女性宜配蛇年男性。</li>
						<li>十月生的人，精神晚熟，男性宜配猪年女性，女性宜配羊年男性。</li>
						<li>十一月生的人，喜欢活动，女性宜配猪年男性，男性宜配马年女性。</li>
						<li>十二月生的人，坦白直率，男性宜配兔年女性，女性宜配鸡年男性。</li>
					</ul>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
