<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star04.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>巨蟹座（阳历6月22日-7月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=4&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=2">巨蟹传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=3">巨蟹男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=4">巨蟹女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=5">巨蟹爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=6">巨蟹速配 &gt;&gt;</a></h6>
					<h4>巨蟹爱情：</h4>
					<h5>巨蟹座爱情</h5>
					<p>究竟是忍受，还是承受…默默承受可以说是您对爱的写照(一针见血了么~？)。在追求对象时，会全听对方的，尽管还未成为情侣，也已经为对方做了很多……做了很多应该是别人爸爸妈妈做的事…　说穿了，您还是个善解人意的星座，但可惜踏入爱恋后却十分容易迷失自我，经常以情人为中心。在爱情中，您的角色永远是臣下，您是会臣服于情人的星座，在朋友面前可能喜欢吹墟想让人觉得您不在乎情人，但…节省一点吧…全世界都知道您如果真的失去他/她会是如何在意，就像…就像父母失去了自己子女一般的痛心，因为您早已视对方为生活的一部份了。</p>
					<h5>巨蟹座爱情面包的抉择</h5>
					<p>爱情在巨蟹座的心中，显得特别地重要。</p>
					<p>我认识一位勇敢的巨蟹座女性，她和她的先生数度分分合合，活生生地演出一幕幕戏剧性的人生。她很爱她的先生，可是她的先生却在谋生技能上极度欠缺。每一次她和他在一起，大家就赞叹爱情的伟大；每一次她和他分开，大家就感慨现实的残酷。</p>
					<p>爱情在巨蟹座的心中，显得特别地重要。如果要巨蟹座的您，在爱情和面包之中，做个二选一的抉择，我想您百分之八十会选择爱情。</p>
					<p>男的巨蟹座觉得赚钱是自己的兴趣，选择爱情，面包我来负责。女的巨蟹座觉得自己能够吃苦耐劳，甚至赚钱贴补家用，有爱情就算面包小一点地无所谓。</p>
					<p>感觉在您的生活中。有着非常重要的地位。只是，您在重视爱情所给您的好感觉时，也不能忽视现实生活也是影响您的感觉的重要原因。 </p>
					<p>男的巨蟹座不会为了少二十年的奋斗，选择感觉不对的老婆。女的巨蟹座也不会为了财富，就甘心被人金屋藏娇。我特别要提醒巨蟹座的女孩，如果为了爱情，选择一个毫无生活保障的对象，那可能就是以一生的感觉来下赌注，这些美好的德性，的确显示了爱情的珍贵。但是，如果您不想一辈子感觉生活的艰难，请慎重考虑您的选择吧。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
