<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star12.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>双鱼座（阳历2月19日-3月20日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=12&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=2">双鱼传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=3">双鱼男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=4">双鱼女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=5">双鱼爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=12&tag=6">双鱼速配 &gt;&gt;</a></h6>
					<h4>双鱼爱情：</h4>
					<h5>双鱼座爱情</h5>
					<p>爱情在您来说是生命，是空气，是无处不在的。您很专一但又很滥情，何解？专一是在您幻想之中的自己(即是那悲剧的男/女主角)，而现实中的您却是无时无刻期待爱情的发生，即使在您已有男/女朋友时也一样。当您的恋人其实很辛苦，一方面要提防您那不晓拒绝的心被人偷走，另一方面又要安抚您那悲观的心态。当情人跟您分手时，您会哭得很伤心，很伤心……一，两天左右，便会重新等待新的白马王子出现……</p>
					<h5>双鱼座爱情面包的抉择</h5>
					<p>双鱼座好象爱情小说中的男女主角一样，每天什么事都不做，只谈恋爱就能过日子。 </p>
					<p>如果爱情与面包不能两全其美，绝大部份的双鱼座会义无反顾地选择爱情。</p>
					<p>双鱼座的爱情原本就特别浪漫，不但温柔体贴，而且充满想象力。双鱼座好象爱情小说中的男女主角一样，每天什么事都不做，只谈恋爱就能过日子。</p>
					<p>所以，双鱼座的您，当然希望他也是充满爱与浪漫的好情人，才能够把您的梦想完美地呈现。如果，他只是充满面包香，却不解风情的俗人，势必成为您的梦想终结者，让您的人生变得万念俱灰。了无生趣。</p>
					<p>有句话说“人不轻狂枉少年”，选择浪漫的爱情的确需要勇气。我除了对您的勇气表示钦佩，我也要提醒您，选择爱情时，更要有毅力来面对现实的压力。</p>
					<p>只可惜双鱼座的意志力比较薄弱。当您戏剧性地选择了爱情时，紧接着的也可能是戏剧性的压力。您想想，如果饿得每餐只吃一个茶叶蛋，或者您被父母亲关起来，或者把您送国外留学，您也能够像小说电影里的主角，坚持到底，百折不挠吗？</p>
					<p>选择爱情很难，坚持所爱无怨无悔更困难。双鱼座的您一旦决定为爱牺牲，一定要有坚强的意志，否则，轻易地放弃在日后难免遗憾、后悔。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
