<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star04.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>巨蟹座（阳历6月22日-7月22日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=4&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=2">巨蟹传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=3">巨蟹男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=4">巨蟹女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=5">巨蟹爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=4&tag=6">巨蟹速配 &gt;&gt;</a></h6>
					<h4>巨蟹传说：</h4>
					<h5>传说一</h5>
					<p>敏感多情的巨蟹座是母性的象征，双臂环绕着胸前，表现母亲护卫子女的天性。</p>
					<p>不过，就另一种象征意义而言，怀中婴儿代表了无助脆弱的自我，而环绕的双臂，则说明了巨蟹座浓厚的自我保护意义。</p>
					<p>希腊神话里的一段故事正强调了巨蟹座特有的攻击性。</p>
					<p>这先得从赫五力说起--赫五力是宙斯与凡人生的儿子，天后希拉三番两次要置他于死：他也是希腊最伟大的英雄，世间最壮的人。世上没有他办不到的事，连神明们都是靠着他的协助才征服了巨人人族，当然，赫五力也为神明立下许多汗马功劳。有一天他来到了麦西尼王国，正准备接受英雄式的欢迎，国王却因受到希拉的指使，给他出一道难题－－杀掉住在沼泽区的九头蛇，这事很难办，因为每砍掉一个头便会马上生出无数个头。</p>
					<p>赫五力想到一个办法--用火烧焦蛇头，就这样轻易解决了八个蛇头。眼看只剩最后一个了，希拉在天上气得怒火中烧，“难道这次又失败了？”她不甘心啊！于是从海里叫来一支巨大的螃蟹要阻碍赫五力，巨蟹伸出了强有力的双蟹夹住赫五力的脚，但是谁都知道，赫五力是世间最壮的人啊！这支巨蟹最后仍死于他的蛮力之下。</p>
					<p>希拉又失败了，但对巨蟹不顾一切的牺牲，却感到心有戚戚，为了感佩巨蟹的忠于使命，即使没有成功，希拉仍将它放置在天上，也就成了巨蟹座。</p>
					<h5>传说二</h5>
					<p>赫拉克勒斯是希腊传主中的英雄，他受命除掉伤害人畜的九头水蛇许德拉。在激烈的战斗中，许德拉有一只巨蟹助战，被赫拉克勒斯用大棒将蟹壳击碎而亡。神后赫拉非常憎恨这位英雄，把巨蟹放在天上成为星座。在二三月的夜晚，在南方天空可以看见巨蟹星座。 </p>
					<h5>传说三</h5>
					<p>巨蟹座最早脱胎于巴比伦的传说。在埃及，这星座的象征为两只乌龟，有时被称为“水的星座”，有时又被称为阿璐儿(allul,一种不明的水中生物)。可见这星座和水关系之密切，但详尽的传说却已散佚。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
