<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani11.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>狗（戌狗）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖鸡———绝密情缘手册</h4>
					<dl>
						<dt><span class="f-ed0a91">穿&nbsp;&nbsp;&nbsp;&nbsp;着：</span>多试一些华丽的穿着，不要一昧的穿身深色的下半身及白色上衣，如此才能给周遭的人耳目一新的感觉。</dt>
						<dt><span class="f-ed0a91">性爱深度：</span>希望追求精神层面的结合，性行为只不过是证明自己有传宗接代的本事而已，所以，性生活方面很容易满足。</dt>
						<dt><span class="f-ed0a91">失恋原因：</span>属狗的人，喜欢以第一印象去决定该不该喜欢对方，缺少了随机应变，见风转舵的能力，这种不太便通的个性，无疑已经形成感情培养上的巨大障碍，由于太相信直觉，往往使的自己失去太多恋爱的机会。</dt>
						<dt><span class="f-ed0a91">爱情死穴：</span>过于重视外在的形象与感觉。缺少细心观察异性的能力，容易把自己束缚在固定的圈子里面，所以也就易错失了不少爱情机会，可爱的您也就难以被人发现您的善与美了。</dt>
						
					</dl>
					<h5>相鸡幸福大匹配：</h5>
					<ul>
						<li>一月生的人，悠闲踏实，女性宜配羊年男性，男性宜配鸡年女性。</li>
						<li>二月生的人，具挑战性，女性宜配虎年男性，男性宜配羊年女性。</li>
						<li>三月生的人，很现实，女性宜配鼠年男性，男性宜配猪年女性。</li>
						<li>四月生的人，野心大，女性宜配马年男性，男性宜配牛年女性。</li>
						<li>五月生的人，直率可爱，男性宜配马年女性，女性宜配龙年男性。</li>
						<li>六月生的人，守不住钱财，女性宜配牛年男性，男性宜配虎年女性。</li>
						<li>七月生的人，善良开朗，男性宜配龙年女性，女性宜配虎年男性。</li>
						<li>八月生的人，具批评性，女性宜配兔年男性，男性宜配马年女性。</li>
						<li>九月生的人，无拘无束，男性宜配虎年女性，女性宜配马年男性。</li>
						<li>十月生的人，正直和善，妇性宜配蛇年男性，男性宜配蛇年女性。</li>
						<li>十一月生的人，沉着有斗志，女性宜配马年男性，男性宜配鼠年女性。</li>
						<li>十二月生的人，用心专一，女性宜配鼠年男性，男性宜配马年女性。</li>
					</ul></div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
