<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
		<!-- 血型头部 -->
		{template public/lovestyle_bty_header module}
		<!-- 血型头部结束 -->
		<!--=====左边开始=====-->
		{template public/lovestyle_left	module}	
		<!--=====左边结束===-->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/bty-a.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>A&nbsp;血型</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=01">A血型情缘标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=02">A血型男配对秘籍 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=btyanalysis&type={$typenum}&btytag=03">A血型女配对秘籍 &gt;&gt;</a>
					</h6>
					<h4>Ａ血型人的情缘标签</h4>
					<h5>爱情表现：</h5>
					<p>A血型人是初次见面印象不错，但很难向您敞开心扉。他们真正的知心朋友很少，选择恋爱对象也往往失之太过于谨慎。他们的精神世界比较容易受伤害，一旦创伤不易平复。因此他们的性格外壳也比较厚重。在爱情上，他们追求的是和风细雨，体贴入微，心照不宣的感情交往，而不是暴风骤雨般的思想交换。A血型人与周围人的关系也很平稳，少大起大落。对于他们的恋人，他们也希望对方采取他自己一样的态度，稳步发展爱情而不是急于求成。也有例外，因为他们也有希望对方能够帮助他们承担心理负担的欲望……</p>
					<h5>爱情中的囧人反映：</h5>
					<p>会认真观察喜欢的人。先确认自己的心意。嗯？我真的喜欢这个人吗？因此卡在这里难以再进。白白让机会溜走了。迟迟不肯主动接近对方。想知道关于他/ 她的一切。但不想被察觉。因为被拒绝的话会很受伤。好痛！内心在流血。</p>
					<p>单相思时，会将对方无限美化。深信那就是自己的理想对象。“太100% 恋人了！”</p>
					<p>不料，现实幻灭。“啊，我看走眼了。”等到回过神来，已经什么事都“过去了”。虽然心中也曾掀起过万丈波澜。 讨厌“玩玩”式的恋爱，自己也做不来。一尝试就失败。不会一见钟情。突然被告白时会猛地逃开。鬼才相信咧！</p>
					<p>一旦喜欢上对方，心里就不断呐喊“我们结婚吧！”反正恋爱发展到最后都是结婚。当对方在自己面前流露出脆弱的一面时，会好想安抚他。一旦交往就会长长久久。坚持到底！半途而废可不行！不会玩劈腿。但却被人质疑过。都说了，人家没有脚踩两只船！因为疑心病重而在恋人心中被减分。您在说什么啊？是吃醋吗？被甩后就一蹶不振，连续多年活在阴影中。约定计划拟定得细致入微。但迟迟拿不定该在哪儿碰面。不会说出自己的希望。</p>
					<p>交往得越深就越任性。把自己的喜好强加到别人头上。这是撒娇的方式。想要成为恋人的得力助手。看，我很有用吧？可是对对方而言却“太……沉重了”很讨对方爸妈喜欢。分手后也可以做朋友。</p>
					<h5>爱情中与Ａ血型人相处的小秘密：</h5>
					<p>A型人对不体谅其心境的举动，爱大发雷霆。A型人最讨厌对方对自己随随便便。大大咧咧。A型人讨厌露骨地表现自己，对过分的恭维、赞扬、他(她)反而感到不愉快。突如其来地使他(她)高兴，他(她)也会由惊变怒，因此，提前打招呼至关重要。在交谈时，一见对方说反话或抢先下结论，他(她)马上就会怒形于色，因此，在和A型对象谈话时，需要按正常顺序进行。揣摸着对方心理为其为事，为了达到目的，甚至厚着脸皮去做，或采取一些刺眼的行动。对这种举动，A型也是看不惯的。</p>
					<p>A型人不愿欠别人的情。对好谦虚的A型来说，在他(她)面前说一点欠自己情的话，都会引起敏感的反应。对方弄错了，让人道歉，他(她)会耿耿于怀。不管对方遵从哪一个道德标准，一开始，就要分辨清楚。小气和冷淡都会使他(她)勃然大怒。当对方对自己家里的指责随声附和时，您不要表现出不满。对对方的过分亲切感到难以适从时，也绝对不要对此显露声色。A型男性不要批评他过于老实什么的，对A型女性，不要批评她好讲歪理什么的。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
