<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star08.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>天蝎座（阳历10月24日-11月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=8&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=2">天蝎传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=3">天蝎男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=4">天蝎女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=5">天蝎爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=6">天蝎速配 &gt;&gt;</a></h6>
					<h4>天蝎男人：</h4>
					<h5>天蝎男人：</h5>
					<p>您的心是玻璃做的吗？如果是的，快逃吧！否则就准一支扫把来扫玻璃碎片好了。</p>
					<p>天蝎座的男人是杯烈酒，既使有些外表看来温和淡然，他依是一杯看起来像白开水的高梁酒，在您毫无防备的一饮而尽之后，马上就醉的分不清方向了。</p>
					<p>他是无敌铁金钢，唯一免于被他打败的方式，就是永远不跟他作战，您有两种方式，一是无怨无悔的爱他，再不就是把自己练成金钢不坏之身。</p>
					<p>天蝎座的男人带魔鬼般的魅力，让您有如被催眠一样的被他吸引，他忽而热情如火，忽而冷漠的像冰，如果您跟他挑起战端，倒霉的准是自己。吵架的时侯，他会口不择言，每一句话都让您心碎，您一定会恨死他了。可是等他怒火平熄，他弯下腰吻您淌血的心，那种甜蜜又立刻麻碎了所有的疼痛，他就有这种能耐，爱上他，就请准备强壮的心脏坐爱情云霄飞车吧！去问问那些曾经为天蝎座男人疯狂，又为他们心碎的女人。他的魅力究竟在哪里？我想他们会告诉您——是他的眼神。</p>
					<p>天蝎座男人有一眼刺穿您的本领。他似乎一眼就看出了您渴望些什么，害怕些什么，在他面前您似乎不需要什么告白和辩解，伪装是没有什么用的。除非您对这个天蝎座的男人完全不来电，否则在您的眼光与他交会的刹那，您就注定难逃这场惊心动魄的爱情历险。</p>
					<p>很多深经世故的女人在天蝎座男人放肆的眼睛下也会觉得羞愧，就好象是当众被剥了衣服一样的感觉。</p>
					<p>他总能轻易的掌握您的弱点，如果您不信邪，想要跟他斗法，最好的结果也顶多是两败俱伤，不过这种情况不太多，多数时侯都是他冷冷地看着您遍体鳞伤的躲在角落哭泣。</p>
					<p>想要伤害一个天蝎座的男人真的很难，因为真的很少有人比他能忍，比他不怕痛。想清楚了吗？如果想逃，请务必消失的彻底。如果决心守着他，就请您最好心悦臣服，不要引起他任何对您挑衅的意念。</p>
					<p>其实天蝎座的男人除了对异性有着难以解释的吸引力之外，他的个性的确也有着独特的优点。他坚强而有韧性，他勇敢的面对失败，他坚持自己的主张，不怕所有的反对和阻挠。对于他所选择的工作，有着永不熄灭的热情，不管是看他，或是陪他作任何事都很过瘾。</p>
					<p>当天蝎座男人专注于某一件事情的时侯，给人一种自信而且坚决的感觉，那种全力投入，势在必得的表情真的非常迷人。他在面对挫折时的坚强勇敢会让您觉得骄傲。虽然有时他故意找麻烦的令人讨厌（他们多少有些潜在的虐待狂倾向），但是您仍得承认他讨厌的很可爱。</p>
					<p>天蝎座男人的醋劲，也跟他所有其它的情绪一样的强烈。这一点您可千万要小心，一旦燃起他嫉妒之火，您恐怕会很难收拾。“星星之火，足以燎原”您总知道吧！不过，他引起您吃醋的机会可能多的不胜枚举，而您的愤怒、泪水、甚至寻死寻活，恐怕对他起不了什么作用，在这一方面您除了给他完全的信赖之外，就是让自己有十足的自信。不过凭良心说，天蝎座的男人都挺有定力的，他诱惑别人很容易，别人想诱惑他恐怕没有这么简单。不要光听他说的狠话，想想他为您做的一切，其实他对您也挺好的，不是吗？只是坚持用他的方式爱您罢了！做一个成熟勇敢的女人，您才真的能体会到天蝎座男人的热情和刺激，无人可比。</p>
					<p>如果您决定嫁给一个天蝎座的男人，请终生记得——绝不要有统驭他的欲望，我朋友的例子应该给您很大的警惕，放弃您的骄傲，不要在意表面上谁占了上风。</p>
					<h5>天蝎座的男人与“性”</h5>
					<p>在这一方面，天蝎座男人有着足以将您溶化的热情，他的表现方式往往是激烈的。通常天蝎座男人总有着足以征服对方的精力。他是追求胜利感的，在这方面也是一样。如果您的反应冷淡会让他立刻感觉索然无味。他可能在性爱进行的过程中，冷冷的看着您，不必害羞，更不用害怕。天蝎座的男人经常面似冰，心似火，他只是喜欢欣赏胜利的成果罢了。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	<div class="foot">
		{template system/footer public}
		<p><img src="public/default/images/bottom-tel.gif" /></p>
		<p>Copyright 2005-2010 版权所有：真爱一生网 闽ICP备09064513号</p>
		<p>真爱一生网备用域名： <a href="#" class="f-f00">www.hongniangw.com</a> | <a href="#" class="f-f00">www.hongniangwang.com</a></p>
	</div><!--foot end-->
</div><!--main end-->
</body>
</html>
