<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
	{template system/header public}
	<div class="content">
		{template public/lovestyle_cst_header module}
		<!--lt-score end-->
		{template public/lovestyle_left module}
        <!--=====左边结束===-->
		
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">星座</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/star08.jpg) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>天蝎座（阳历10月24日-11月21日）</h1>
					<h6><a href="index.php?n=lovestyle&h=constellate&type=8&tag=1">个性标签 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=2">天蝎传说 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=3">天蝎男人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=4">天蝎女人 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=5">天蝎爱情 &gt;&gt;</a>&nbsp;&nbsp;<a href="index.php?n=lovestyle&h=constellate&type=8&tag=6">天蝎速配 &gt;&gt;</a></h6>
					<h4>天蝎爱情：</h4>
					<h5>天蝎座爱情</h5>
					<p>这只沙漠来的悍将…如果是您主动追求别人还好，而如果是别人追求您，而您又对对方无兴趣的也都还好，但如果是对方来追求您，而您又觉得与对方有机会发展的话，那就…不堪设想了…　您这个不屈不挠的战士，当追求对象时会不惜一切(不择手段)但还是会以不会伤害对方为宗指(追求中的时候)，但当是对方来追求您时，您会把对方视为同等状态(即视对方为也是悍将一名)给予对方无数的难题，考验及试探，简直是魔鬼……</p>
					<p>当对方满身伤痕的终于打动了您时，真正的恶梦才开始，因为被蝎子于爱情中站在主导的位置，您就只剩两个选择：1.)离开他，但要无时无刻防备他受到背叛的复仇，2.)永永远远的臣服于他，不要让他感到些微的背叛，如果做不到的或是中途受不了的，请选回1.)的路线。好好的不要惹他们为妙，因为您不能想像一个用一辈子想出来的复仇大计画会将您变成怎样………但，当蝎子真正爱上您时，他们的魅力又的确能像空气一样包围着您，有些时候更包到令您窒息……天蝎座的人大都抱着不是全有，就是全无的极端心态对待任何事物，爱情也是一样，您可以全心全意的爱着对方，也可以全心全意的伤害对方，简直…　而这种心态也是您渴望情人待您的心态，不要接近您，或，不要离开您。天蝎的爱情中，充满嫉妒，却又有能力与您爱得死来活去……</p>
					<h5>天蝎座爱情面包的抉择</h5>				
					<p>如果爱情与面包不能两全，天蝎座的表现，让我想竖超大姆指来称赞一番。我看过的天蝎座都是这样处理：紧紧拥抱他的爱情，然后自己拼命去赚面包。</p>
					<p>因为天蝎座的占有欲原本就很强。现在，您勇敢地不顾现实的压力，选择与他共创感情的小天地。多多少少，您会觉得自己做了相当的牺牲；多多少少，您觉得他亏欠了您一份情。于是您有更充分的理由，对他要求完整、无缺的爱。他必需也像您一样，不顾一切地来爱您，才不算辜负您的一分痴情。</p>
					<p>这是多么重大的一份责任啊！从此他在您心中已经失去了自主权，他只有满足您的想法和要求，才能够无愧地面对您。这样的日子，又岂是任何人所能忍受的？如果您设身处地为他想想，就知道要维持这种感情有多难了。既然您勇敢地选择爱情，就应宽容地珍惜他的爱，否则牺性不是没有意义了吗？</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
