<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani11.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>狗（戌狗）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属狗血型——破解您的爱情魔咒</h4>
					<h5>属狗A血型</h5>
					<p>属狗A型血人诚实可靠，与人坦诚相交，对朋友忠心耿耿，朋友有难，全力以赴，受朋友之恩，必报。天生富于正义感，爱憎分明，嫉恶如仇，对不公平的事，会提出抗议，指责对方，保护正义。</p>
					<p>性格坦率，有什么事开诚布公，从不做小动作，或阴谋诡计，或出卖朋友，为人正直，不善阿庚奉承，更不善吹牛拍马。 平时过于坦率，无意中已树立了许多&quot;敌人&quot;，一旦自己在工作中有一点差错，就会遭到群起而攻这。平时要注意约束自己，不要太正义严斥。</p>
					<p>大器晚成，经过年轻时的艰苦努力，道路基本铺平，中年时再不断努力，必成气候。</p>
					<p>属狗人在爱情方面直率而坦白。对恋人百般照顾，温柔体贴，一生都在追逐恋爱，一生都失望空虚，晚年凄凉，唯一的安慰就是回忆。</p>
					<p>属狗A型血的男子，宜找贤淑、文静、有魅力、漂亮的女子为伴，能把花心的丈夫稳在家，且成为其忠实的助手。</p>
					<p>女子则宜找有魄力、英俊潇、幽默、乐观、开朗的男子为。他幽默有趣的语言，给她带来无穷的乐趣，他支持她的事业，并给她创造机遇，创造条件。</p>
					<h5>属狗B血型</h5>
					<p>属狗B血型人踏踏实实走自己的人生道路，个性执着，不会半途而废。 明辨是非，富于正义感，嫉恶如仇。对朋友忠心耿耿，朋友有难，全力以赴，知恩图报。性格坦率，开诚布公，从不搞阴谋诡计或出卖朋友，正直，不阿庚奉承，更不吹牛拍马，身怀绝技，靠自己的本事生活。 性格坚定，从不见异思迁，一旦选定了朋友，便永远珍惜。 个性顽固，心情不佳时，无论如何劝导安慰，都无动于衷。 任性而随心所欲，但不会伤害别人，心地善良，特别同情受苦难的穷苦人。 按自己的生活方式生活，不管别人怎样说他们死板、枯燥，仍我得我素，按自己固有方式生活。 一生平凡，不会有大的波折、坎坷，也无大的进展，巨变，在社会的底层过平淡充实的生活。</p>
					<p>属狗B血型人虽然一生平凡，但家庭非常甜蜜，令人羡慕。一心一意，爱着别人，关心体贴，无私奉献，不期待回报，只希望对方幸福。 婚后很幸福，象婚前一样关心体贴爱人。为爱人分忧解愁，为子女操心操劳，为家庭劳心劳力，尽自己最大可能使家人过得最好，而宁愿自己不吃不睡不休息。</p>
					<p>属狗B血型的男子宜找温柔、娴静、活泼、开朗的女子为妻。他欣赏她的娴静、温柔，她觉得他忠诚可靠，互相支持，互相爱护，互相关心。</p>
					<p>女子则宜找能干、稳重、积极进取、乐观向上的男子为伴，她做他的贤内助，他在外面一心一意地干事业。</p>
					<h5>属狗AB血型</h5>
					<p>属狗AB血型人外表冷漠坚韧，不苟言笑，冷眼相对，对人态度生硬，不友好，常常阴阳怪气，令人生畏。内心非常慈善温柔，做事一丝不苟，也反对别人马马虎虎，内心多愁善感，同情受苦受贫的人们，也愿竭尽全力帮助他们。勤奋踏实，刻苦努力，责任心特别强，做事细心，有条不紊。按部就班，没有开拓创造精神。平时小心谨慎，缺乏果断和机智，一生平凡不会有大的转机。即使有好的机遇，也把握不住，犹豫不定，不能做出重大决定，最后只好让机遇白白地浪费。平时自制力太强，规矩老实地复一日，年复一年的生活。虽然，但有一颗不平凡的心，长期相处，会发现他们非常亲切，富有人情味，非常慷慨大方，坦率诚挚，对父母，对子女都有强烈的情感，这种感情任何都无法比。</p>
					<p>属狗AB血型人内向含蓄，看起来平凡，实际内心感情很浓烈，外表木讷，沉默寡言，会通过媒人向对方爱意，然后进行传统的恋爱结婚。婚后生活非常幸福，会忠心耿耿，关心体贴对方，生活永远充满爱的光辉。</p>
					<p>属狗AB血型的女子，宜找活泼开朗、快乐稳重的男子为伴，喜欢他的，欣赏他的忠厚，他真心真意地关心体贴她，她的乐观，幽默又能给他带来快乐。生活永远充满阳光。</p>
					<h5>属狗O血型</h5>
					<p>属狗O血型人讲义气，重人情，有时宁愿自己吃亏也不麻烦别人，行为正直端正，对朋友，尽心尽力，朋友有难会全力以赴，甚至赴汤蹈火。对工作尽忠尽职，一丝不苟，嫉恶如仇，对坏人坏事进行坚决斗争，甚至献出自己宝贵的生命。 脑筋灵活，颇具偏能力，读书时成绩显著。工作中成绩卓越，深得老师领导的好评。但有时为了讨好同学、才师、领导的欢心，也作些阿庚奉承，趋炎附势的事来。 情绪不稳，遇事不够冷静，关键时刻甚至歇斯底里的大喊大叫，弄得人心惶惶不得安宁。 人际关系很好，常常呼朋唤友，欢聚一堂，高谈阔论引以为豪，常相信别人，对朋友言听计从，受他人言行左右而丧失自我，变得懦弱。 大都清高而正直，纵然吃点小亏也不计较。</p>
					<p>属狗O血型人对家庭忠心耿耿，对爱人忠心不二。对恋人百依百顺，婚后一如继往。</p>
					<p>属狗O血型的男子，宜找豁达、娴静、快乐而幽默的女子为妻。 女子则宜找乐观、幽默、沉稳、能干的男子为夫。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
