<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
{template system/header public}
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani11.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>狗（戌狗）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖狗的来历传说</h4>
					<p>传说，在玉帝下旨挑选十二动物当属相的时候，动物们都想当上属相，封为神。动物们都尽量把自己的优点表现出来。想在玉帝面前证明自己是人类的有力助手。不仅如此，动物们还都想把自己的位置排在前面，因此，都在争论谁对人类贡献大……猫和狗都同人的关系十分密切，猫认为狗吃得太多，成天只是趴在门，没什么贡献。狗认为猫成天只吃好的，也没干什么事，不过是念念经，吓唬吓唬老鼠，也没什么贡献，他们争执不休，于是一同到玉帝面前评理。</p>
					<p>玉帝问狗：“您一顿吃多少？”狗老老实实地回答：“我每天看门守园，一顿一盆。”玉帝又问猫：“您一顿吃多少？”猫灵机一动，说：“我会念经，抓老鼠，每顿吃一灯盏，猫只是想巧妙地告诉玉帝，也不只吃一灯盏。自己会自食其力，抓老鼠吃，那么，他的贡献就一会比狗大了。</p>
					<p>听了狗和猫的话，玉帝断定，猫吃得少干事多，贡献比狗大，狗一听，气愤极了，觉得猫用不光彩的谎言来胜了自己，于是就一边骂，一边追咬猫。猫自知理亏，一路跑个不停，到了家也不敢露面，东躲西藏，不敢出来。</p>
					<p>趁着猫躲避它的机会，狗连忙同鸡一块去天宫排队当属相，鸡连飞带跑，排到了狗的前面，躲在暗处的猫很久不见狗的影子，出来后才知道狗抢先排队当属相去了，它连忙飞跑到天宫，排在鸡的后面，哪知小老鼠耍了个手段，藏在牛角中抢先当了属相，猫结果与属相无缘。从此，猫恨透了鼠，见了就咬死，狗虽然当上了属相，但诚实正直的他始终不原谅猫，见了猫就追，直到今天也还是这样。</p>
					<p>在现实生活中，狗是人类最亲密的朋友。从远古的渔猎时代开始，人类就已经驯化狗为自己服务，捕捉猎物，看守家园，守护农田，放牧巡山。供人观赏。狗不仅是人类最亲密的伙伴。也是人类最忠诚的伙伴，任何情况下，狗都不会背叛自己的主人。狗以自己的忠诚，赢得了人类的信任，它作为人的属相是无可争议的。</p>
					<p>晚上7－－9时（即“戌”时).黑夜来临，狗看家，守夜的警惕性最高，并产生一种特殊的视力和听力，看得最远，听得最清楚，所以戌时属狗。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
