<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani05.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>龙（辰龙）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>肖龙的个性标签</h4>
					<dl>
						<dt><span class="f-ed0a91">龙守护神：</span>普贤菩萨</dt>
						<dt><span class="f-ed0a91">龙开运水晶：</span>粉晶</dt>
						<dt><span class="f-ed0a91">龙速配：</span>鼠、牛，鸡</dt>
						<dd>配鼠：任性的龙会给鼠的赞美打动，龙也欣赏鼠的踏实及幽默。</dd>
						<dd>配猴：大家都具有创造力，一拍即合，但猴不宜向龙使小手段。</dd>
						<dd>配鸡：鸡会崇拜龙，在龙遇挫折时，鸡会在旁边鼓励。</dd>
						<dt><span class="f-ed0a91">龙职场：</span>维持认真负责工作态度。</dt>
						<dt><span class="f-ed0a91">龙理财：</span>财运处理不当会影响生活。</dt>
						<dt><span class="f-ed0a91">龙性格：</span>令人难以捉摸。</dt>
						<dt><span class="f-ed0a91">导&nbsp;&nbsp;读：</span>龙年出生的人，有神龙般神秘变幻莫测的特质，个性令人难以捉摸。喜欢冒险、追求浪漫的生活，同时性情淡泊、不拘泥于世俗之见，自然而然给人一种大人物的风范。</dt>
					</dl>
					<p>龙年出生的人，因有神龙般神秘变幻莫测的特质，所以个性令人难以捉摸。属于富有野心的梦幻家。喜欢冒险、追求浪漫的生活，同时性情淡泊、不拘泥于世俗之见，自然而然给人一种大人物的风范。</p>
					<p>龙年出生的人心似汪洋变幻莫测，平日看来很懒散，整天坐着看电视，自己也不沉得有什么不妥当。可他一旦站起身来行动时，却比一般人更积极，更具有雄心壮志。</p>
					<p>龙年出生的人具有梦想家的倾向，所以当他为自己的梦想奋斗时，是十分热烈，可是一遭受挫折，这种热度立刻减退，灰心丧志，不肯再继续做下去。依据统计，一旦受挫便不再努力，立刻消失无踪的人群中，龙年生人占了十分大的比率。正因为龙年出生的人具有这种瞬间热衷事业，瞬间又心灰意懒的极端个性，所以龙年出生的人不适合担任长期固定的办公室的工作，龙年出生的人应该尝试能发挥个性，较自由自在的工作。</p>
					<p>龙年出生的男性具有很强烈的奋斗性，女性也十分顽强。因为龙年出生的女性有时表现出超过一般女性工作能力的女强人姿态，这种表现常导致男性的畏惧感，而延误了她的婚期。不过就一位现代女性来说，龙年出生的女性是能外出工作、帮助家计、典型的成功女性。</p>
					<p>龙年出生的人天生具有权威感，任何事都无法吓退这条龙。属龙的人对关心自己前途的事懂得最多最正确，他们通常有着令人惊异的目标使命。</p>
					<p>这种出众的风采不仅对属龙者的感情有利，他们也将这种魔力用在事业上。属龙的人并不贪求权力，或击溃他人以获得地位。他们生来就已经拥有了这些。</p>
					<p>如果有位属龙的人在您的生活中占有重要地位，而您觉得他对您的需要不够在意时，您不妨采用这项建议--哭！这种手段绝对有效，眼泪会软化属龙人的硬心肠，他们全都是多愁善感的人。</p>
					<p>龙年出生的人，具有很强的运势。一开始就如同有朝阳照耀，但过了三十五岁之后，运势就会稍为停滞。这种停顿并没有太大的妨碍，反而是养精蓄锐的好机会。只要难突破这段瓶颈时期，自会有更强的气势往前发展，走向成功。</p>
					<p>在感情方面，因龙年出生的人对感情相当脆弱，所以纵有很美好的恋情，也要以旁观者的眼光，冷静的观察对方是不是可以托付终生的人。以免将来生变，禁不起打击。在年出生的男女，都有晚婚的倾向。</p>
					<p>另外，属龙的人在行事之前欠缺熟虑，企图一步登天。自己的信念太强，不留意别人的意见，属龙的人还是一个梦想家，上了年纪仍追逐梦想，大言不惭，不甚照顾家庭等，所谓天真无邪的孩子气，无论岁数多大仍无法摆脱此一缺点。因此，更应该致力于培养成熟的人格，才不至于白白浪费了与生俱来的强运。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
