<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani09.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>猴（申猴）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>生肖猴的来历传说</h4>
					<p>猴在十二生肖中排行第九，与十二支配属“属”，故一天十二时辰中的“属时”－下午三点到正点又称“猴时”。</p>
					<p>传说老虎以镇山制兽之威名当上了曾王。当时山中百兽见了老虎都立即回避，老虎当然是既得意又感到孤独。猴子那时与老虎是邻居，二人称兄道弟，当虎王外出时，猴子便代行镇山之令。百兽慑于虎王的威风，也只好听猴子的召唤，这便是“山中无老虎，猴子称大王”的来历。</p>
					<p>一天，虎王不幸落入了猎人的网中，拼命挣扎也无法脱身，恰好猴子来了，虎王高喊救命。猴子见了，连忙爬上树，解开了猎人的网绳，救出了虎王。</p>
					<p>虎王脱险后，虽然嘴上在不住地感谢猴子老弟，心里却在盘算：我是百兽之王，竟然中了猎人的圈套，还是小小猴子搭救，这事猴子张扬出岂不灭了我虎王的威风，不如干掉猴子算了，可是转念一想，如今自己已经是孤家寡人了，再干掉猴子，今后连一个朋友也没有了。如果再有危险，谁来帮我呢？再说，猴子怕我，也决不也把今天的事说出来的。</p>
					<p>于是，老虎告诉猴子，今天的救命之恩，今后一定报答。猴子今后有什么为难之事，自己一定全力报答。猴子当然也对虎王遇险的事闭口不提，保全虎王的面子，在这之后，二人的关系更是非同寻常了。</p>
					<p>许多年之后，玉帝开始选生肖。身为百兽之王，老虎理所当然地当上了生肖。猴子一见，也想当生肖。可是玉帝挑生肖有条原则，那就是对人类有功。猴子对人类无功可言，自然选不上。于是猴子请虎王给玉帝求情，让他当生肖。虎王因为欠猴子的情，只好倾尽全力去帮猴子说情，于是，玉帝下旨，将猴子也列入生肖之中。</p>
					<p>猴子当上了生肖，虎王也还了猴子的人情。当然虎王也还是不高兴，没什么本事的猴子与自己并列为人间生肖，二人从此友情断绝。今天，百兽也不怕猴子了。当然，“山中无老虎，猴子称大王”这句大实话，今天也变成了讽刺的意思。</p>
					<p>下午3－－5时（即“属时”）。这时候，猴子最喜欢啼叫，声音拉得最长，最洪亮，所以属时属猴。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
