<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱情测试-星座、生肖、血型——真爱一生网</title>
{template system/js_css public}
<link href="module/lovestyle/templates/default/lovestyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
{template system/header public}
<div class="main">
	<div class="content">
	<!-- 生肖头部开始 -->
	{template public/lovestyle_ani_header module}
	<!-- 生肖头部结束 -->
	<!-- 左边开始 -->
	{template public/lovestyle_left	module}
	<!-- 左边结束 -->
		<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<span class="right-title f-ed0a91">生肖</span>
			</div>
			<div class="r-center-ccontent">
				<div class="lt-con-in" style="background:url(module/lovestyle/templates/default/images/ani10.gif) no-repeat top right;">
					<div class="lt-con-img"></div>
					<h1>鸡（酉鸡）</h1>
					<h6>
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=01">个性标签 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=02">来历传说 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=03">情缘手册 &gt;&gt;</a>&nbsp;&nbsp;
						<a href="index.php?n=lovestyle&h=animals&type={$typenum}&animalstag=04">爱情魔咒 &gt;&gt;</a>
					</h6>
					<h4>属鸡血型——破解您的爱情魔咒</h4>
					<h5>属鸡A血型</h5>
					<p>属鸡A型血的人严格律己，一丝不苟，做事决不马马虎虎，草率了事，更不会模棱两可，努力帮助别人，如果朋友有难会全力以赴。</p>
					<p>口齿伶俐，活泼灵巧，能因时因地而适时恰当地表现自己，不重视个人得失。对事物能作出正确迅速的判断，并发表有创建的意见。</p>
					<p>性格倔强，从不服输，从不承认自己的弱点，个性坚强，积极进取，事业很强。爱憎分明，对自己好恶的事物相当明显，对敌人恨之入骨，对朋友则非常坦诚。</p>
					<p>属鸡A血型的人爱情洋溢着浓情蜜意，总是小心翼翼地怕伤害对方，结果真的伤害了，对方会认为他很虚伪。因此，应改进恋爱方式，以诚相待，有时暴露一点缺点，还显得更可爱。</p>
					<p>属鸡A血型的女子活泼可爱，乐观幽默而打扮得绚丽多彩，那些稳重、老成、温善、坦率、有成就的男子很适合她。</p>
					<p>属鸡A血型的男子则宜找宽容、大度、稳重娴静的乐观女子为妻。</p>
					<h5>属鸡B血型</h5>
					<p>属鸡B血型人独来独往，不喜欢受人指使，平时摆出一副傲然的姿态和，自尊心特别强，感情起伏较大，有进目文凭一切，有时又极富同情心。反抗意识强烈，容易和别人冲突，有时甚至不顾一切地斗争。爱出风头，自作主张，常常痛斥别人，也遭到别人的痛斥。办事认真，一丝不苟，不喜欢敷衍了事，作事从不马虎。有天才的判断力和卓越的行动能力，以信处理繁杂事务的能力，但一生坎坷。也许太好斗，权利敌太多，缺乏恧耐心和毅力，阻碍了成功。天真烂漫而热情真诚，在爱人面前心花怒放，热情亲切。</p>
					<p>属鸡B血型的女子，宜与积极进取、沉稳、老练、能干的男子为伴，她能操持家务，解决爱人的后顾之忧。</p>
					<p>男子则宜找温柔、娴静、稳重、善解人意的女子为妻。</p>
					<h5>属鸡AB血型</h5>
					<p>属鸡AB血型的人，心直口快，深得人缘，有一颗善良的心，以诚相待，坦率直爽，与人交往，真心直意，关心别人，乐于助人。</p>
					<p>表达能力无与伦比，常常晓之以理，动之以情，使别人受到感动。有很强的工作能力和号召能力，能成为团体的领导核心人物。做事严谨，有条不紊，做任何事都精心策划，按部就班，一丝不苟，不但做得井井有条，而且质量上乘，不管哪方面都不愿意落后于人，好胜心极强。精力旺盛，对感兴趣的事从不知疲倦。聪颖而机敏，朋友又多，好运不断，缺乏耐心、毅力和刻苦精神。</p>
					<p>属鸡AB血型人的爱情，浓烈而热情，灿烂而辉煌。但对自己恋人的猜忌心很重，爱得越深，怀疑嫉妒心理就越强。所以应尊重对方，给对方自由，爱情之花才会愈开愈艳。</p>
					<p>属鸡AB血型的女子，聪明伶俐，社交活动活跃，追求者众多，宜找稳重、成熟、老练、谨慎、积极进取的男子为伴。男子则应挑选沉稳、谨慎、娴静、豁达的女子为妻。</p>
					<h5>属鸡O血型</h5>
					<p>属鸡O血型的人聪明灵巧，领悟力极强，遇事灵活机智，融会贯能，解决巧妙。平时心思细密，处理合情合理，虽设身处地为别人着想，但性格倔强，从不服输，有时还难免与人争吵。</p>
					<p>办事认真，一丝不苟，不喜欢敷衍了事，做事从不马虎。有很强的判断能力和卓越的领导才能，但玩世不恭，游戏人生。虽游手好闲，但很有正义之心，为为正义事业不惜赴汤蹈火。喜欢豪华富丽，五彩缤纷，不管在任何场合，都喜欢别人注目，不过的确精明能干。</p>
					<p>一生机遇很多，人生的旅途也美丽辉煌，但是欠缺实践精神，大好的机遇，一个又一个地从身边溜走。恋爱时对爱人忠心耿耿，尽心尽力侍奉，婚后就会原形毕露。</p>
					<p>属鸡O血型的男子，宜找娴静、文雅、稳重、贤惠、大度、坦率的女子为妻。女子则宜找朴实、敦厚、忠诚的男子为伴。</p>
					<div class="clear"></div>
				</div>	
			</div>
			<div class="r-center-bottom">
			</div>
			<div class="clear"></div>
		</div>
	</div><!--=====右边结束===-->
				
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
