@charset "utf-8";
/* CSS Document */

.wrap{width:620px;}
.bg{height:880px; background:url(../images/girlMail1.png) no-repeat center top;}
.blank{height:670px; width:540px; border:2px solid #C6DF9E; background:white; top:120px; left:40px;}
.list{color:#30302E; font-size:14px;}
.list li{margin-top:20px; width:500px;}
.only,.condition{line-height:200%;}
.see a{color:#00A5E7; text-decoration:underline;}
.condition{color:#F91256;}
.only{text-indent:2em;}
.photo li{height:175px; width:110px; background:url(../images/member.png) no-repeat center top; float:left; display:inline; margin-left:15px; position:relative; overflow:hidden; text-align:center;}
.photo li img{ position:absolute;top:8px; left:6px;}
.photo li p{bottom:5px; left:25px;}
.photo li p a{text-decoration:underline; color:#393937;}