body{margin:0;padding:0;color:#192e32;font:12px "sans-serif","Arial","Verdana"}
p,td,div{font:12px "sans-serif","Arial","Verdana"}
th{font:12px "sans-serif","Arial","Verdana";font-weight:bold}
form{margin:0;padding:0}
input,textarea,select{font:12px "courier new"}
a:visited{color:#335b64;text-decoration:none}
a:link{color:#335b64;text-decoration:none}
a:hover{color:#eb8a3d;text-decoration:none}
a:active{color:#eb8a3d;text-decoration:none}
.clear{clear:both;float:none;font-size:0;margin:0;padding:0;display:block}
.nowrap{white-space:nowrap}
#view_info{margin:0 auto;width:100%;overflow:hidden;text-overflow:ellipsis}
#view_info .userpic{float:left;margin:10px;width:18%}
#view_info .info1{float:left;margin:5px;width:18%}
#view_info .info2{float:left;margin:10px}
.userOtherFun{width:96%;margin:0 auto}
.userOtherFun ul{padding:0;margin:0;height:25px;width:100%;border-bottom:1px solid #3e679a}
.userOtherFun ul li{padding:0 5px;margin:0;height:25px;margin-right:3px;float:left;display:inline;border:1px solid #3e679a;border-bottom:0}
.list-div .userOtherFun ul li a{margin:0;height:25px;display:inline-block;line-height:25px;text-align:center;text-decoration:none}
.list-div .userOtherFun ul .currentLink{background:#3e679a;color:#fff}
.userOtherFun .userOtherFun_content{width:100%;height:auto;border:1px solid #3e679a;border-top:0;margin-bottom:15px;background:#cedaea;padding-bottom:10px}
.userOtherFun .userOtherFun_content div{background:#cedaea;width:99%;height:auto;padding:0;margin:0 auto}
.userOtherFun .userOtherFun_content div table{background:#cedaea;width:100%}
.userOtherFun .userOtherFun_content div table tr td{background:#cedaea}
.userOtherFun .userOtherFun_content div table .textword{width:100%}
.userOtherFun .userOtherFun_content div table .textword td{border:1px solid #4b76ac}
.userOtherFun .sysbtn{border:1px solid #4b76ac;background:#3e679a;width:90px;height:25px;line-height:22px;color:#fff;cursor:pointer}
.thispageTable table tr td{background:#e6f0fd}
.info1 td{height:15px!important;line-height:15px!important}
.info1 .desc{font-weight:bold;color:#333;text-align:right;width:40%}
.info1 .desc2{color:#333;text-indent:10px}
.info1 .title{background:#8db2e3;width:100%;height:25px;text-align:center}
.info1 .title span{display:block;margin:0 auto;width:100%;height:20px;line-height:20px;font-weight:bold}
.table_list{width:96%;margin:0 auto;padding:0}
.table_list ul{padding:5px;margin:0;width:100%;border-bottom:1px solid #CCC}
.table_list ul li{list-style-type:none;padding:2px 0;padding-left:20px}
.table_list ul li.ul_title{padding-left:3px}
