@charset "utf-8";
/* CSS Document */
body{
	font-size:12px;
	}
.content-lift,.c-lift-content,.c-lift-title,.c-lift-content-in,.c-lift-bottom,.left-photos,.photo-box{
	width:220px;
	float:left;
	}
.c-lift-title,.c-lift-bottom{
	background:url(images/left-title.gif);
	}
.c-lift-title{
	height:27px;
	text-align:center;
	font-size:14px;
	color:#FFF;
	line-height:27px;
	font-weight:700;
	}
.c-lift-bottom{
	height:8px;
	background-position:bottom;
	font-size:0px;
	margin-bottom:5px;
	}	
.c-lift-content-in{
	background:url(images/left-bg.gif);
	}	
.in-pic{
	width:173px;
	height:247px;
	background:url(images/photo.gif) no-repeat;
	padding:0;
	*padding:0 0 0 1px;
	_padding:1px 0 0 1px;
	}
.in-pic,.photo-show-in,.left-likes-img{
	text-align:center;
	vertical-align:middle;
	display:table-cell;
	overflow:hidden;
 	position:relative;
	}	
.in-pic p,.photo-show-in p,.left-likes-img p{
	position:static;
 	+position:absolute;
	top:50%;
	*margin:3px 0 0 4px;
	}
.in-pic p img,.photo-show-in p img,.left-likes-img img{
	position:static;
 	+position:relative;
 	top:-50%;left:-50%;
	}	
.pic-show{
	margin:15px auto;
	height:247px;
	width:173px;
	}
.photo-last,.photo-next{
	float:left;
	display:inline;
	padding-top:15px;
	}
.photo-last{
	margin-left:7px;
	}
.photo-next{
	margin-right:5px;
	}	
.photo-show{
	width:165px;
	height:66px;
	background:url(images/photos.gif) no-repeat;
	float:left;
	margin:0 4px;
	display:inline;
	padding:1px 0px 1px 1px;
	}	
.photo-show-in{
	width:52px;
	height:66px;
	padding-left:1px;	
	}
.citystar{
	position:absolute;
	margin:5px 0 0 5px;
	z-index:2;
	}	
.set-photos{
	text-align:left;
	line-height:24px;
	padding:10px;
	padding-left:80px;
	}
.left-match{
	text-align:center;
	}
.left-match a{
	font-size:14px;
	color:#d73c90;
	}
.left-match .icon{
	line-height:24px;
	background:url(images/magic.gif) no-repeat;
	padding-left:18px;
	}	
.left-match .big-f{
	font-size:30px;
	}
.c-left-list{
	padding:20px 0 20px 22px;
	}	
.c-left-list li{
	margin-bottom:10px;
	background:url(images/left-li.gif) no-repeat;
	width:177px;
	height:27px;
	}
.c-left-list li a{
	background:url(images/icons.gif) no-repeat;
	line-height:27px;
	padding-left:37px;
	font-size:14px;
	color:#d73c90;
	text-align:center;
	display:block;
	}
.c-left-list li .left-list01{
	background-position: 20px 5px;
	}
.c-left-list li .left-list02{
	background-position: 20px -28px;
	}
.c-left-list li .left-list03{
	background-position: 20px -63px;
	}
.c-left-list li .left-list04{
	background-position: 20px -98px;
	}
.c-left-list li .left-list05{
	background-position: 20px -133px;
	}
.c-left-list li .left-list06{
	background-position: 20px -168px;
	}
.c-left-list li .left-list07{
	background-position: 20px -203px;
	}
.c-left-list li .left-list08{
	background-position: 20px -238px;
	}
.c-left-list li .left-list09{
	background-position: 20px -273px;
	}	
.c-left-list li a:hover{
	color:#F00;
	}	
.c-left-list li a span{
	float:right;
	padding-right:10px;
	}	
.go-know{
	width:174px;
	height:37px;
	background:url(images/go-konw.gif);
	display:block;
	margin:20px auto 0;
	}
.left-likes{
	float:left;
	padding:10px 0 0 10px;
	position:relative;
	}	
.left-likes dt,.left-likes dd{
	float:left;
	}	
.left-likes dd{
	width:80px;
	line-height:20px;
	padding-left:15px;
	}
.left-likes dd.f-b-d73c90{
	margin-top:10px;
	}	
.left-likes-img{
	background:url(images/likes-img-bg.gif) no-repeat;
	width:100px;
	height:125px;
	padding:4px 5px 3px 4px;
	}	
.left-likes-img a:hover{
	background-position:
	}
.left-more{
	float:right;
	color:#000;
	font-size:12px;
	margin:10px 15px 5px;
	display:inline;
	}
.left-more:hover{
	text-decoration:underline;
	}	
.content-right,.c-right-content,.r-c-bottom-banner{
	width:755px;
	float:right;
	}	

.right-title{
	line-height:29px;
	font-size:14px;
	font-weight:700;
	padding-left:10px;
	}
.right-data{
	padding:20px 0 0 20px;
	float:left;
	}	
.right-data dt,.right-data dd{
	float:left;
	width:670px;
	line-height:32px;
	height:32px;
	}
.right-data .fright{
	width:200px;
	}	
.right-data .fright img{
	float:left;
	margin-top:5px;
	}	
.r-center-tilte,.r-center-bottom{
	background:url(images/right-title.gif);
	float:left;
	width:755px;
	}
.r-center-ccontent{
	border-left:1px solid #e8e5e5;
	border-right:1px solid #e8e5e5;
	width:753px;
	float:left;
	}
.r-center-tilte{
	background-position:top right;
	height:29px;
	}	
.r-center-bottom{
	background-position:bottom right;
	height:4px;
	font-size:0px;
	}	
.right-cer,.right-cer li{
	float:left
	}
.right-cer li{
	width:120px;
	}
.right-cer li a{
	color:#666;
	}
.right-cer li a:hover{
	color:#000;
	}	
.cer-phone-yes,.cer-phone-no{
	background:url(images/ren1.gif) no-repeat;
	padding-left:25px;
	}
.cer-card-yes,.cer-card-no{
	background:url(images/ren2.gif) no-repeat;
	padding-left:30px;
	}
.cer-email-yes,.cer-email-no{
	background:url(images/ren3.gif) no-repeat;
	padding-left:35px;
	}
.cer-video-yes,.cer-video-no{
	background:url(images/ren4.gif) no-repeat;
	padding-left:30px;
	}	
.cer-phone-yes,.cer-card-yes,.cer-email-yes,.cer-video-yes{
	color:#d73c90;
	}
.cer-phone-no,.cer-card-no,.cer-email-no,.cer-video-no{
	background-position:left bottom;
	}
.all-data,.all-data p{
	background:url(images/data-bg.gif);
	float:left;
	height:13px;
	font-size:0px;
	}	
.all-data{
	width:298px;
	margin-top:10px;
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	}
.all-data p{
	position:relative;
	border-left:1px solid #f2a4ce;
	border-right:1px solid #f2a4ce;
	background-position:0 -13px;
	}
h4{
	font-size:14px;
	height:32px;
	border-top:1px solid #e8e5e5;
	border-bottom:1px solid #e8e5e5;
	background:#f0eff0;
	line-height:32px;
	padding-left:20px;
	}
.right-base-data{
	float:left;
	width:753px;
	margin-top:30px;
	}
.right-base-data.myvideo{
	background:url(images/video-box-bg.gif) no-repeat bottom right;
	height:248px;
	}
.right-base-data.mysound{
	background:url(images/sound-box-bg.gif) no-repeat bottom right;
	height:200px;
	}	
.right-base-data ul{
	padding:30px 0 0 20px;
	float:left;
	}
.right-base-data li{
	width:233px;	
	}
.right-base-data li,.right-base-data p{
	line-height:22px;
	padding-left:10px;
	float:left;
	}	
.right-base-data p{
	padding:0 30px;
	width:690px;
	}	
.right-base-data dl	{
	width:690px;
	padding:30px 0 0 30px;
	}
.right-base-data dd{
	line-height:24px;
	}	
.right-base-data p.my-heart{
	margin-top:30px;
	text-indent:24px;
	}
h4 a{
	float:right;
	padding-right:15px;
	padding-left:20px;
	background:url(images/th-icon.gif) no-repeat 0 7px;
	font-size:12px;
	font-weight:400;
	}	
.r-c-bottom-banner{
	margin-top:20px;
	}	
/*=====添加的视频和录音====*/	
.photo-box-show{
	width:157px;
	height:125px;
	background:url(images/video-show-bg.gif) no-repeat;
	margin-top:40px;
	margin-left:25px;
	float:left;
	display:inline;
	}
.photo-img-box{
	width:133px;
	height:91px;
	top:11px;
	left:11px;
	position:relative;
	}
.paly-video{
	background:url(images/play-video.gif) no-repeat;
	width:52px;
	height:52px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-26px;
	margin-left:-26px;
	filter:alpha(opacity=50);
	opacity: 0.5;
	}	
.paly-video:hover{
	filter:alpha(opacity=70);
	opacity: 0.7;
	}
.mysound-box-show,.mysound-box-show a{
	width:159px;
	height:60px;
	}
.mysound-box-show{
	float:left;
	margin-top:40px;
	margin-left:25px;
	display:inline;
	}
.mysound-box-show a{
	background:url(images/sound-show-bg.gif) no-repeat;
	display:block;
	}	
/*=====================*/	
/*===匹配度=====*/
.match-table{
	margin-top:20px;
	font-size:14px;
	}
.match-table th{
	color:#d73c90;
	}
.match-bg-box{
	width:100%;
	height:570px;
	background:url(images/match-bg.jpg) no-repeat bottom right;
	}
.match-table td.hbg{
	border-bottom:1px solid #e8e5e5;
	border-top:1px solid #e8e5e5;
	background:#f0eff0;
	}	
/*=============*/
/*城市之星*/
.bottom-getit{
	padding-top:40px;
	text-align:center;
	float:left;
	}
	
/*底部添加样式*/
.bottomnav{
	float:left;
	width:753px;
	border-top:1px dashed #ccc;
	padding-bottom:10px;
	}
.b-title{ float:left; padding:15px; color:#d73c90; font-size:14px}	
.bottom{
	float:left;
	width:753px;
	}
.bottom li{ float:left; margin-left:5px; margin-right:5px;}	