<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网-爱情测试</title>
<link rel="stylesheet" type="text/css" href="public/system/css/global_import.css">
{template system/js_css public}
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/font.css">
<style type="text/css">
@import url("module/lovestyle/templates/{$GLOBALS['style_name']}/lovestyle.css");
</style>
</head>
<body>
{template system/header public}
<!--头部结束-->

 <div class="clear"></div>
    <div class="main">
     {template system/nav public}
      <div class="result">
        <div class="add">
        <div class="addtext">
         <font class="d22224">您的恋爱风格</font>：<font class="f68">您追求有新鲜感，充满乐趣的爱情。</font>
         </div>
        <span><a href="index.php?n=lovestyle&amp;h=clean" class="yes" style="margin-top:50px;">再测一次</a></span>        </div>
        <div class="clear"></div>
        <div class="test_result">
         <div class="top">
           <span>您共完成了{if isset($total)}{$total}{/if}道爱情测试题</span>
         </div>
         <div class="resultbox" >
            <div class="love_result">
              <div class="roundtop"></div>
              <div class="roundmiddle">
                <div class="sidebar">
                  <div class="textdot">
                  1
                  </div>
                <a href="index.php?n=loveing&h=hntesta&tcid=1">真爱一生第一道测试</a>
                </div>
                <div class="love_rightbar">
                  测试介绍测试介绍测试介绍测试介绍测试介绍测试介绍测试介绍
      
                </div>
              
              </div>
              <div class="roundbttom"></div>
            
            </div>
            <div class="love_result">
              <div class="roundtop"></div>
              <div class="roundmiddle">
                <div class="sidebar">
                  <div class="textdot">
                  2
                  </div>
                <a href="index.php?n=loveing&h=hntestb">真爱一生第二道测试</a>
                </div>
                <div class="love_rightbar">
                   测试介绍测试介绍测试介绍测试介绍测试介绍
                </div>
              
              </div>
              <div class="roundbttom"></div>
            
            </div>
            <div class="clear"></div>
            <div class="gone">
              <a href="index.php?n=service" class="yes">前往服务中心</a>
            </div>
         </div>
         
        </div>
      </div>
        
        
        <div class="clear"></div>
        
      </div>     
  
       <!--左边结束-->
       
  
 <div class="clear"></div>
{template system/footer public}

</body>
</html>
