					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img13_2.jpg" /></dt>
								<dd>情感专家黄一鸣</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>情感专家黄一鸣</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>汉语言文学专业</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">心理咨询师、婚介师、安徽婚介行业协会会员。擅长情感分析指导，两性关系，家庭关系处理等。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>黄一鸣老师从业4年，成功牵手840多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">黄一鸣老师被评为：“真爱一生网”高级婚恋咨询顾问、“真爱一生网”最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">“方便面”与“絮语”，都是东北人，都带着一些急躁的脾气。他们走到一起的过程比较坎坷，曾经分手过两次，在第三次时候终于走到了婚姻的殿堂。他们曾想过就这样让双方成为彼此的过客，不再来往。后来我告诉他们感情生活中如果只是一帆风顺，也许对于以后的家庭并不是特别好，也许会在未来经不起风吹雨打，现在的双方磨合才是真正为以后的美好做铺垫。最终，彼此的牵挂让他们走入婚姻。在他们结婚的时候，也给我寄来了他们的喜糖。不过我并没有吃，只想留作最珍贵的纪念。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">你在岸的这头，他在岸的那头，无声的思念，默默的凝视，却无法渡过那河。我愿化身为船，帮你们乘风破浪，再续你们前世的缘分。</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>我们认识半年多了...和他在一起的日子是我这辈子最美好的...自从和大壮壮认识,这才知道什么叫做恋爱..原来自己以前的恋爱状态都是假的,这才是真的！大壮壮对我很好很好！我真的觉得自己是这个世界上最幸福最幸运的人！可能是缘分的原因吧..我们是说不上来的那种默契..有时候一些事情都让我们自己觉得可怕！为什么那么多一样的地方,那么多的共同点！真的是合拍到了极点！我真的要感谢真爱一生网感谢黄一鸣老师.要不是在这里,我也不会遇到他，祝福好人有好报。</dt>
									<dd>——徐珊珊（ 广西&nbsp;&nbsp;桂林）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我在真爱一生网认识了她。在网上聊的时候，我感觉一般，没什么特别的。想起我们第一次见面的场景，一辈子也忘不了。她的出现，让我觉得，最大的幸运莫过于此了，谢谢黄一鸣老师，衷心感谢。</dt>
									<dd>——凌光伟（福建&nbsp;&nbsp;黄龙）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>
我们在真爱一生网相遇,感谢真爱一生网给了我们这个平台,也感谢黄一鸣老师的牵线和指点我们以在10年11月20日结婚了,现在的生活非常幸福!</dt>
									<dd>——王林（黑龙江&nbsp;&nbsp;黑河）</dd>
								</dl>
								<!--
								<dl class="member-msg-list">
									<dt>真爱一生加油！婉容努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，婉容，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
								-->
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/hn_13.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_14.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_15.png" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>