					<div class="mmc-r-c" >
						<div class="mm-show" >
							<dl class="mm-show-photo">	
								<dt><img src="module/hnintro/templates/default/images/l-img01_2.jpg" /></dt>
								<dd>资深情感专家刘飞</dd>
							</dl>
							<div class="mm-show-text" >
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>资深情感专家刘飞</h6>
								<dl class="show-text">
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学硕士</dd>
									<!--
									<dt>职业资格等级：</dt>
									<dd>国家二级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>2009年中国婚恋行业10大标志性人物</dd>
									<dt>&nbsp;</dt>
									<dd>安徽婚介行业协会优秀会员</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网首席婚恋顾问</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网会员最满意真爱一生</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>2659对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>6年</dd>
									-->

								<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
								<dd style="height:auto">情感专家、国家心理咨询师、婚姻家庭咨询师、高级婚介师、婚姻家庭心理问题咨询专家，16家电视台、电台、报社、大专院校特邀情感专家及心理咨询专家.</dd>
								<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
								<dd style="height:auto">刘飞老师自2001年开始涉足婚姻家庭的情感及心理咨询领域，主要致力于解决恋爱、婚姻、家庭生活中的情感问题、心理问题，在长达11年的心理咨询过程中，成功化解1340多起情感纠纷及心理问题案子，促成了1560多对有情人成功牵手，2009年被“真爱一生网”聘为首席情感专家。</dd>
									
								</dl>
								<!--<h6>成功案例之浓墨重笔：</h6>
								<p>在我成功撮合的两千六百多对男女中，最让我骄傲的就是帮助一位在车祸中失去双腿的小伙子找到了一位能和他共度一生的好姑娘，每次看着他们给我寄来的结婚照，我都非常有成就感！</p>
								-->
							
								</div>

								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>非常感言刘飞，那场车祸虽然让我失去双腿，却让我找到了一位好妻子，而这都是在刘飞的帮助下实现的，再次衷心感言刘飞，祝您身体健康，万事顺利！更祝真爱一生网蒸蒸日上，也祝全天下的有缘人在真爱一生网的帮助下终成眷属！</dt>
									<dd>——不屈雄鹰（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我是一个很自卑的人，长的普通，也没钱，对爱情从来都不敢有什么奢望，但是刘飞的鼓励和真心帮助，让我有了月月，感谢！</dt>
									<dd>——沧海一栗（安徽&nbsp;&nbsp;阜阳）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>注册真爱一生网只是我的一次无心，但刘飞却拿出了她的百分百真心来为我服务，也正是在她的不懈帮助下，让我和现在的太太结成了良缘，非常感言！</dt>
									<dd>——张定国 （山西&nbsp;&nbsp;太原）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>大恩不言谢，您就等着吃我的喜糖吧！</dt>
									<dd>——一个幸福的男人(北京)</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>真的没想到像我这么普通的女孩子能够和米修这样优秀的男人在一起，而这都是刘飞您促成而当。现在我的生活真的很愉快。衷心祝您合家幸福，生活愉快！</dt>
									<dd>——春雨织锦 （新疆&nbsp;&nbsp;喀什）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m1-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m1-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m1-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>