					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img04_2.jpg" /></dt>
								<dd>优秀真爱一生赵鹏</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生赵鹏</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育与文学双学士)</dd>
									<dt>职业资格等级：</dt>
									<dd>国家二级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>安徽省婚介行业优秀新人</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1600对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>4年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>营销管理专业本科</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">婚姻家庭咨询师、婚介师，擅长中年女性的心理、生活、情感分析。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>赵鹏老师从业4年，成功牵线1030对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">赵鹏老师被评为：真爱一生网高级婚恋顾问、真爱一生网最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">我做的特别成功的是上海的‘小伙子’和南京的‘艳娜’，刚开始推荐给男士的时候，男士觉得异地恋不可以长远，在双方沟通的时间内，我每次都指导男士怎么去经营一段异地恋，在五一的时候两位步入婚姻的殿堂，当时男士给我来电话，说谢谢赵鹏老师给我这么的指导，教我怎么去维持双方的感情，当时男士的母亲也给我说了谢谢之类的话，现在回想起来挺开心的，再次证明，爱情是可以战胜距离的。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">每一个追寻者都有心力交瘁的时候，弱者，用叹息，结束自己的心，真诚者，用艰辛支撑着爱的意志!</dd>
								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>做过的成功案例有很多，记忆深刻的是让一对快五十多岁的叔叔和阿姨喜结良缘，他们各自都有过一段婚姻，不幸的是彼此的爱人都去世了。这个案例让我更加关注起那些人到中年，有过婚姻经历，却因为或离异或爱人早逝而又孤身一人的会员，其实人生之路已经走到一大半的他们对情感的需求更加强烈，也更加需要爱人的抚慰！我会努力！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>小伙子人挺不错，说话挺实诚的，条理也很清晰，更要衷心谢谢您帮我在快到知天命的岁数还能再成就一段姻缘。</dt>
									<dd>——夕阳无限好（湖南&nbsp;&nbsp;常德）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>赵鹏为人很热情，爽朗，对于我的一些困惑总是不厌其烦的一遍遍解答。本来上真爱一生网也就是来看个热闹，纯粹是“到此一游”，最后却成了真爱一生的钻石会员，更完美的是还真让我找到一个情投意合的女朋友，而这都是赵鹏的功劳</dt>
									<dd>——云卷云舒（上海）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>赵鹏，没有您我和我的大灰狼不会相遇，继续加油哦！</dt>
									<dd>——小白羊（浙江&nbsp;&nbsp;杭州）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>赵鹏哥，我已经上班了，待遇不错，您说的对，我要想给她幸福首先就要有一份稳定的工作。我跟她现在很快乐，未来的生活我相信一定是很美满的。</dt>
									<dd>——超凡浩然（江西&nbsp;&nbsp;南昌）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>从来没有恋爱经历的我在真爱一生网上收获了一份甜蜜的爱情，要是没有赵鹏哥的帮助，爱情对我而言还是遥不可及的。</dt>
									<dd>——天涯共此时（海南&nbsp;&nbsp;三亚）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m4-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m4-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m4-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>