					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img12_2.jpg" /></dt>
								<dd>情感专家马洁</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>情感专家马洁</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学本科</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">婚介师，擅长婚恋心理咨询、中年女性现代婚姻观。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>马洁老师从业4年，成功牵线950多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">马洁老师被评为“真爱一生网”中级婚恋顾问、“真爱一生网”最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">看过这么多，最让我感动的是一对黄昏恋。地域的差异，家庭的阻碍，一度让双方徘徊在放弃的边缘，不断的鼓励和坚持，终于修成正果，看到寄给我的全家福。满满的一大家子，溢于言表的幸福，让每个人感动。情比金坚，爱情无年龄界限..真心祝福他们！</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">幸福没有捷径，只有用心经营！</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>他是我在真爱一生网上遇见的第一个男生，却不是第一个约会的男生，每次在线聊天都因为种种原因而告败，周周折折一个月过去了，终于我们能成功连线啦！记得见面的那天，真的好激动，因为他好像就是我一直在等的那个人！第一次的约会真的很有趣，没有尴尬，没有距离。真的一见如故，相见恨晚啊！交往了一段时间，我们确立了恋爱关系。在一起的日子，有苦有甜。走过后，才知道，我们终于找对了人，谢谢马洁老师的鼓励，我终于找到了自己的幸福。</dt>
									<dd>——霍思雨（ 四川&nbsp;&nbsp;宜宾 ）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>缘相近，分相吸，感谢真爱一生网的平台，感谢马洁老师的牵线，也感谢缘分的妙不可言。</dt>
									<dd>——叶风（湖南&nbsp;&nbsp;韶山）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我的幸福，是因为遇见了你；我的幸福，是因为拥有了你；我的幸福，是因为爱上了你。</dt>
									<dd>——靖宇（江苏&nbsp;&nbsp;常州）</dd>
								</dl>
								<!--
								<dl class="member-msg-list">
									<dt>真爱一生加油！婉容努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，婉容，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
								-->
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/hn_10.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_11.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_12.png" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>