					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img03_2.jpg" /></dt>
								<dd>优秀真爱一生过娟</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生过娟</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学硕士</dd>
									<dt>职业资格等级：</dt>
									<dd>国家二级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>安徽婚介行业协会优秀会员</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网最佳真爱一生</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>2390对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>5年</dd>
								-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学在读研究生</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">高级婚介师。擅长情感诊断与测验、恋爱心理咨询、婚恋情感问题分析等。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd style="height:auto">过娟老师从业4年，成功牵线920多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">过娟老师被评为：真爱一生网高级婚恋顾问、真爱一生网最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">茫茫人海，有缘千里来相聚。曾经帮助两位相聚两千公里的离异男女走入婚姻殿堂，这是让我最感动的一对恋人。相处中遇到很多坎坷，见面前女士一度想要放弃，是男士一直锲而不舍，用自己的真心和真诚打动了女方，两人顺利走入婚姻，每次看到他们的结婚照，内心都非常激动。只要两个人彼此相爱，距离不再成为阻碍彼此之间的障碍物。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">只要移除了障碍，每个人都能发展为成熟而完全实现自我的人，就好像一颗橡树籽终将成长为高大的橡树一样。</dd>


								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>曾经做过的最成功的一个案例就是为飞侠与大海宝贝两个牵线，从接受服务委托到他们两人结婚一共历时三个月，创造了我的职业顾问生涯成功最快记录。不过记录的诞生就是为了被打破，我相信更快的记录就在下一站。</p>
								<p>前几天我受到了他们给我寄来的一家三口的合家福照片，看着他们幸福的样子，我深深地为网络真爱一生这份职业感到自豪！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>过娟让我找到了我的那个她，都说有缘千里来相会，可若是没有真爱一生网这个平台，没有过娟这个月下真爱一生，即使有缘，我们恐怕都要擦肩而过！</dt>
									<dd>——飞侠（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>服务态度好，专业水平高，最让我佩服的就是她看人的眼光。当时同时看上了3个女孩，不知该如何选择，于是就征询过娟的意见，情过娟毫不犹豫的建议选择洛丽塔，就是我现在的女朋友，我问她原因，她只说了一句话，因为合适。</dt>
									<dd>——面朝大海（河北&nbsp;&nbsp;石家庄）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>过娟，或许您会说帮助我们手拉手相伴一生是您的工作，是您应该做的。但我必须要告诉您，没有您的存在，这个世界会少了很多幸福，所以请为自己骄傲吧！</dt>
									<dd>——秋天玫瑰香（黑龙江&nbsp;&nbsp;齐齐哈尔）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>原以为想要寻求到一份真爱是这个世界上最难的事情，但您却让这一切看起来都是那么的简单。我们的宝宝快要出生了，将来我会让他或者是她知道，爸爸和妈妈的结合是由天上的一位真爱一生牵线的，这个真爱一生的名字是—过娟</dt>
									<dd>——快乐从此刻开始（上海）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m3-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m3-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m3-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
