					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img09_2.jpg" /></dt>
								<dd>优秀真爱一生吴敏</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生吴敏</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>汉语言文学学士</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">高级婚介师、婚姻家庭心理问题咨询专家。擅长年轻男女的婚恋指导。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>吴敏老师从业5年，成功牵线姻缘1260多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">吴敏老师被评为：真爱一生网高级婚恋顾问、真爱一生网十佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">我印象最为深刻的是我成功牵线的第1000对会员。“秋水映月”是湖北武汉一位单亲家庭的女孩子，之前经历过一次恋爱，因为对方父母觉得单亲家庭的孩子可能性格缺陷，强行中断了两人的恋情，使女孩倍受打击。在我的服务下，她结识了“明天”，“明天”对于女孩子的经历很同情，但其母亲开始时不太喜欢这样经历的女孩子。于是我将服务延展至男孩的母亲。经过我细致的沟通与剖析，男孩的母亲终于被我说服，同意与女孩子见面。结果一接触，她发现女孩子很细心，给我说“打心眼喜欢这个姑娘”，于是，男孩女孩于2010年7月20确定了恋爱关系，2010年12月份订婚，并于去年结婚，目前定居武汉汉口。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">真爱一生网的宗旨是为成就天下姻缘，我愿为此付出我的心血，以辅助天下有情人都能早日找到属于自己的幸福。祝：天下有情人终成眷属！</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>曾有人说：前世五百次的回眸，才换来今生的一次擦肩而过。那个将和我牵手一起走过的人，一定是前世与我许下了今生的约定，感谢吴敏老师帮我寻找到了你，寻找到了这伟岸的背影和坚实的背脊。</dt>
									<dd>——心梦（长沙&nbsp;&nbsp;湖南）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>也许我很平凡，但是我绝不缺乏生活的热情和生命的梦想，也许我会孤单，但是我会一路找寻你的踪迹。是吴敏老师让我遇见你，这是我生命中最绚烂的时刻。</dt>
									<dd>——婉柔（邯郸&nbsp;&nbsp;河北）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我终于找到了属于自己的幸福,我很爱她,她也很爱我，从此我们会过着幸福的生活</dt>
									<dd>——张勇（济宁&nbsp;&nbsp;山东）</dd>
								</dl>

								<!--
								<dl class="member-msg-list">
									<dt>真爱一生加油！婉容努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，婉容，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
								-->
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/hn_1.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_2.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_3.png" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>