					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img06_2.jpg" /></dt>
								<dd>优秀真爱一生薛倩</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生薛倩</h6>
								<dl class="show-text">
									<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1411对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>4年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>教育心理学专业</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">婚姻家庭咨询师、高级婚介师婚。擅长心理咨询与分析、情感诊断、婚恋情感问题。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>薛倩老师从业2年，成功牵线601多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>被评为：真爱一生网高级婚恋顾问、真爱一生网最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">千里姻缘一线牵。在两年的时间里，让我感动的很多。印象最深的一对中年江苏男士女士，男士工作时常出差在外，两人相隔两地一直电话视频联系，由于迟迟无法见面，再加上距离和彼此家庭的阻挠，两位曾多次动摇，经真爱一生的劝说撮合，两人最终走在一起，携手相伴一生。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd>人可以通过自己的改变，努力成就快乐的人生。</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>我做的一个特别成功的案例就是为蓝颜与丁扬这对条件和性格相差很大的会员完美牵线。结婚那天，蓝颜特意给我打了个电话来，说了一大推感言我的话，我完全能够感觉到电话那头透着的幸福味道！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>您总是鼓励我说爱情是有迹可寻的，只要真心付出就总能得到对方的回应。这段话让我记忆深刻，正是在这段话的指引下，我认识了叶，过几天就是我和他的结婚一周年纪念日了。我会送您一件特别的礼物作为感谢，记得接收啊！</dt>
									<dd> ——乄守望丶愛灬 （河南&nbsp;&nbsp;开封 ）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我是个很现实的人，就想从真爱一生网上结识一个很有钱的男人，过少奶奶的生活。但您让我明白如果我是这种想法就永远不会有幸福，幸福是在与人而是物质。您介绍给我的这个的男朋虽然物质条件一般，但是对我非常好，感谢您的真心帮助。</dt>
									<dd>——loli (浙江&nbsp;&nbsp;宁波)</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>丈夫病逝后独自抚养儿子，儿子成家后，看我一个人孤单寂寞，就给我注册了真爱一生网，而薛倩就成了我的专职真爱一生，薛倩真诚坦率，有爱心，责任感强。我和老刘的结合就是在薛倩的撮合下促成的。</dt>
									<dd>——琴姐(山西&nbsp;&nbsp;大同 )</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我的条件不是很好，外貌也不是很突出，原以为在真爱一生网相亲还要经历很大一番波折，但是薛倩在对我的情况作了一番了解后，就把一个女会员介绍了给我，说这个比较适合我。后来这个女会员成了我女朋友，薛倩的眼光真的没得说！</dt>
									<dd>只为寻她（山东&nbsp;&nbsp;烟台）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>从真爱一生网上不但找到了一个好老公，更是认识了薛倩这样一个好朋友，物超所值！</dt>
									<dd>——叮当猫（江苏&nbsp;&nbsp;无锡）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m6-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m6-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m6-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>