					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img08_2.jpg" /></dt>
								<dd>优秀真爱一生周慧静</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生周慧静</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>行政管理学士</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">中级婚介师。擅长心理辅导及情感分析、恋爱心理指及规划等。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>周慧静老师从业4年，成功牵线1120多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">周慧静老师被评为：真爱一生网高级婚恋顾问、真爱一生网最受会员欢迎真爱一生、真爱一生网最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">我做的特别成功的一对是广西梧州和柳州的一对会员，两个会员距离比较远，帮他们成功牵线之后，指导会员如何去维持异地恋，后来，男士和女生在去年5.20的时候举办婚礼，今年有了一个小龙女，男士电话告诉我给女孩子起的名字是缘珊，男士给我解释这个名字，缘分来于珊珊，呵呵，我现在都能感受到会员给我来电话的时候激动的心情！这个案例让我更加关注起那些相隔两地的会员。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">距离的问题是情侣们不得不面对的问题！他们需要一个更加宽容的心去包容接纳彼此。找到适合两个人相处的方式！</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>一直想要找一个坚实可靠的肩膀让我依偎，在朋友的推荐下注册了真爱一生网，第一次我们两个人便在电话上聊了1个多小时，您的热情周到，对爱情鞭辟入里的分析当时就让我坚信：我一定会在这里找到我的梦中人。现在我和他已经在一起6个月，他非常疼我，我终于找到了那个可让我依偎的肩膀。加油！</dt>
									<dd>——仙女囡囡（ 江苏&nbsp;&nbsp;苏州）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>刚刚升级了高级会员，虽然您和我说升级了之后就不是您来做我的专职真爱一生了，但是我从您身上看到了真爱一生网真爱一生的素质。</dt>
									<dd>——碧欣（山东&nbsp;&nbsp;青岛）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>因为自小父母离异，所以让我对爱情或者是婚姻总是抱着不信任的态度，注册真爱一生老实说也只是想来“寻花问柳”，但您的专业、善良、真诚、低调随和的态度特别是对爱的那份坚信，让我对我一直以来的爱情观动摇了。现在您给我介绍的这个女孩子很不错，我和她在一起很开心，她给了我一种久违的幸福感觉。我会好好珍惜的！</dt>
									<dd>——DEAR涛（安徽&nbsp;&nbsp;合肥）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>真爱一生加油！周慧静努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，周慧静，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m8-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m8-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m8-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>