					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img14_2.jpg" /></dt>
								<dd>优秀真爱一生静月</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生静月</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学专业</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">高级婚介师，擅长解决婚姻家庭、网恋、情绪管理等问题，婚恋咨询时采用叙事治疗+焦点解决短程治疗方式为其一绝。</dd>
									<dt >从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd style="height:auto">静月老师从业5年时间，以“人不是问题，问题是问题；分析原因不重要，解决方法是关键”为理念，成功牵线1100多对新人。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">静月老师被评为：“真爱一生网”高级婚恋顾问、“真爱一生网”最佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">花若相依是一位普通的放到人群中都不会被注意的小女孩，很内向不爱说话，但是很渴望爱情，结实她的那一天就被她的真心打动，当时就很想帮助她，想为她找到属于她的白马王子，回忆是一位幽默阳光的大男孩子，职业警察。两个彼此没有交集的人某一天擦出了爱的火花，虽然中间遇到了种种阻碍，女孩子也一度想放弃，但是在回忆的真诚打动下终于走在了一起。看到他们走在一起真的很开心，也深深为自己的职业感到自豪，成就天下美满姻缘。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">人生遇到困境并不可怕，这是上天赐予你最珍贵的礼物，让你有机会与“自己”这个最熟悉的陌生人，相遇、相识、相知。接受自己的有限，才能让自己活得更自在。</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>海是浪花的归宿，浪花是海的寄托。你是我今生永远的港湾，生生世世，永不分离。感谢静月老师的和真爱一生网。</dt>
									<dd>——静云（ 江西&nbsp;&nbsp;景德镇）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>真爱一生网收获一世情缘。收到他的第一封信，通过静月老师牵线后见到他的第一面已经将两颗心紧紧联系在了一起，从此缘定今生。</dt>
									<dd>——烁烁（辽宁&nbsp;&nbsp;鞍山）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>通过静月老师我在真爱一生缘认识了她。她在网上给我的感觉就是：哈哈，我赚了。第一次见面就吃吃饭，聊聊天，没什么特别的，不过，接触一段时间以后，觉得还不错。她的出现，让我认定这就是今生注定的缘分。
</dt>
									<dd>——穆云飞（山东&nbsp;&nbsp;德州）</dd>
								</dl>
								<!--
								<dl class="member-msg-list">
									<dt>真爱一生加油！婉容努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，婉容，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
								-->
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/hn_16.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_17.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_18.png" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>