					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img11_2.jpg" /></dt>
								<dd>优秀真爱一生许飞</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生许飞</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>人力资源管理专业。</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">情感专家、高级婚介师。电视台、电台特邀情感分析专家、情感观察员。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd style="height:auto">许飞老师从业6年，成功牵线1000多对，擅长情绪调节、压力疏导。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">许飞老师被评为：“真爱一生网”高级婚恋顾问、真爱一生网十佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">我印象深刻比较深刻的一对，是我入职以来牵线成功的第一对年轻人，“梦中有你”和“家家好”。“梦中有你”是在广东东莞打工的湖南衡阳的小伙子，学历不高，有时候会说脏话。因为当时没有经验和技巧，与他沟通时内心很忐忑，所以介绍了三个都没成功。后来，我静下心来，仔细分析了男孩的特点，向他推荐了“家家好”，并促成双方见面。见面后女孩子不太喜欢，我向她详细分析了两个人的性格、喜好、工作和家庭情况，建议女孩继续与男孩接触，并给男孩子提了很多性格、言行方面的建议。慢慢的女孩子开朗起来，接受了男孩子，男孩子也深深地爱上了这个能包容他小毛病的女孩，现在两人已经结婚了。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">我希望我能在未来用我的经验帮助更多同事服务到更多会员，让真爱一生网这个倾注了我们的情感的地方更加美好。</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>茫茫人海中，我们在真爱一生网相识、相知、相恋, 现在，我们将携手写下爱的誓言。和老公认识是在一次无意间，那天我在看真爱一生网网页，突然一个头像就不知道怎么弹出来了，我的手正好在敲着鼠标，就这样我就点进了他的个人资料那一页。我们就这样认识了。（此处省略1000字）。谢谢许飞老师的帮忙，让我找到了这个让我依附终身的人。</dt>
									<dd>——陈玉丽（甘肃&nbsp;&nbsp;宁夏）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我在真爱一生网认识了她。在网上我们就聊的挺好的，有约见面的想法。第一次见面的感觉很好，可以用一见如故和相见恨晚来形容。她的出现，我一直觉得是上天对我的恩赐与眷顾。</dt>
									<dd>——黄国丰（新疆&nbsp;&nbsp;乌鲁木齐）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>由衷的感谢大家对我们的祝福还有许飞老师的帮助，也祝所有单身的朋友能找到属于自己的归宿，正在甜蜜的朋友在未来收获自己的幸福...在这里也感谢真爱一生网，这是个网络环境很好的平台，我刚来这里的时候只是心存一丝幻想，但并未抱有很大希望，但是遇到我老公后，疑虑一扫而空，他是个很真诚的人，和真爱一生网上绝大多数朋友一样，我们一起敞开心扉，真诚的面对彼此最终收获了幸福。
</dt>
									<dd>——聂姸（上海）</dd>
								</dl>

								<!--
								<dl class="member-msg-list">
									<dt>真爱一生加油！婉容努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（上海&nbsp;&nbsp;上海）</dd>
								</dl>
								
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，婉容，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
								-->
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/hn_7.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_8.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_9.png" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>