					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img02_2.jpg" /></dt>
								<dd>优秀真爱一生申田</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生申田</h6>
								<dl class="show-text">
									<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学学士、教育学硕士研究生</dd>
									<dt>职业资格等级：</dt>
									<dd>国家二级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>安徽婚介行业协会优秀会员</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网最佳真爱一生</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>2599对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>6年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>法学学士。</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto;">婚姻家庭咨询师、婚介师。擅长婚姻家庭心理问题咨询。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd style="height:auto;"> 申田老师从事情感咨询、心理咨询4年来，已成功帮助900多对新人成功牵手恋爱。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd >申田老师被评为：“真爱一生网”高级婚恋顾问。 </dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">我印象深刻的成功案例之一，有位四川绵阳的一位男会员，自己的条件不是怎么好，以前也经历过一段刻苦铭心的感情。因为受过创伤所以一直心门紧闭。不敢于接受新的感情，但在我的帮助下，自己敞开了心扉。经过两个多月的时间成功牵手了一位幼师，虽然两个人都很平淡，但他们两人彼此找到自己的幸福。其实人生之路不在乎你选择一个什么样的人，而是你选择的找个人能不能陪你一直走下去。 </dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">我们每一个人都在追寻幸福，却总发现幸福离自己很远。平淡、无趣、乏味、吵闹、疲惫……婚姻之舟随时都将搁浅。我们常常会陷入迷茫：这就是我们要的生活吗？曾经期待的幸福又在哪里？一对平凡的夫妻曾告诉我们什么是幸福——幸福是彼此用心的经营，是理解，是宽容，是知足……用心去悟，幸福就是这么简单！</dd>
								

								</dl>
								<!--  
								<h6>成功案例之浓墨重笔：</h6>
								<p>六六被一场无疾而终的七年之恋伤的很深，甚至差点自杀，后来为了不再让家人伤心，就注册了真爱一生网，既是为了让自己从那场爱情阴霾中走出来，也是为了能找到一个真心呵护她的男人，于是我成了她的专职真爱一生，听着电话那头悲伤憔悴的声音，无法想象这就是真爱一生网页上那个笑靥如花的可爱女孩，当时就决定要帮助她找到一个好男孩，让她的脸上再次洋溢快乐的笑容。后来就为她和乔木牵了线。今年五一他们结婚了，她还特意把她和乔木婚礼上的的照片用邮箱发给了我，看着她幸福样子，真的很为她高兴，更加让我体验到了这份工作的价值！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>我是个急脾气的人，有的时候在电话上说话有点难听，但您总是不急不躁，和颜悦色的跟我解释。我老婆跟我说您在他面前说了我的很多好话，我真是很惭愧。我的文字表达能力不是很好，总之，就是感谢再感谢。我的手机号码您是知道的，以后有什么需要帮忙的，一个电话，我绝不推辞。</dt>
									<dd>——人粗心细（安徽&nbsp;&nbsp;淮南）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>家里人安排几次相亲，都不是很理想，于是便来到了真爱一生网，就这样认识了申田，然后又在梅园的帮助下认识了老婆，一切顺利的就像是安排好的。我只是想对申田您说，您的努力和真心我是看在眼里的，除了感激我真的不知道说什么了</dt>
									<dd>——扬帆去追梦（江苏&nbsp;&nbsp;南京）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>申田，您就是我和老婆这场爱情电影的导演，这场电影很完美。而您收获的是我和老婆衷心的祝福和感激的掌声……</dt>
									<dd>——Celia黎安然（青海&nbsp;&nbsp;西宁）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>其实一开始您把她介绍给我的时候，我心里还是有点不乐意的。相处久了才发现她的人真的很不错，现在我跟她很快乐，这份快乐我希望您能和我共享！</dt>
									<dd>——summer （重庆）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>其实一开始在真爱一生网通过相亲我也是有很多顾虑的，但申田您的温柔，善解人意，专业让我感觉自己来对了地方。</dt>
									<dd>——海上一鸥（辽宁&nbsp;&nbsp;大连）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m2-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m2-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m2-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
