					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img10_2.jpg" /></dt>
								<dd>优秀真爱一生席娟婷</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生席娟婷</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网高级婚恋顾问</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1312对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>教育学在读研究生。</dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">婚姻家庭咨询师、婚介师、擅长情感分析，婚恋情感分析，语言犀利。</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>席娟婷老师从业3年，成功配对830多对。</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">席娟婷老师被评为：优秀真爱一生、“真爱一生网”高级婚恋顾问，“真爱一生网”十佳真爱一生。</dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">男生是个比较散漫的人，我推荐第一个女会员时他很满意，但却他来电说让我们再次帮他联系那个女孩子，说自己无意看见那女孩了，感觉也别好，但因为人多没机会聊。我只能遗憾地告诉他：女孩子已经认识其他男会员了！经过我对他热情的服务和善意的忠告，给他推荐第二个女孩子，他就非常主动地第一时间就去联系了，目前，和女孩子已经结婚。</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">每个人都有追求幸福的权利。 缘分就在眼前，你不把握，总会有人捷足先登，等你后悔再回头的时候，或许那人已经走远！</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>帮助雨夜听风和肖申克走到一起，算是了了我的一个心愿。</p>
								<p>好在自己眼光不错，肖申克还真的是一个不错的男人，今年春天的时候，两个人结的婚，而且给我寄来了请帖，无奈工作在身再加上距离太远，所以也就只是在结婚那天给他们打了个祝福电话。看着他们的结婚照片，即为他们高兴，也为自己高兴。成就别人的幸福，自己也同样感到幸福！</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right"><!-- "li:eq('"+i+"')"   修改-->
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>我喜欢、旅游、逛网页。我在业余时间最大的消遣是宅在家逛网页。我憧憬的生活是踏实、真实、富有情调的普通小日子。是小姸老师让我遇到了实诚、真诚 孝顺父母、彼此尊重的他。</dt>
									<dd>——李静（ 湖北&nbsp;&nbsp;黄石）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>首先我得感谢这个平台和小姸老师，是在这让我找到了属于我的那个心灵伴侣。本应该注销这个账号的，可是一细想我不能，因为我要在这给那些还在单身行列的同胞们加油打气。真的如此！人生不可不信缘分，有的时候就在你纠结的时候兴许缘分已经来到你身边了，可是由于自己的那一犹豫，缘分就溜走了。</dt>
									<dd>——刘莹（四川&nbsp;&nbsp;乐山）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>谢谢你，是你给了我们这个机会，让我和我的老婆从相遇，约会，相知到相爱！</dt>
									<dd>——姜伟（浙江&nbsp;&nbsp;嘉山）</dd>
								</dl>
								<!--
								<dl class="member-msg-list">
									<dt>真爱一生加油！婉容努力！但一定要注意身体啊！</dt>
									<dd>——渺渺小辣（四川&nbsp;&nbsp;成都）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>本来上真爱一生网只是抱着姑且一试的心理，没想到不但让我找到了一个好男人，更是结识了您这位好朋友，婉容，真的感谢您！您自己的事可也要抓紧了啊，我的喜糖您吃过了，现在，我可等您了啊！</dt>
									<dd>——雨夜听风（四川&nbsp;&nbsp;绵阳）</dd>
								</dl>
								-->

							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/hn_4.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_5.png" /></li>
								<li><img src="module/hnintro/templates/default/images/hn_6.png" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>