					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img07_2.jpg" /></dt>
								<dd>情感专家胡林</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>情感专家胡林</h6>
								<dl class="show-text">
									<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>本科(教育学学士) </dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、高级婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最受会员欢迎真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网婚姻分析师</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1211对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>电子商务学士 </dd>
									<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
									<dd style="height:auto">情感专家、中共党员、高级婚介师、婚姻家庭心理问题咨询专家。电视台特邀情感分析专家、情感观察员。擅长性格剖析、心理分析、情绪调节等。 </dd>
									<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
									<dd>胡林老师从业6年，成功牵线姻缘1200多对。 </dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd style="height:auto">胡林老师被评为：真爱一生网高级婚恋顾问、“真爱一生网”十佳真爱一生。 </dd>
									<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
									<dd style="height:auto">我印象深刻的成功案例之一，是为“雨乐人生”和“想安静的嫁人”两个喜结良缘。他们各自都有过一段婚姻经历，因为受过创伤所以一直心门紧闭。但在我的帮助下，他们都敞开了心扉，珍惜和把握住了幸福，65天后他们进入了婚姻的殿堂。今年2月14日情人节我收到他们给我寄来的两个家庭所有成员在婚礼当天的全家福照片，看着他们幸福的样子，我很开心！这个案例让我更加关注起那些有过婚姻经历的会员。其实人生之路已经走到一半的他们对情感的需求更加强烈，也更加需要爱人的抚慰！</dd>
									<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
									<dd style="height:auto">人生的美丽，是如此的短暂，让我们共同珍惜你我相遇的这份情缘，让我们的人生充满浪漫和幸福。让我们在真爱一生网早日收获到属于自己的那份情缘吧！</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>假如一定要让我写我的真爱一生职业生涯中，最值得我大书特书一笔的成功案例，我会写丹365与四海为家这对伴侣。其实过程没什么好写的，无非就是我在中间前线塔桥，最终两个人终于走到一起。这个案例之于我的特别之处，在于他们两个人是我真爱一生职业生涯中由我牵线成功，成就美好姻缘的第一对会员。而这则完全改变了我对这个职业的看法与心态。</p>
								<p>老实说，一开始我做真爱一生还是有点尴尬的，感觉一个男孩子做这个怪怪的，可是当我收到由丹365与四海为家用邮箱发过来的两个人甜蜜的合影照片，并且告诉我他们就要结婚时，那种成人之美的快乐和被人衷心感激的愉悦，真是爽的没法形容。也由此才真正明白我的工作是多么的有意义。</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>我年纪不大，也才22岁，刚开始工作，可父母催得急，我比较孝顺，可平时忙于工作哪有时间认识女孩子，于是便想到了网络婚恋。很幸运我的专职真爱一生是胡林，由于她的牵红线，我有了现在的女朋友，她很乖巧可爱，今年带回去见父母，一定能让父母欢喜的。</dt>
									<dd> ——凌稀（湖南  湘潭）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>不愧是心理学出身，有的时候我跟她在线聊天聊聊的好好地，突然她就不理我了，这时候我总是打真爱一生热线找先知，而他总能给我分析出有哪些可能的原因，让我每次都能拿出相应的对策，终于抱得美人归。</dt>
									<dd>——左岸蓝雨（ 北京）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>胡林，哥的婚期知道了吧，一定要来啊！</dt>
									<dd>——壹沉壹默（安徽&nbsp;&nbsp;合肥）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>胡林，我代表我儿子谢谢您，这孩子太内向，也不知道这一个多月您到底是通过什么方式让他改了性子，现在他整个人朝气蓬勃的，特别是您给他介绍的这个女孩子，孩子很满意，我和他妈妈也非常满意。</dt>
									<dd>——父爱如山（河南&nbsp;&nbsp;安阳）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>我老婆就是在真爱一生网认识的，在我追她的过程中胡林给我出了很多“妙招”，堪称是我的“狗头军师”，绝对是褒义词啊！</dt>
									<dd> ——浪子风云（吉林&nbsp;&nbsp;长春）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m7-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m7-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m7-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>