					<div class="mmc-r-c">
						<div class="mm-show">
							<dl class="mm-show-photo">
								<dt><img src="module/hnintro/templates/default/images/l-img05_2.jpg" /></dt>
								<dd>优秀真爱一生孟永春</dd>
							</dl>
							<div class="mm-show-text">
								<div class="mm-show-text-side"></div>
								<div class="mm-show-textcontent">
								<h6>优秀真爱一生孟永春</h6>
								<dl class="show-text">
								<!--
									<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
									<dd>心理学硕士</dd>
									<dt>职业资格等级：</dt>
									<dd>国家三级心理咨询师、婚介师</dd>
									<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
									<dd>真爱一生网最佳真爱一生</dd>
									<dt>&nbsp;</dt>
									<dd>真爱一生网婚姻分析师</dd>
									<dt>成功牵线姻缘数：</dt>
									<dd>1260对</dd>
									<dt>从&nbsp;业&nbsp;&nbsp;年&nbsp;数：</dt>
									<dd>3年</dd>
									-->
								<dt>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</dt>
								<dd>销售管理专业</dd>
								<dt>优&nbsp;势&nbsp;&nbsp;特&nbsp;长：</dt>
								<dd style="height:auto">特长优势婚介师。擅于帮助心理、生理有缺陷的人建立自信。</dd>
								<dt>从&nbsp;业&nbsp;&nbsp;经&nbsp;历：</dt>
								<dd>孟永春老师从业4年，成功牵线1220对。</dd>
								<dt>所&nbsp;获&nbsp;&nbsp;荣&nbsp;誉：</dt>
								<dd style="height:auto">孟永春老师被评为“真爱一生网”最受会员欢迎真爱一生。“真爱一生网”高级婚恋顾问。</dd>
								<dt>成&nbsp;功&nbsp;&nbsp;案&nbsp;例：</dt>
								<dd style="height:auto">我做的特别一个成功的案例就是一个先天性口语表达能力欠缺的会员和一位平面模特的的会员牵线成功，他们结婚的那天，男士给我来电话，说了好多以后怎么好好的照顾女孩子的话，从话语中能感觉出来男士真的很高兴。</dd>
								<dt>心&nbsp;灵&nbsp;&nbsp;寄&nbsp;语：</dt>
								<dd style="height:auto">哪怕是最小的茅舍,对一对恋人来说都有足够的空间。你不会因为美丽去爱一个女人,但她却会因为你的爱而变得美丽。
人生共有三天：昨天、今天、明天。昨天已经过去，明天还没到来，我们只有把握今天， 珍惜今天，才能为人生增添光辉。
</dd>

								</dl>
								<!--
								<h6>成功案例之浓墨重笔：</h6>
								<p>一千二百多成功的案例中最让我高兴地莫过于让一对从小相识但多年未见的会员big blue 与紫陌朵儿再次重逢并且情牵双手！记得当时紫陌朵儿还很犹豫，不敢主动和big blue联系，担心big blue已不记得了她，我就大胆地鼓励她：“您们能在我们真爱一生网上再次相遇，这就是您们的缘分，也是我们真爱一生网的荣幸，您不问怎么知道他不记得了，不要再错过了，大胆地告诉他吧！”虽然我极力“鼓动”，可是紫陌朵儿还是不敢主动“出手”，我就越俎代庖，把紫陌朵儿的情况告诉了big blue，没想到big blue在真爱一生网上看到紫陌朵儿时就认出了她，也正在苦恼是不是要主动和她打电话联系。后面的故事就是恋爱、结婚。每次想起这个案例，都会觉得：缘，妙不可言！而自己就是那个缘分道路上的引路人！	</p>
								-->
								</div>
								<div class="mm-show-text-side" style="background-position:bottom;"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="member-msg-box">
							<div class="member-msg-right">
								<h6>会员感言：</h6>
								<dl class="member-msg-list">
									<dt>一开始我没想到给我安排的是一女真爱一生，所以真还有点不好意思，但是您的热心、善解人意还有认真都让我觉得自己真是很幸运，更重要的是在您的帮助下，我能和他在14年后竟然奇迹般的走到了一起。</dt>
									<dd>——MQ情人（江西&nbsp;&nbsp;南昌）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>自己的性格很大男人，所以虽然很喜欢她，可是因为性格上的缺陷，好几次见面都弄的不欢而散，没有孟永春您的从中调解和斡旋，以及对我一些性格缺陷的循循教导的批评，或许我和她最终就会错过了。</dt>
									<dd>——淡定哥（河北&nbsp;&nbsp;唐山）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>服务态度好，不辞辛劳，为我和她之间来回沟通，可以说我和女朋友能走到一起，有您的一半功劳。</dt>
									<dd>——海龙（辽宁&nbsp;&nbsp;沈阳）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>耐心细致，分析问题深入浅入，特别是实心实意为我们会员着想。老婆说一定要好好感谢一下您，好几次她都想跟我88了，是您总是劝她多考虑一下，说我是个不错的人，值得与我交往。</dt>
									<dd>——种毅（湖北&nbsp;&nbsp;宜昌）</dd>
								</dl>
								<dl class="member-msg-list">
									<dt>感觉和您特别投缘，我是个实在人，心直口快，您说话也很干脆，为人实诚。您介绍给我的那个女孩子我们两人在线聊的很有感觉。已经约定下个星期见面了，祝福我把！</dt>
									<dd>——敢爱敢恨（河北&nbsp;&nbsp;廊坊）</dd>
								</dl>
							</div>
							<ul class="member-img-list">
								<li><img src="module/hnintro/templates/default/images/m5-01.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m5-02.jpg" /></li>
								<li><img src="module/hnintro/templates/default/images/m5-03.jpg" /></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>