<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码——提示页面——真爱一生网</title>
{template system/js_css public}
<link rel="stylesheet" type="text/css" href="public/system/css/font.css">
<style type="text/css">
@import url("module/login/templates/default/login.css");

</style>
</head>
<body>
{template system/header_login public}
<!--头部结束-->
 
<div class="clear"></div>
    <div class="main">
        <div class="pass" >
              <div class="top"></div>
          <div class="passbox">
          <img src="public/images/wrong1.jpg" />
           <h3>找回您的密码</h3>
              <p><span class="d22224">{$nickname}</span> 我们已经将您的密码发送到您的邮箱<span class="d22224"> {$usermail} </span>中 </p>           
                
                  <p>如果您在半小时内都还没有收到该邮件： </p>
            <p>请在您的垃圾邮件或广告邮件中找一找 </p>
                  <p>如果还找不到：</p>
                  <p>请拨打客服热线：400-678-0405 （免长途）（免长途）</p>
            <p>（周一至周日：9：00-21：00） </p>
                  <p>&nbsp;</p>
             
            <p align="center">
              <input type="submit" class="pass_btn" value="返回登录页面" onclick="javascript:window.location.href='index.php?n=login'"/>
            </p>
          </div>
          <div class="passbottom"></div>
   </div>
        
      
     
   </div>
 <div class="clear"></div>
{template system/footer public}
</body>
</html>
