@charset "utf-8";
/* CSS Document */
/*公共样式*/
*{	margin:0;padding:0;}
body,img,ul,li,a,dl,dd,p{border:none;list-style:none;text-decoration:none;font-family: "宋体";}
.clear{clear:both;width:0px; height:0px; overflow:hidden; line-height:0px; font-size:0px;}
body{white-space:normal;word-wrap:break-word; font-size:12px;}
.center,.head,.searchbar,.content{ width:982px; margin:0 auto;}
.main{margin:0 auto;}
.logobox,.in-pic,.photo-show,.left-match .icon,.cer-phone-yes,.cer-phone-no,.cer-card-yes,.cer-card-no,.cer-email-yes,.cer-email-no,.cer-video-yes,.cer-video-no,.photo-box-show,.paly-video,.mysound-box-show a,.right-title a{ background:url(images/publcimg.gif);}
.getknow,.toptel,.topnav,.navbar li a:hover,.searchbar,.search-btn,.lefttitle,.leftbottom02,.leftbottom,.go-know,.lefttitle02,.leftnav li,.left-likes-img,.r-box-top,.r-box-bottom02,.right-title02 span,.r-box-bottom,.all-data,.all-data p,.foottel{ background:url(images/allimg.gif)}
.f-257713,.f-257713-a{ color:#257713;}
.f-000,.f-000-a{ color:#000;}
.f-fff,.f-fff-a{ color:#fff;}
.f-fe8100{ color:#fe8100;}
.f-f00{ color:#f00;}
.f-ffff00-a{ color:#ffff00;}
.c-title{line-height:34px;height:34px;font-size:12px;padding-left:5px;width:977px;float:left;}
.c-title span{float:left;}
.c-title a{color:#257713;}
.c-title a:hover,.f-000-a:hover,.f-257713-a:hover,.f-ffff00-a{ text-decoration:underline}
.fright{ float:right;}
.fleft{ float:left;}
.citystar{position:absolute;margin:0px 0 0 5px; z-index:2;}
.content{ padding-bottom:35px;}

/*背景*/
body{ background:url(images/bg.jpg) top center no-repeat #62a00f;}

/*头部*/
.logobox{ width:283px; height:91px; background-position:2px -328px; display:inline; float:left; padding-left:2px; margin:2px 0 0 0;}
.getknow{ width:218px; height:58px; display:inline; float:left; background-position:0 0; margin:12px 0 0 36px;}
.toptel{ width:364px; height:54px; background-position:-407px 0; display:inline; float:right; margin:3px 5px 0 0px;}
.topmsg,.topmsg2{ display:inline; float:right; text-align:right; margin-top:5px;font-size:14px; width:450px; padding-right:5px;color:#257713}
.head-top{ float:left; width:982px; height:113px;}
.topnav{ width:982px; height:35px; float:left; background-position:0 -166px; padding-top:1px;}
.navbar{ width:780px; height:32px; float:left; padding-left:15px;}
.navbar li{ float:left;}
.navbar li a{ margin:0 7px; width:81px; height:32x; display:block; line-height:32px; color:#FFF; text-align:center; font-size:12px; font-weight:700;}
.navbar li a:hover{ background-position:-790px -8px;}
.hmenber{width:159px;height:43px;background:url(images/upvip.gif) no-repeat;float:right;position:relative;display:block;margin-top:-7px;}
.upgrade{width:162px;height:44px;background:url(images/updm.gif) no-repeat;float:right;position:relative;display:block;margin-top:-8px;}
.umember { background: url("images/upm.gif") no-repeat scroll 0 0 transparent; display: block; float: right; height: 34px; margin-right:30px; margin-top: -2px; position: relative; width: 143px;}

/*搜索条*/
.searchbar{ height:35px; background-position:0 -202px;padding:10px 0 0;font-size:14px; line-height:24px; margin-top:8px;}
.search-cts{width:190px;float:left; margin-left:60px; display:inline;}
.search-cts input{margin-left:5px;}
.search-cts-list{float:left;width:590px;margin-top:-3px;}
.search-cts-list li{float:left;margin-right:10px;*margin-right:0px; display:inline;}

.search-btn{height:34px;border:none;cursor:pointer; margin-top:-3px; background-position:-203px -58px;}
.reg-info-text {margin:-3px 10px 4px 0;float:left; border: 1px solid #CCCCCC; color: #666666; height: 18px; line-height: 18px; width: 184px;}


/*内容左边*/
.c-left,.lefttitle,.leftbottom{ width:221px; float:left;}
.c-left-box{ width:221px;float:left;}
.left-photos,.photo-box{ width:221px; float:left}
.lefttitle{ height:32px;font-size:14px; font-weight:700; color:#fff; text-align:center;float:left;width:221px; line-height:32px; background-position:-625px -55px;}
.leftbottom{ background-position:-625px -88px; width:221px; height:16px;}
.lefttitle02{background-position:-352px -55px; width:224px; height:28px; padding-top:18px;float:left;font-size:14px; font-weight:700; color:#fff; text-align:center; line-height:26px;}
.leftbox-in02{ width:222px; border-left:1px solid #096f17; border-right:1px solid #096f17; float:left; background:#dcf4a4;}
.leftbottom02{ width:224px; height:4px; font-size:0px; background-position:-352px -102px; float:left}
.leftbox-in{ width:221px;float:left; background:url(images/left_bg.gif) repeat-y;}
.pic-show{margin:10px auto 15px;	height:247px;width:173px;}
.in-pic{width:173px;height:247px; background-position:-307px 0px;}
.in-pic,.photo-show-in,.left-likes-img{text-align:center;vertical-align:middle;display:table-cell;overflow:hidden;position:relative;}	
.in-pic p,.photo-show-in p,.left-likes-img p{position:static;+position:absolute;top:50%;}
.in-pic p img,.photo-show-in p img,.left-likes-img img{position:static;+position:relative;top:-50%;left:-50%;}
.photo-last,.photo-next{float:left;	display:inline;	padding-top:15px;}
.photo-last{margin-left:5px;}
.photo-next{margin-right:5px;}
.photo-show{width:166px;height:66px;float:left;margin:0 4px;display:inline;	padding:1px 0px; background-position:-314px -252px;}
.photo-show-in{	width:54px;	height:66px;padding-left:1px;}
.set-photos{text-align:left;line-height:24px; padding:10px 0 0 80px; color:#FFF}
.left-match{text-align:center;}
.left-match a{font-size:14px; color:#257713}
.left-match .icon{line-height:24px;padding-left:18px; background-position:-159px -283px;}	
.left-match .big-f{	font-size:30px; color:#16a398;}
.go-know{width:186px;height:48px;display:block;margin:20px auto 0; background-position:-219px 0;}
.leftnav{ margin:10px auto 15px; width:192px;padding-left:20px}
.leftnav li{ width:180px; height:28px; background-position:0 -60px; text-align:center;margin-bottom:10px;}
.leftnav li a{ color:#257713; font-weight:400;line-height:28px; font-size:14px;background:url(images/icons.gif) no-repeat;padding-left:29px; width:149px; height:28px; display:block;}
.leftnav li a:hover{color:#07AF42;}
.leftnav li .left-list01{background-position: 12px 8px;}
.leftnav li .left-list02{background-position: 12px -28px;}
.leftnav li .left-list03{background-position: 12px -63px;}
.leftnav li .left-list04{background-position: 12px -99px;}
.leftnav li .left-list05{background-position: 12px -133px;}
.leftnav li .left-list06{background-position: 12px -168px;}
.leftnav li .left-list07{background-position: 12px -203px;}
.leftnav li .left-list08{background-position: 12px -238px;}
.leftnav li .left-list09{background-position: 12px -273px;}
.leftnav li a span{float:right;padding-right:10px;}	
.left-likes{float:left;	padding:10px 0 0 10px;position:relative;}	
.left-likes dt,.left-likes dd{float:left;}	
.left-likes dd{	width:80px;padding-left:15px; padding-top:5px; color:#127c0e;}
.left-likes-img{ background-position:-877px 0px;width:105px;height:129px;}
.left-likes-img p{*padding-top:2px;}
.left-more{	float:right;color:#000;	font-size:12px;	margin:10px 15px 5px;display:inline;}
.left-more:hover{text-decoration:underline;}

/*内容右边*/
.c-right,.c-rightbox{ width:754px; float:left;margin-right:5px;}
.c-rightbox{ margin-bottom:8px;}
.rightbox-in02{background:#d8f4a0; color:#000; padding-bottom:12px; border-left:1px solid #69af00; border-right:1px solid #69af00;}
.right-title02 span{ background-position:-846px -133px; width:136px; height:25px; display:block;}
.r-box-top{ width:754px; height:9px; font-size:0px; background-position:0 -109px;}
.r-box-bottom02{ background-position:0 -119px; height:21px; width:754px;}
.r-box-bottom{ background-position:0 -140px; height:4px; width:754px; font-size:0px;}
.right-title{ width:752px; height:28px;line-height:28px; border:1px solid #67a923; border-bottom:none; background:#1d990c;}
.r-title{ font-size:16px; font-weight:700; color:#fff; margin-left:17px;}
.rightbox-in{ width:752px; color:#000;padding-bottom:12px; border-left:1px solid #67a923; border-right:1px solid #67a923; background:#e5f6d2;}
.right-data{float:left;}
.right-data dt,.right-data dd{float:left;width:670px;line-height:32px;height:32px;}
.right-data .fright{width:200px;}	
.right-data .fright img{float:left;	margin-top:8px;	}
.right-cer,.right-cer li{float:left}
.right-cer li{width:110px;height:35px;}
.right-cer li a{color:#666;}
.right-cer li a:hover{color:#000;}	
.cer-phone-yes,.cer-phone-no{padding-left:25px;}
.cer-card-yes,.cer-card-no{padding-left:30px;}
.cer-email-yes,.cer-email-no{padding-left:35px;}
.cer-video-yes,.cer-video-no{padding-left:30px;}
.cer-phone-yes,.cer-card-yes,.cer-email-yes,.cer-video-yes{color:#257713;}
.cer-phone-yes{ background-position:0 -7px;}
.cer-phone-no{ background-position:0 -44px;}
.cer-card-yes{ background-position:0 -87px;}
.cer-card-no{ background-position:0 -124px;}
.cer-email-yes{ background-position:0 -168px;}
.cer-email-no{ background-position:0 -204px;}
.cer-video-yes{ background-position:0 -241px;}
.cer-video-no{ background-position:0 -277px;}
.all-data,.all-data p{float:left;height:13px;font-size:0px;}	
.all-data{width:383px; height:13px;margin-top:10px; background-position:0px -147px; padding:2px 1px 0;}
.all-data p{width:383px; height:10px;position:relative; background-position:-395px -149px;}
.dtable{padding:10px 0 0 22px;float:left;}
.dtable li{width:233px;height:22px;}
.dtable li,.rightbox-in p{line-height:22px;float:left;}
.rightbox-in p{	padding:0 22px;	width:680px;}
.my-heart{margin-top:30px;text-indent:24px;}
.photo-box-show{width:157px;height:125px;margin-top:40px;margin-left:25px;float:left;display:inline; background-position:-149px 0;}
.photo-img-box{width:133px;height:91px;top:11px;left:11px;position:relative;}
.paly-video{ background-position:-149px -129px;width:52px;height:52px;display:block;position:absolute;top:50%;left:50%;margin-top:-26px;margin-left:-26px;filter:alpha(opacity=50);opacity: 0.5;}	
.paly-video:hover{filter:alpha(opacity=70);opacity: 0.7;}
.mysound-box-show,.mysound-box-show a{width:158px;height:60px;}
.mysound-box-show{float:left;margin-top:40px;margin-left:25px;display:inline;}
.mysound-box-show a{ background-position:-149px -201px;display:block;}
.textmsg{width:400px; float:left; padding:40px 0 0 30px; line-height:22px; color:#000;}
.right-title a{float:right;padding-right:15px;padding-left:20px;font-size:12px;font-weight:400; color:#c5ffc2; background-position:-400px -337px;}
.r-boxbgv{ background:url(images/video_bg.gif) right top no-repeat #e5f6d2;}
.r-boxbgvs{ background:url(images/sound_bg.gif) right top no-repeat #e5f6d2;}

/*底部*/
.foot{padding:20px 0;font-size:12px;text-align:center;line-height:26px;background:#e5f6d2;color:#9bb16f;}
.foot-nav li a{color:#9bb16f;}
.foot-nav{text-align:center;margin:5px auto 15px;height:26px;}
.foot-nav li{display:inline;line-height:26px;color:#9bb16f;}
.foot-nav li a:hover{ text-decoration:underline}
.foottel{ width:610px; height:35px; background-position:0 -259px; margin:0 auto;}


/*添加的样式*/
.leftnav li a.show{ color:#af1515;}
.b-getknow{ display:block; width:258px; height:53px; margin-left:245px; background:url(images/b_getknow.gif) no-repeat}

.myself{background:url(../../../../public/default/images/toMemberBg.png) no-repeat;width:127px;height:156px;float:left;margin:10px 10px 0 10px;}
.vmcd{width:600px;float:left;height:156px;padding-top:10px;}
.vmcd div{padding-bottom:10px;}
.youableliker{margin-left:10px;cursor:pointer;}