<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的视频</title>
<link rel="stylesheet" type="text/css" href="public/{$GLOBALS['style_name']}/css/global_import.css">
<link rel="stylesheet" type="text/css" href="module/space/templates/{$GLOBALS['style_name']}/cyan.css" />
<link rel="stylesheet" type="text/css" href="module/space/templates/{$GLOBALS['style_name']}/left.css" />
</head>

<body>
{template system/header public}
<!--HEADER end-->
<div class="clear"></div>
<div class="main">
	<div class="loaction">
		<div class="loaction_left">
			<a href="#" class="color_7c127c fontSize_12">我的首页</a> >> <a href="index.php?n=space&h=video" class="color_7c127c fontSize_12">视频介绍</a>
		</div>
		<div class="loaction_right">
			<a href="#">复制当前页地址发给好友</a>
		</div>
		<ul class="loaction_center">
			<li><a href="index.php?n=space&h=video" {if $_GET['h']=='video'} class="curr" {/if}>视频介绍</a></li>
			<li><a href="index.php?n=space&h=art">才艺展示</a></li>
			<li><a href="index.php?n=space&h=impression">亲友印象</a></li>
			<li><a href="index.php?n=space&h=horoscope">星座生肖</a></li>
			<li><a href="index.php?n=space&h=lifetimes">人生经历</a></li>
			<li><a href="index.php?n=space&h=dating">TA的约会</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="box">
		{template public/space_leftmenu module}
		<!--左边结束-->
		<div class="space_right">
			<h3><span><a  href="#"><< 返回我的资料</a></span>周论杰的视频</h3>
			<div class="space_rbox">
			<div class="vodio">
			<object height="350" width="435" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
	          <param value="public/system/flash/player.swf?path=cntRcvoDEzLiM5Nx4ugj4CMCMzZv9hxmVGR3btSJxuZToUaXO3SVV==g&amp;name=cf4305dc6d4e76e5493aeedddc2c1757&amp;img=http://192.168.0.37/data/videos/201003/pic/cf4305dc6d4e76e5493aeedddc2c1757_2.jpg" name="movie">
	          <param value="high" name="quality">
	          <param name="SCALE" value="exactfit" />
	          <param value="true" name="allowFullScreen">
	          <param value="false" name="menu">
			  <param value="transparent" name="wmode">
	          <embed height="350" width="435" menu="false"  SCALE="exactfit" allowfullscreen="true" value="transparent" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" style="z-index: inherit;" src="public/system/flash/player.swf?path=cntRcvoDEzLiM5Nx4ugj4CMCMzZv9hxmVGR3btSJxuZToUaXO3SVV==g&amp;name=cf4305dc6d4e76e5493aeedddc2c1757&amp;img=http://192.168.0.37/data/videos/201003/pic/cf4305dc6d4e76e5493aeedddc2c1757_2.jpg">
		     </object>
			</div>
			<div class="vodio_info">
					<div class="v_title">
						<div class="left"></div>
						<div class="v_center">
							<h3>视频信息</h3>
						</div>
						<div class="v_right"></div>
					</div>
					<div class="vodio_infobox">
						<div class="img1">
							<div class="pic">
								<p>
									<a href="#"><img src="module/space/templates/cyan/images/xinxi_left.gif" /></a>
								</p>
							</div>
						</div>
						<p>会员:<span class="color_2093a2">我叫周伦杰 </span></p>
						<p>年龄:<span class="color_2093a2">21岁</span></p>
						<p>身高:<span class="color_2093a2">173CM</span></p>
						<p>寻找:<span class="color_2093a2">18-20岁</span></p>
					<div class="clear"></div>
					<p><b>视频标题:</b> 我的心代表月亮 </p>
					<p><b>上传时间:</b> 2010-02-22 </p>					
					<p><b>视频简介:</b> 我的名字叫周伦杰，喜欢XXX，淡淡的多少速度士大夫飞洒的士大夫士大夫士大夫士大夫啊斯蒂芬士大夫速度防守打法士大夫大夫速度速度阿三士.</p>
				</div><!--个人信息结束-->
					
				</div>
			<div class="clear"></div>
			<h4>周伦杰的其他视频</h4>
			<div class="space_list">
				<a href="#"><div class="space_left_btn1"></div></a>
				<div class="space_center">
				<dl>
					<dt><img src="module/space/templates/cyan/images/img2.gif" /></dt>
					<dd><a href="#">下一站幸福 20</a></dd>
					<dd>上传: 2010-02-22</dd>
					<dd>描述: 福师大士大夫士大福师大士大夫士大... </dd>
				</dl>
				<dl>
					<dt><img src="module/space/templates/cyan/images/img2.gif" /></dt>
					<dd><a href="#">下一站幸福 20</a></dd>
					<dd>上传: 2010-02-22</dd>
					<dd>描述: 福师大士大夫士大福师大士大夫士大... </dd>
				</dl>
				<dl>
					<dt><img src="module/space/templates/cyan/images/img2.gif" /></dt>
					<dd><a href="#">下一站幸福 20</a></dd>
					<dd>上传: 2010-02-22</dd>
					<dd>描述: 福师大士大夫士大福师大士大夫士大... </dd>
				</dl>
				<dl>
					<dt><img src="module/space/templates/cyan/images/img2.gif" /></dt>
					<dd><a href="#">下一站幸福 20</a></dd>
					<dd>上传: 2010-02-22</dd>
					<dd>描述: 福师大士大夫士大福师大士大夫士大... </dd>
				</dl>
				</div>	
				<a href="#"><div class="space_left_btn2"></div></a>
				<div class="clear"></div>
			</div>
			<h4>周伦杰的相册</h4>
			<div class="space_list">
				<a href="#"><div class="space_left_btn1"></div></a>
				<ul class="space_img">
					<li>
						<div class="pic">
							<p><a href="#"><img src="module/space/templates/cyan/images/li5.gif" /></a></p>
						</div>
						<p><a href="#">下一站幸福 20</a></p>
					</li>
					<li>
						<div class="pic">
							<p><a href="#"><img src="module/space/templates/cyan/images/li5.gif" /></a></p>
						</div>
						<p><a href="#">下一站幸福 20</a></p>
					</li>
					<li>
						<div class="pic">
							<p><a href="#"><img src="module/space/templates/cyan/images/li5.gif" /></a></p>
						</div>
						<p><a href="#">下一站幸福 20</a></p>
					</li>
					<li>
						<div class="pic">
							<p><a href="#"><img src="module/space/templates/cyan/images/li5.gif" /></a></p>
						</div>
						<p><a href="#">下一站幸福 20</a></p>
					</li>
					<li>
						<div class="pic">
							<p><a href="#"><img src="module/space/templates/cyan/images/li5.gif" /></a></p>
						</div>
						<p><a href="#">下一站幸福 20</a></p>
					</li>
				</ul>
				<a href="#"><div class="space_left_btn2"></div></a>
				<div class="clear"></div>
			</div>
			<h4>专家点评</h4>
			<div class="zhuanjia">
				<span class="color_2093a2">评语：</span>歌詞很有意思喔~ 评论会很长评论会很长评论会很长评论会很长评论会很长。。歌詞很有意思喔~ 评论会很长评论会很长评论会很长评论会很长评论会很长。。歌詞很有意思喔~ 评论会很长评论会很长评论会很长评论会很长评论会很长。。歌詞很有意思喔~ 评论会很长评论会很长评论会很长评论会很长评论会很长。。
			</div>
			<h4>视频留言</h4>
			<div class="v_word">
				<div class="w_left"></div>
				<div class="w_center">
					<input type="text" class="inputbox" value="呵呵，真漂亮了" />
				</div>
				<div class="w_right"></div>
			</div>
			<div class="w_commit">
				<a href="#">在中、寶貝 </a> 3小时前
				<p>喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群  </p>
			</div>
			<div class="w_commit">
				<a href="#">在中、寶貝 </a> 3小时前
				<p>喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群  </p>
			</div>
			<div class="w_commit">
				<a href="#">在中、寶貝 </a> 3小时前
				<p>喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群  </p>
			</div>
			<div class="w_commit">
				<a href="#">在中、寶貝 </a> 3小时前
				<p>喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群喜欢星座的孩子们加群  </p>
			</div>
			<div class="page">
				<a href="#">上一页</a>
				第 <a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				页
				<a href="#">共100页</a>
				<a href="#">下一页</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
    </div>	
</div>
{template system/footer public}
</body>
</html>
