<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网-活动专题页</title>
<link type="text/css" href="module/service/templates/default/activity.css" rel="stylesheet" />
</head>

<body>
<div id="box">
  <div><img src="module/service/templates/default/images/activity/a.jpg" /></div>
  <div class="huodong">
    <div><a class="more_one" href="#"></a></div>
  </div>
  <div><img src="module/service/templates/default/images/activity/c.jpg" /></div>
  <ol>
    <li><img src="module/service/templates/default/images/activity/li_a.jpg" /></li>
    <li class="font_one">2010年以后，安徽卫视品牌战略更加突出与鲜明，安徽卫视继续高举”剧行天下，爱传万家”的品牌大旗笑傲传媒江湖，《周日我最大》全新改版升级,与真爱一生网强强联手，全力出击，期待您的参与...
      <p><a href="/index.php?n=service&h=ahtv" target="_blank">[详细]</a></p>
    </li>
    <li><img src="module/service/templates/default/images/activity/li_b.jpg" /></li>
    <li><img src="module/service/templates/default/images/activity/li_c.jpg" /></li>
    <li class="font_one">2011，辽宁卫视全新形态交友互动王牌主持刘仪伟、宫昊强强联手，联新颖，更刺激，更有趣的方式成全您的爱情！每期节目现场将有36位充满个性的靓丽单身女嘉宾来到现场，选择他们心的男生。男生女生快....
      <p><a href="/index.php?n=service&h=lntv" target="_blank">[详细]</a></p>
    </li>
    <li><img src="module/service/templates/default/images/activity/li_d.jpg" /></li>
    <li><img src="module/service/templates/default/images/activity/li_e.jpg" /></li>
  </ol>
  <div class="clear" ></div>
  <div><img src="module/service/templates/default/images/activity/d.jpg" /></div>
  <ul>
    <li><img src="module/service/templates/default/images/activity/l.jpg" /></li>
    <li><img src="module/service/templates/default/images/activity/e.jpg" /></li>
    <li class="bg"></li>
    <li><a href="index.php?n=service&h=album" target="_blank"><img src="module/service/templates/default/images/activity/more.jpg" /></a></li>
    <li><img src="module/service/templates/default/images/activity/r.jpg" /></li>
  </ul>
  <div class="clear"></div>
  <div><a href="index.php?n=service&h=album" target="_blank"><img src="module/service/templates/default/images/activity/pic.jpg" /></a></div>
  <ul>
    <li><img src="module/service/templates/default/images/activity/l.jpg" /></li>
    <li><img src="module/service/templates/default/images/activity/f.jpg" /></li>
    <li class="bg"></li>
    <li><a href="#"><img src="module/service/templates/default/images/activity/more.jpg" /></a></li>
    <li><img src="module/service/templates/default/images/activity/r.jpg" /></li>
  </ul>
  <div class="clear"></div>
  
  <div class="video">
    	<div class="vidio_left"></div>
        <ul class="video_ul">
        	<li><div id="v1"></div></li>
            <li><div id="v2"></div></li>
            <!--<li><div id="v3"></div></li>-->
        </ul>
        <div class="vidio_right"></div>
    </div>
    
  
  <div><img src="module/service/templates/default/images/activity/h.jpg" /></div>
  <ol class="ol_a">
    <li><img src="module/service/templates/default/images/activity/l_b.jpg" /></li>
    <li><img src="module/service/templates/default/images/activity/maer.jpg" /></li>
    <li class="font_two">
      <div>去马尔代夫让爱情升华</div>
      <p>曾经的我总是充满憧憬，喃喃念叨：“我要和他（她）去马尔代夫度蜜月，那里椰林树荫，水清幼沙，蓝天白云，是位于印度洋上失落的天堂……”。今天，来到真爱一生网这里，我不仅寻找到了唯一的他（她）更是有机会去那失落天堂尽情的享受二人的世界。</p>
      <p><a href="/index.php?n=service&h=travel" target="_blank">[详细]</a></p>
    </li>
  </ol>
  <div class="clear"><img src="module/service/templates/default/images/activity/k.jpg" /></div>
  <ol class="ol_a">
    <li><img src="module/service/templates/default/images/activity/l_b.jpg" /></li>
    <li><img src="module/service/templates/default/images/activity/500w.jpg" /></li>
    <li class="font_two">
      <div>500多万约会基金先期理赔计划</div>
      <p>网络婚恋服务因为其选择面大，沟通更为便捷、快速、自由以及更节省时间、金钱等优势，越来越多的受到单身族们的欢迎，更多的单身男女也开始选择网络婚恋服务这个平台来寻觅自己的情缘。</p>
      <p>在网络婚恋服务业中，真爱一生网以其严肃、正规、专业和极高的牵线成功率在业内的知名度更是越来越高！真爱一生网有着严格的身份认证机制和....</p>
      <p><a href="/index.php?n=service&h=scheme" target="_blank">[详细]</a></p>
    </li>
  </ol>
  <div class="clear"></div>
  <div><img src="module/service/templates/default/images/activity/j.jpg" /></div>
  <div id="footer">
    <p><a href="index.php?n=about&h=us">关于我们</a>| <!--  <a href="index.php?n=about&h=media">媒体关注</a> | --> <a href="index.php?n=about&h=contact">联系我们</a> | <a href="index.php?n=about&h=links">合作伙伴</a> | <a href="index.php?n=about&h=getsave">意见反馈</a> | <a href="index.php?n=story">成功故事</a>| <a href="index.php?n=payment&h=channel_diamond">汇款信息</a> |
      {if ($user_arr['s_cid'] == 1 && $user_arr['bgtime'] > time()-604800) || !empty($GLOBALS['h_pay'])} <a href="index.php?n=payment&h=add_money">其他信息</a> {else} <a href="index.php?n=payment&h=channel">其他信息</a> {/if}</p>
    <p></p>
    <div style="text-align:center; "><img src="module/service/templates/default/images/activity/footer.jpg" /></div>
    <p>Copyright 2005-2010 版权所有：真爱一生网 闽ICP备09064513号</p>
    <p>真爱一生网备用域名：www.hongniangw.com | www.hongniangwang.com</p>
    <div style="height:20px;"></div>
  </div>
</div>

<script type="text/javascript" src="/module/service/templates/default/images/activity/jwplayer.js">
</script>
	<script type="text/javascript">
	var w='280px',h='200px';
		jwplayer("v1").setup({
			flashplayer: "/module/service/templates/default/images/activity/player.swf",
			file: "/module/service/templates/default/images/activity/1.flv",
			image: "/module/service/templates/default/images/activity/1.jpg",
			height:h,
			'frontcolor': 'ffffff',
    'lightcolor': 'cc9900',
    'screencolor': 'ffffff',
    'stretching': 'fill',
    		'controlbar': 'bottom',
			'skin':'/module/service/templates/default/images/activity/b.zip',
			width:w
		});
		
	jwplayer("v2").setup({
			flashplayer: "module/service/templates/default/images/activity/player.swf",
			file: "module/service/templates/default/images/activity/2.flv",
			image: "module/service/templates/default/images/activity/2.jpg",
			height:h,
			'frontcolor': 'ffffff',
    'lightcolor': 'cc9900',
    'screencolor': 'ffffff',
    'stretching': 'fill',
    		'controlbar': 'bottom',
			'skin':'module/service/templates/default/images/activity/b.zip',
			width:w
		});
		
		/*jwplayer("v3").setup({
			flashplayer: "module/service/templates/default/images/activity/player.swf",
			file: "module/service/templates/default/images/activity/3.flv",
			image: "module/service/templates/default/images/activity/3.jpg",
			height:h,
			'frontcolor': 'ffffff',
    'lightcolor': 'cc9900',
    'screencolor': 'ffffff',
    'stretching': 'fill',
    		'controlbar': 'bottom',
			'skin':'module/service/templates/default/images/activity/b.zip',
			width:w
		});	*/
	</script>
</body>
</html>
