<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>我的秋波——我的真爱一生——真爱一生网</title>

        <link href="module/service/templates/default/service.css" rel="stylesheet" type="text/css" />
        {template system/js_css public}
        <script src="module/service/templates/public/js/service_submit_page.js"></script>
        <script type="text/javascript">
            // 读取数组显示用户信息
            function userdetail(number,arrayobj) {
                var arrname = arrayobj;
                for(i=0;i<arrayobj.length;i++) {
                    var valueArray  = arrayobj[i].split(",");
                    if(valueArray[0] == number) {
                        if(valueArray[0] == '0' && valueArray[1] != '男士') {
                            document.write("保密");
                        } else {
                            document.write(valueArray[1]);
                        }	
                    }
                }
            }

        </script>
		<style type="text/css">
            .fixphoto_{max-width:171px;max-height:123px;margin-left:-35px;}
		</style>
    </head>

    <body>
        <div class="main">
            {template system/header public}<!--top end-->	
            <div class="content">
                <p class="c-title"><span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;<a href="index.php?n=service">我的真爱一生</a>&nbsp;&gt;&gt;&nbsp;我的秋波</span><a href="index.php?n=invite" target="_blank" class="loaction_right">邀请好友</a></p>
                <div class="content-lift">
                    {template public/service_left module}

                </div><!--content-lift end-->
                <!--=====左边结束===-->
                <div class="content-right">
                    <div class="c-right-content">
                        <div class="r-center-tilte">
                            <a href="#" class="r-title-black">&lt;&lt;返回我的真爱一生</a>
                            <span class="right-title f-ed0a91">我的秋波</span>			
                        </div>
                        <div class="r-center-ccontent" style="padding:20px 0 60px; width:753px;">
                            <!--=======公共头部=====-->
                            <div class="service-title">
                                <ul>					
                                    <li><a href="#" id="two1"   onclick="javascript:location.href='index.php?n=service&h=leer&t=isgetleer'" ><span>已收到的秋波（{$receive_num}）</span></a></li>
                                    <li><a href="#" id="two2"   onclick="javascript:location.href='index.php?n=service&h=leer&t=issendleer'" class="onthis"><span>已发送的秋波（{$send_num}）</span></a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <!--====公共头部结束==-->
                            <form name="delmemberid" action="index.php?n=service&h=leer&t=isendleer" method="post"  onsubmit="return checkPageGo('delleerid[]')"> 
                                <div class="service-liker">
                                    {if count($leers) == 0}
                                    <div class="norequest">
                                        您现在还没有发送任何秋波<br />立即 <a href="index.php?n=search" class="f-ed0a91-a">搜索意中人</a>，发送自己的秋波
                                    </div>              
                                    {else}			
                                    {loop $leers $leer}

                                    

                                    <ul class="service-liker-list">
                                        <li><input type="checkbox" name="delleerid[]" value="{$leer['l']['lid']}"/></li>
                                        <li>
                                            <div class="r-service-img">
                                                {if !empty($leer['s']['city_star'])}<a class="citystar2"><img src="module/service/templates/default/images/citystar.gif" /></a>{/if}
                                                <div class="r-s-img-in">
                                                    <p style="width:110px;"> <a style="display:block;" href="index.php?n=space&h=viewpro&uid={$leer['l']['receiveuid']}" target="_blank">
                                                            {if $leer['s']['images_ischeck']=='1' && $leer['s']['mainimg']}
                                                            <img src="{php if(MooGetphoto($leer['s'][uid],'mid')) echo MooGetphoto($leer['s'][uid],'mid');   elseif(MooGetphoto($leer['s'][uid],'medium')) echo MooGetphoto($leer['s'][uid],'medium');                      elseif($leer['s']['gender'] == '1') echo 'public/system/images/woman_100.gif';
                                                                 else echo 'public/system/images/man_100.gif';}"/>
                                                            {elseif $leer['s']['mainimg']}
                                                            {if $leer['s']['gender'] == '1'}
                                                            <img src="public/system/images/woman_100.gif"/>
                                                            {else}
                                                            <img src="public/system/images/man_100.gif"  />
                                                            {/if}
                                                            {else}
                                                            {if $leer['s']['gender'] == '1'}
                                                            <img src="public/system/images/nopic_woman_100.gif" />
                                                            {else}
                                                            <img src="public/system/images/nopic_man_100.gif"  />
                                                            {/if}
                                                            {/if}
                                                        </a> </p>
                                                </div>
                                            </div>						
                                        </li>
                                        <li>
                                            <dl class="liker-heart">
                                                <dt>{if  $leer['s']['s_cid'] ==20}
                                                <a href="index.php?n=payment&h=diamond" target="_blank"><img src="module/index/templates/default/images/zuan0.gif" title="钻石会员" alt="钻石会员"/></a>
                                                {elseif  $leer['s']['s_cid'] == 30}
                                                <a href="index.php?n=payment" target="_blank"><img src="module/index/templates/default/images/zuan1.gif" title="高级会员" alt="高级会员"/></a>
                                                {else}
                                                {/if}
                                                <a id="fzs" href="index.php?n=space&h=viewpro&uid={$leer['l']['senduid']}">{php $nickname=$leer['s']['nickname2']?$leer['s']['nickname2']:$leer['s']['nickname']}{php echo !empty($nickname)?$nickname:'ID:'.$leer['s']['uid']}</a>
                                                </dt>
                                                <dd>{if $leer['s']['birthyear']}{php echo (gmdate('Y', time()) - $leer['s']['birthyear']);}岁{else}年龄保密{/if}，居住{if $leer['s'][province] == '0' && {$leer['s'][city]} == '0'}保密{else}在<script>userdetail('{$leer['s'][province]}',provice)</script><script>userdetail('{$leer['s'][city]}',city)</script>{/if}的{php echo $leer['s']['gender']?'女士':'男士'}，寻找一位年龄{if $leer['t'][age1] == '0'}不限{else}在{$leer['t'][age1]}-{$leer['t'][age2]}岁{/if}，居住{if $leer['t'][workprovince] == '0' && {$leer['t'][workcity]} == '0'}不限{else}在<script>userdetail('{$leer['t'][workprovince]}',provice);userdetail('{$leer['t'][workcity]}',city)</script>{/if}的{php echo $leer['s']['gender']?'男士':'女士'}
                                                </dd>
                                                <dd class="f-ed0a91">&lt;{php echo loveStatus($leer['s']);}&gt;</dd>
                                            </dl>
                                        </li>
                                        <li style="float:right">
                                            <dl class="new-move">
                                                {if $leer['l']['stat'] == 0}
                                                <dd>{php echo date("Y年m月d日",$leer['l']['receivetime']);}向您送出了第{php echo $leer['l']['fakenum'] + $leer['l']['num']}次秋波。</dd>
                                                <dd>{php echo $leer['s']['gender']?'她':'他';}如此喜欢您，强烈建议您：</dd>
                                                <dd>

                                                <dt><input name="" type="button" class="btn btn-default" onclick="location.href='index.php?n=service&h=commission&t=sendcontact&sendid={$leer['s'][uid]}'" value="委托真爱一生联系TA" /></dt>
                                                {/if}
                                                {if $leer['l']['stat'] == 1}
                                                <dd>现在{php echo $leer['s']['gender']?'她':'他';}已经回复了您的秋波，</dd>
                                                <dd>{php echo $leer['s']['gender']?'她':'他';}如此喜欢您，强烈建议您：</dd>
                                                <dt><input name="" type="button" class="btn btn-default" onclick="location.href='index.php?n=service&h=commission&t=sendcontact&sendid={$leer['s'][uid]}'" value="委托真爱一生联系TA" /></dt>
                                                {/if}
                                                {if $leer['l']['stat'] == 2}
                                                <dd>您{php echo date("Y年m月d日",$leer['l']['sendtime']);}向{php echo $leer['s']['gender']?'她':'他';}送出了第{$leer['l']['num']}次秋波。</dd>
                                                <dd>可惜您不是{php echo $leer['s']['gender']?'她':'他';}喜欢的类型，千万不要泄气哦。</dd>
                                                <dt>真爱一生网还有很多优质会员在等着您呢。</dt>
                                                {/if}
                                                {if $leer['l']['stat'] == 3}
                                                <dd>您{php echo date("Y年m月d日",$leer['l']['sendtime']);}向{php echo $leer['s']['gender']?'她':'他';}送出了第{$leer['l']['num']}次秋波。</dd>
                                                <dd>对方正在考虑您的好意，如果您希望快速结交{php echo $leer['s']['gender']?'她':'他';}建议您：</dd>
                                                <dt><input name="" type="button" class="btn btn-default" onclick="location.href='index.php?n=service&h=commission&t=sendcontact&sendid={$leer['s'][uid]}'" value="委托真爱一生联系TA" /></dt>
                                                {/if}
                                            </dl>
                                        </li>
                                    </ul>
                                    {/loop}
                                    {/if}
                                    <div class="clear"></div>
                                    <div class="pages"><span class="fleft" style="padding-left:40px;"><input name="" type="checkbox" onclick="checkAll(this)" value="" />&nbsp;全选&nbsp;<input name="" type="submit" class="btn btn-default" value="删除信息" /> <input type="hidden"  name="delleer"  value="删除秋波"></span>{php echo multimail($item_num,$page_per,$page_now,$page_url)}转到第<input name="pageGo" id="pageGo" type="text" size="3" />页&nbsp;<input name="" type="button" class="go-page" value="GO" onclick="gotoPage()" style="float:none;"/>
                                        <div class="clear"></div>
                                    </div>
                                </div></form>
                            <div class="clear"></div>
                        </div>
                        <div class="r-center-bottom">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <!--content end-->
            {template system/footer public}<!--foot end-->
        </div><!--main end-->
    </body>
</html>
<script>
    // 切换tab
    function setTab(name,cursel,n) {

        if(cursel == 1) {
            window.location.href="index.php?n=service&h=leer";
        }
  
        if(cursel == 2) {
            window.location.href="index.php?n=service&h=leer&t=isendleer";		
        }

    }
    // 分页跳转
    function gotoPage() {
        value = document.getElementById("pageGo").value;
        value = parseInt(value);
	
        if(isNaN(value))
            value = 0;
	
        if(value<1)
            value = 1;
	
        if(value> {$page_num})
            value = {$page_num};
		
        window.location.href = "{$page_url}&page="+value;
    }
    // 删除全选功能
    function checkAll(chk){  
        var checkboxes = document.getElementsByName("delleerid[]");
        for(j=0; j < checkboxes.length; j++) {
            checkboxes[j].checked = chk.checked;
        }
    }
	
	
	$(document).ready(function(){
        var theImage = new Image();
		
        $(".r-s-img-in a img").each(function(i,w){
            theImage.src = $(w).attr("src");
            var imageWidth = theImage.width;
            var imageHeight = theImage.height;
            if(imageHeight<200){
                //$(w).removeClass('fixphoto');
                $(w).addClass('fixphoto_');
            }else{
			    //DrawImage($(w),100,125);
			}
        })
    });
</script>