<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>真爱一生网——七夕特别活动</title>
<link type="text/css" href="module/service/templates/default/activity_new.css" rel="stylesheet" />
<script type="text/javascript" src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js'></script>
<script type="text/javascript">
function show(type){
    if(type){
        $('#nv').show();
        $('#nan').hide();
    }else{
    $('#nan').show();
        $('#nv').hide();
    }
}
function zc(){ 
		location.href='http://www.zhenaiyisheng.cc?n=register';
		
      
      
  }
</script>
</head>

<body>
	<div id="box" style=" margin-left:208px;">
		<div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/a.jpg" /></div>
<!-- content -->
		<div class="content" style="height:3250px;;">
        	<div class="tv_l"></div>
            <div class="con_m">
            <!-- 主要内容 左 -->
				<div class="content_left">
                	<div class="left_a">
                    	<div><h1 style="text-align:center; ">【合肥七夕】2011年7月31日 七夕追爱悄然来袭——七夕情人节交友派对</h1></div>
                        <div><p>活动主办： 真爱一生网<span>（www.zhenaiyisheng.cc）</span></p>
                             <p>聚会时间：2011年7月31日 13：30--17：30</p>
                             <p>邀请人数：不限人数</p>
                             <p>联系方式：400-678-0405</p>
                             <p>费    用：120元/位（活动费用，各色饮品，女士免费）</p>
                             <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[特别说明1、：此活动费用，在真爱一生网办理会员升级时可抵用同等金额费用]</span></p>
                             <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[特别说明2、：即刻在线支付，享受20元优惠，即活动费用为100元]</span></p>
                             <p>报名截止：<span>仅剩{php $end=mktime(0,0,0,7,31,2011); $now=time(); echo ($end>$now)?ceil((mktime(0,0,0,7,31,2011)-time())/(24*3600)):0;}天</span></p>
                             <p>聚会地点：合肥圣大国际饭店（四星级酒店，活动前一天短信确认）</p>
                             <p>特别要求：<span>男士25-38岁，女士22-35岁！精心打扮，寻找爱的回忆，大胆展示，秀出最真的自我，邀约身边的朋友，</span></p>
                             <p><span>在浪漫时光里一起幸福告别单身！</span></p>
                        </div>
                        <div class="manu_a">{php $end=mktime(0,0,0,7,31,2011); $now=time();}<a href="{php  echo ($end>$now)?'index.php?n=service&h=register&channel=4':'javascript:alert(\'本期活动已经结束\')';}"><img src="module/service/templates/default/images/activity_new/manu_a.jpg" /></a></div>
                        
                    </div>
                    <div class="jieshao"><b style="color:#FFF;">活动介绍</b></div>
                    <div style="text-align:center; padding:17px 0 10px 0"><img src="module/service/templates/default/images/activity_new/pic.jpg" /></div>
                    <ul class="left_font">
                    	<li>
                        	<tt><img src="module/service/templates/default/images/activity_new/xin.jpg" /> <b>活动宣言</b></tt>
                       	    <span>
                          		<p>如果您：</p>
                                <p>工作忙碌，时间紧张，选择范围有限，</p>
                                <p> 还在等待缘分的到来，</p>
                                <p>抑或您不擅长主动与对方联系，</p>
		                   	    <p>在爱情的道路上需要建议和帮助。</p>
                        	    <p>爱情虽是一种缘份，</p>
		                   	    <p>但缘分不是天上掉下来的，</p>
                                <p>如今，</p>
                                <p>真爱一生为您寻找并送到您的面前，</p>
                                <p>但同时也可能稍纵即逝，</p>
                                <p>一个转身就是一世。</p>
                            </span>
                        	<p style=" text-indent:24px;">七夕鹊桥见，情谊两绵绵。千年的神话演绎着经典的浪漫，长久的期盼等来喜鹊飞舞翩翩。银河隔开牛郎织女的思</p>
                            <p>念，却美丽了一份缘。</p>
                            <p style=" text-indent:24px;">婚姻对于单身男女来说是决定一生幸福与否的终身大事，所以，世间无数的有情男女都会在这个晚上，夜深人静的</p>
                            <p>时刻，对着星空祈祷，期盼自己可以拥有美满的姻缘。</p>
                            <p style=" text-indent:24px;">而现代社会年轻人群工作压力增大，生活节奏变快，使得他们相互之间缺乏足够的信任与了解，也直接导致了都市</p>
                            <p>中出现了大量的单身男女交友难结婚难的问题，而本次活动的目的就是为单身男女搭建相互认识、了解的平台，在轻松</p>
                            <p>自在的氛围中让他们彼此相识，进而相知相恋到相守，从而成功牵线！</p>
                   	    </li>
						 <li style="text-align:center; "><img src="module/service/templates/default/images/activity_new/choujiang.gif" /></li>
                    	<li>
                        	<tt><img src="module/service/templates/default/images/activity_new/xin.jpg" /> <b>活动亮点</b></tt>                      	    
                          		<p>更浪漫：<span>现场相亲，从相识相约到相知相恋，点点滴滴都将记录下来，爱的誓言都将被众人见证。为您与TA的缘分，</span></p>
								<p><span>增添更多感动的回忆。</span></p>
                          		<p>更真实：<span>从网络走向现实，这样您离幸福又更近了一步，从模糊变成真实。</span></p>
                          		<p>更安全：<span>进场的每位会员都必须出示国家颁发的有效身份证件，为活动的安全保驾护航。</span></p>
                   	    </li>
                    	<li>
                        	<tt><img src="module/service/templates/default/images/activity_new/xin.jpg" /> <b>互动活动惊喜不断</b></tt> 
                            <p><span>最有趣味的游戏环环相扣带领大家一起狂欢high翻天。您也可以准备贴心小礼物届时送给您中意的ta。</span></p>   
                        </li>                  	    
                    	<li>
                        	<tt><img src="module/service/templates/default/images/activity_new/xin.jpg" /> <b>火热氛围炫不停</b></tt>    
                            <p style="text-indent:24px; "><span>最专业的策划团队打造最轻松愉快的约会氛围。聊天过程中穿插互动游戏调节气氛，轻松、精彩的趣味互动，</span></p>   
							<p><span>搞笑智慧的精彩游戏，光彩四射的才艺表演让您忘却一周工作的疲惫。</span></p>   
                        </li>                  	    
                    	<li>
                        	<tt><img src="module/service/templates/default/images/activity_new/xin.jpg" /> <b>参与人群</b></tt>   
                            <p><span>他们人称“白骨精”，收入颇丰，学历较高，每天忙碌于这座城市各个角落的商务楼。</span></p>   
                            <p><span>他们朝九晚五，忙碌少休，习惯了快节奏的生活方式，居然无暇寻找自己的缘分。</span></p>   
                            <p><span>他们渴望爱情，渴望温馨，想找到属于自己的那个有缘人。</span></p>   
                        </li>                  	    
                    </ul>
                    <div class="prompt">
                    	<div style="padding-bottom:5px; "><img src="module/service/templates/default/images/activity_new/wenxin.jpg" /></div>
                        <div>
                        	<p>1.可邀请网上喜欢的异性或朋友一起报名参加。</p>
                        	<p>2.网上报名等待真爱一生电话或短信通知。</p>
                        	<p>3.活动前夕准备好一份小礼物，现场可赠送给心仪的TA。</p>
                        	<p>4.活动当天保证精神饱满，神采焕发，记得梳妆打扮一番，给异性留下好的印象。</p>
                        	<p>5.这是轻松的周末聚会，保持平常心，吃好、喝好、玩好，有缘更好。</p>
                        </div>
                        
                    </div>
                    <div class="prompt">
                    	<div style="padding-bottom:5px; "><img src="module/service/templates/default/images/activity_new/zhuyi.jpg" /></div>
                        <div>
                        	<p>请所有会员为了保证自己的权益，仔细阅读以下内容！</p>
                        	<p>真爱一生网的2种支付方式分别是：</p>
                        	<p>1.活动现场付费</p>
                        	<p>2.在线支付（一定要通过真爱一生网活动专区网页上的支付渠道付到公司账户上）</p>
                        	<p>为了您的权益，请不要对任何账号进行任何与现金有关的操作，以避免受到不必要的损失。</p>
                        </div>
                    </div>

                    <div class="prompt">
     <div style="padding-bottom:5px; "><img src="module/service/templates/default/images/activity_new/mianze.gif" /></div>
     <div>
         <p>1、活动参与人数以现场实际到达人数为准。</p>
         <p>2、嘉宾必须对自己的一切行为负责，请确信您有足够的智慧和自我保护能力，免受不法侵害。</p>
         <p>3、嘉宾间在征友、应征、聚会或婚恋过程中所发生的任何纠纷(以及法律诉求)，“真爱一生网”概不承担任何责任。</p>                  <p>4、嘉宾参与活动所产生的任何费用，包括但不限于车费、误工费等，均由您个人承担，真爱一生网概不承担。</p>
         <p>5、真爱一生网保留最终解释权，拒绝在活动中表现有失风度或者收到投诉的个人再次参加活动。</p>
      </div>
</div>
                </div>   
            <!-- 主要内容 左 结束 -->
            <!-- 主要内容 右 -->
				<div class="content_right">
                   <div>
                    	<div class="header">
                        	<div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/top.jpg" /></div>
                            <div class="header_l"></div>
                            <div class="header_m"><b>已报名</b></div>
                            <div class="header_r"></div>
                            <div class="nv" onClick="show(1);">女会员({$qixi_regest_count[1]})</div>
                            <div class="nan" onClick="show(0);">男会员({$qixi_regest_count[0]})</div>
                        </div>
                        <div class="clear"></div>
                    	<ol class="huiyuan" id="nv">
                        	<table cellpadding="0" cellspacing="0" border="0" width="212" align="center" >
                            	<tr>
                                	<td width="60" align="center" valign="middle" >昵称</td>
                                	<td width="26" align="center" valign="middle" >性别</td>
                                	<td width="28" align="center" valign="middle" >年龄</td>
                                	<td width="98" align="center" valign="middle" >学历</td>
                                </tr>
                                <tr>
                                	<td colspan="4">-----------------------------------</td>
                                </tr>
                            </table>
                            {php $edu_array=array('3'=>'高中及以下','4'=>'大专','5'=>'大学本科','6'=>'硕士','7'=>'博士')}
                            <!--{loop $woman_qixi_regest  $key $nv}-->
                            <!--{if $key==0}-->
                        	<li class="clear">
                            <!--{else}-->
                            <li>
                            <!--{/if}-->
                            	<div style="width:60px; "><a href='index.php?n=space&uid={$nv[uid]}' target="_blank">{$nv[nickname]}</a></div>
                            	<div style="width:26px;"><img src="module/service/templates/default/images/activity_new/lady.jpg" /></div>
                            	<div style="width:28px;">{php echo empty($nv[birthyear])?'保密':(date('Y')-$nv[birthyear]);}</div>
                            	<div style="width:98px;">{php echo empty($edu_array[$nv[education]])?'保密':$edu_array[$nv[education]];}</div>
                            </li>
                            <!--{/loop}-->
                        </ol>
                        <ol class="huiyuan" id="nan" style="display:none">
                        	<table cellpadding="0" cellspacing="0" border="0" width="212" align="center" >
                            	<tr>
                                	<td width="60" align="center" valign="middle" >昵称</td>
                                	<td width="26" align="center" valign="middle" >性别</td>
                                	<td width="28" align="center" valign="middle" >年龄</td>
                                	<td width="98" align="center" valign="middle" >学历</td>
                                </tr>
                                <tr>
                                	<td colspan="4">-----------------------------------</td>
                                </tr>
                            </table>
                        	<!--{loop $man_qixi_regest  $key $nv}-->
                            <!--{if $key==0}-->
                        	<li class="clear">
                            <!--{else}-->
                            <li>
                            <!--{/if}-->
                            	<div style="width:60px; "><a href='index.php?n=space&uid={$nv[uid]}' target="_blank">{$nv[nickname]}</a></div>
                            	<div style="width:26px;"><img src="module/service/templates/default/images/activity_new/man.jpg" /></div>
                            	<div style="width:28px;">{php echo empty($nv[birthyear])?'保密':(date('Y')-$nv[birthyear]);}</div>
                            	<div style="width:98px;">{php echo empty($edu_array[$nv[education]])?'保密':$edu_array[$nv[education]];}</div>
                            </li>
                            <!--{/loop}-->
                        </ol>
                    	<div>
                            <div class="header_l"></div>
                            <div class="header_m">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div class="header_r"></div>
                            <div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/down_a.jpg" /></div>
                        </div>
                   </div>
                   <div style="height:10px; "></div>
                   <div>
                          <div class="header">
                             <div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/top.jpg" /></div>
                             <div class="header_l"></div>
                             <div class="header_m"><a href="#" style="float:right; ">更多</a><b>往期回顾</b></div>
                              <div class="header_r"></div>
                          </div>
                          <ul class="huigu">
                          	<li><a href="index.php?n=service&h=qixi">· 2011年7月31日 七夕追爱悄然来袭----夕情人节交友派对</a></li>
                           	<li><a href="index.php?n=service&h=ahtv">· 2011.7.10安徽卫视《周日我最大》“缘来就是您”——男嘉宾海选活动</a></li>
                           	<li><a href="index.php?n=service&h=lntv">· 2011.7.17辽宁卫视《幸福来敲门》——男女嘉宾海选活动</a></li>
                           </ul>
                           <div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/down_b.jpg" /></div>
                    </div>
                   <div style="height:10px; "></div>
                    <div>
                          <div class="header">
                             <div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/top.jpg" /></div>
                             <div class="header_l"></div>
                             <div class="header_m"><b>线下相亲活动</b></div>
                              <div class="header_r"></div>
                          </div>
                          {if empty($nickname) && empty($nick_name)}
						  
                          <ul class="huigu" onClick="zc()">
						  {else}
						   <ul class="huigu">
						  {/if}
						  
						  <form action="index.php?n=service&h=qixi&action=sub" target="_blank" method="post"  {if empty($nickname)}  onsubmit="return check1();" {/if}>
						  
						  {loop $vote_up $key $value}
							
							<li><a href="#">{$key}.{$value[vote_title]}</a></li>
							<input type="hidden" name="uid" value="{$uid}" />
							
							{loop $value[content] $k $v}
								<li style="vertical-align:middle;">
								{if $value[vote_style] == 0}
									<input  type="radio" name = '{$value[vid]}[]' value="{$k}" checked="checked" />
									<span style=" margin-left:3px;">{$v}</span>	
								{elseif $value[vote_style] == 1}
									<input type="checkbox" name = '{$value[vid]}[]' value = '{$k}'/><span style = 'margin-left:10px;' >{$v}</span>
								{elseif $value[vote_style] == 2}
									<textarea name = '{$value[vid]}[]' value = '{$k}' style="size:12px; width:200px; height:100px;"></textarea>
								{/if}
								
								</li>
							{/loop}
						{/loop}
						 <div class="clear"></div>
						<input type="hidden" name = "check" value="1" />
						<input type="hidden" name = "nickname" value="{$nickname}" />
						<input type="hidden" name = "nick_name" value="{$nick_name}" />
						  {if empty($nickname) && empty($nick_name)}
						  {else}
						  <li style="text-align:center; "><input type="image" src="module/service/templates/default/images/activity_new/tijiao.gif" alt="提交" /></li>
						  {/if}
						 </form>
						 </ul>
                          <div style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/down_b.jpg" /></div>
                    </div>
                        
				</div>   
            <!-- 主要内容 右 结束 -->
            <div style="height:10px; clear:both; "></div>
            <!-- 图片及视频 -->
            	<div class="photo">
                	<p><a href="#">更多图片</a></p>
                    <div style="width:948px; padding-bottom:10px; border-left:1px #f583b0 solid; border-right:1px #f583b0 solid; ">
                        <ol>
                            <li><img src="module/service/templates/default/images/qixi/qixi_1.jpg" /></li>
                            <li><img src="module/service/templates/default/images/qixi/qixi_2.jpg" /></li>
                            <li><img src="module/service/templates/default/images/qixi/qixi_3.jpg" /></li>
                            <li><img src="module/service/templates/default/images/qixi/qixi_4.jpg" /></li>
                        </ol>
                        <ol>
                            <li><img src="module/service/templates/default/images/qixi/qixi_5.jpg" /></li>
                            <li><img src="module/service/templates/default/images/qixi/qixi_6.jpg" /></li>
                            <li><img src="module/service/templates/default/images/qixi/qixi_7.jpg" /></li>
                            <li><img src="module/service/templates/default/images/qixi/qixi_8.jpg" /></li>
                        </ol>
                    </div>
                    <div  style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/bottom_2.gif" /></div>
                </div>
                <div style="height:10px; clear:both; "></div>
                <div class="video">
                	<div  style=" font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/video.gif" /></div>
                    <div style="width:948px; padding-bottom:20px; height:200px; border-left:1px #f583b0 solid; border-right:1px #f583b0 solid; ">
                        <ol class="video_ul">
                            <li><div id="v1"></div></li>
                            <li><div id="v2"></div></li>
                            <li><div id="v3"></div></li>
                        </ol>
                    </div>
                    <div  style="font-size:0;  line-height:0;"><img src="module/service/templates/default/images/activity_new/bottom_2.gif" /></div>
                </div>
            <!-- 图片及视频 结束 -->
            </div>
            <div class="tv_r"></div>    
        	<div class="clear"><img src="module/service/templates/default/images/activity_new/s_bottom.gif" /></div>
        </div>

<!-- footer -->    
        <div id="footer">
            <p><a href="index.php?n=about&h=us">关于我们</a>| <!--  <a href="index.php?n=about&h=media">媒体关注</a> | --> <a href="index.php?n=about&h=contact">联系我们</a> | <a href="index.php?n=about&h=links">合作伙伴</a> | <a href="index.php?n=about&h=getsave">意见反馈</a> | <a href="index.php?n=story">成功故事</a>| <a href="index.php?n=payment&h=channel_diamond">汇款信息</a> |
      {if ($user_arr['s_cid'] == 30 && $user_arr['bgtime'] > time()-604800) || !empty($GLOBALS['h_pay'])} <a href="index.php?n=payment&h=add_money">其他信息</a> {else} <a href="index.php?n=payment&h=channel">其他信息</a> {/if}</p>
    <p></p>
            <p></p>
            <div style="text-align:center; "><img src="module/service/templates/default/images/activity_new/footer.jpg" /></div>
            <p>Copyright 2005-2010 版权所有：真爱一生网 闽ICP备09064513号</p>
            <p>真爱一生网备用域名：www.hongniangw.com | www.hongniangwang.com</p>
            <div style="height:20px;"></div>
        </div>
    </div>



	</div>


	<div style="display:none" class="imframes"  id="dengl">
			
					<div id = 'diaocha'>
						<div class="mains1">
							
							<div class="list1">
								<form action="index.php?n=service&h=qixi&action=sele" method="post" onSubmit="cheake()">
								<span>昵称：</span><input type="text" name = 'nick_name'>
								<span>密码：</span><input type="password" name = 'passwd'>
								<input type="submit" style="width:80px; height:30px;" value="提   交">
							</form>
							</div>
						</div>
					</div>

</div>
<script type="text/javascript" src="public/system/js/jwplayer.js"></script>
	<script type="text/javascript">
	var w='280px',h='212px';
		jwplayer("v1").setup({
			flashplayer: "public/system/js/player.swf",
			file: "module/service/templates/default/images/flv/qixi/1.flv",
			image: "module/service/templates/default/images/qixi/1.jpg",
			height:h,
			'frontcolor': 'ffffff',
    'lightcolor': 'cc9900',
    'screencolor': 'ffffff',
    'stretching': 'fill',
    		'controlbar': 'bottom',
			'skin':'public/system/js/b.zip',
			width:w
		});
		
		jwplayer("v2").setup({
			flashplayer: "public/system/js/player.swf",
			file: "module/service/templates/default/images/flv/qixi/2.flv",
			image: "module/service/templates/default/images/qixi/2.jpg",
			height:h,
			'frontcolor': 'ffffff',
    'lightcolor': 'cc9900',
    'screencolor': 'ffffff',
    'stretching': 'fill',
    		'controlbar': 'bottom',
			'skin':'public/system/js/b.zip',
			width:w
		});
		
		jwplayer("v3").setup({
			flashplayer: "public/system/js/player.swf",
			file: "module/service/templates/default/images/flv/qixi/3.flv",
			image: "module/service/templates/default/images/qixi/3.jpg",
			height:h,
			'frontcolor': 'ffffff',
    'lightcolor': 'cc9900',
    'screencolor': 'ffffff',
    'stretching': 'fill',
    		'controlbar': 'bottom',
			'skin':'public/system/js/b.zip',
			width:w
		});
	</script>
	
	
	{template system/service_foot public}
	
</body>
</html>

