<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>肖像许可使用声明——真爱一生网</title>
<link href="public/default/css/global_import.css" rel="stylesheet" type="text/css" />
<link href="module/story/templates/{$GLOBALS['style_name']}/story.css" rel="stylesheet" type="text/css" />
</head>
{template system/js_css public}
<script src="module/search/templates/default/js/syscode.js?v=1" type="text/javascript"></script>
<body>
{template system/header public}
<div class="main">
	<div class="content">
		<p class="c-title"><span class="f-000"><a href="index.php">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;<a href="index.php?n=story">成功故事</a>&nbsp;&gt;&gt;&nbsp;肖像许可使用声明</span></p>
		
			<div class="content-title">
				<span class="right-title">肖像许可使用声明</span>
			</div><!--content-title end-->
			<div class="c-center">
				<div class="announce-box">
					<p>我同意真爱一生网以成功故事的形式使用我上传的本人及本人配偶肖像的照片，同意将这些照片进行加工，用于展示、广告和其他合法目的。任何带有本人肖像照片的作品或制品完成之后，无须再经我审批。我确信，真爱一生网在有关作品或制品完成过程中对本人及本人配偶肖像所作的改动和加工均属合理范围，但旨在使本人遭受羞辱的制作行为除外。我已是成年人，有权签署此份声明。我确信，此份声明将对我本人、本人配偶、真爱一生网发生效力并不可变更。我已通读此份声明通晓其全部内容。</p>
					<div>说明：</div>
					<p>一、作为真爱一生网用户，您报名提交您及您配偶通过真爱一生网相识相恋的故事及相片，即表示您同意真爱一生网使用您们提交的资料和相片用于真爱一生网的成功故事展示。阅读了上面的“肖像许可使用声明”，按“提交”按钮即表示您已通读此份声明，通晓其全部内容并签署此份声明。 </p>
					<p>二、您必须确保您在报名时向真爱一生网提供的资料（包括您及您配偶的个人资料、相片及恋爱故事）都是真实的。对伪造身份背景资料、上传虚假资料的会员，我们保留追究由此产生的直接或间接结果的法律责任的权利。</p>
					<div align="center"><a href="javascript:window.close();" class="f-b-d73c90">关闭窗口</a></div>
				</div>			
				<div class="clear"></div>
			</div><!--c-center-data end-->
			<div class="content-bottom">			
			</div>
			<!--content-bottom end-->
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}<!--foot end-->
</div><!--main end-->
</body>
</html>
