body,img,ul,li,a,dl,dd,p{border:none;list-style:none;text-decoration:none;font-family: "宋体";}
.clear{clear:both;width:0px; height:0px; overflow:hidden; line-height:0px; font-size:0px;}
body{white-space:normal;word-wrap:break-word; font-size:12px;}
.center,.head,.searchbar,.content{ width:982px; margin:0 auto;}
.main{margin:0 auto;}
.logobox,.getknow,.toptel,.navbar,.navbar li a,.navbar li a:hover,.searchbar,.search-btn,.lefttitle,.leftbottom,.go-know,.leftnav li,.left-likes-img,.right-title,.all-data,.all-data div,.foottel{ background:url(images/allimg.gif);}
.in-pic,.photo-show,.left-match .icon,.cer-phone-yes,.cer-phone-no,.cer-card-yes,.cer-card-no,.cer-email-yes,.cer-email-no,.cer-video-yes,.cer-video-no,.photo-box-show,.paly-video,.mysound-box-show a{ background:url(images/publcimg.gif);}
.f-ed0a91,.f-ed0a91-a{ color:#ed0a91;}
.f-075FB6{ color:#075FB6;}
.f-000,.f-000-a{ color:#000;}
.f-f00{ color:#f00;}
.c-title{line-height:34px;height:34px;font-size:12px;padding-left:5px;width:977px;float:left;}
.c-title span{float:left;}
.c-title a{color:#000;}
.c-title a:hover,.f-000-a:hover,.f-ed0a91-a:hover{ text-decoration:underline}
.fright{ float:right;}
.fleft{ float:left;}
.citystar{position:absolute;margin:5px 0 0 5px; z-index:2;}

/*背景*/
body{ background:url(images/bg.jpg) top center no-repeat #94e0ff;}

/*头部*/
.logobox{ width:283px; height:91px; background-position:0 0; display:inline; float:left;}
.getknow{ width:205px; height:43px; display:inline; float:left; background-position:-778px -23px; margin:24px 0 0 16px;}
.toptel{ width:496px; height:23px; background-position:-486px 0; display:inline; float:left; margin:22px 0 0 50px;}
.topmsg,.topmsg2{ display:inline; float:right; text-align:right; margin-top:10px;font-size:14px; width:500px;}
.topnav{ width:982px; height:35px; float:left;}
.navbar{ width:656px; height:27px; background-position:0 -110px; padding:8px 0 0 0px; float:left}
.navbar li{ float:left;}
.navbar li a{ width:82px; height:23px; display:block; line-height:23px; color:#FFF; text-align:center; font-size:12px; font-weight:700; background-position:-439px -23px;}
.navbar li a:hover{ background-position:-521px -23px;}
.hmenber{width:159px;height:43px;background:url(images/upvip.gif) no-repeat;float:right;position:relative;display:block;margin-top:-7px;}
.dmenber{width:162px;height:44px;background:url(images/updm.gif) no-repeat;float:right;position:relative;display:block;margin-top:-8px;}
.upgrade { background: url("images/upm.gif") no-repeat scroll 0 0 transparent; display: block; float: right; height: 34px; margin-right:30px; margin-top: 2px; position: relative; width: 143px;}


/*搜索条*/
.searchbar{ height:32px; background-position:0 -154px; margin-top:10px;padding:10px 0 0;font-size:14px; line-height:24px;}
.search-cts{width:190px;float:left; margin-left:70px; display:inline;}
.search-cts-list{float:left;width:575px;margin-top:-3px;}
.search-cts-list li{float:left;margin-right:10px;*margin-right:0px;display:inline;}
.search-btn{width:106px;height:32px;border:none;cursor:pointer; margin-top:-5px; background-position:-438px -52px;}
.reg-info-text {margin:-3px 10px 4px 0;float:left; border: 1px solid #CCCCCC; color: #666666; height: 18px; line-height: 18px; width: 184px;}

/*内容左边*/
.c-left,.c-left-box,.lefttitle,.leftbottom{ width:216px; float:left;}
.left-photos,.photo-box{ width:214px; float:left}
.lefttitle{ height:32px; background-position:0 -208px; font-size:14px; font-weight:700; color:#3597f6; text-align:center; padding:10px 0 0 32px;float:left;width:184px; line-height:32px;}
.leftbottom{ height:7px; font-size:0px; background-position:0 -250px;}
.leftbox-in{ width:214px; background:#afd7ed; border-left:1px solid #59adf8; border-right:1px solid #59adf8; float:left;}
.pic-show{margin:15px auto;	height:247px;width:173px;}
.in-pic{width:173px;height:247px; background-position:-307px 0px;}
.in-pic,.photo-show-in,.left-likes-img{text-align:center;vertical-align:middle;display:table-cell;overflow:hidden;position:relative;}	
.in-pic p,.photo-show-in p,.left-likes-img p{position:static;+position:absolute;top:50%;}
.in-pic p img,.photo-show-in p img,.left-likes-img img{position:static;+position:relative;top:-50%;left:-50%;}
.photo-last,.photo-next{float:left;	display:inline;	padding-top:15px;}
.photo-last{margin-left:5px;}
.photo-next{margin-right:5px;}
.photo-show{width:166px;height:66px;float:left;margin:0 4px;display:inline;	padding:1px 0px; background-position:-314px -252px;}
.photo-show-in{	width:54px;	height:66px;padding-left:1px;}
.set-photos{text-align:left;line-height:24px; padding:10px 0 10px 80px;}
.left-match{text-align:center;}
.left-match a{font-size:14px;color:#3597f6;	}
.left-match .icon{line-height:24px;padding-left:18px; background-position:-159px -283px;}	
.left-match .big-f{	font-size:30px;}
.go-know{width:174px;height:37px;display:block;margin:20px auto 0; background-position:-603px -23px;}
.leftnav{ margin:15px 11px 0; width:192px; background:#c7ede9; padding:5px 0 5px;}
.leftnav li{ width:180px; height:22px; background-position:0 -259px; text-align:center; margin:7px 0; padding-left:10px}
.leftnav li a{ color:#3597f6; line-height:22px; font-size:14px;}
.leftnav li a:hover{color:#075FB6;}
.left-likes{float:left;	padding:10px 0 0 10px;position:relative;}	
.left-likes dt,.left-likes dd{float:left;}	
.left-likes dd{	width:80px;line-height:23px;padding-left:15px;}
.left-likes dd.f-b-d73c90{margin-top:10px;}	
.left-likes-img{ background-position:-875px -278px;width:106px;height:132px;}
.left-likes-img p{*padding-top:2px;}
.left-more{	float:right;color:#000;	font-size:12px;	margin:10px 15px 5px;display:inline;}
.left-more:hover{text-decoration:underline;}

/*内容左边*/
.c-right,.c-rightbox{ width:754px; float:left;margin-right:5px;}
.c-rightbox{ margin-top:-12px; position:relative;}
.right-title{ width:655px; height:56px; background-position:-228px -208px; padding:10px 35px 0 64px; line-height:32px;}
.r-title{ font-size:14px; font-weight:700; color:#3597f6;}
.rightbox-in{ width:752px; border:1px solid #3579f6;border-top:none; padding-bottom:42px;}
.right-data{padding:0 0 0 20px;float:left;}
.right-data dt,.right-data dd{float:left;width:670px;line-height:32px;height:32px;	}
.right-data .fright{width:200px;}	
.right-data .fright img{float:left;	margin-top:8px;	}
.right-cer,.right-cer li{float:left}
.right-cer li{width:110px;height:32px;line-height:32px;}
.right-cer li a{color:#666;}
.right-cer li a:hover{color:#000;}	
.cer-phone-yes,.cer-phone-no{padding-left:25px;}
.cer-card-yes,.cer-card-no{padding-left:30px;}
.cer-email-yes,.cer-email-no{padding-left:35px;}
.cer-video-yes,.cer-video-no{padding-left:30px;}
.cer-phone-yes,.cer-card-yes,.cer-email-yes,.cer-video-yes{color:#d73c90;}
.cer-phone-yes{ background-position:0 -7px;}
.cer-phone-no{ background-position:0 -44px;}
.cer-card-yes{ background-position:0 -87px;}
.cer-card-no{ background-position:0 -124px;}
.cer-email-yes{ background-position:0 -168px;}
.cer-email-no{ background-position:0 -204px;}
.cer-video-yes{ background-position:0 -241px;}
.cer-video-no{ background-position:0 -277px;}
.all-data,.all-data p{float:left;height:13px;font-size:0px;}	
.all-data{width:383px; height:13px;margin-top:10px; background-position:-597px -66px; padding:2px 1px 0;}
.all-data div{width:383px; height:10px;position:relative; background-position:-600px -81px;}
.dtable{padding:0px 0 0 20px;float:left;}
.dtable li{width:233px;height:22px;}
.dtable li,.rightbox-in p{line-height:22px;padding-left:10px;float:left;}
.rightbox-in p{	padding:0 30px;	width:680px;}
.my-heart{margin-top:30px;text-indent:24px;}
.photo-box-show{width:157px;height:125px;margin-top:40px;margin-left:25px;float:left;display:inline; background-position:-149px 0;}
.photo-img-box{width:133px;height:91px;top:11px;left:11px;position:relative;}
.paly-video{ background-position:-149px -129px;width:52px;height:52px;display:block;position:absolute;top:50%;left:50%;margin-top:-26px;margin-left:-26px;filter:alpha(opacity=50);opacity: 0.5;}	
.paly-video:hover{filter:alpha(opacity=70);opacity: 0.7;}
.mysound-box-show,.mysound-box-show a{width:159px;height:60px;}
.mysound-box-show{float:left;margin-top:40px;margin-left:25px;display:inline;}
.mysound-box-show a{ background-position:-149px -201px;display:block;}
.textmsg{width:400px; float:left; padding:40px 0 0 30px; line-height:22px; color:#666;}
.r-boxbg01{ background:url(images/r_boxbg01.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg02{ background:url(images/r_boxbg02.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg03{ background:url(images/r_boxbg03.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg04{ background:url(images/r_boxbg04.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg05{ background:url(images/r_boxbg05.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg06{ background:url(images/r_boxbg06.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg07{ background:url(images/r_boxbg07.gif) right bottom no-repeat #e3f4fd;}
.r-boxbg08{ background:url(images/r_boxbg08.gif) right bottom no-repeat #e3f4fd;}
.youableliker{cursor:pointer;}
/*底部*/
.foot{padding:10px 0 20px;font-size:12px;text-align:center;line-height:26px;background:#5ca7ba;margin-top:10px;}
.foot-nav{text-align:center;margin:15px auto;height:26px;}
.foot-nav li{display:inline;line-height:26px;color:#333;}
.foot-nav li a{color:#333;padding:0 6px;}
.foottel{ width:629px; height:35px; background-position:0 -293px; margin:0 auto;}

/*添加的样式*/
.leftnav li.show{ background:url(images/li_show.gif) no-repeat;}
.bottom-nav li.show{ background-position:-16px 0;} 
.leftnav li.show a{ color:#fff;}
.b-getknow{ display:block; width:331px; height:69px; margin-left:215px; background:url(images/b_getknow.gif) no-repeat}

.myself{background:url(../../../../public/default/images/toMemberBg.png) no-repeat;width:127px;height:156px;float:left;margin:10px 10px 0 10px;}
.vmcd{width:600px;float:left;height:156px;padding-top:10px;}
.vmcd div{padding-bottom:10px;}
.pInfo{height:160px;width:752px; border:1px solid #3579f6;border-top:none; padding-bottom:42px;background:url(images/r_boxbg01.gif) right bottom no-repeat #e3f4fd;}