<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>
<script>
function checkform(){
	var pw = $("#pw").val();
	var newpw = $("#newpw").val();
	var newpw2 = $("#newpw2").val();
	
	if(pw=='' || newpw ==''){
		alert("密码不能为空");
		return false;
	}
	if(newpw != newpw2){
		alert("两次输入新密码不一致");
		return false;
	}
}
</script>
<h1>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 修改密码</span>
<span class="action-span"><a href="{php $u=explode('&',$_SERVER['QUERY_STRING']);}index.php?{$u[0]}&{$u[1]}">刷新</a></span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
<form name="theForm" method="post" action="index.php?action=system_adminuser&h=password" onsubmit="return checkform();">
	<table width="100%">
		<tr>
			<td class="label">原密码：</td>
			<td>
				<input name="pw" type="password" id="pw" size="20" maxlength="20" />
				<span class="require-field">*</span>
				</td>
			</tr>
		<tr>
			<td class="label">新密码：</td>
			<td>
				<input type="password" name="newpw" id="newpw" maxlength="20" size="20"/>
				<span class="require-field"> *</span>
				</td>
			</tr>
		<tr>
			<td class="label">确认新密码：</td>
			<td><input type="password" name="newpw2" id="newpw2" maxlength="20" size="20"/>    	<span class="require-field">*</span>
				</td>
			</tr>
		<tr>
  	<td height="36" colspan="2" valign="bottom" style="padding-left:350px;"><input type="hidden" name="ispost" value="1"/>
		<input type="hidden" name="uid" id="uid" value="{$GLOBALS['adminid']}"/>
		<input type="submit" value=" 确定 " class="button" />&nbsp;&nbsp;&nbsp;
  		<input type="reset" value=" 重置 " class="button" />
  		</td>
			</tr>
</table>
</form>
</div>