<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../public/system/js/sys1.js?v=1"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>
<script type="text/javascript">
//显示用户信息
function userdetail(number,arrayobj) {
	var arrname = arrayobj;
		for(i=0;i<arrayobj.length;i++) {
			var valueArray  = arrayobj[i].split(",");
			if(valueArray[0] == number) {
				if(valueArray[0] == '0' && valueArray[1] != '男士') {
					document.write("未选择");
				} else {
					document.write(valueArray[1]);
				}	
			}
	}
}


//当鼠标移过时显示图框
var xPos;
var yPos;
var timerID;
function showinfo(evt,uid){
        evt=evt || window.event;
	if(evt.pageX){          
		xPos=evt.pageX;
		yPos=evt.pageY;
	} else {      
		xPos=evt.clientX+document.body.scrollLeft-document.body.clientLeft;
		yPos=evt.clientY+document.body.scrollTop-document.body.clientTop;      
	}
        timerID = setTimeout("xy("+xPos+","+yPos+","+uid+")",500);
}
function xy(xPos,yPos,uid){
		
		if(xPos+70+600<window.screen.width){
		      $("#callinfo").css('left',xPos+70);
		      $("#callinfo").css('top',yPos-70);
		      $("#userid").html(uid);
		      $.get("ajax.php?n=callinfo",{uid:uid},function(str){
		              var arr=new Array();
		              arr=str.split('||');
		              $("#usertelphone").html(arr[0]);
		              $("#userbezhucontent").html(arr[1]);
		              $("#usercause").html(arr[2]);
		              $("#usercallstate").html(arr[3]);
		              $("#usercallremark").html(arr[3]);
		      });
		      $("#callinfo").css('display','block');
		//alert(xPos+'|'+yPos);
		      }else {$("#callinfo").css('display','none'); }
}
function hiddend(){
   $("#callinfo").css('display','none');
   clearTimeout(timerID);
}


//分页跳转
function gotoPage() {
	var page = $("#pageGo").val();
	var page = parseInt(page);
	
	if(page<1) page = 1;
	if(page>{php echo ceil($total/$page_per);})

	page = {php echo ceil($total/$page_per);};
	window.location.href = "{$currenturl}&page="+page;
}

//全选
function chooseall(){
	if($("#choose_all").attr("checked")){
		$("input[name='changesid[]']").attr("checked",true);
	}else{
		$("input[name='changesid[]']").attr("checked",false);
	}
}

//分配客服
function changeusersid(){
	var s_page_val = $("#s_page").val();
	var e_page_val = $("#e_page").val();
	var pre_url = $("#pre_url").val();
	var kefuuid = $("#kefuuid option:selected").val(); 
	if($.trim(s_page_val) != '' && $.trim(e_page_val) != ''){ //输入页数成批转换
		if(s_page_val<=0){
			alert('起始页数输入不正确');return;
		}
		if(e_page_val > {php echo ceil($total/$page_per);}){
			alert('结束页数输入不正确');return;
		}
		if(parseInt(s_page_val)>parseInt(e_page_val)){
			alert('起始页不得大于或等于结束页数');return;
		}
	
		location.href="index.php?action=allmember&h=changeusersid_bat&s_page="+s_page_val+"e_page="+e_page_val+"&kefuuid="+kefuuid+"&pre_url="+pre_url;
		return;
	}else{
		var uidlist = "";
		$("input[name='changesid[]']:checked").each(function(){
			uidlist = 1;
		})
		if(uidlist==''){
			alert('请选择需要分配的会员');
			return false;
		}
		return true;

	}

}

//排序
function chang_order(field,order){
	location.href="{$currenturl}&order="+field+"&method="+order;
}

//月收入，年龄筛选条件
$(function(){
	$('#birthyear,#salary').click(function(){
		var birthyear = $('#birthyear:checked').val() ? $('#birthyear:checked').val() : '';
		var salary = $('#salary:checked').val() ? $('#salary:checked').val() : '';
		window.location.href = "{$currenturl}&birthyear="+birthyear+"&salary="+salary;			   
	})
})

$(function(){
	$(".csstab tr").mouseover(function(){
		$(this).addClass("over");
	}).mouseout(function(){
		$(this).removeClass("over");	
	});

	$("#page_per").change(function(){
		var page_per = this.value;
		location.href="$currenturl"+"&page_per="+page_per;
	});


    $("#updateMember").click(function(){
       var url='./allmember_ajax.php?n=excellent';
       $.post(url,function(data){
         if(data=='ok'){
             alert('更新成功！'+data);
         }else{
             alert('更新失败！'+data);
         }
       });
    });
});
</script>
<style>
tr.over td {
	background:#cfeefe;
} 

.callinfo{
position:absolute;
top:100px;
left:100px;
width:600px;
height:125px;
background:#ffffff;}
#callinfo table{
backgroung:#ffffff;}
#callinfo td{
border:#cccccc solid 1px;
}
</style>
</head>
<body>
<h1>
<span class="action-span"><a href="{$currenturl}">刷新当前页</a></span>
<span class="action-span"><a href="{$currenturl1}">刷新全部</a></span>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - {$title} </span>
<div style="clear:both"></div>
</h1>
<div>
<form action="" method="get">
 
  <tr>
    <!--  <td><input type="button" id="updateMember" value="更新" /></td> &nbsp;&nbsp;&nbsp;&nbsp;-->
  	<td colspan="8" style="text-align:left">
		搜索内容：
		<input name="keyword" type="text" id="keyword" value="{php echo $condition['m.uid'].$condition['m.username'].$condition['m.nickname'].$condition['m.telphone'].$condition['m.sid'];}"/>
		<select name="choose" id="choose">
		    <option value="">不选择</option>
		    <option value="uid"{if $condition['m.uid']}selected="selected"{/if}>ID号</option>
			<option value="username" {if $condition['m.username']}selected="selected"{/if}>用户名</option>
		
			<option value="nickname" {if $condition['m.nickname']}selected="selected"{/if}>昵称</option>
			<option value="telphone" {if $condition['m.telphone']}selected="selected"{/if}>手机号</option>
			<option value="sid" {if $condition['m.sid']}selected="selected"{/if}>客服id</option>
		</select>
        
        <!-- 
		性别:
		<select name="gender">
			<option value="">全部</option>
			<option value="0" {if $condition['m.gender'] ==0}selected="selected"{/if}>男</option>
			<option value="1" {if $condition['m.gender'] == 1}selected="selected"{/if}>女</option>
		</select> 
		省份：
		<select name="province">
			<option value="">请选择</option>
			<option value="10102000">北京</option>
			<option value="10103000">上海</option>
			<option value="10101201">深圳</option>
			<option value="10101002">广州</option>
			<option value="10101000">广东</option>
			<option value="10104000">天津</option>
			<option value="10105000">重庆</option>
			<option value="10106000">安徽</option>
			<option value="10107000">福建</option>
			<option value="10108000">甘肃</option>
			<option value="10109000">广西</option>
			<option value="10110000">贵州</option>
			<option value="10111000">海南</option>
			<option value="10112000">河北</option>
			<option value="10113000">河南</option>
			<option value="10114000">黑龙江</option>
			<option value="10115000">湖北</option>
			<option value="10116000">湖南</option>
			<option value="10117000">吉林</option>
			<option value="10118000">江苏</option>
			<option value="10119000">江西</option>
			<option value="10120000">辽宁</option>
			<option value="10121000">内蒙古</option>
			<option value="10122000">宁夏</option>
			<option value="10123000">青海</option>
			<option value="10124000">山东</option>
			<option value="10125000">山西</option>
			<option value="10126000">陕西</option>
			<option value="10127000">四川</option>
			<option value="10128000">西藏</option>
			<option value="10129000">新疆</option>
			<option value="10130000">云南</option>
			<option value="10131000">浙江</option>
			<option value="10132000">澳门</option>
			<option value="10133000">香港</option>
			<option value="10134000">台湾</option>
		</select>
		是否锁定:
		<select name="islock">
			<option value="">全部</option>
			<option value="1" {if $condition['is_lock']==1}selected="selected"{/if}>否</option>
			<option value="2" {if isset($condition['is_lock']) && !$condition['is_lock']}selected="selected"{/if}>是</option>
		</select>
        
        -->
        
		<input type="hidden" name="action" value="allmember" />
		<input type="hidden" name="h" value="{$GLOBALS['h']}" />
		<input name="" type="submit" value="搜 索"/>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">{$total}位会员</span>
&nbsp;&nbsp;
		
		{if $_GET['h']=='regnoallot_members' || $_GET['h']=='goodnoallot_members'}
		<span class="but_a">
        	<a {if isset($condition['gender']) && !$condition['gender']}style="font-weight:bold;"{/if} href="{$currenturl}&gender=2">男性会员</a>
			<a {if $condition['gender']==1}style="font-weight:bold;"{/if}href="{$currenturl}&gender=1">女性会员</a>
			&nbsp;&nbsp;&nbsp;年龄25-35<input type="checkbox" value="birthyear" name="birthyear" id="birthyear" {if $birthyear}checked{/if}>&nbsp;&nbsp;&nbsp;
            月收入3000元以上<input type="checkbox" value="salary" name="salary" id="salary" {if $salary}checked{/if}><br />
        </span>
		<span>
			每页显示
			<select name="page_per" id="page_per">
				<option value="20" {if $page_per==20}selected{/if}>20</option>
				<option value="30"  {if $page_per==30}selected{/if}>30</option>
				<option value="50"  {if $page_per==50}selected{/if}>50</option>
				<option value="80"  {if $page_per==80}selected{/if}>80</option>
				<option value="100"  {if $page_per==100}selected{/if}>100</option>
				<option value="200"  {if $page_per==200}selected{/if}>200</option>
			</select>
			条
		</span>
		{/if}

	

	</td>
	  </tr>
</form>
</div>
<div style=" margin-top:5px; margin-bottom:5px; color:#960">
<span class="processlink" style="margin-right:5px;"><a href="index.php?action=allmember&h=excellent&quicksearch=1&f=age">年龄</a></span><span class="processlink" style="margin-right:5px;"><a href="index.php?action=allmember&h=excellent&quicksearch=1&f=sal">工资</a></span><span class="processlink" style="margin-right:5px;"><a href="index.php?action=allmember&h=excellent&quicksearch=1&f=province">推荐省份</a></span><span class="processlink" style="margin-right:5px;"><a href="index.php?action=allmember&h=excellent&quicksearch=1&f=city">推荐城市</a></span><span class="processlink" style="margin-right:5px;"><a href="index.php?action=allmember&h=excellent&quicksearch=1&f=isattend">参加过活动</a></span><span class="processlink"><a href="index.php?action=allmember&h=excellent&quicksearch=0">全部</a></span>
</div>
<div style=" margin-top:5px; margin-bottom:5px; color:#960">
排序方式：
{loop $sort_arr $key $val}
	<a href="{$currenturl}&order={$key}&method=del">× </a>
    <span style="background-color:#CCC"><a href="{$currenturl}&order={$key}&method=replace">{php echo $allow_order[$key]}
    {if $val == 'desc'}
    	&nbsp;↓&nbsp;
    {else}
    	&nbsp;↑&nbsp;
    {/if}
    </a></span>
    &#12288;
{/loop}
</div>
<div class="list-div" id="listDiv" onmouseout="hiddend();">
<form action="index.php?action=allmember&h=changeusersid" method="post">
<table cellspacing='1' cellpadding='3' id='list-table' class ="csstab">
  <tr>
    <th><a href="javascript:chang_order('uid','{$rsort_arr['uid']}')"  style="text-decoration:underline;">ID</a></th>
    <th>昵称</th>
    <th>
		<a href="javascript:chang_order('birthyear','{$rsort_arr['birthyear']}')"  style="text-decoration:underline;">年龄</a>
	</th>
    <th>等级</th>
   
    <th><a href="javascript:chang_order('salary','{$rsort_arr['salary']}')"  style="text-decoration:underline;">收入</a></th>
    <th>工作地</th>
	
    <th><a href="javascript:chang_order('allotdate','{$rsort_arr['allotdate']}')"  style="text-decoration:underline;">分配时间</a></th>
    <th><a href="javascript:chang_order('regdate','{$rsort_arr['regdate']}')"  style="text-decoration:underline;">注册时间</a></th>
    {if in_array($GLOBALS['groupid'],$GLOBALS['admin_vip_level_check'])}
	<th>来源</th>
    {/if}
    <th>
		<a href="javascript:chang_order('real_lastvisit','{if isset($rsort_arr['real_lastvisit'])}{$rsort_arr['real_lastvisit']}{/if}')"  style="text-decoration:underline;">在线状态</a> 
    </th>
	
    <th><a href="javascript:chang_order('login_meb','{$rsort_arr['login_meb']}')"  style="text-decoration:underline;">登录</a></th>
	<th>工号<!-- <input type="checkbox" id="choose_all" value="choose_all" onclick="chooseall()" /> --></th>
	<th><a href="javascript:chang_order('sid','{$rsort_arr['sid']}')"  style="text-decoration:underline;">客服</a></th>
    <th><a href="javascript:chang_order('is_lock','{$rsort_arr['is_lock']}')"  style="text-decoration:underline;">锁定</a></th>

	
    <th>参加过活动</th>
    <th>级别</th>
  </tr>
  {loop $member_list $member}
   <tr>
    <td align="center"><a href="#" class="userinfo" onclick="parent.addTab('查看{$member['uid']}资料','index.php?action=allmember&h=view_info&uid={$member['uid']}','icon')">{$member['uid']}</a></td>
    <!--  <td align="left" style="text-indent:30px;"  onmouseover="showinfo(event,{$member['uid']});">  -->
    <td align="center">
		{if $member['gender']==1}<img src="templates/images/w.gif" alt="女" title="女"/>
		{else}<img src="templates/images/m.gif" alt="男" title="男"/>
		{/if}
		{$member['nickname']}
	</td>
    <td align="center">{php echo date("Y")-$member['birthyear'];}</td>
    <td align="center">{if $member['s_cid'] =='10'}铂金会员{elseif isset($GLOBALS['member_level'][$member['s_cid']])}$GLOBALS['member_level'][$member['s_cid']]{/if}</td>
    <td align="center"><script>userdetail("$member['salary']",salary1);</script></td>
    <td align="center"><script>userdetail("$member['province']",provice);userdetail("$member['city']",city);</script></td>
    <td align="center">{php if($member['allotdate']) echo date("Y-m-d H:i",$member['allotdate']);}</td>
    <td align="center">{php echo date("Y-m-d H:i",$member['regdate']);}</td>
	{if in_array($GLOBALS['groupid'],$GLOBALS['admin_vip_level_check'])}
    <td align="center">{php echo wordwrap($member['source'],20,"<br />",true)}</td>
    {/if}

    <td>
    <!--{if !empty($member['lastvisit'])}-->
    <!--{if (time()-$member['lastvisit']<100)}-->
			<span style="color:red">在线</span>
		<!--{else}-->
		<!--{if time()-$member['lastvisit']<24*3600}-->
			<span style="color:#0F0;">一天内</span>
		<!--{elseif (time()-$member['lastvisit']<7*24*3600)&&(time()-$member['lastvisit']>24*3600)}-->
			<span style="color:#FF5;">一周内</span>
		<!--{else}-->
             一周外
		<!--{/if}-->
	<!--{/if}-->
    <!--{/if}-->
    </td>

	
    <td align="center">{$member['login_meb']}</td>
	
    <td align="center">
    	<!--  <input type="checkbox" value="{$member['uid']}" name="changesid[]" />-->
    	{php if($member['sid']!=''&&$member['sid']!=0) echo $member['sid'].'号';else echo "暂无";}
    </td>
	<td align="center">{if isset($GLOBALS['kefu_arr'][$member['sid']])}{php echo $GLOBALS['kefu_arr'][$member['sid']]}{/if}</td>
    <td align="center">{if $member['islock']}否{else}<font color="#FF0000">是</font>{/if}</td>
	
    <td align="center">
     {if $member['isattend']}是{else}否{/if}
	</td>
    <td>{if $member['grade']>=3}AAA{elseif $member['grade']==2}AA{elseif $member['grade']==1}A{else}无{/if}</td>
  </tr>
  {/loop}
 </table>
 
<div style="padding:5px;background:#fff">
	
</div>

<table cellpadding="4" cellspacing="0">
    <tr>
      <td align="center">{$page_links}
      	&nbsp;&nbsp;&nbsp;
      	转到第   <input name="pageGo"  id="pageGo" type="text" style="width:20px;height:15px;" value="" /> 页 &nbsp;
      <input type="button"  class="ser_go" value="跳转" onclick="gotoPage()"/></td>
      
      <!--  
      <td>
      
      	{if $generalmembers=='generalmembers'}
      	<input type="hidden" name="generalmembers" value="generalmembers" />
        {/if}
      	<select id="kefuuid" name="kefuuid">
			{loop $kefu_list $kefu}
			<option value="{$kefu['uid']}">{$kefu['uid']}号&nbsp;{$kefu['username']}&nbsp;{$kefu['member_count']}&nbsp;({$kefu['allot_member']})&nbsp;三：({$kefu['three_day']})七:({$kefu['seven_day']})</option>
			{/loop}
		</select>
		<input type="hidden" value="{$currenturl}" name="pre_url" id="pre_url" />
      	<input type="submit" onclick="return changeusersid();" value="分配给此客服">
      </td>
      -->
    </tr>
  </table>
  </form>
</div>

<div class="callinfo" id="callinfo" style="display:none;">
<table width="600" border="1">
  <tr>
    <td width="50" height="20">会员ID</td>
    <td width="50" id="userid">&nbsp;</td>
    <td width="50">手机号</td>
    <td width="78" id="usertelphone">&nbsp;</td>
    <td width="50">下次联系时间</td>
    <td width="150" id="usercause">&nbsp;</td>
  </tr>
  <tr>
    <td height="43" id="userbezhu">会员备注</td>
    <td colspan="5" id="userbezhucontent">&nbsp;</td>
  </tr>
  <tr>
    <td height="43">下次联系要点</td>
    <td colspan="5" id="usercallremark">&nbsp;</td>
  </tr>
</table>
</div>
</body>
</html>