<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查看{if $user['nickname']}{$user['nickname']}{else}{$user['uid']}{/if}的聊天记录</title>
<style type="text/css">
body {
	padding:0px;
	margin:0px;
	font-size:10pt;
}
#menu a{
	text-decoration:none;
	color:#000;
}
#menu a:hover{
	text-decoration:underline;
	color:#F00;
}
#menu td{
	padding-left:5px;
}
#ida a{
	color:#C60;
}
</style>
<script type="text/javascript" src="./templates/js/jquery-1.4.2.min.js"></script>
</head>
<body>
<table width="600" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<th height="26" colspan="2" style="background-color:#3E679A; color:#FFF"><span id="ida" ><a href="javascript:changeUid();">{if $user['nickname']}{$user['nickname']}{else}{$user['uid']}{/if}</a></span>的聊天列表</th>
	</tr>
	<tr>
		<td width="115">
		<div id="menu" style="overflow:auto; background-color:#E6F0FD; width:115px; height:450px; border:1px solid #3E679A;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="left" style="background:#3C9; height:20px; font-weight:bold">与其聊过的会员</td>
					</tr>
					{loop $members $v}
					<tr height="20">
						<td id="td_{$v['uid']}"><a href="javascript:showMem({$v['uid']});">{if $v['nickname']}{$v['nickname']}{else}{$v['uid']}{/if}</a></td>
					</tr>
					{/loop}
				</table>
		</div>			
			</td>
		<td width="281" valign="top"><iframe id="ifr" width="485" height="425" style="overflow:auto"></iframe></td>
	</tr>
</table>
<script type="text/javascript">
function showMem(id){
	var url = "./chat_ajax.php?n=show&uid={$receiver}&sid="+id;
	$("#ifr").attr("src",url);
	$("td[id^=td_]").css("background-color","#E6F0FD");
	$("#td_"+id).css("background-color","#A4E8D1");
}
showMem({$sender});

function changeUid(){
	$("#ida").html("<input id='idinput' type='text' size='8' onblur='changePage(this.value)'/>");
	$("#idinput").focus();
}
function changePage(v){
	$("#ida").html('<a href="javascript:changeUid();">'+v+'</a>');
	if(parseInt(v)){
		window.location.href="./chat_ajax.php?n=menu&receiver="+v;
	}else{
		alert("请输入会员ID");
		$("#ida").html("<input id='idinput' type='text' size='8' onblur='changePage(this.value)'/>");
		$("#idinput").focus();
	}
}
</script>
</body>
</html>
