<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
//跳转
	function gotoPage(){
		var page=document.getElementById("pageGo").value;
		window.location="index.php?action=check&h={$_GET['h']}&pass={$pass}&page="+page;
	}
</script>
<h1>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 会员录音审核</span>
<span class="action-span"><a href="{php $u=explode('&',$_SERVER['QUERY_STRING']);}index.php?{$u[0]}&{$u[1]}">刷新</a></span>
<div style="clear:both"></div>
</h1>
<div class="list-div" style="margin-bottom:10px;padding:5px;">
<form action="#" method="post">
	<input type="hidden" name="pass" value="{$pass}" />
	会员ID：&nbsp;&nbsp;<input type="text" name="uid" value="{if !empty($uid)}$uid{/if}" />
	{if $myservice_idlist && $myservice_idlist!=$GLOBALS['adminid']}
	客服：<select name="usersid" id="usersid" onchange="option_gourl(this.value,{$pass})" style="height:21px;margin-top:3px;" >
	   <option value='-1' {if $usersid==-1} selected="selected"{/if}> 不限</option>
	   <option value="0" {if $usersid == 0} selected="selected"{/if}>0：</option>
	   {loop $adminUser $value}
	   <option value="{$value['uid']}" {if $usersid == $value[uid]} selected="selected"{/if}>{$value['uid']}：{$value['username']}</option>
	   {/loop}
	</select>
{/if} &nbsp;&nbsp;<input type="submit" value=" 查 找 " /><span class="but_a"><a href="index.php?action=check&h=voice&pass=1" {if isset($_GET['pass']) && $_GET['pass']==1}style="font-weight:bold;"{/if}>已审核</a><a href="index.php?action=check&h=voice&pass=0" {if isset($_GET['pass']) && $_GET['pass']==0}style="font-weight:bold;"{/if}>未审核</a></span>
</form>
</div>
<div style=" margin-top:10px;">
	
</div>
<div class="list-div" id="listDiv">
<table width="100%" cellspacing='1' cellpadding='3' id='list-table' style="word-wrap: break-word; overflow: hidden;">
  <tr>
    <th width="%6">会员ID</th>
	<th width="%8">昵称</th>
	<th width="%5">年龄</th>
	<th width="%8">最后登录时间</th>
    <th width="%8">录音上传时间</th>
	<th width="%40">类型</th>
	<th width="%8">审核状态</th>
	<th width="%8">所属客服ID</th>
	<th width="%12">操作</th>
  </tr>
  {loop $check_voice $v}
  <tr onmousemove="this.bgColor='#cfeefe';" onmouseout="this.bgColor='#ffffff';">
    <td align="center"><a href="#" onclick="parent.addTab('查看{$v['uid']}资料','index.php?action=allmember&h=view_info&uid={$v['uid']}','icon')">{$v['uid']}</a></td>
	<td align="center">
		{if $v['gender']==1}<img src="templates/images/w.gif" alt="女" title="女"/>
		{else}<img src="templates/images/m.gif" alt="男" title="男"/>
		{/if} 
		<a href="#" onclick="parent.addTab('查看{$v['uid']}资料','index.php?action=allmember&h=view_info&uid={$v['uid']}','icon')">{$v['nickname']}</a>
	</td>
	<td align="center">{php if($v['birthyear'])echo date('Y')-$v['birthyear'];else echo "无";}</td>
	<td align="center">{php echo date('Y-m-d',$v['lastvisit']);}</td>
    <td align="center">{php echo date('Y-m-d',$v['toshoot_voice_time']);}</td>
    <td align="center" style="word-wrap:break-word;word- break:break-all;">会员录音审核</td>

	<td align="center">
      {php echo $v['toshoot_voice_check'] == 2 ? '审核通过' : '未审核';}
    </td>
	<td align="center"><a href="index.php?action=check&h=video&pass={$pass}&usersid={$v['sid']}">{$v['sid']}</a></td>
	
	<td align="center">
   	<a href="#" onclick="parent.addTab('审核会员{$v['uid']}的录音','index.php?action=check&h=member_voice&uid={$v['uid']}&pass={$pass}','icon')">查看</a>	 
    </td>
  </tr>
  {/loop}
  <tr>
  	<td colspan="9" align="center">{$page_links}
     	转到第   <input name="pageGo"  id="pageGo" type="text" style="width:35px" value=""/>  页
     	<input type="button"  class="ser_go" value="跳转" onclick="gotoPage()"/></td>
  	</tr>
  </table>
</div>