<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<h1>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 管理员设置售后组</span>
<span class="action-span"><a href="{php $u=explode('&',$_SERVER['QUERY_STRING']);}index.php?{$u[0]}&{$u[1]}">刷新</a></span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
<form name="theForm" method="post" action="index.php?action=other&h=count_after_num">
	<table width="100%">
		<tr>
			<td class="label">管理员设置售后组：</td>
			<td>
				<input name="user_to_sid" type="text" id="pw" size="20" maxlength="20" value="{$del_to_sid}"/>以逗号的形式隔开。如：30,31,28,32
				</td>
			</tr>		
		<tr>
  	<td height="36" colspan="2" valign="bottom" style="padding-left:350px;"><input type="hidden" name="is_post" value="1"/>
		
		<input type="submit" value=" 确定 " class="button" />&nbsp;&nbsp;&nbsp;
  		<input type="reset" value=" 重置 " class="button" />
  		</td>
			</tr>
</table>
</form>
</div>