<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../public/system/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>
<script type="text/javascript">
function checkdating(uid,did,pass){
	var url = "ajax.php?n=checkdating&r"+did;
	$.post(url,{uid:uid,did:did,pass:pass},function(str){
	 	if(str == 2){
			$("#sta_"+uid).html("通过");
		}else if(str == 3){
			$("#sta_"+uid).html("未通过");
		}
	})
}
</script>
<h1>
	<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 会员发布约会 - 编辑</span>
	<div style="clear:both"></div>
</h1>
<div class="list-div" style="padding:5px;">
	<form action="" method="post">
		<table id="properties-table">
			<tr>
				<td class="label" style="line-height:35px;font-weight:bold;">约会主题</td>
				<td><input type="text" name="subject" value="{$dating['subject']}" /></td></tr>
			<tr>
				<td class="label" style="line-height:35px;font-weight:bold;">约会安排</td>
				<td><textarea name="content" rows="6" cols="30">{$dating['content']}</textarea></td>
			</tr>
            <tr>
            	<td colspan="2" align="center">
                	<input type="hidden" name="did" value="{$did}" />
					<input type="submit" value="确认修改" />
                </td>
            </tr>
		</table>
	</form>
</div>

