<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>

<script type="text/javascript">

//分页跳转
function gotoPage() {
	var page = $("#pageGo").val();
	var page = parseInt(page);
	
	if(page<1) page = 1;
	if(page>{php echo ceil($total/$page_per);})

	page = {php echo ceil($total/$page_per);};
	window.location.href = "{$currenturl}&page="+page;
}


$(function(){
    $(".csstab tr").mouseover(function(){
        $(this).addClass("over");
    }).mouseout(function(){
        $(this).removeClass("over");    
    });

   

});

</script>
<style>
    tr.over td {
        background:#cfeefe;
    } 
 
</style>
</head>
<body>
<h1 style="margin-bottom:15px;">
	<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 不可回收会员的来源统计 </span>
	<span class="action-span"><a href="index.php?action=financial&h=delstatistics">刷新</a></span>
	<div style="clear:both"></div>
</h1>
<div>
<form action="" method="get">
	<table cellpadding="4" cellspacing="4" >
		<tr>
            <!-- 
			<td>
				<span >来源wf：</span>
				<input type="text" name="wf" value="{$_GET['wf']}">
			</td>
			<td>
				<span>来源st：</span>
				<input type="text" name="st" value="{$_GET['st']}">
			</td>
             -->
             <td><span >渠道来源：</span><select name="source">
                                    <option value="" {if $source==''}selected="selected"{/if} >请选择</option>
                                    {loop $result $k $v}
                                        <option value="$v['source']" {if $source==$v['source']}selected="selected"{/if}>$k、$v['source']</option>
                                    {/loop}
                                </select>
             </td>
		
			<td>
				<span >注册时间：</span>
				<input type="text" name="regdate1" value="{php if($regdate1) echo $regdate1;}" onFocus="WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})" style="width:100px;"/> 到
				<input type="text" name="regdate2" value="{php if($regdate2) echo $regdate2;}" onFocus="WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})"  style="width:100px;"/>
			</td>
			<td>
				<span >删除原因：</span>
				<select name="reason">
				<option value="">请选择</option>
				{loop $del_cause_arr $k $v}
                    <option value="$k" {if $reason==$k}selected="selected"{/if}>$k、$v</option>
                {/loop}
				</select>
			</td>
            
            <td>
                <input type="submit" value="搜索"  class="button" />
                <input type="reset" value="重置" class="button" />
            </td>
		</tr>

      </table>
      
      <input type="hidden" name="action" value="financial" />
      <input type="hidden" name="h" value="delstatistics"  />
	  
</form>
<div style="height:10px;border-bottom:1px solid #999;margin:10px auto;"></div>
<div class="list-div" id="listDiv">
	<table cellspacing='1' cellpadding='3' id='list-table' class ="csstab">
	 <tr>
		<th>来源</th>
		<th>会员总数</th>
		{loop $del_cause_arr $k $v}
			<th>$v</th>
		{/loop}
	 </tr>
	 <tr>
		<td align="center">总数</td>
		<td align="center">{$count}人</td>
		<td align="center">{$one}</td>
		<td align="center">{$two}</td>
		<td align="center">{$three}</td>
		<td align="center">{$four}</td>
		<td align="center">{$five}</td>
		<td align="center">{$six}</td>
		<td align="center">{$seven}</td>
	 </tr>
	 {if isset($arr)}
	 {loop $arr $k $v}
	 <tr>
		<td align="center">{php echo isset($v['source'])?$v['source']:'';}</td>
		<td align="center">{php echo isset($v['count'])?$v['count']:'';}人</td>
		<td align="center">{php echo isset($v['one'])?$v['one']:'';}</td>
		<td align="center">{php echo isset($v['two'])?$v['two']:'';}</td>
		<td align="center">{php echo isset($v['three'])?$v['three']:'';}</td>
		<td align="center">{php echo isset($v['four'])?$v['four']:'';}</td>
		<td align="center">{php echo isset($v['five'])?$v['five']:'';}</td>
		<td align="center">{php echo isset($v['six'])?$v['six']:'';}</td>
		<td align="center"><!--  <a href="index.php?action=financial&h=showreason&{$v['source']}&reason=7&regdate1={$_GET['regdate1']}&regdate2={$_GET['regdate2']}" onclick="parent.addTab('显示{$v['source']}不可回收的原因','index.php?action=financial&h=showreason&{$v['source']}&reason=7&regdate1={$_GET['regdate1']}&regdate2={$_GET['regdate2']}');return false;">{$v['seven']}</a>-->{php echo isset($v['seven'])?$v['seven']:'';}</td>
	 </tr>
	 {/loop}
	 {/if}
	 <tr>
		<td colspan="9" align="center">{$pages}
			&nbsp;&nbsp;&nbsp;
			转到第
			<input name="pageGo"  id="pageGo" type="text" style="width:20px;height:15px;" value="" /> 页 &nbsp;
			<input type="button"  class="ser_go" value="跳转" onclick="gotoPage()"/></td>
		</td>
	 </tr>
	 </table>
</div>
</div>
</body>
</html>