<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>红娘币PK判决</title>
<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="templates/css/jquery-ui.css" type="text/css" media="all"  />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="templates/js/My97DatePicker/WdatePicker.js"></script>
<!-- <script type="text/javascript" src="templates/js/onmousemove_minutes.js"> -->
<script type="text/javascript">
<!--
$(function() {	
	$( ".open" ).dialog({
		bgiframe:true, //兼容IE6
		autoOpen: false,
		height: 400,
		width: 400,
		modal: true,
		position:['top','left']
	});
	$( "#dialog-form" ).dialog({
		buttons: {
			"确定": function() {
				var bValid = true;
				var post=new Array();
				post.id=$('#cid-dialog-form').val();
				post.victory=$('[name=rewardtype]:checked').val();
				if(post.victory==undefined){
					alert('请选择结果');
					return false;
				}
				$.post('index.php?action=matchmaker&h=judge',{pkid:post.id,winner:post.victory},function(data){
					if(data.flag==0){
						alert(data.msg);
						return false;
					}
					if(post.victory!='0'){
						$('#victory_'+post.id).html(post.victory);
					}else{
						$('#victory_'+post.id).html('平局');
					}
					$('#rewarddata').data('rewarddata_'+post.id,null);
					$('#judge_'+post.id).hide();
					$( "#dialog-form" ).dialog( "close" );
				},'json');
				
			},
			"取消": function() {
				$( this ).dialog( "close" );
			}
		}
	});
	$( "#details_form" ).dialog({
		buttons: {
			"关闭": function() {
				$( this ).dialog( "close" );
			}
		}
	});
});	
//分页跳转
function gotoPage() {
	var page = $("#pageGo").val();
	var page = parseInt(page);
	
	if(page<1) page = 1;
	if(page>{$page_num})

	page = {$page_num};
	window.location.href = "{$currenturl}&page="+page;
}
function enterHandler(event){
	var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
	if (keyCode == 13) {
	   gotoPage();	//调用函数
	 } 
}
function make_pannel(id,msg){
	if(id!=0){
		var rewarddata=$('#rewarddata').data('rewarddata_'+id);
		if(rewarddata==undefined){
			$.get('index.php?action=matchmaker&h=get_one_pk',{id:id},function(rewarddata){
				if(rewarddata.flag){
					$('#rewarddata').data('rewarddata_'+id,rewarddata.msg);
					coom_pannel(rewarddata.msg,msg);
				}else{
					alert(rewarddata.msg);
				}
			},'json');
		}else{
			coom_pannel(rewarddata,msg);
		}
	}else{
		$("#cid-"+msg).val('0');
		$("#money-"+msg).val('');
		$("#title-"+msg).val('');
		$("#msg-"+msg).val('');
		$('[name=rewardtype]').removeAttr('checked');
		$("#"+msg).dialog("open");	
	}
}
function coom_pannel(data,id){
	$("#cid-"+id).val(data.id);
	$("#initiator-txt-"+id).html(data.initiator);
	$("#recipient-txt-"+id).html(data.recipient);
	$("#money-"+id).html(data.amount);
    $("#msg-"+id).html(data.msg);
	$("#start-"+id).html(date('Y-m-d',data.start));
	$("#end-"+id).html(date('Y-m-d',data.end));
	if(id=='dialog-form'){
		$('[name=rewardtype]').removeAttr('checked');
		$("#initiator-"+id).val(data.initiator);
	    $("#recipient-"+id).val(data.recipient);
	}
	if(id=='details_form'){
		if(data.victory=='0'){
	        $("#victory-"+id).html('尚未裁决');   
	    }else if(data.victory=='-1'){
	    	$("#victory-"+id).html('平局');
	    }else{
	        $("#victory-"+id).html(data.victory);
	    }
		if(data.whether!='0'){
            $("#whether-"+id).html('已经应战');   
        }else{
            $("#whether-"+id).html('等待应战');
        }
	}
	$("#"+id).dialog("open");
}
function date (format, timestamp) {
    var that = this,
        jsdate, f, formatChr = /\\?([a-z])/gi,
        formatChrCb,
        // Keep this here (works, but for code commented-out
        // below for file size reasons)
        //, tal= [],
        _pad = function (n, c) {
            if ((n = n + '').length < c) {
                return new Array((++c) - n.length).join('0') + n;
            }
            return n;
        },
        txt_words = ["Sun", "Mon", "Tues", "Wednes", "Thurs", "Fri", "Satur", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    formatChrCb = function (t, s) {
        return f[t] ? f[t]() : s;
    };
    f = {
        // Day
        d: function () { // Day of month w/leading 0; 01..31
            return _pad(f.j(), 2);
        },
        D: function () { // Shorthand day name; Mon...Sun
            return f.l().slice(0, 3);
        },
        j: function () { // Day of month; 1..31
            return jsdate.getDate();
        },
        l: function () { // Full day name; Monday...Sunday
            return txt_words[f.w()] + 'day';
        },
        N: function () { // ISO-8601 day of week; 1[Mon]..7[Sun]
            return f.w() || 7;
        },
        S: function () { // Ordinal suffix for day of month; st, nd, rd, th
            var j = f.j();
            return j < 4 | j > 20 && ['st', 'nd', 'rd'][j%10 - 1] || 'th'; 
        },
        w: function () { // Day of week; 0[Sun]..6[Sat]
            return jsdate.getDay();
        },
        z: function () { // Day of year; 0..365
            var a = new Date(f.Y(), f.n() - 1, f.j()),
                b = new Date(f.Y(), 0, 1);
            return Math.round((a - b) / 864e5) + 1;
        },

        // Week
        W: function () { // ISO-8601 week number
            var a = new Date(f.Y(), f.n() - 1, f.j() - f.N() + 3),
                b = new Date(a.getFullYear(), 0, 4);
            return _pad(1 + Math.round((a - b) / 864e5 / 7), 2);
        },

        // Month
        F: function () { // Full month name; January...December
            return txt_words[6 + f.n()];
        },
        m: function () { // Month w/leading 0; 01...12
            return _pad(f.n(), 2);
        },
        M: function () { // Shorthand month name; Jan...Dec
            return f.F().slice(0, 3);
        },
        n: function () { // Month; 1...12
            return jsdate.getMonth() + 1;
        },
        t: function () { // Days in month; 28...31
            return (new Date(f.Y(), f.n(), 0)).getDate();
        },

        // Year
        L: function () { // Is leap year?; 0 or 1
            var j = f.Y();
            return j%4==0 & j%100!=0 | j%400==0;
        },
        o: function () { // ISO-8601 year
            var n = f.n(),
                W = f.W(),
                Y = f.Y();
            return Y + (n === 12 && W < 9 ? -1 : n === 1 && W > 9);
        },
        Y: function () { // Full year; e.g. 1980...2010
            return jsdate.getFullYear();
        },
        y: function () { // Last two digits of year; 00...99
            return (f.Y() + "").slice(-2);
        },

        // Time
        a: function () { // am or pm
            return jsdate.getHours() > 11 ? "pm" : "am";
        },
        A: function () { // AM or PM
            return f.a().toUpperCase();
        },
        B: function () { // Swatch Internet time; 000..999
            var H = jsdate.getUTCHours() * 36e2,
                // Hours
                i = jsdate.getUTCMinutes() * 60,
                // Minutes
                s = jsdate.getUTCSeconds(); // Seconds
            return _pad(Math.floor((H + i + s + 36e2) / 86.4) % 1e3, 3);
        },
        g: function () { // 12-Hours; 1..12
            return f.G() % 12 || 12;
        },
        G: function () { // 24-Hours; 0..23
            return jsdate.getHours();
        },
        h: function () { // 12-Hours w/leading 0; 01..12
            return _pad(f.g(), 2);
        },
        H: function () { // 24-Hours w/leading 0; 00..23
            return _pad(f.G(), 2);
        },
        i: function () { // Minutes w/leading 0; 00..59
            return _pad(jsdate.getMinutes(), 2);
        },
        s: function () { // Seconds w/leading 0; 00..59
            return _pad(jsdate.getSeconds(), 2);
        },
        u: function () { // Microseconds; 000000-999000
            return _pad(jsdate.getMilliseconds() * 1000, 6);
        },

        // Timezone
        e: function () { // Timezone identifier; e.g. Atlantic/Azores, ...
            // The following works, but requires inclusion of the very large
            // timezone_abbreviations_list() function.
/*              return this.date_default_timezone_get();
*/
            throw 'Not supported (see source code of date() for timezone on how to add support)';
        },
        I: function () { // DST observed?; 0 or 1
            // Compares Jan 1 minus Jan 1 UTC to Jul 1 minus Jul 1 UTC.
            // If they are not equal, then DST is observed.
            var a = new Date(f.Y(), 0),
                // Jan 1
                c = Date.UTC(f.Y(), 0),
                // Jan 1 UTC
                b = new Date(f.Y(), 6),
                // Jul 1
                d = Date.UTC(f.Y(), 6); // Jul 1 UTC
            return 0 + ((a - c) !== (b - d));
        },
        O: function () { // Difference to GMT in hour format; e.g. +0200
            var tzo = jsdate.getTimezoneOffset(),
                a = Math.abs(tzo);
            return (tzo > 0 ? "-" : "+") + _pad(Math.floor(a / 60) * 100 + a % 60, 4);
        },
        P: function () { // Difference to GMT w/colon; e.g. +02:00
            var O = f.O();
            return (O.substr(0, 3) + ":" + O.substr(3, 2));
        },
        T: function () { // Timezone abbreviation; e.g. EST, MDT, ...
            // The following works, but requires inclusion of the very
            // large timezone_abbreviations_list() function.
/*              var abbr = '', i = 0, os = 0, default = 0;
            if (!tal.length) {
                tal = that.timezone_abbreviations_list();
            }
            if (that.php_js && that.php_js.default_timezone) {
                default = that.php_js.default_timezone;
                for (abbr in tal) {
                    for (i=0; i < tal[abbr].length; i++) {
                        if (tal[abbr][i].timezone_id === default) {
                            return abbr.toUpperCase();
                        }
                    }
                }
            }
            for (abbr in tal) {
                for (i = 0; i < tal[abbr].length; i++) {
                    os = -jsdate.getTimezoneOffset() * 60;
                    if (tal[abbr][i].offset === os) {
                        return abbr.toUpperCase();
                    }
                }
            }
*/
            return 'UTC';
        },
        Z: function () { // Timezone offset in seconds (-43200...50400)
            return -jsdate.getTimezoneOffset() * 60;
        },

        // Full Date/Time
        c: function () { // ISO-8601 date.
            return 'Y-m-d\\Th:i:sP'.replace(formatChr, formatChrCb);
        },
        r: function () { // RFC 2822
            return 'D, d M Y H:i:s O'.replace(formatChr, formatChrCb);
        },
        U: function () { // Seconds since UNIX epoch
            return jsdate / 1000 | 0;
        }
    };
    this.date = function (format, timestamp) {
        that = this;
        jsdate = (timestamp == null ? new Date() : // Not provided
        (timestamp instanceof Date) ? new Date(timestamp) : // JS Date()
        new Date(timestamp * 1000) // UNIX timestamp (auto-convert to int)
        );
        return format.replace(formatChr, formatChrCb);
    };
    return this.date(format, timestamp);
}
function extension_time(st,id){
	if(confirm("给结束时间是否要延长到"+st)){
		$.post('index.php?action=matchmaker&h=extended',{pkid:id,end:st},function(msg){
			alert(msg.msg);
			$('#rewarddata').data('rewarddata_'+id,null);
		},'json');
	}else{
		$('#end_'+id).html(st);
		return false;
	}
}
function challenge(id,respond){
	$.post('index.php?action=matchmaker&h=respond',{respond:respond,pkid:id},function(data){
		if(data.flag!=0){
			if(respond==1){
				alert('你接收了挑战');
				$('.challenge_'+id).hide();
			}else{
				alert('你拒绝了挑战');
				$('#tr_'+id).hide();
			}
			$('#rewarddata').data('rewarddata_'+id,null);
		}else{
			alert(data.msg);
		}
	},'json');
}
//-->
</script>
</head>
<body>
<h1>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - PK记录 </span>
<span class="action-span"><a href="{php echo $_SERVER['REQUEST_URI'];}">刷新</a></span>
<div style="clear:both"></div>
</h1>
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th>PKID</th>
    <th>挑战者(UID)</th>
    <th>接收者(UID)</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>挑战金额</th>
    <th>获胜者(UID)</th>
    <th>操作</th>
  </tr>
  {loop $data $v}
  <tr onmousemove="this.bgColor='#cfeefe';"  id="tr_{$v['id']}" onmouseout="this.bgColor='#ffffff';" class="listclass">
  <td>{$v['id']}</td>
  <td>{$v['initiator']}</td>
  <td>{$v['recipient']}</td>
  <td>{php echo date('Y-m-d',$v['start']);}</td>
  <td><span id="end_{$v['id']}">{php echo date('Y-m-d',$v['end']);}</span>{if $time<$v['end'] && empty($v['victory']) && $v['initiator']==$GLOBALS['adminid']}<img onClick="WdatePicker({el:'end_{$v['id']}',isShowClear:false,errDealMode:1,minDate:'{php echo date('Y-m-d',$v['end']);}',onpicked:function(dp){extension_time(dp.cal.getDateStr(),{$v['id']})}})" src="templates/js/My97DatePicker/skin/datePicker.gif" width="16" height="22" align="absmiddle" style="cursor:pointer" title="延长结束时间" />{/if}</td>
  <td>{$v['amount']}</td>
  <td id="victory_{$v['id']}">{php echo empty($v['victory'])?'尚未裁决':($v['victory']==-1?'平':$v['victory']);}</td>
  <td>{if $time<$v['end'] && empty($v['victory'])}{if ($GLOBALS['h']=='pk_me' && empty($v['whether'])) }<a href="javascript:;" title="接受挑战" onclick="challenge({$v['id']},1)" class="challenge_{$v['id']}">接受挑战</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" title="拒绝挑战" onclick="challenge({$v['id']},0)" class="challenge_{$v['id']}">拒绝挑战</a>&nbsp;&nbsp;&nbsp;&nbsp;{/if}{/if}{if ($time>$v['end'] && empty($v['victory'])&& $v['whether'] && $GLOBALS['h']=='pk_list')}<a href="javascript:;" title="裁判输赢" onclick="make_pannel({$v['id']},'dialog-form')" id="judge_{$v['id']}">裁判输赢</a>&nbsp;&nbsp;&nbsp;&nbsp;{/if}<a href="javascript:;" title="详情" onclick="make_pannel({$v['id']},'details_form')">详情</a></td>
  </tr>
  {/loop}
  </table>
   <table cellpadding="4" cellspacing="0">
    <tr>
      <td align="center">{$pages}
	  &nbsp;&nbsp;&nbsp;
      	转到第   <input name="pageGo"  id="pageGo" type="text" style="width:20px;height:15px;" value="" onkeydown="enterHandler(event)"/> 页 &nbsp;
      <input type="button"  value="跳转" class="button" onclick="gotoPage()"/>
	  </td>
    </tr>
  </table>
</div>
<div id="dialog-form" title="PK详情判决" class="open" style="display:none">
	<input type="hidden" id="cid-dialog-form" value="0" name="cid-dialog-form">
	<p><label><input type="radio" name="rewardtype" id="initiator-dialog-form" value=""><span id="initiator-txt-dialog-form"></span></label><span>PK</span><label><input type="radio" name="rewardtype" id="recipient-dialog-form" value=""><span id="recipient-txt-dialog-form"></span></label><label><input type="radio" name="rewardtype" value="0">平局</label></p>
	<p><label>PK金额：</label><span id="money-dialog-form"></span></p>
    <p><label>PK时间段：</label><span id="start-dialog-form"></span>---<span id="end-dialog-form"></span></p>
	<p><label>PK获胜理由：</label></p>
	<p id="msg-dialog-form"></p>
</div>
<div id="details_form" title="PK详情" class="open" style="display:none">
<input type="hidden" id="cid-details_form" value="0" name="cid-details_form">
	<p><span id="initiator-txt-details_form"></span><span>PK</span><span id="recipient-txt-details_form"></span></p>
	<p><label>PK金额：</label><span id="money-details_form"></span></p>
	<p><label>PK时间段：</label><span id="start-details_form"></span>---<span id="end-details_form"></span></p>
	<p><label>对方是否应战：</label><span id="whether-details_form"></span></p>
	<p><label>胜利方：</label><span id="victory-details_form"></span></p>
	<p><label>PK获胜理由：</label></p>
	<p id="msg-details_form"></p>  	
</div>
<div style="display:none" id="rewarddata">
</div>
</body>
</html>