<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/js/jquery.floatDiv.js"></script>
<script type="text/javascript" src="../public/system/js/sys1.js?v=1"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>
<script type="text/javascript" src="templates/js/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">
//显示用户信息
function userdetail(number,arrayobj) {
	var arrname = arrayobj;
		for(i=0;i<arrayobj.length;i++) {
			var valueArray  = arrayobj[i].split(",");
			if(valueArray[0] == number) {
				if(valueArray[0] == '0' && valueArray[1] != '男士') {
					document.write("未选择");
				} else {
					document.write(valueArray[1]);
				}	
			}
	}
}


//当鼠标移过时显示图框
var xPos;
var yPos;
var timerID;
function showinfo(evt,uid){
        evt=evt || window.event;
	if(evt.pageX){          
		xPos=evt.pageX;
		yPos=evt.pageY;
	} else {      
		xPos=evt.clientX+document.body.scrollLeft-document.body.clientLeft;
		yPos=evt.clientY+document.body.scrollTop-document.body.clientTop;      
	}
        timerID = setTimeout("xy("+xPos+","+yPos+","+uid+")",400);
}
function xy(xPos,yPos,uid){
		
		if(xPos+70+600<window.screen.width){
		      $("#callinfo").css('left',xPos+70);
		      $("#callinfo").css('top',yPos-70);
		      $("#userid").html(uid);
		      $.get("ajax.php?n=callinfo",{uid:uid},function(str){
		              var arr=new Array();
		              arr=str.split('||');
		              $("#usertelphone").html(arr[0]);
		              $("#userbezhucontent").html(arr[1]);
		              $("#usercause").html(arr[2]);
		              $("#usercallstate").html(arr[3]);
		              $("#usercallremark").html(arr[3]);
					  $("#callinfo").css('display','block');
		      });

		      
		//alert(xPos+'|'+yPos);
		      }else {$("#callinfo").css('display','none'); }
}
function hiddend(){
	       $("#callinfo").css('display','none');
	       clearTimeout(timerID);
	}


	//显示用户信息
	function userdetail(number,arrayobj) {
	var arrname = arrayobj;
		for(i=0;i<arrayobj.length;i++) {
			var valueArray  = arrayobj[i].split(",");
			if(valueArray[0] == number) {
			if(valueArray[0] == '0' && valueArray[1] != '男士') {
				document.write("未选择");
			} else {
				document.write(valueArray[1]);
			}	
		}
	}
	}


//分页跳转
function gotoPage() {
	var page = $("#pageGo").val();
	var page = parseInt(page);
	
	if(page<1) page = 1;
	if(page>{php echo ceil($total/$page_per);})

	page = {php echo ceil($total/$page_per);};
	window.location.href = "{$currenturl}&page="+page;
}

//全选
function choose_all(){
	if($("#choose_all").attr("checked")){
		$("input[name='changesid[]']").attr("checked",true);
	}else{
		$("input[name='changesid[]'").attr("checked",false);
	}
}

//分配客服
function changeusersid(){
	var kefuuid = $("#kefuuid option:selected").val(); 
	var uidlist = "";
	$("input[name='changesid[]']:checked").each(function(){
		uidlist += this.value+',';
	})
	if(uidlist==''){
		alert('请选择需要分配的会员');
		return;
	}
	location.href="index.php?action=allmember&h=changeusersid&uidlist="+uidlist+"&kefuuid="+kefuuid;

}

$(function(){
	$(".csstab tr").click(function(){
		$(".csstab tr").removeClass("over");
		$(this).addClass("over");
	})
	$("#listDiv input[name^='is_awoke_']").click(function(){
		var uid = this.value;
		$.get("myuser_ajax.php?n=change_awoke",{uid:uid},function(str){
			if(str == 'error') alert('意外出错,请稍后再试');
		})
	})
})

//排序
function chang_order(field,order){
	location.href="index.php?action=myuser&h={$_GET['h']}&order="+field+"&method="+order;
}
function view_transfer(evt,uid){
	var evt = evt;
	//alert(200+evt*50);
	//$("#transfer_box").css("top",200+evt*50);
	//alert(evt);
	evt=evt || window.event;
	if(evt.pageX){          
		xPos1=evt.pageX;
		yPos1=evt.pageY;
	} else {      
		xPos1=evt.clientX+document.body.scrollLeft-document.body.clientLeft;
		yPos1=evt.clientY+document.body.scrollTop-document.body.clientTop;      
	}
	$("#transfer_box").css("left",xPos1-550);
	$("#transfer_box").css("top",yPos1);
	$("#transfer_box").show();
	url = "myuser_ajax.php?n=transfer&uid="+uid;
	$.getJSON(url,function(data){
		var str = '';
		if(data != 0){
			str = "原客服ID："+data.sid+"<br>服务期限："+data.servicetime+"个月<br>付款金额："+data.payments+"元<br>委托会员ID："+data.otheruid+"<br>模拟聊天记录："+data.chatnotes+"<br>升级会员情况："+data.intro+"<br>委托会员情况："+data.otherintro+"<br>最后一次沟通情况："+data.lastcom+"<br>备注："+data.remark;
		}else{
			str = '没有交接内容';
		}
		$("#transfer_box p").html(str);
	})
}

</script>
<style>
tr.over td {
	background:#cfeefe;
} 
#transfer_box{
	border:1px solid #1C3F80;
	background:#CEDAEA;
	left:400px;
	top:200px;
	position:absolute;
	width:400px;
	z-index:10;
}
#transfer_box span{
	display:block;
	margin:1px;
	padding:3px;
	float:right;
	background-color:#FFF;
}
#transfer_box p{
	margin:5px;
	padding-bottom:3px;
}
a img{
	border:0px;
}

.callinfo{
position:absolute;
top:100px;
left:100px;
width:600px;
height:125px;
background:#ffffff;}
#callinfo table{
backgroung:#ffffff;}
#callinfo td{
border:#cccccc solid 1px;
}

.bgcolorchange{
    background:#f00;
}
.c01{color:#FFCC00;}.c02{color:#660000;}.c03{color:#666600;}.c04{color:#66CC00;}.c05{color:#336600;#330000;}.c06{color:#FF66CC;}.c07{color:#6600CC;}.c08{color:#3366FF;}.c19{color:#330099;}
.c10{color:#9933FF;}.c11{color:#CCCC00;}.c12{color:#996600;}.c13{color:#009900;}.c14{color:#6600FF;}.c15{color:#003366;}.c16{color:#006699;}.c17{color:#FF6699;}.c18{color:#00FF00;}.c19{color:#336699;}
.c20{color:#CC9933;}.c21{color:#33FF00;}.c22{color:#9933CC;}.c23{color:#CC0099;}.c24{color:#CC6633;}.c25{color:#663300;}.c26{color:#99CC00;}.c27{color:#66CC00;}.c28{color:#006600;}.c29{color:#6699FF;}
.c30{color:#333399;}.c31{color:#CCCC33;}

</style>
</head>
<body>
<h1>
<span class="action-span"><a href="index.php?action=myuser&h={$_GET['h']}">刷新当前页</a></span>
<span class="action-span"><a href="index.php?action=myuser&h={$_GET['h']}&clear=1">全部刷新</a></span>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> -- {$title}</span>
<div style="clear:both"></div>
</h1>
<div>
<form action="" method="get">
  <tr>
  	<td colspan="8" style="text-align:left">
		日期搜索：
		<input type="text" name="search_date" value="{php if(isset($_GET['search_date'])) echo $_GET['search_date'];}" onFocus="WdatePicker({startDate:'%y-%M-%D 00:00:00',dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})" style="width:100px;"/>
		<input type="radio" name="search_type" value="1" {if (isset($_GET['search_type'])?$_GET['search_type']:'')==1 || empty($_GET['search_type'])}checked="checked"{/if} />注册
		<input type="radio" name="search_type" value="2" {if (isset($_GET['search_type'])?$_GET['search_type']:'')==2}checked="checked"{/if}/>分配
		&nbsp;
		UID:<input type="text" name="uid" value="{php echo isset($_GET['uid'])?$_GET['uid']:'';}" style="width:100px;" />
		<input type="hidden" name="action" value="myuser" />
		<input type="hidden" name="h" value="{$GLOBALS['h']}" />
		
		<input name="" type="submit" value="搜 索"/>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">{$total}位会员({$online_member_total}位在线)</span>{if (isset($h)?$h:'')=='new_member'} 当天新分会员{$allot_member}个{/if}
	</td>
  </tr>
</form>
</div>
<div style=" margin-top:5px; margin-bottom:5px; color:#960">
排序方式：
{loop $sort_arr $key $val}
	<a href="{$currenturl}&order={$key}&method=del">× </a>
    <span style="background-color:#CCC"><a href="{$currenturl}&order={$key}&method=replace">{php echo $allow_order[$key]}
    {if $val == 'desc'}
    	&nbsp;↓&nbsp;
    {else}
    	&nbsp;↑&nbsp;
    {/if}
    </a></span>
    &#12288;
{/loop}
</div>
<div class="list-div" id="listDiv" onmouseout="hiddend();">
<table cellspacing='1' cellpadding='3' id='list-table' class ="csstab">
  <tr>
    <th><a href="javascript:chang_order('uid', '{$rsort_arr['uid']}')"  style="text-decoration:underline;">ID</a></th>
    <th>昵称</th>
    <th><a href="javascript:chang_order('birthyear', '{$rsort_arr['birthyear']}')"  style="text-decoration:underline;">年龄</a></th>
    <th>等级</th>
    <th>照片</th>
    <th><a href="javascript:chang_order('salary', '{$rsort_arr['salary']}')"  style="text-decoration:underline;">收入</a></th>
    <th>工作地</th>
    <th><a href="javascript:chang_order('allotdate', '{$rsort_arr['allotdate']}')"  style="text-decoration:underline;">分配时间</a></th>
    {if in_array($GLOBALS['groupid'],$GLOBALS['admin_aftersales_service']) || in_array($GLOBALS['groupid'],$GLOBALS['admin_aftersales_service2'])}
    <th>会员服务时间</th>
    {else}
    <th><a href="javascript:chang_order('regdate', '{$rsort_arr['regdate']}')"  style="text-decoration:underline;">注册时间</a></th>
    {/if}
    {if in_array($GLOBALS['groupid'],$GLOBALS['admin_vip_level_check'])}
	<th>来源</th>
	{/if}
    <th><a href="javascript:chang_order('login_meb', '{$rsort_arr['login_meb']}')"  style="text-decoration:underline;">登录</a></th>
    <th><a href="javascript:chang_order('sid', '{php echo isset($rsort_arr['sid'])?$rsort_arr['sid']:'';}')"  style="text-decoration:underline;">客服</th>
    <th>
		<a href="javascript:chang_order('last_login_time', '{$rsort_arr['last_login_time']}')"  style="text-decoration:underline;">最后登录时间</a>
	</th>
	<th><a href="index.php?action=myuser&h={$_GET['h']}&order_tel=1&page={php echo isset($_GET['page'])?$_GET['page']:'';}" style="text-decoration:underline;"> 同号手机数</a></th>
    <th><a href="javascript:chang_order('next_contact_time', '{$rsort_arr['next_contact_time']}')"  style="text-decoration:underline;">下次联系时间</a></th>
	<th>重点会员</th>
	<th>
		<a href="javascript:chang_order('real_lastvisit', '{$rsort_arr['real_lastvisit']}')"  style="text-decoration:underline;">在线状态</a>
    </th>
    <th>操作</th>
	
	<th>上线提醒</th>
	{if (isset($destroy_order)?$destroy_order:'') == 'yes'}
		<th>毁单理由</td>
	{/if}
	<th>操作</th>
  </tr>
  {loop @$member_list $k $member}
   <tr id="myuser_{$member['uid']}" >
    <td align="center">
    	<a href="#" class="userinfo" onclick="parent.addTab('查看{$member['uid']}资料','index.php?action=allmember&h=view_info&uid={$member['uid']}','icon')">{$member['uid']}</a>
    </td>
    <td align="left" style="text-indent:30px;"  onmouseover="showinfo(event,{$member['uid']});"> 
		{if $member['gender']==1}<img src="templates/images/w.gif" alt="女" title="女"/>
		{else}<img src="templates/images/m.gif" alt="男" title="男"/>
		{/if}
		<a href="#" onclick="parent.addTab('查看{$member['uid']}资料','index.php?action=allmember&h=view_info&uid={$member['uid']}','icon')">{$member['nickname']}</a>
	</td>
    <td align="center">{php echo date("Y")-$member['birthyear'];}</td>
    <td align="center">$GLOBALS['member_level'][$member['s_cid']]</td>
    <td align="center">{php echo @$member['mainimg']?"有":"无";}</td>
    <td align="center"><script>userdetail("$member['salary']",salary1);</script></td>
    <td align="center"><script>userdetail("$member['province']",provice);userdetail("$member['city']",city);</script></td>
    <td align="center" class="{php echo 'c'.date('d',$member['allotdate']);}">{php if($member['allotdate']) echo date("Y-m-d H:i",$member['allotdate']);}</td>
    <td align="center">
	{if in_array($GLOBALS['groupid'],$GLOBALS['admin_aftersales_service']) || in_array($GLOBALS['groupid'],$GLOBALS['admin_aftersales_service2'])}
		{php if($member['bgtime']) echo date("Y-m-d",$member['bgtime']);}
		
		{php if($member['endtime']) echo '到'.date("Y-m-d",$member['endtime']);}
	{else}
		{php  if($member['regdate']) echo date("Y-m-d H:i",$member['regdate']);}
	{/if}
    
    </td>
	{if in_array($GLOBALS['groupid'],$GLOBALS['admin_vip_level_check'])}
    <td align="center">{php echo wordwrap($member['source'],10,"<br />",true)}</td>
	{/if}
    <td align="center">{$member['login_meb']}</td>
    <td align="center">
    	<a href="index.php?action=myuser&h={$h}&sid={$member['sid']}">@$GLOBALS['kefu_arr'][$member['sid']]</a>
    </td>
    <td align="center">{php echo date('Y-m-d H:i:s',$member['last_login_time']);}</td>
	<td align="center"><a href="#" onclick="parent.addTab('{$member['telphone']}号注册会员','index.php?action=allmember&h=same_telphone&telphone={$member['telphone']}','icon')">
	</a>
	</td>
     <td align="center">{php if(!empty($member['next_contact_time'])) echo date('Y-m-d H:i:s',$member['next_contact_time']);}</td>
	 <td align="center">{if $member['master_member']==1}是{else}否{/if}</td>
	 <td align="center">
		<!--{if (time()-$member['real_lastvisit']<100)}-->
					<span style="color:red">在线</span>
				<!--{else}-->
					<!--{if time()-$member['real_lastvisit']<24*3600}-->
						<span style="color:#0F0;">一天内</span>
					<!--{elseif (time()-$member['real_lastvisit']<7*24*3600)&&(time()-$member['real_lastvisit']>24*3600)}-->
						<span style="color:#FF5;">一周内</span>
					<!--{else}-->
                    	超过一周
					<!--{/if}-->
				<!--{/if}-->
	 </td>
    <td align="center">
      <a href="#" onclick="parent.addTab('修改会员{$member['uid']}资料','index.php?action=allmember&h=edit_info&uid={$member['uid']}')">修改资料</a>
     </td>
	 <td align="center"><input type="checkbox" value="{$member['uid']}" {if $member['is_awoke']==1}checked="checked"{/if}name="is_awoke_{$member['uid']}" /></td>
	{if @$destroy_order=='yes'}
		<td>{$member['info']}</td>
	{/if}
	 <td align="center">
		<a href="#" onclick="parent.delmyuser({$member['uid']})">删除</a>
		<!--<a href="index.php?action=myuser&h=delmyuser&uid={$member['uid']}" onclick="return confirm('确定删除吗？')">删除</a>-->
        {if in_array($GLOBALS['groupid'],$GLOBALS['admin_aftersales_service']) || in_array($GLOBALS['groupid'],$GLOBALS['admin_aftersales_service2'])}
        <a href="#" onclick="view_transfer(event,{$member['uid']});return false;">交接信息</a>
        {/if}     
	 </td>
  </tr>
  {/loop}
 </table>
 
<div style="padding:5px;background:#fff">

</div>

<table cellpadding="4" cellspacing="0">
    <tr>
      <td align="center">{$page_links}
      	&nbsp;&nbsp;&nbsp;
      	转到第   <input name="pageGo"  id="pageGo" type="text" style="width:20px;height:15px;" value="" /> 页 &nbsp;
      <input type="button"  class="ser_go" value="跳转" onclick="gotoPage()"/></td>
      <td>
      </td>
    </tr>
  </table>
</div>

<div class="callinfo" id="callinfo" style="display:none;">
<table width="600" border="1">
  <tr>
    <td width="50" height="20">会员ID</td>
    <td width="50" id="userid">&nbsp;</td>
    <td width="50">手机号</td>
    <td width="78" id="usertelphone">&nbsp;</td>
    <td width="50">下次联系时间</td>
    <td width="150" id="usercause">&nbsp;</td>
  </tr>
  <tr>
    <td height="43" id="userbezhu">会员备注</td>
    <td colspan="5" id="userbezhucontent">&nbsp;</td>
  </tr>
  <tr>
    <td height="43">下次联系要点</td>
    <td colspan="5" id="usercallremark">&nbsp;</td>
  </tr>
</table>
</div>

</body>
<div id="transfer_box" style="display:none">
<span style="cursor:pointer;" onclick="javascript:$('#transfer_box').hide(100)">关闭</span>
<p>内容正在加载...</p>
</div>
</html>