<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<h1><span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 放弃会员列表</span>
<span class="action-span"><a href="{php $u=explode('&',$_SERVER['QUERY_STRING']);}index.php?{$u[0]}&{$u[1]}">刷新</a></span>
	<div style="clear:both"></div>
</h1>
<div class="list-div" style="padding:5px;">
	<form action="index.php?action=other&h=giveup_member" method="post">
		搜索：		
			<select name="type" id="type">
				<option value="" selected="selected">请选择</option>
				<option value="uid">用户ID</option>
				<option value="mid">放弃客服ID</option>
			</select>
		&nbsp;&nbsp;
		<input name="keyword" type="text" id="keyword" />&nbsp;&nbsp;
		<input name=" 搜 索 " type="submit" id="搜 索" value=" 搜 索 " />
	</form>
</div>
<p/>
<div class="list-div" id="listDiv">
	<table cellspacing='1' cellpadding='3' id='list-table'>
		<tr>
			<th>用户ID</th>
			<th>放弃客服ID</th>
			<th>放弃原因</th>
			<th><a href="index.php?action=other&h=giveup_member&order={$order}&type={$type}&keyword={$keyword}&page={$page}">放弃时间<img src="templates/images/{if $order =='ASC'}desc{else}asc{/if}.gif" width="12" height="12"  style="border:none"/></a></th>
		</tr>
		{loop $ret $v}
		<tr>
			<td align="center"><a href="#" onclick="parent.addTab('查看{$v['uid']}资料','index.php?action=allmember&h=view_info&uid={$v['uid']}','icon')">{$v['uid']}</a></td>
			<td align="center">{$v['mid']}</td>
			<td align="center">{$v['comment']}</td>
			<td align="center">{php echo date("Y-m-d H:i",$v['dateline']);}</td>
		</tr>
		{/loop}
		<tr>
			<td colspan="4" align="center">{$pages}</td>
		</tr>
	</table>
</div>
