<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>
<script type="text/javascript">
function checkForm(){
	var title = $("#title").val();
	if(title == ""){
		alert("请填写测试标题");
		return false;
	}
}
</script>
<h1>
<span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 媒体关注列表</span>
<span class="action-span"><a href="{php $u=explode('&',$_SERVER['QUERY_STRING']);}index.php?{$u[0]}&{$u[1]}">刷新</a></span>
<span class="action-span"><a href="index.php?action=site_media&h=add" onclick="parent.addTab('添加媒体报道','index.php?action=site_media&h=add','icon');return false;">添加媒体报道</a></span>

<div style="clear:both"></div>
</h1>
<div class="list-div">
<span class="but_a">
{if $type=='new'}<b>{/if}<a href="index.php?action=site_media&h=list&type=new">最新报道</a></b>{if $type=='tv'}<b>{/if}<a href="index.php?action=site_media&h=list&type=tv">电视报道</a></b>{if $type=='nice'}<b>{/if}<a href="index.php?action=site_media&h=list&type=nice">精品报道</a></b>
</span>
</div>
<br />
<div class="list-div" id="listDiv">
	<table cellspacing='1' cellpadding='3' id='list-table'>
  <tr>
    <th>ID</th>
    <th>标题</th>
    <th>报道类型</th>
    <th>添加时间</th>
    <th>来源</th>
    <th>操作</th>
  </tr>
  {loop $media_list $v}
  <tr>
    <td align="center">{$v['id']}</td>
    <td align="left"><a href="../index.php?n=about&h=media_detail&id={$v['id']}">{$v['title']}</a></td>
    <td align="center">{php if($v['type']=='tv')echo "电视报道";if($v['type']=='new')echo "最新报道";if($v['type']=='nice')echo "精品报道";}</td>
    <td align="center">{php echo date("Y-m-d",$v['addtime']);}</td>
    <td align="center">{$v['source']}</td>
    <td align="center"><a href="index.php?action=site_media&h=edit&id={$v['id']}" onclick="parent.addTab('编辑媒体报道','index.php?action=site_media&h=edit&id={$v['id']}','icon');return false;">编辑</a> <a href="index.php?action=site_media&h=del&id={$v['id']}">删除</a></td>
  </tr>
  {/loop}
   <tr>
	<td colspan="7" align="center">{$pages}</td>
</tr>
  </table>
</div>