<link href="templates/css/general.css" rel="stylesheet" type="text/css" />
<link href="templates/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="templates/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/js/onmousemove_minutes.js"></script>
<script type="text/javascript">
function checkForm(){
	var title = $("#title").val();
	var type = $("#type").val();
	var question = $("#question").val();
	var answer = $("#answer").val();
	if( !title || !type || ! question || !answer){
		alert("请将信息填写完整");
		return false;
	}
}
</script>
<h1> <span class="action-span1"><a href="###">真爱一生网 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加情感诊所问题</span>
	<div style="clear:both"></div>
</h1>
<p/>
<form action="index.php?action=site_loveclinic&h={if (!empty($isedit)?$isedit:'')==1 }edit{else}add{/if}" method="POST" onsubmit="return checkForm();">
<div class="list-div" id="listDiv">

		<table cellpadding="3" cellspacing="1">
			<tr>
			<th colspan="2" align="left">添加情感问题</th></tr>
			<tr>
				<td>标题：</td>
				<td><input name="title" id="title" type="text" value="{php echo !empty($question['title'])?$question['title']:''}" style="width:600px"/></td>
			</tr>
			<tr>
				<td>类型：</td>
				<td><select name="type" id="type">
				<option value="">--请选择--</option>
				<option value="1" {if (!empty($question['type'])?$question['type']:'')==1}selected="selected"{/if}>相识问题</option>
				<option value="2" {if (!empty($question['type'])?$question['type']:'')==2}selected="selected"{/if}>相恋问题</option>
				<option value="3" {if (!empty($question['type'])?$question['type']:'')==3}selected="selected"{/if}>相见问题</option>
				<option value="4" {if (!empty($question['type'])?$question['type']:'')==4}selected="selected"{/if}>其它问题</option>
				</select></td>
			</tr>
			<tr>
				<td valign="top">问题：</td>
				<td><textarea name="question" id="question" style="width:600px; height:150px;">{php echo !empty($question['question'])?$question['question']:'';}</textarea></td>
			</tr>
			<tr>
				<td valign="top">答案：</td>
				<td><textarea name="answer" id="answer" style="width:600px; height:150px;">{php echo !empty($question['answer'])?$question['answer']:'';}</textarea></td>
			</tr>
		</table>
</div>
<p/>
<input type="hidden" name="uid" value="{php echo !empty($question['uid'])?$question['uid']:''}" />
<input name="ispost" type="hidden" value="1" />
<input name="id" type="hidden" value="{php echo !empty($id)?$id:''}" />
<input type="submit" id="addnews" name="addnews" value=" 提 交 "/>
</form>
