<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>诚信认证--视频认证——真爱一生网</title>
{template system/js_css public}
<link href="module/myaccount/templates/default/myaccount.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript" src="public/system/js/sys1.js?v=1"></script>
<body>
<div class="main">
	{template system/header public}
	<div class="content">
	<p class="c-title"><span class="f-000"><a href="index.php?n=service">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;<a href="index.php?n=myaccount">诚信认证</a>&nbsp;&gt;&gt;&nbsp;视频认证</span></p>
	{template system/simp_left public}
	<!--=====左边结束===-->
	<div class="content-right">
		<div class="c-right-content">
			<div class="r-center-tilte">
			<a href="index.php?n=myaccount" class="r-title-black">&lt;&lt;返回诚信认证</a>
			<span class="right-title f-ed0a91">会员视频录制流程</span>
			</div>
			<div class="r-center-ccontent">
				<div class="cer-conter">
					<ul class="rphelp">
						<li><img src="module/myaccount/templates/default/images/video1.jpg" width="358" height="300"/>
							<p>1、首先确保您电脑上的摄像头能正常使用，然后再打开（或刷新）视频认证的页面，请点击“录制按钮”。</p>
							<div class="clear"></div>
						</li>
						<!--<li><img src="module/myaccount/templates/default/images/img03.gif" />
							<p>2、调整好摄像头，对准自己，录制时间最长150秒</p>
							<div class="clear"></div>
						</li>-->
						<li><img src="module/myaccount/templates/default/images/video2.jpg" width="358" height="300"/>
							<p>2、当点击录制后，视频此时便在正常录制中，为了确保视频正常上传，请您最少要录制20秒，如果想停止此次录制，请再次点击“录制按钮”。</p>
							<p>3、视频录制时间最长90秒，到了90秒视频录制会自动终止。</p>
                            <div class="clear"></div>
						</li>
						<li><!--<img src="module/myaccount/templates/default/images/img02.gif" class="rphelp-img" />-->
							<p>4、视频录制完后请点击“确定上传”。</p>
							<p>5、如果不满意之前自己录制的视频，可以重新再录制一个视频，然后上传。</p>
                            <p>6、每个人只能有一个视频，如果重新录制视频并且上传，这个视频将替换之前的视频！</p>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="r-center-bottom">
			</div>
		</div>
	</div>
		<div class="clear"></div>
	</div>
	
	<!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
