<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>诚信认证-身份通服务条款——真爱一生网</title>
{template system/js_css public}
</head>
<style type="text/css">
@import url("module/myaccount/templates/{$GLOBALS['style_name']}/myaccount.css");
</style>
<body>
<div class="main">
	{template system/header public}<!--head-search end-->
	<div class="content">
		<p class="c-title"><span class="f-000"><a href="index.php?n=service">真爱一生首页</a>&nbsp;&gt;&gt;&nbsp;<a href="index.php?n=myaccount">诚信认证</a>&nbsp;&gt;&gt;&nbsp;隐私政策条款</span></p>
		
			<div class="content-title">
			<!--<a href="index.php?n=myaccount" class="r-title-black">&lt;&lt;返回诚信认证</a>-->
			<span class="right-title f-ed0a91">隐私政策条款</span>			
			</div><!--content-title end-->
			<div class="clear"></div>
			<div class="c-center">
				<div class="cer-id-text">
					<dl>
						<dt style="color:#000">亲爱的会员：</dt>
						<dd><p>我们所提供的服务，其性质决定了我们需要收集会员的个人信息。但是，我们会采取相应措施，保证这些信息的隐私性和机密性。 </p></dd>
						<dd><p>在线隐私的关注焦点在于保护“客户可识别”信息，这也是个人或其他客户希望受到隐私保护的内容。正如该术语的字面意思，“客户可识别”信息是指与特定个人或实体相关联的信息，例如客户名称、地址、电话号码、电子邮件地址，以及与他们有直接关系的在线活动的信息。 </p></dd>
						<dd><p>您向我们提供相关信息并访问本网站，意味着您接受并且同意本隐私政策的各项规定。</p></dd>
					</dl>
					<dl>
						<dt><strong>我们收集哪些信息并如何使用？</strong></dt>
						<dd><p>真爱一生网（www.zhenaiyisheng.cc）在不同的时间段，信息收集重点有所不同。 例如：</p>
						</dd>				
						<dt><strong>1.为您提供服务所必需的个人信息</strong></dt>
						<dd><p>第一次加入 真爱一生网（www.zhenaiyisheng.cc）时，需要提供诸如姓名、联系方式等信息。在一般情况下，我们不会将这些个人信息披露给他人。</p>
							<p>但是，一旦您使用真爱一生网或成为会员（无论是付费还是免费），则表示您已许可我们将这些信息披露给我们的附属公司、母公司和相关的商业机构，以及其他和我们处于共同公司控制权的有关联的法律实体和商业机构。但是，上述这些从我们这里获得您个人信息的法律实体和商业机构，在使用和披露这些个人信息时，也将遵守本隐私政策的相关条款。我们也可能会在我们确信为可适用法律或政府主管机关要求的情况下，即为了回应法院裁判、传票，政府机关许可证、指令或其他法律程序，去披露这些信息。所有相关的个人信息将会转移到计算机网络中进行维护，计算机网络可能位于您居住地以外的州/省、国家/地区或其他政府管辖区域，在这些国家 /地区可能没有象您的国家那样给予隐私同等保护力的法律。</p>
						</dd>
						<dt><strong>2.收集非个人可识别信息（特定或集合信息）以提高我们的服务质量</strong></dt>
						<dd><p>除提供服务所必需的个人信息之外，我们还会收集一些数据（并非可识别的个人信息）来监控和改进真爱一生网（www.zhenaiyisheng.cc）的服务质量和绩效。例如，当您浏览某一个网页时，会自动记录下URL、日期与时间以及所使用的浏览器软件。 </p>
							<p>收集特定或集合的信息有助于保证帐户的准确性，更好地营销我们的产品与服务，并帮助您最大限度地利用我们的网站。 例如，我们的服务器会识别您的域名和所访问的网页。这些数据会以集合的方式收集，以帮助我们控制服务的质量和改进网站。 </p>
							<p>真爱一生网（www.zhenaiyisheng.cc）会不定期地向值得信任的第三方提供有关销售、浏览模式和导航技术方面的综合统计信息。这些并非是个人可识别信息，旨在帮助 真爱一生网（www.zhenaiyisheng.cc）改进其所提供的产品与服务。</p>
						</dd>
						<dt><strong>3.自愿提供的个人信息 - 如为真爱一生网（www.zhenaiyisheng.cc）的问卷调查、时事通讯以及第三方提供的信息</strong></dt>
						<dd><p>我们通过问卷调查、竞赛和注册页面收集您自愿提供的信息，并仅将这些信息用于改进您的真爱一生网（www.zhenaiyisheng.cc）在线体验。一切问卷调查将严格保 密。在一般情况下，我们不会泄露、披露、出售、散发、出租、许可、共享您的个人信息或将其转让给任何第三方。真爱一生网（www.zhenaiyisheng.cc）会不定期 地与其他组织合作，为您提供特别建议、竞赛活动和订阅服务。我们将根据隐私策略规定，要求所有提供优惠和订阅的第三方明确陈述其所收集的全部信息的用途， 并要求他们在所提供的建议和订阅中包含指向其隐私政策的超链接。</p>
							<p>另外，所有提议的条款皆需进行准确清晰的阐述说明。 请认真阅读这些内容，并明确知晓将您的可识别个人信息公开给第三方是您自己的选择。 您是在自愿的基础上向第三方提供信息的。</p>
							<p>真爱一生网（www.zhenaiyisheng.cc）在与第三方建立业务关系时一向小心谨慎，如果不符合上述全部要求，则不会与第三方公司或组织共享、披露或出售我们网站所收集到的任何个人可识别信息。</p>
						</dd>
						<dt><strong>4.通过电子邮件与您联系</strong></dt>
						<dd><p>我们可能会使用您的电子邮件地址用于您用以提供邮件地址的任何用途。例如，回答针对我们的网站或服务的反馈，提供您所要求的任何信息，发送电子邮件收讫确认，或者其他原因与您联系。</p>
						</dd>
						<dt><strong>5.创建档案</strong></dt>
						<dd><p>我们仅记录和发布（张贴）那些作为服务的一部分而由您直接提供给 真爱一生网（www.zhenaiyisheng.cc）的信息。发布的档案中包含您所提供的全部信息，任何能够访问 Internet 的人都可以看到。 我们的网站详细阐释了哪些信息才会公布出来自由查看。您可以随时从网站上移除这些信息。 在一般情况下，我们不会将个人联系信息透露给任何会员或个人。 </p>
							<p>请注意，我们网站的任何用户都可以访问、下载和打印您所提供的全部信息。对于他人使用或公开您在我们网站所提供的信息，我们不承担任何责任。 </p>
						</dd>
						<dt><strong>我们何时收集个人信息？</strong></dt>
						<dd>通常，我们收集您的个人信息包括但不限于以下情况：</dd>
						<dd>·注册成为网站用户；</dd>
						<dd>·向我们发送电子邮件；</dd>
						<dd>·发布档案；</dd>
						<dd>·使用我们的电子商务服务。 </dd>
						<dt><strong>我们会出于什么目的、会向何人公开您的个人信息？</strong></dt>
						<dd><p>在一般情况下，我们不会将您的个人信息公开给任何人，但是，如果您使用了我们的档案服务，意味着您同意将参与该服务时提供的信息公开给任何参与同一服务的其他人。</p>
						</dd>
						<dt><strong>我们如何保护您的个人信息？</strong></dt>
						<dd>
							<p>我们采用高科技来确保您敏感信息的安全，防止未经授权的访问和不当使用。您的个人密码为机密信息，已经过加密以确保其机密性。只有提供密码，才可以在会员服务页面编辑您的个人详细信息。但是，相信您也理解，无论采取何种严密措施，都难免发生信息泄漏的情况，就此类情况的发生，您确认并同意免除我们相应的法律责任。 </p>
						</dd>
						<dt><strong>未经请求的商业电子邮件 (UCE) 或“垃圾邮件”</strong></dt>
						<dd>
							<p>垃圾邮件是指您没有请求而通过 Internet 收到的营销或商业电子邮件。 真爱一生网（www.zhenaiyisheng.cc）从来没有并且绝不支持或允许此类行为。 </p>
							<p>通常只有在您明确请求之后，您才会收到我们的商业或营销电子邮件。您可以向我们发送邮件，说明您不再希望收到此类电子邮件，我们将会尊重您的选择。</p>
							<p>针对我们的服务或者他人为您提供的产品与服务，我们也会发送电子邮件以提供一般信息。</p>
						</dd>
						<dt><strong>网站/服务的使用</strong></dt>
						<dd>
							<p>	只有年满 18岁的成年单身人士才可以加入真爱一生网（www.zhenaiyisheng.cc）。我们不会向未成年人推销本网站，或者未经监护人同意而有意地收集其未成年子女的个人信息。 </p>
						</dd>
						<dt><strong>隐私保护提示</strong></dt>
						<dd>
							·结束网络冲浪之后，请始终记得退出网站并关闭浏览器，以免其他人趁机获取您的信息和通信内容。
						</dd>
						<dd>·真爱一生网（www.zhenaiyisheng.cc）对所有链接网站均没有控制权，因而对这些网站（公司）的一切行为均不承担任何责任。 当您使用其他网站服务时，请认真阅读其相关条款。</dd>
						<dd>·请勿泄漏您的密码与会员身份详细信息。 如果您的帐户被非法访问，请立即通知我们。 请时常更换密码。</dd>
						<dd>·禁止在真爱一生网（www.zhenaiyisheng.cc）网站发布个人联系信息。对于在我们网站上将个人联系信息公开给网站其他会员，我们不承担任何责任。个人信息包括姓名、电话号码和家庭住址等。 注意 - 如果您自愿公开个人信息，有可能会被他人收集并加以利用。 请务必谨慎！</dd>
						<dd>·为保障真爱一生网及所有会员之利益，禁止会员在任何公共信息平台（包括但不限于任何网站、网页、报纸、期刊、电视、电影等各种类型的媒体）或在使用任何网络软件（包括但不限于QQ、MSN等即时通讯工具）的过程中将其在本网站的ID或昵称与相对应的会员的任何联系方式一并予以公布。</dd>
						<dd>·如果您计划和在网上结识的人会面，一定要慎重。记住，网上交流与真实情况可能是两回事。如果您仍然决定与网友见面，请选择白天或人多的公众场合；并把这件事告诉自己的好朋友或家人。一定要告诉他们您要去哪里，您大概什么时候回来。</dd>
						<dt><strong>我们会在什么时间公开什么类型的信息？</strong> </dt>
						<dd><p>我们会不定期地向值得信任的第三方提供有关销售、交易模式和导航技术方面的统计信息。 此统计信息只包含所收集的有关我们的真爱一生网（www.zhenaiyisheng.cc）网络客户和会员以及其他用户处收集的数据。其中并不包括能够识别我们数据库会员或我们客户的直接个人信息。 </p></dd>
						<dt><strong>Cookie</strong></dt>
						<dd>
							<p>我们使用您浏览器的一项叫做“a cookie”（“甜饼”记忆块）的功能来指定用户 ID。Cookie 能够在您访问我们的网站时识别出您连接到我们服务器的计算机，并扩展我们在网站范围内所提供服务的功能。您必须启用 Web 浏览器的 Cookie 功能，才能使用 真爱一生网（www.zhenaiyisheng.cc）网站的服务。</p>
							<p>我们保留权利允许第三方（包括真爱一生公司或真爱一生公司关联企业、广告公司、广告联盟）在我们的网站上放置广告。这些公司可能会使用跟踪技术，例如 Cookies，来收集用户对广告的浏览与点击信息。我们的网站不会提供任何个人资料给这些第三方，但是他们可能通过您或者其他使用您电脑的人对他们提供的广告的浏览、点击等动作，收集相关信息。他们也可能将这些信息与您在他们的广告网站上留下的个人信息结合进行分析。对于此类信息的收集与使用均受第三方隐私保护条款约束。这些信息收集的目的是为了这些第三方广告公司提供更有针对性的广告，提升广告效果。 </p>
						</dd>
						<dt><strong>真爱一生网使用协议</strong></dt>
						<dd>
							<p>您必须同意并遵守我们的《真爱一生网使用协议》，才可以使用我们网站特定领域的服务。 我们的《真爱一生网使用协议》在双方之间就相关问题构成全部的理解和约定。如《真爱一生网使用协议》与本隐私政策存在有不一致或有争议之处，则以《真爱一生网使用协议》为准，如本隐私政策存在有模糊之处，则可适用《真爱一生网使用协议》进行解释。 </p>
						</dd>
						<dt><strong>关于未成年人使用网络的说明</strong></dt>
						<dd>
							<p>需要注意的是，与其他许多网站一样，真爱一生网（www.zhenaiyisheng.cc）难以鉴别使用本网站的会员或其他个人是否实际为未成年人，也无法确认在线请求的个人信息是否真实和正确，对于任何未成年人使用本网站之情况，一经我们发现，我们有权立即注销该会员帐号及其有关的一切信息，对于因此给该未成年人或其他会员造成的损害，应由该未成年人及其监护人承受，您在使用本网站时也已经认可在上述情况下我们不承担对任何损害的法律责任。</p>
						</dd>
						<dt><strong>不可抗力</strong></dt>
						<dd>
							<p>在使用本网站之前，您同意，对于因超出我们合理控制范围的任何事件或情况，包括但不限于战争、入侵、恐怖袭击、自然灾害或其他不可抗力，以及任何技术故障的发生、电气短路、第三方侵入本网站等情况所给您造成的任何损失或损害，我们不承担任何责任。</p>
						</dd>
					</dl>
				</div>
		<div class="clear"></div>
			</div><!--c-center-data end-->
			<div class="content-bottom">			
			</div>
			<!--content-bottom end-->
		<div class="clear"></div>
	</div><!--content end-->
	{template system/footer public}
</div><!--main end-->
</body>
</html>
