@charset "utf-8";
/* CSS Document */
.d22224{
	color:#d22224;
	}
.f68{
	color:#686868}
.fzs{
	color:#793d8e;
	font-weight:bold}
.f6{
	color:#ff6666}
.f86{
	color:#868686;
	font-weight:bold}
.f30{
	color:#303030}
.f80{
	color:#808080}